<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.infra.nattable.pagelist.contents.axis.manager"
            manager="org.eclipse.papyrus.infra.nattable.views.config.manager.axis.EditorContextSynchronizerAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.infra.nattable.page.view.feature.axis.manager"
            manager="org.eclipse.papyrus.infra.nattable.views.config.manager.axis.EditorFeatureAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.infra.nattable.page.editor.modelviewscellmanager"
            manager="org.eclipse.papyrus.infra.nattable.views.config.manager.cell.ModelViewsCellManager"
            order="50">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="1000"
            provider="org.eclipse.papyrus.infra.nattable.views.config.provider.ModelViewsHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.feature.labelprovider">
         </labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.infra.nattable.views.config.celleditor.ModelViewsCellEditorConfiguration"
            order="50">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.tester">
      <tester
            class="org.eclipse.papyrus.infra.nattable.views.config.utils.TableViewCreationTester"
            id="org.eclipse.papyrus.infra.nattable.views.config.creation.tester">
      </tester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="resources/viewpage.nattableconfiguration">
      </configuration>
   </extension>
</plugin>
