<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=org.eclipse.papyrus.infra.widgets/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.constraintwithessentialocl.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.stereotypeproperty.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.common.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.edit/src"/>
<listEntry value="=org.eclipse.papyrus.uml.alf.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.properties.tabbedproperties.comments/src"/>
<listEntry value="=org.eclipse.papyrus.views.properties/src-gen"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.requirement/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.resourceloading/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.activity/custom-src"/>
<listEntry value="=org.eclipse.papyrus.customization/src-gen"/>
<listEntry value="=org.eclipse.papyrus.views.properties.model.edit/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.import/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.statemachine/custom-src"/>
<listEntry value="=org.eclipse.papyrus.infra.export/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.decoration/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.connectionpointreference.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.ui/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.transition.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.common.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.modelexplorer/src"/>
<listEntry value="=org.eclipse.papyrus.views.properties/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.paletteconfiguration/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.alf/src-gen"/>
<listEntry value="=org.eclipse.papyrus.eclipse.project.editors/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.parameter.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.stereotypeproperty.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.newchild/src"/>
<listEntry value="=org.eclipse.papyrus.infra.core.log/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.model/src"/>
<listEntry value="=org.eclipse.papyrus.uml.alf/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.blockdefinition/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.property.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.common/src-common-sysml"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.message.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.collaborationuse.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.infra.discovery.ui/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.clazz/custom-src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.modelexplorer/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.emftree/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.usecase/custom-src"/>
<listEntry value="=org.eclipse.papyrus.customization/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.property.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.views.documentation.view/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.state.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.commands/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.edit/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.internalblock/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.service.types/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.parameter.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.infra.widgets.toolbox/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.navigation/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.migration.properties.model/src"/>
<listEntry value="=org.eclipse.papyrus.views.properties.model/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.properties/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.collaborationuse.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.profile/src"/>
<listEntry value="=org.eclipse.papyrus.infra.onefile/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.common/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.state.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.infra.table.properties/src"/>
<listEntry value="=org.eclipse.papyrus.uml.service.types/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.tools.extendedtypes/src-gen"/>
<listEntry value="=org.eclipse.papyrus.sysml.service.types/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.state.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.icons/src"/>
<listEntry value="=org.eclipse.papyrus.uml.standard/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.stereotypeproperty.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.uml.modelexplorer.widgets/src"/>
<listEntry value="=org.eclipse.papyrus.infra.constraints.editor/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.profile/custom-src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.statemachine/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.wizards/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.common/src-common-gmf"/>
<listEntry value="=org.eclipse.papyrus.customization.paletteconfiguration/src"/>
<listEntry value="=org.eclipse.papyrus.uml.modelexplorer/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.model/src-gen"/>
<listEntry value="=org.eclipse.papyrus.views.modelexplorer.widgets/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.collaborationuse.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.modelexplorer/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.paletteconfiguration.edit/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.table.default/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.service.types/src-gen"/>
<listEntry value="=org.eclipse.papyrus.sysml.table.requirement/src"/>
<listEntry value="=org.eclipse.papyrus.documentation.plugin/src-gen"/>
<listEntry value="=org.eclipse.papyrus.views.modelexplorer.resourceloading/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.common/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.state.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.infra.ui.resources/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.markerlistener/src"/>
<listEntry value="=org.eclipse.papyrus.uml.tools/src"/>
<listEntry value="=org.eclipse.papyrus.uml.pastemanager/src"/>
<listEntry value="=org.eclipse.papyrus.uml.properties/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.common.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.package/src"/>
<listEntry value="=org.eclipse.papyrus.uml.controlmode.profile/src"/>
<listEntry value="=org.eclipse.papyrus.infra.core.sasheditor.di/custom-src"/>
<listEntry value="=org.eclipse.papyrus.uml.documentation/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.common.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.stereotypeproperty.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.infra.constraints/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.clazz/src"/>
<listEntry value="=org.eclipse.papyrus.infra.queries.core.configuration.edit/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.widgets/src"/>
<listEntry value="=org.eclipse.papyrus.infra.discovery/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.connectionpointreference.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.validation/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.modelexplorer/src"/>
<listEntry value="=org.eclipse.papyrus.uml.perspective/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.commands/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.blockdefinition/src"/>
<listEntry value="=org.eclipse.papyrus.editor/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.paletteconfiguration/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.preferences/src"/>
<listEntry value="=org.eclipse.papyrus.uml.profile/src"/>
<listEntry value="=org.eclipse.papyrus.uml.tools.extendedtypes/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.deployment/custom-src"/>
<listEntry value="=org.eclipse.papyrus.uml.templaterepository/src"/>
<listEntry value="=org.eclipse.papyrus.uml.properties/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.transition.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.xwt/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.transition.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.infra.emf/src"/>
<listEntry value="=org.eclipse.papyrus.uml.standard.edit/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.editor/src"/>
<listEntry value="=org.eclipse.papyrus.views.documentation.view.papyrus/src"/>
<listEntry value="=org.eclipse.papyrus.uml.alf/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.views.documentation/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.usecase/src"/>
<listEntry value="=org.eclipse.papyrus.infra.core.sasheditor/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.properties/src"/>
<listEntry value="=org.eclipse.papyrus.views.properties.model.editor/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.menu/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.palette/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.stereotypeproperty.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.connectionpointreference.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.infra.extendedtypes/src"/>
<listEntry value="=org.eclipse.papyrus.outline.emftree/src"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.embeddededitor/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.parameter.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.extensionpoints/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.parameter.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.edit/custom-src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.state.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.navigation/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.dnd/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.parameter.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.internalblock/src"/>
<listEntry value="=org.eclipse.papyrus.uml.table.widgets.celleditors/src"/>
<listEntry value="=org.eclipse.papyrus.infra.extendedtypes.emf/src-gen"/>
<listEntry value="=org.eclipse.papyrus.views.modelexplorer/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.message.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.infra.table.instance/src"/>
<listEntry value="=org.eclipse.papyrus.uml.appearance/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.diagram.common/src-common-uml"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css/src"/>
<listEntry value="=org.eclipse.papyrus.infra.hyperlink/src"/>
<listEntry value="=org.eclipse.papyrus.documentation.plugin/src"/>
<listEntry value="=org.eclipse.papyrus.editor.perspectiveconfiguration/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.transition.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.connectionpointreference.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.message.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.customization.properties/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.controlmode.history/src"/>
<listEntry value="=org.eclipse.papyrus.infra.queries.core.configuration/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.common/src"/>
<listEntry value="=org.eclipse.papyrus.infra.core.sasheditor.di/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.property.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.ui.perspectiveconfiguration/src"/>
<listEntry value="=org.eclipse.papyrus.uml.oclconstraintevaluation/src"/>
<listEntry value="=org.eclipse.papyrus.infra.tools/src"/>
<listEntry value="=org.eclipse.papyrus.infra.core/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.dnd/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.package/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.constraints.edit/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.constraints/src"/>
<listEntry value="=org.eclipse.papyrus.infra.extendedtypes.emf/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.activity/src"/>
<listEntry value="=org.eclipse.papyrus.customization.properties.model.xwt/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.resourceloading.preferences/src"/>
<listEntry value="=org.eclipse.papyrus.infra.extendedtypes/src-gen"/>
<listEntry value="=org.eclipse.papyrus.sysml/src"/>
<listEntry value="=org.eclipse.papyrus.infra.services.controlmode/src"/>
<listEntry value="=org.eclipse.papyrus.uml.resourceloading.profile/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.property.xtext.ui/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.configuration/src"/>
<listEntry value="=org.eclipse.papyrus.infra.table.menu/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.properties/src"/>
<listEntry value="=org.eclipse.papyrus.infra.table.modelexplorer/src"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.appearance/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.facets/src"/>
<listEntry value="=org.eclipse.papyrus.team.svn/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.table.allocation/src"/>
<listEntry value="=org.eclipse.papyrus.uml.documentation.profile/src"/>
<listEntry value="=org.eclipse.papyrus.sysml.modelexplorer/src"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.diagram.common/src"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.readonly/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.common.palette.customaction/src"/>
<listEntry value="=org.eclipse.papyrus.infra.discovery.ui.menu/src"/>
<listEntry value="=org.eclipse.papyrus.uml.icons/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.collaborationuse.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.alf.ui/src"/>
<listEntry value="=org.eclipse.papyrus.uml.tools.utils/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.collaborationuse.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.property.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.customization.properties.generation/src"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.common.groups/src"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.message.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.common.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.customization.palette/src"/>
<listEntry value="=org.eclipse.papyrus.infra.table.common/src"/>
<listEntry value="=org.eclipse.papyrus.customization.properties.generation/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.message.xtext/src"/>
<listEntry value="=org.eclipse.papyrus.infra.queries.core/src"/>
<listEntry value="=org.eclipse.papyrus.infra.emf.newchild/src-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.outline/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.xtext/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.textedit.connectionpointreference.xtext.ui/src-gen"/>
<listEntry value="=org.eclipse.papyrus.uml.diagram.deployment/src"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.css.xtext/xtend-gen"/>
<listEntry value="=org.eclipse.papyrus.infra.gmfdiag.common/src"/>
</listAttribute>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Papyrus ALL tests With Coverage"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.papyrus.tests/test/org/eclipse/papyrus/tests/AllTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="skip.long.junit.tests" value="false"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.papyrus.tests.AllTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.papyrus.tests"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.requiredJavaVersion=1.5 -Xms1024m -Xmx4096m -DsuppressRawWhenUnchecked=true -XX:MaxPermSize=1024M"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<booleanAttribute key="run_in_ui_thread" value="true"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="true"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
