<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.infra.emf.nattable.editors.EStructuralFeatureEditorConfig"
            order="100">
      </configuration>
   </extension>
 <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="100"
            provider="org.eclipse.papyrus.infra.emf.nattable.provider.EMFFeatureHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.feature.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="90"
            provider="org.eclipse.papyrus.infra.emf.nattable.provider.EMFEObjectHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>

</plugin>
