<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.domElementAdapter">
      <factory
            factory="org.eclipse.papyrus.uml.diagram.css.dom.GMFUMLElementProviderFactory"
            order="50">
      </factory>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.notationTypesMapping">
      
      <diagramMappings
            diagramID="PapyrusUMLClassDiagram">
         <mapping
            humanReadableType="attribute"
            type="7017">
      </mapping>
      <mapping
            humanReadableType="operation"
            type="7018">
      </mapping>
      <mapping
            humanReadableType="nestedClassifier"
            type="7019">
      </mapping>
      <mapping
            humanReadableType="Class Diagram"
            type="PapyrusUMLClassDiagram">
      </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="CompositeStructure">
         <mapping
               humanReadableType="Composite Diagram"
               type="CompositeStructure">
         </mapping>
         <mapping
               humanReadableType="structure"
               type="7077">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="Package">
         <mapping
               humanReadableType="Package Diagram"
               type="Package">
         </mapping>
         
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLActivityDiagram">
         <mapping
               humanReadableType="Activity Diagram"
               type="PapyrusUMLActivityDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLCommunicationDiagram">
         <mapping
               humanReadableType="Communication Diagram"
               type="PapyrusUMLCommunicationDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLComponentDiagram">
         <mapping
               humanReadableType="Component Diagram"
               type="PapyrusUMLComponentDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLDeploymentDiagram">
         <mapping
               humanReadableType="Deployment Diagram"
               type="PapyrusUMLDeploymentDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLProfileDiagram">
         <mapping
               humanReadableType="Profile Diagram"
               type="PapyrusUMLProfileDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLSequenceDiagram">
         <mapping
               humanReadableType="Sequence Diagram"
               type="PapyrusUMLSequenceDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLStateMachineDiagram">
         <mapping
               humanReadableType="State Machine Diagram"
               type="PapyrusUMLStateMachineDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="UseCase">
         <mapping
               humanReadableType="Use Case Diagram"
               type="UseCase">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLTimingDiagram">
         <mapping
               humanReadableType="Timing Diagram"
               type="PapyrusUMLTimingDiagram">
         </mapping>
      </diagramMappings>
      <diagramMappings
            diagramID="PapyrusUMLInteractionOverviewDiagram">
         <mapping
               humanReadableType="Interaction Overview Diagram"
               type="PapyrusUMLInteractionOverviewDiagram">
         </mapping>
      </diagramMappings>
   </extension>
</plugin>
