<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/diagram/types/applystereotypeactionconfiguration/0.7"
            class="org.eclipse.papyrus.uml.tools.extendedtypes.applystereotypeactionconfiguration.ApplyStereotypeActionConfigurationPackage"
            genModel="model/ApplyStereotypeActionConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="applystereotypeactionconfiguration"
            class="org.eclipse.papyrus.uml.tools.extendedtypes.applystereotypeactionconfiguration.util.ApplyStereotypeActionConfigurationResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.extendedtypes.extendedElementTypeActionProvider">
      <extendedElementTypeActionProvider
            class="org.eclipse.papyrus.uml.tools.extendedtypes.providers.ApplyStereotypeActionProvider"
            configurationClass="org.eclipse.papyrus.uml.tools.extendedtypes.applystereotypeactionconfiguration.ApplyStereotypeActionConfiguration"
            description="Post action to apply stereotype on created element"
            icon="icons/Stereotype.gif"
            id="org.eclipse.papyrus.uml.tools.extendedtypes.applyStereotypeAction"
            name="Extended Element Type Apply Stereotype Post Action">
         <Priority
               name="Lowest">
         </Priority>
      </extendedElementTypeActionProvider>
   </extension>

</plugin>
