<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension
         point="org.eclipse.papyrus.infra.extendedtypes.elementMatcherConfiguration">
      <configuration
            configurationClass="org.eclipse.papyrus.uml.tools.extendedtypes.stereotypedelementmatcherconfiguration.StereotypedElementMatcherConfiguration"
            configurationModelCreation="org.eclipse.papyrus.uml.tools.extendedtypes.stereotypedelementmatcherconfiguration.StereotypedElementMatcherModelCreation"
            factoryClass="org.eclipse.papyrus.uml.tools.extendedtypes.stereotypedelementmatcherconfiguration.StereotypedElementMatcherFactory"
            name="StereotypedElementMatcher">
      </configuration>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StereotypedElementMatcherConfiguration -->
      <package
            uri="http://www.eclipse.org/payrus/extendedtypes/uml/stereotypematcherconfiguration"
            class="org.eclipse.papyrus.uml.tools.extendedtypes.stereotypedelementmatcherconfiguration.StereotypedElementMatcherConfigurationPackage"
            genModel="model/StereotypedElementMatcherConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated StereotypedElementMatcherConfiguration -->
      <parser
            type="stereotypedelementmatcherconfiguration"
            class="org.eclipse.papyrus.uml.tools.extendedtypes.stereotypedelementmatcherconfiguration.util.StereotypedElementMatcherConfigurationResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InvariantStereotypeConfiguration -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/extendedtypes/semantictype/invariant/stereotype/1.0"
            class="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.InvariantStereotypeConfigurationPackage"
            genModel="model/InvariantStereotypeConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated InvariantStereotypeConfiguration -->
      <parser
            type="invariantstereotypeconfiguration"
            class="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.util.InvariantStereotypeConfigurationResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.extendedtypes.invariantRule">
      <invariantRule
            configurationClass="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.InvariantStereotypeConfiguration"
            configurationModelCreation="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.InvariantStereotypeConfigurationModelCreation"
            creationElementValidator="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.InvariantStereotypeCreationElementValidator"
            editHelperAdvice="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.InvariantStereotypeEditHelperAdvice"
            elementMatcher="org.eclipse.papyrus.uml.tools.extendedtypes.invariantstereotypeconfiguration.InvariantStereotypeElementMatcher">
      </invariantRule>
   </extension>
</plugin>
