<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.moka.fuml.library" name="%extension-point.name" schema="schema/org.eclipse.papyrus.moka.fuml.library.exsd"/>
   <extension-point id="org.eclipse.papyrus.moka.fuml.services" name="SystemServices" schema="schema/org.eclipse.papyrus.moka.fuml.services.exsd"/>
   <extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="org.eclipse.papyrus.moka.fuml.FUMLExecutionEngineForMoka">
      </engine>
   </extension>

</plugin>
