<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.papyrus.uml.modelrepair.editlinks"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="di">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uml">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.uml.modelrepair.handler.ModelRepairHandler"
            id="org.eclipse.papyrus.uml.modelrepair.editlinks"
            name="Edit model links">
      </command>
   </extension>

</plugin>
