<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
<!-- TODO: PAPYRUS EMF-FACET
<extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="facet/PaletteConfiguration.uiCustom"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="facet/PaletteConfiguration.querySet"/>
   </extension>
   -->
   <extension point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
  <modeldeclaration file="facet/PaletteConfiguration.custom"/>
</extension>
</plugin>
