<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.compare.subelement.handler.CompareTwoModelElementsHandler"
            id="org.eclipse.papyrus.uml.compare.subelement.command"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.papyrus.uml.compare.subelement.command"
               icon="icons/papyrus_compare_editor.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
