<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.services.controlmode.customControlCommand" name="customControlCommand" schema="schema/customControlCommand.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.infra.services.controlmode.action.PapyrusControlHandler"
            id="org.eclipse.papyrus.infra.services.controlmode.control"
            name="Control">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.services.controlmode.action.PapyrusUncontrolHandler"
            id="org.eclipse.papyrus.infra.services.controlmode.uncontrol"
            name="Uncontrol">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.control"
               label="Control"
               style="push"
               tooltip="Split the model into an external model">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.controlmode.control">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.uncontrol"
               label="Uncontrol"
               style="push"
               tooltip="Merge the external model with the current model">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.controlmode.uncontrol">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.infra.services.controlmode.action.ControlModePropertyTester"
            id="org.eclipse.papyrus.infra.services.controlmode"
            namespace="org.eclipse.papyrus.infra.services.controlmode"
            properties="control,uncontrol"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>

</plugin>
