<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.papyrus.resource.migration.contribution1"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.papyrus.resource.migration.popup.actions.UpdateGenModelAction"
               enablesFor="+"
               id="org.eclipse.papyrus.resource.migration.newAction"
               label="configure genmodel with Papyrus profile approach">
         </action>
      </objectContribution>
   </extension>

</plugin>
