<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="templates" name="UML2 Model Templates" schema="schema/templates.exsd"/>
	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="org.eclipse.papyrus.wizards.category"
    		name="Papyrus">
		</category>
	</extension>
</plugin>
