<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="templates" name="UML2 Model Templates" schema="schema/templates.exsd"/>
	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="org.eclipse.papyrus.wizards.category"
    		name="Papyrus">
		</category>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.papyrus.wizards.InitDiagram"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize Papyrus Diagram"
               class="org.eclipse.papyrus.wizards.InitDiagramAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.papyrus.wizards.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
 <extension
       point="org.eclipse.papyrus.wizards.templates">
    <template
          file="modelTemplate/gvMetrica.uml"
          id="org.eclipse.papyrus.wizards.templates.gvmetrica"
          name="Default UML2 structure for GvMetrica">
    </template>
 </extension>
   
</plugin>
