<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.eclipse.org/uml2/2.1.0/UML">
         </package>
         <constraints
               categories="org.eclipse.papyrus.validation.CategoryID/UMLProfile">
            <constraint
                  class="org.eclipse.papyrus.profile.constraints.PropertyHasNameConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasNameConstraintID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_name.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_name.msg
               </message>
               <description>
                  %property_has_name.desc
               </description>
               <target
                     class="Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.profile.constraints.PropertyHasUniqueNameConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasUniqueNameConstraintID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_unique_name.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_unique_name.msg
               </message>
               <description>
                  %property_has_unique_name.desc
               </description>
               <target
                     class="Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.profile.constraints.PropertyHasTypeConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasTypeID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_type.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_type.msg
               </message>
               <description>
                  %property_has_type.desc
               </description>
               <target
                     class="Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.profile.constraints.PropertyHasDefaultValueConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasDefaultID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_default.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_default.msg
               </message>
               <description>
                  %property_has_default.desc
               </description>
               <target
                     class="Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.profile.constraints.PropertyMultiplicityLowerConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyMultiplicityLowerConstraintID"
                  lang="Java"
                  mode="Batch"
                  name="%property_multiplicity_lower.name"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  %property_multiplicity_lower.msg
               </message>
               <description>
                  %property_multiplicity_lower.desc
               </description>
               <target
                     class="Property">
               </target>
            </constraint>            
         </constraints>
      </constraintProvider>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmt.modisco.infra.importPackage"
            objectClass="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
         <action
               class="org.eclipse.papyrus.profile.ui.actions.ImportLibrariesFromRepositoryAction"
               id="org.eclipse.papyrus.profile.importPackage"
               label="Import package from registered library">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeKindAppearanceSection"
               filter="org.eclipse.papyrus.profile.utils.UmlElementFilter"
               id="ShapeAppliedStereotypeKindAppearanceSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               afterSection="AppliedStereotypeKindAppearanceSection"
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeDisplaySection"
               filter="org.eclipse.papyrus.profile.utils.UmlElementFilter"
               id="ShapeAppliedStereotypeDisplaySection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeSectionWithView"
               filter="org.eclipse.papyrus.profile.filter.AppliedStereotypeSectionFilter"
               id="AppliedStereotypeSectionWithView"
               tab="org.eclipse.papyrus.tabbedproperties.profile">
         </propertySection>
         <propertySection
               class="org.eclipse.papyrus.profile.ui.section.AppliedProfileSection"
               filter="org.eclipse.papyrus.profile.filter.AppliedProfileSectionFilter"
               id="AppliedProfileSection"
               tab="org.eclipse.papyrus.tabbedproperties.profile">
         </propertySection>
         <!--<propertySection
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeKindAppearanceSection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="ConnectionAppliedStereotypeKindAppearanceSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               afterSection="AppliedStereotypeKindAppearanceSection"
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeDisplaySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="ConnectionAppliedStereotypeDisplaySection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>-->
         <!--<propertySection
               afterSection="AppliedStereotypeKindAppearanceSection"
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeDisplaySection"
               filter="org.eclipse.papyrus.profile.filter.CompartmentEditPartPropertySectionFilter"
               id="CompartmentAppliedStereotypeDisplaySection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
          <propertySection
               class="org.eclipse.papyrus.profile.ui.section.AppliedStereotypeKindAppearanceSection"
               filter="org.eclipse.papyrus.profile.filter.CompartmentEditPartPropertySectionFilter"
               id="CompartmentAppliedStereotypeKindAppearanceSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>-->
      </propertySections>
   </extension>

</plugin>
