<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.properties.tabbed.customization.handler.CustomizePropertyViewCommandHandler"
            description="This command allows customization of the content of the properties view"
            id="org.eclipse.papyrus.properties.tabbed.customize"
            name="Customize properties view">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.PropertySheet">
         <command
               commandId="org.eclipse.papyrus.properties.tabbed.customize"
               icon="icons/type.gif"
               id="org.eclipse.papyrus.properties.tabbed.customizehandler"
               label="Customize Property view"
               mnemonic="C"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Customize the content of the Property View">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
      <propertyViewProvider
            class="org.eclipse.papyrus.properties.runtime.view.XMLPropertyViewProvider">
         <Priority
               name="Lowest">
         </Priority>
         <PropertyViewContribution
         	   name="Property Editor configuration dialogs"
               icon="/icons/Provider.gif"
               path="resources/configuration_wizards_dialogs.xml">
         </PropertyViewContribution>
      </propertyViewProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.properties.runtime.propertyEditorControllerProvider">
      <propertyEditorControllerProvider
            class="org.eclipse.papyrus.properties.runtime.controller.PropertyEditorControllerProvider"
            description="Property editor controller provider for states "
            id="customizationPropertyEditorControllerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <PropertyEditorController
               class="org.eclipse.papyrus.properties.tabbed.customization.state.StateBeanPropertyEditorController"
               description="controller for states in the customization wizard"
               factory="org.eclipse.papyrus.properties.runtime.controller.descriptor.BeanPropertyEditorControllerDescriptorFactory"
               id="stateBeanPropertyEditorController">
         </PropertyEditorController>
         <PropertyEditorController
               class="org.eclipse.papyrus.properties.tabbed.customization.state.BooleanStateBeanPropertyEditorController"
               factory="org.eclipse.papyrus.properties.runtime.controller.descriptor.BeanPropertyEditorControllerDescriptorFactory"
               id="booleanStateBeanPropertyEditorController">
         </PropertyEditorController>
         <PropertyEditorController
               class="org.eclipse.papyrus.properties.tabbed.customization.state.BooleanStateBeanPropertyEditorController"
               factory="org.eclipse.papyrus.properties.tabbed.customization.PropertyEditorControllerDescriptorFactory1"
               id="booleanStateBeanPropertyEditorController">
         </PropertyEditorController>
         <PropertyEditorController
               class="org.eclipse.papyrus.properties.tabbed.customization.state.BooleanStateBeanPropertyEditorController"
               factory="org.eclipse.papyrus.properties.tabbed.customization.PropertyEditorControllerDescriptorFactory1"
               id="org.eclipse.papyrus.properties.tabbed.customization.PropertyEditorController1">
         </PropertyEditorController>
      </propertyEditorControllerProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
      <propertyViewProvider
            class="org.eclipse.papyrus.properties.runtime.view.XMLPropertyViewProvider">
         <Priority
               name="Lowest">
         </Priority>
         <PropertyViewContribution
               description="Predefined fragments for Configuraiton of property view"
               icon="icons/Provider.gif"
               name="Predefined Fragments For Configuration"
               path="resources/configuration_predefined_fragments.xml">
         </PropertyViewContribution>
      </propertyViewProvider>
   </extension>
</plugin>
