<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.properties.tabbed.core.provider.EMFObjectLabelProvider"
            tabDescriptorProvider="org.eclipse.papyrus.properties.tabbed.core.provider.XMLBasedTabDescriptorProvider">
         <propertyCategory category="org.eclipse.papyrus"/>
      </propertyContributor>
   </extension>
	<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.tabbed.core.view.XMLPropertyTabViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="This is the generic view for sysml tabbed properties"
            id="propertyview.sysml.basic"
            icon="icons/tool.gif"
            name="SysML"
            path="resources/sysml_generic_sections.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
</plugin>
