<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="generateHugeModel"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <action
               class="thousandcreation.HugeModelGenerationAction"
               id="generateHugeModel"
               label="Genereate Huge Model">
         </action>
      </objectContribution>
   </extension>

</plugin>
