<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.preferences.generalcategory"
            class="org.eclipse.papyrus.validation.preferences.PreferencePage"
            id="org.eclipse.papyrus.preferences.validation"
            name="Validation preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.validation.preferences.Initializer">
      </initializer>
   </extension>
</plugin>
