<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="context" name="%extension-point.context" schema="schema/context.exsd"/>
   <extension-point id="environment" name="%extension-point.environment" schema="schema/environment.exsd"/>
   <extension-point id="labelprovider" name="labelprovider" schema="schema/labelprovider.exsd"/>
   <extension-point id="contextStorage" name="%extension-point.contextStorage" schema="schema/contextStorage.exsd"/>
   
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.views.properties.runtime.preferences.PreferencesPackage"
            genModel="Model/Preferences.genmodel"
            uri="http://www.eclipse.org/papryus/properties/preferences">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PPEResources/"
            target="platform:/plugin/org.eclipse.papyrus.views.properties/model/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.views.properties.preferences.Preferences"
            id="org.eclipse.papyrus.views.properties.propertyview"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.views.properties.root.RootPackage"
            genModel="Model/PropertiesRoot.genmodel"
            uri="http://www.eclipse.org/papyrus/properties/root">
      </package>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.environment">
      <environment
            environmentModel="model/Environment.xmi">
      </environment>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.papyrus.views.properties.catalog.PropertiesCatalog"
            protocolName="ppe">
      </parser>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.labelprovider">
      <labelProvider
            labelProvider="org.eclipse.papyrus.infra.emf.providers.EMFFilteredLabelProvider"
            priority="100">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <context
            description="The properties view label provider context (Widgets)"
            id="org.eclipse.papyrus.views.properties.labelProvider.context">
      </context>
      <context
            description="The properties view label provider context (Header)"
            id="org.eclipse.papyrus.views.properties.header.labelProvider.context">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.views.properties.contextStorage">
      <provider
            class="org.eclipse.papyrus.views.properties.storage.workspace.WorkspaceContextStorageProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
    allPopups="false"
    locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	<command
       commandId="org.eclipse.papyrus.views.properties.deploy"
       icon="icons/configuration.gif"
       style="push">
	    <visibleWhen
	          checkEnabled="false">
	       <with
	             variable="selection">
	          <iterate
	                ifEmpty="false"
	                operator="and">
	             <adapt
	                   type="org.eclipse.core.resources.IFile">
	                <or>
	                   <test
	                         property="org.eclipse.core.resources.extension"
	                         value="ctx">
	                   </test>
	                </or>
	             </adapt>
	          </iterate>
	       </with>
	    </visibleWhen>
	</command>
 <command
       commandId="org.eclipse.papyrus.views.properties.undeploy"
       icon="icons/configuration.gif"
       style="push">
    <visibleWhen
          checkEnabled="false">
       <with
             variable="selection">
          <iterate
                ifEmpty="false"
                operator="and">
             <adapt
                   type="org.eclipse.core.resources.IFile">
                <or>
                   <test
                         property="org.eclipse.core.resources.extension"
                         value="ctx">
                   </test>
                </or>
             </adapt>
          </iterate>
       </with>
    </visibleWhen>
 </command>
</menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.views.properties.handler.DeployCustomizationHandler"
            id="org.eclipse.papyrus.views.properties.deploy"
            name="Deploy properties view configuration">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.views.properties.handler.UndeployCustomizationHandler"
            id="org.eclipse.papyrus.views.properties.undeploy"
            name="Disable properties view configuration">
      </command>
   </extension>
</plugin>
