<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.core.preferences.CorePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.preferences.generalcategory"
            class="org.eclipse.papyrus.core.preferences.LoadingStrategyPreferencePage"
            id="org.eclipse.papyrus.core.preferences.CorePreferencePage"
            name="Model loading">
      </page>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.resourceloading.currentStrategyChooser">
      <CurrentStrategyChooser
            chooser="org.eclipse.papyrus.core.preferences.StrategyChooser">
      </CurrentStrategyChooser>
   </extension>

</plugin>
