<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
 <!-- we provide a new navigator content for the tables. To be called, this navigator content should have an id beginning with org.eclipse.papyrus.modelexplorer.* -->
   <extension point="org.eclipse.ui.handlers">
      <handler class="org.eclipse.papyrus.table.modelexplorer.handlers.DeleteTableHandler" commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="org.eclipse.papyrus.table.instance.papyrustableinstance.PapyrusTableInstance">
                           </instanceof>
                        </adapt>
                     </iterate>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.papyrus.modelexplorer.ModelExplorerPageBookView">
                        </instanceof>
                     </with>
                  </and>
               </with>
            </or>
         </activeWhen>
      </handler>
         <handler class="org.eclipse.papyrus.table.modelexplorer.handlers.DuplicateTableHandler" commandId="org.eclipse.papyrus.modelexplorer.duplicate.command">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="org.eclipse.papyrus.table.instance.papyrustableinstance.PapyrusTableInstance">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.papyrus.modelexplorer.ModelExplorerPageBookView">
                     </instanceof>
                  </with>
               </with>
            </or>
         </activeWhen>
      </handler>
            <handler class="org.eclipse.papyrus.table.modelexplorer.handlers.RenameTableHandler" commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="org.eclipse.papyrus.table.instance.papyrustableinstance.PapyrusTableInstance">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.papyrus.modelexplorer.ModelExplorerPageBookView">
                     </instanceof>
                  </with>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester class="org.eclipse.papyrus.table.modelexplorer.providers.TablePropertyTester" id="org.eclipse.papyrus.table.modelexplorer.tester" namespace="org.eclipse.papyrus.table.modelexplorer.tester" properties="isTable" type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="resources/PapyrusTableFacet.facetSet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/PapyrusTableQuery.querySet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/PapyrusTableFacetCustomization.uiCustom" loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/PapyrusTableInstanceCustomization.uiCustom" loadByDefault="true"/>
   </extension>
</plugin>
