<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram factoryClass="org.eclipse.papyrus.sysml.table.allocation.CreateAllocationTableFactory" icon="icons/table_SysML_Allocation.gif">
      </editorDiagram>
   </extension>
    <!--extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="false" locationURI="toolbar:org.eclipse.papyrus.table.ui.toolbar">
         <command commandId="org.eclipse.papyrus.sysml.table.allocation.create.table.command" icon="icons/table_SysML_Allocation.gif" id="org.eclipse.papyrus.table.ui.toolbar.allocation.table" style="push" tooltip="Create a new SysML Allocation table">
            <visibleWhen>
               <reference
                     definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution allPopups="false" locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.createtable">
       <command commandId="org.eclipse.papyrus.sysml.table.allocation.create.table.command" icon="icons/table_SysML_Allocation.gif" id="org.eclipse.papyrus.views.modelexplorer.popupmenu.createtable.allocation.table" style="push" tooltip="Create a new SysML Allocation table">
            <visibleWhen>
               <reference
                     definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution allPopups="false" locationURI="menu:org.eclipse.papyrus.table.ui.menu.tables">
       <command commandId="org.eclipse.papyrus.sysml.table.allocation.create.table.command" icon="icons/table_SysML_Allocation.gif" id="org.eclipse.papyrus.table.ui.menu.tables.allocation.table" style="push" tooltip="Create a new SysML Allocation table">
            <visibleWhen>
               <reference
                     definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
               </reference>
            </visibleWhen>
         </command>
         </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command categoryId="org.eclipse.papyrus.editor.category" description="Create a new SysML Allocation table" id="org.eclipse.papyrus.sysml.table.allocation.create.table.command" name="SysML &amp;Allocation Table">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler class="org.eclipse.papyrus.sysml.table.allocation.CreateAllocationTableCommand" commandId="org.eclipse.papyrus.sysml.table.allocation.create.table.command">
         <activeWhen>
            <and>
               <with variable="selection">
                  <test forcePluginActivation="true" property="org.eclipse.papyrus.sysml.table.allocation.tester.isAppliedAllocations" value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension-->
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/allocate.querySet"/>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester class="org.eclipse.papyrus.sysml.table.allocation.tester.AllocationPropertyTester" id="org.eclipse.papyrus.sysml.table.allocation.tester" namespace="org.eclipse.papyrus.sysml.table.allocation.tester" properties="isAppliedAllocations" type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/table_SysML_Allocation_showOnlyClientAndSupplier.uiCustom"/>
   </extension>
</plugin>
