<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.papyrus.uml.search.ui.pages.PapyrusSearchPage"
            enabled="true"
            extensions="di:99"
            icon="icons/PapyrusSearch.png"
            id="org.eclipse.papyrus.search.ui.pages.PapyrusSearchPage"
            label="%searchPageLabel"
            showScopeSection="true">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.papyrus.uml.search.ui.pages.PapyrusSearchResultPage"
            icon="icons/PapyrusSearch.png"
            id="org.eclipse.papyrus.search.ui.pages.PapyrusSearchResultPage"
            label="%SearchResultPageLabel"
            searchResultClass="org.eclipse.papyrus.uml.search.ui.results.PapyrusSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.search.ui.handlers.SearchCommandHandler"
            commandId="org.eclipse.ui.edit.findReplace">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.uml.search.ui.providers.AttributeMatchLabelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.runtime.IAdaptable"
            class="org.eclipse.papyrus.uml.search.ui.adapter.PapyrusSearchAdapterFactory">
         <adapter
               type="org.eclipse.search.ui.ISearchPageScoreComputer">
         </adapter>
      </factory>
   </extension>

</plugin>
