<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="papyrusDiagram" name="PapyrusDiagram" schema="schema/papyrusDiagram.exsd"/>
   <extension-point id="modelListener" name="ModelListener" schema="schema/modelListener.exsd"/>
   <extension-point id="papyrusContentOutline" name="PapyrusContentOutline" schema="schema/contentOutline.exsd"/>
   <extension-point id="service" name="Service" schema="schema/service.exsd"/>
   <extension-point id="model" name="plugin.xml.ModelName" schema="schema/model.exsd"/>
   <extension-point id="transactionalEditingDomainProvider" name="transactionalEditingDomainProvider" schema="schema/transactionalEditingDomainProvider.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.papyrus.uml.diagram.ui.toolbar">
            <command
                  commandId="org.eclipse.papyrus.infra.core.commands.dropdowncommand"
                  icon="icons/papyrus/Papyrus_16x16.gif"
                  label="Close Diagrams"
                  style="pulldown"
                  tooltip="Close Current Editor&apos;s Diagrams ">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.papyrus.uml.diagram.ui.toolbar">
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.infra.core.editor.ui.tabmenu?endof=tabcommands">
         <command
               commandId="org.eclipse.papyrus.infra.core.commands.closediagram"
               label="Close Diagram"
               style="push"
               tooltip="Close Currently Selected Diagram">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.core.commands.closealldiagram"
               label="Close All Diagrams"
               style="push"
               tooltip="Close All Opened Diagrams">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.core.commands.closeothersdiagrams"
               label="Close Others Diagrams"
               style="push"
               tooltip="Close All Diagrams except the selected one">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.core.sasheditor.command.tabdoubleclick"
               label="&amp;Rename Diagram"
               style="push"
               tooltip="Rename the diagram">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.papyrus.infra.core.commands.dropdowncommand">
         <command
               commandId="org.eclipse.papyrus.infra.core.commands.closediagram"
               style="push"
               tooltip="Close Currently Selected Diagram">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.core.commands.closealldiagram"
               label="Close All Diagrams"
               style="push"
               tooltip="Close All Opened Diagrams">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.core.commands.closeothersdiagrams"
               label="Close Others Diagrams"
               style="push"
               tooltip="Close All Diagrams except the selected one">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.infra.core.commands.closealldiagram"
            name="Close All Diagrams">
      </command>
      <command
            id="org.eclipse.papyrus.infra.core.commands.closediagram"
            name="Close Diagram">
      </command>
      <command
            id="org.eclipse.papyrus.infra.core.commands.closeothersdiagrams"
            name="Close Others Diagrams">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.commands.CloseDiagramCommand"
            id="org.eclipse.papyrus.infra.core.commands.dropdowncommand"
            name="dropdown tool">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.commands.CloseDiagramCommand"
            commandId="org.eclipse.papyrus.infra.core.commands.closediagram">
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.commands.CloseAllDiagramsCommand"
            commandId="org.eclipse.papyrus.infra.core.commands.closealldiagram">
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.commands.CloseOtherDiagramsCommand"
            commandId="org.eclipse.papyrus.infra.core.commands.closeothersdiagrams">
      </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <model
            classname="org.eclipse.papyrus.infra.core.resource.sasheditor.SashModel"
            description="Model for sash system">
      </model>
      <modelSetSnippet
            classname="org.eclipse.papyrus.infra.core.modelsetquery.impl.ModelSetQueryInitializer"
            description="Adapter attached to the ModelSet (aka ResourceSet)">
      </modelSetSnippet>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.ModelSetServiceFactory"
            description="The service loading Models"
            id="org.eclipse.papyrus.infra.core.resource.ModelSet"
            priority="1"
            startKind="startup">
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.DiResourceSetServiceFactory"
            description="An alias to ModelSet"
            id="org.eclipse.papyrus.infra.core.utils.DiResourceSet"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.resource.EditingDomainServiceFactory"
            description="TransactionalEditing Domain"
            id="org.eclipse.emf.transaction.TransactionalEditingDomain"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.resource.EditingDomainServiceFactory"
            description="Editing Domain"
            id="org.eclipse.emf.edit.domain.EditingDomain"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.PageIconRegistryServiceFactory"
            id="org.eclipse.papyrus.infra.core.editorsfactory.IPageIconsRegistry"
            priority="1"
            startKind="startup">
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.DiSashModelManagerServiceFactory"
            description="The concrete implementation of SashContentProviderr and IPageMngr"
            id="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.DiSashModelManager"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.emf.transaction.TransactionalEditingDomain">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.DiSashModelMngrServiceFactory"
            description="The concrete implementation of SashContentProviderr and IPageMngr"
            id="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.DiSashModelMngr"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.emf.transaction.TransactionalEditingDomain">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.PageMngrServiceFactory"
            description="IPageMngr allows to add and remove pages to the editor."
            id="org.eclipse.papyrus.infra.core.sasheditor.contentprovider.IPageMngr"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.DiSashModelManager">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.ContentProviderServiceFactory"
            description="The SashContentProvider maintain the structure of pages of the editor."
            id="org.eclipse.papyrus.infra.core.sasheditor.contentprovider.ISashWindowsContentProvider"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.DiSashModelManager">
         </dependsOn>
      </serviceFactory>
      <service
            classname="org.eclipse.papyrus.infra.core.lifecycleevents.SaveAndDirtyService"
            description="Service used to maintain the dirty state, and to perform save and saveAs"
            id="org.eclipse.papyrus.infra.core.lifecycleevents.ISaveAndDirtyService"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.emf.transaction.TransactionalEditingDomain">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.editor.IMultiDiagramEditor">
         </dependsOn>
      </service>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.lifecycleevents.LifeCycleEventsProviderServiceFactory"
            description="Service allowing to listen on save events."
            id="org.eclipse.papyrus.infra.core.lifecycleevents.ILifeCycleEventsProvider"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef=" org.eclipse.papyrus.infra.core.lifecycleevents.ISaveAndDirtyService">
         </dependsOn>
      </serviceFactory>
      <serviceFactory
            classname="org.eclipse.papyrus.infra.core.editor.PageMngrServiceFactory"
            description="IPageManager allows to add and remove pages to the editor."
            id="org.eclipse.papyrus.infra.core.sasheditor.contentprovider.IPageManager"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.DiSashModelManager">
         </dependsOn>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.papyrus.infra.core.exportcategory"
            name="Papyrus">
      </category>
   </extension>
   <extension
       id="org.eclipse.papyrus.modelmarker"
       name="model marker"
       point="org.eclipse.core.resources.markers">
     <attribute
           name="uri">
     </attribute>
     <persistent
           value="true">
     </persistent>
   </extension>
    <extension
         point="org.eclipse.papyrus.infra.core.papyrusContentOutline">
      <contentoutline
            class="org.eclipse.papyrus.infra.core.contentoutline.NestedEditorDelegatedOutlinePage"
            description="Generic outline for Papyrus"
            priority="2">
      </contentoutline>
   </extension>
    <extension
          point="org.eclipse.papyrus.infra.core.papyrusDiagram">
       <editorDiagram
             factoryClass="org.eclipse.papyrus.infra.core.editorsfactory.anytype.AnyTypeEditorFactory">
       </editorDiagram>
    </extension>
</plugin>
