<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.hyperlink.registration" name="%extension-point.name" schema="schema/org.eclipse.papyrus.infra.hyperlink.registration.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.hyperlink.tab.registration" name="org.eclipse.papyrus.infra.hyperlink.tab.registration" schema="schema/org.eclipse.papyrus.infra.hyperlink.tab.registration.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.hyperlink.specificHyperLinks" name="org.eclipse.papyrus.infra.hyperlink.specificHyperLinks" schema="schema/specificHyperLinks.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.hyperlink.registration">
      <hyperlink
            helper="org.eclipse.papyrus.infra.hyperlink.helper.EditorHyperLinkHelper"
            position="50"
            tabId="org.eclipse.papyrus.infra.hyperlink.editor">
      </hyperlink>
      <hyperlink
            helper="org.eclipse.papyrus.infra.hyperlink.helper.ObjectHyperLinkHelper"
            position="75"
            tabId="org.eclipse.papyrus.infra.hyperlink.object">
      </hyperlink>
      <hyperlink
            helper="org.eclipse.papyrus.infra.hyperlink.helper.DocumentHyperLinkHelper"
            position="100"
            tabId="org.eclipse.papyrus.infra.hyperlink.documenteditor">
      </hyperlink>
      <hyperlink
            helper="org.eclipse.papyrus.infra.hyperlink.helper.WebHyperLinkHelper"
            position="150"
            tabId="org.eclipse.papyrus.infra.hyperlink.webeditor">
      </hyperlink>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.hyperlink.tab.registration">
      <hyperlinktab
            tabId="org.eclipse.papyrus.infra.hyperlink.defaulthyperlinktab"
            position="200"
            tab="org.eclipse.papyrus.infra.hyperlink.ui.DefaultHyperLinkTab">
      </hyperlinktab>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="40"
            provider="org.eclipse.papyrus.infra.hyperlink.util.HyperLinkFilteredLabelProvider">
      </labelProvider>
   </extension>

</plugin>
