<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.navigation.navigationContributor">
      <contributor
            contributor="org.eclipse.papyrus.uml.navigation.contributor.TypedElementNavigationContributor"
            description="Navigates to the type of the current UML Element"
            id="org.eclipse.papyrus.uml.navigation.typedElement"
            label="UML Typed Element navigation">
      </contributor>
   </extension>

</plugin>
