<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.infra.services.validation.preferences.PreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.validation"
            name="Validation preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.infra.services.validation.preferences.Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <menu
               icon="icons/etool16/validate.gif"
               id="org.eclipse.papyrus.views.modelexplorer.popup.validation"
               label="Validation">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <menu
               icon="icons/etool16/validate.gif"
               id="org.eclipse.papyrus.views.modelexplorer.popup.validation"
               label="Validation">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.validation">
         <command
               commandId="org.eclipse.papyrus.validation.ValidateModelCommand"
               icon="icons/etool16/validate.gif"
               id="org.eclipse.papyrus.validation.ValidateModel"
               label="Validate model">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.ValidateSubtreeCommand"
               icon="icons/etool16/validate.gif"
               id="org.eclipse.papyrus.validation.ValidateSubtree"
               label="Validate subtree">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.SelectAndValidateModelCommand"
               icon="icons/etool16/validateSel.gif"
               id="org.eclipse.papyrus.validation.SelectAndValidateModel"
               label="Select constraints and Validate model">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.SelectAndValidateSubtreeCommand"
               icon="icons/etool16/validateSel.gif"
               id="org.eclipse.papyrus.validation.SelectAndValidateSubtree"
               label="Select constraints and Validate subtree">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.ValidateDelMarkersFromModelCommand"
               disabledIcon="IMG_TOOL_DELETE_DISABLED"
               icon="IMG_TOOL_DELETE"
               id="org.eclipse.papyrus.validation.DeleteMarkersFromModel"
               label="Remove markers from model">
         </command>
         <command
               commandId="org.eclipse.papyrus.validation.ValidateDelMarkersFromSubtreeCommand"
               disabledIcon="IMG_TOOL_DELETE_DISABLED"
               icon="IMG_TOOL_DELETE"
               id="org.eclipse.papyrus.validation.DelMarkersFromSubtree"
               label="Remove markers from subtree">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.services.validation.handler.ValidateModelHandler"
            description="ValidateModel"
            id="org.eclipse.papyrus.validation.ValidateModelCommand"
            name="ValidateModel">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.services.validation.handler.ValidateSubtreeHandler"
            description="ValidateSubtree"
            id="org.eclipse.papyrus.validation.ValidateSubtreeCommand"
            name="ValidateSubtree">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.services.validation.handler.SelectAndValidateSubtreeHandler"
            description="SelectAndValidate"
            id="org.eclipse.papyrus.validation.SelectAndValidateSubtreeCommand"
            name="SelectAndValidate">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.services.validation.handler.SelectAndValidateModelHandler"
            description="SelectAndValidate"
            id="org.eclipse.papyrus.validation.SelectAndValidateModelCommand"
            name="SelectAndValidate">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.services.validation.handler.ValidateDelMarkersFromModelHandler"
            description="ValidateDelMarkersFromModel"
            id="org.eclipse.papyrus.validation.ValidateDelMarkersFromModelCommand"
            name="ValidateDelMarkersFromModel">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.services.validation.handler.ValidateDelMarkersFromSubtreeHandler"
            description="ValidateDelMarkersFromSubtree"
            id="org.eclipse.papyrus.validation.ValidateDelMarkersFromSubtreeCommand"
            name="ValidateDelMarkersFromSubtree">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.eclipse.emf.ecore.diagnostic">
      </client>
   </extension>
</plugin>
