<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.properties.tabbed.core.provider.EMFObjectLabelProvider"
            tabDescriptorProvider="org.eclipse.papyrus.properties.tabbed.core.provider.XMLBasedTabDescriptorProvider">
         <propertyCategory category="org.eclipse.papyrus"/>
      </propertyContributor>
   </extension>
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.tabbed.core.view.XMLPropertyTabViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="This is the generic view for uml tabbed properties"
            id="propertyview.uml.sections"
            icon="icons/tool.gif"
            name="UML"
            path="resources/uml_generic_sections.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
<!--
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.tabbed.core.view.XMLPropertyTabViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="This is the advanced graphical view for uml tabbed properties"
            id="propertyview.fulluml.sections"
            icon="icons/tool.gif"
            name="Full UML"
            path="resources/uml.ecore-full.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
-->
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.runtime.view.XMLPropertyViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="Test configuration for UML property dialogs"
            id="propertyview.uml.testdialogs"
            icon="icons/UMLDialogs.gif"
            name="UML Dialogs"
            path="resources/uml_generic_dialogs_test.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
</plugin>
