<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.properties.tabbed.core.provider.EMFObjectLabelProvider"
            tabDescriptorProvider="org.eclipse.papyrus.properties.tabbed.core.provider.XMLBasedTabDescriptorProvider">
         <propertyCategory category="org.eclipse.papyrus"/>
      </propertyContributor>
   </extension>
	<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.tabbed.core.view.XMLPropertyTabViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="This is the generic view for uml tabbed properties"
            icon="icons/tool.gif"
            name="UML"
            path="resources/uml_generic.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.runtime.view.XMLPropertyViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="These are generic views for uml elements"
            icon="icons/tool.gif"
            name="UML Views"
            path="resources/uml_view.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyEditorControllerProvider">
   <propertyEditorControllerProvider
         class="org.eclipse.papyrus.properties.runtime.controller.predefined.PredefinedPropertyControllerProvider"
         description="this is the basic provider for UML features"
            id="org.eclipse.papyrus.properties.tabbed.uml.structuralFeaturesEMFTPredefinedControllers">
      <Priority name="Lowest"/>
      <PredefinedControllers
            id="org.eclipse.papyrus.properties.tabbed.uml.structuralFeaturesEMFTPredefinedControllers"
            name="UML Predefined Controllers for Structural Features"
            path="resources/content.xml">
      </PredefinedControllers>
      
   </propertyEditorControllerProvider>
</extension>
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.runtime.view.XMLPropertyViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="Basic configuration for UML property dialogs"
            icon="icons/UMLDialogs.gif"
            name="UML Dialogs"
            path="resources/uml_generic_dialogs.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>

</plugin>
