<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.properties.tabbed.core.provider.EMFObjectLabelProvider"
            tabDescriptorProvider="org.eclipse.papyrus.properties.tabbed.core.provider.XMLBasedTabDescriptorProvider">
         <propertyCategory category="org.eclipse.papyrus"/>
      </propertyContributor>
   </extension>
   <!--
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
         contributorId="TreeOutlinePage">
      <propertyTab
            afterTab="Base"
            category="org.eclipse.papyrus"
            id="DomainTab"
            image="icons/tool.gif"
            label="Papyrus">
      </propertyTab>
   </propertyTabs>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections
         contributorId="TreeOutlinePage">
      <propertySection
            class="org.eclipse.papyrus.properties.tabbed.uml.section.DomainPropertySection"
            filter="org.eclipse.papyrus.properties.tabbed.uml.section.DomainPropertySection"
            id="org.eclipse.papyrus.properties.runtime.domainsection"
            tab="DomainTab">
      </propertySection>
   </propertySections>
</extension>
-->
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.properties.tabbed.core.view.XMLPropertyViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="This is the generic view for uml properties"
            icon="icons/tool.gif"
            name="UML"
            path="resources/uml_generic.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
<extension
      point="org.eclipse.papyrus.properties.runtime.propertyEditorControllerProvider">
   <propertyEditorControllerProvider
         class="org.eclipse.papyrus.properties.runtime.controller.predefined.PredefinedPropertyControllerProvider"
         description="this is the basic provider for UML features"
            id="org.eclipse.papyrus.properties.tabbed.uml.structuralFeaturesEMFTPredefinedControllers">
      <Priority name="Lowest"/>
      <PredefinedControllers
            id="org.eclipse.papyrus.properties.tabbed.uml.structuralFeaturesEMFTPredefinedControllers"
            name="UML Predefined Controllers for Structural Features"
            path="resources/content.xml">
      </PredefinedControllers>
      
   </propertyEditorControllerProvider>
</extension>

</plugin>
