<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2011 Mia-Software.
  
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
 	Emmanuelle Rouillé (Mia-Software) - Bug 352618 - To be able to use non derived facet structural features and save them values. 
 	Nicolas Bros (Mia-Software) - Bug 361823 - [Restructuring] eFacet2 meta-model
 	Nicolas Bros (Mia-Software) - Bug 362191 - [Restructuring] Query mechanism for eFacet2
  
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/emf/facet/efacet/0.2.incubation/efacet"
            class="org.eclipse.papyrus.emf.facet.efacet.metamodel.v0_2_0.efacet.EFacetPackage"
            genModel="model/efacet-0.2.0.genmodel"/>
      <package
            class="org.eclipse.papyrus.emf.facet.efacet.metamodel.v0_2_0.efacet.serialization.SerializationPackage"
            uri="http://www.eclipse.org/papyrus/emf/facet/efacet/0.2.incubation/efacet/serialization"
            genModel="model/efacet-0.2.0.genmodel"/>
      <package
            class="org.eclipse.papyrus.emf.facet.efacet.metamodel.v0_2_0.efacet.extensible.ExtensiblePackage"
            uri="http://www.eclipse.org/papyrus/emf/facet/efacet/0.2.incubation/efacet/extensible"
            genModel="model/efacet-0.2.0.genmodel"/>
      <package
            uri="http://www.eclipse.org/papyrus/emf/facet/eFacetCatalog/0.2.incubation"
            class="org.eclipse.papyrus.emf.facet.efacet.metamodel.v0_2_0.efacetcatalog.EfacetcatalogPackage"
            genModel="model/efacetcatalog-0.2.0.genmodel"/>
   </extension>

</plugin>
