<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.handlers">
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ActorPartPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ActorPartCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AllocateHandler" commandId="org.eclipse.papyrus.sysml.service.types.AllocateCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationCompositeHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationCompositeCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationCompositeDirectedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationCompositeDirectedCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationNoneHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationNoneCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationNoneDirectedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationNoneDirectedCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationSharedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationSharedCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.AssociationSharedDirectedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationSharedDirectedCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.BlockHandler" commandId="org.eclipse.papyrus.sysml.service.types.BlockCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ConformHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConformCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ConstraintBlockHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConstraintBlockCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ConstraintBlockParameterHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConstraintBlockParameterCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ConstraintPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConstraintPropertyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.CopyHandler" commandId="org.eclipse.papyrus.sysml.service.types.CopyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.DeriveReqtHandler" commandId="org.eclipse.papyrus.sysml.service.types.DeriveReqtCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.DimensionHandler" commandId="org.eclipse.papyrus.sysml.service.types.DimensionCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowPortHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPortCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowPort_InOutHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InOutCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowPort_InHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowPort_OutHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_OutCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowPort_NAHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_NACreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPropertyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.FlowSpecificationHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowSpecificationCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ItemFlowHandler" commandId="org.eclipse.papyrus.sysml.service.types.ItemFlowCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.PartPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.PartPropertyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ProblemHandler" commandId="org.eclipse.papyrus.sysml.service.types.ProblemCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.RationaleHandler" commandId="org.eclipse.papyrus.sysml.service.types.RationaleCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ReferencePropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ReferencePropertyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.RequirementHandler" commandId="org.eclipse.papyrus.sysml.service.types.RequirementCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.SatisfyHandler" commandId="org.eclipse.papyrus.sysml.service.types.SatisfyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.UnitHandler" commandId="org.eclipse.papyrus.sysml.service.types.UnitCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ValuePropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValuePropertyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ValueTypeHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValueTypeCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ValueType_EnumerationHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValueType_EnumerationCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ValueType_PrimitiveTypeHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValueType_PrimitiveTypeCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.VerifyHandler" commandId="org.eclipse.papyrus.sysml.service.types.VerifyCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ViewHandler" commandId="org.eclipse.papyrus.sysml.service.types.ViewCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
	<handler class= "org.eclipse.papyrus.sysml.nattable.menu.handlers.ViewPointHandler" commandId="org.eclipse.papyrus.sysml.service.types.ViewPointCreateCommand" >
    <activeWhen>
       <with
             variable="selection">
          <test
                property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                value="true">
          </test>
       </with>
    </activeWhen></handler>
</extension>

<extension
        point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="true"
         locationURI="popup:org.eclipse.ui.popup.any">
      <menu
            id="org.eclipse.papyrus.sysml.nattable.create.sysml.menu"
            label="Create SysML Element">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                     value="true">
               </test>
            </with>
         </visibleWhen>
      </menu>
   </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.eclipse.papyrus.sysml.nattable.menu.handlers.SysmlNattableCreateMenu"
            locationURI="popup:org.eclipse.papyrus.sysml.nattable.create.sysml.menu">
      </menuContribution>
      
      
   </extension>
</plugin>
