<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.editor.perspectiveconfiguration">
      <configuration
            perspectiveID="org.eclipse.papyrus.infra.core.perspective">
         <menu
               menuID="file">
         </menu>
         <menu
               menuID="edit">
         </menu>
         <menu
               menuID="org.eclipse.papyrus.ui.menu">
         </menu>
         <menu
               menuID="window">
         </menu>
         <menu
               menuID="help">
         </menu>
         <toolbar
               toolbarID="org.eclipse.papyrus.uml.diagram.ui.toolbar">
         </toolbar>
         <preferencePage
               preferencepageID="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory">
         </preferencePage>
         <category
               categoryID="org.eclipse.ui.category.file">
         </category>
         <category
               categoryID="org.eclipse.ui.category.edit">
         </category>
         <category
               categoryID="org.eclipse.ui.category.help">
         </category>
         <category
               categoryID="org.eclipse.papyrus.editor.category">
         </category>
         <menu
               menuID="org.eclipse.papyrus.uml.diagram.ui.menu">
         </menu>
         <toolbar
               toolbarID="org.eclipes.papyrus.menu.toolbar">
         </toolbar>
         <preferencePage
               preferencepageID="org.eclipse.ui.preferencePages.Workbench">
         </preferencePage>
         <preferencePage
               preferencepageID="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesPage">
         </preferencePage>
         <preferencePage
               preferencepageID="org.eclipse.emf.validation.ui.rootPage">
         </preferencePage>
         <menu
               menuID="org.eclipse.papyrus.table.menu">
         </menu>
         <menu
               menuID="org.eclipse.papyrus.table.ui.menu.tables">
         </menu>
         <toolbar
               toolbarID="org.eclipse.papyrus.table.ui.toolbar">
         </toolbar>
         <toolbar
               toolbarID="org.eclipse.emf.facet.widgets.nattable.workbench.editor.NatTableEditor.toolbar">
         </toolbar>
         <category
               categoryID="org.eclipse.emf.facet.widgets.nattable.command.category">
         </category>
         
         
         <command
               commandID="org.eclipse.ui.window.preferences">
         </command>
         <category
               categoryID="org.eclipse.ui.category.dialogs">
         </category>
         <category
               categoryID="org.eclipse.ui.category.update">
         </category>
         <actionSet
               actionSetID="org.eclipse.ui.cheatsheets.actionSet">
         </actionSet>
         <actionSet
               actionSetID="org.eclipse.mylyn.doc.actionSet">
         </actionSet>
         <command
               commandID="org.eclipse.amalgam.discovery.modeling.commands.discoveryCommand">
         </command>
         <command
               commandID="org.eclipse.equinox.p2.ui.sdk.install">
         </command>
         <command
               commandID="org.eclipse.equinox.p2.ui.sdk.update">
         </command>
         <command
               commandID="org.eclipse.epp.mpc.ui.command.showMarketplaceWizard">
         </command>
         
      </configuration>
   </extension>

</plugin>
