<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- SysML element type declarations -->
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
	<metamodel
       nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
 </metamodel>
			
	<specializationType id="org.eclipse.papyrus.sysml.Block"
		edithelperadvice="org.eclipse.papyrus.sysml.service.creation.helper.BlockEditHelperAdvice"
		kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType" name="SysML::Block">
		<param name="semanticHint" value="SysML::Block" />
		<specializes id="org.eclipse.papyrus.uml.Class" />
	</specializationType>
 <specializationType
       edithelperadvice="org.eclipse.papyrus.sysml.service.creation.helper.InOutFlowPortEditHelperAdvice"
       id="org.eclipse.papyrus.sysml.FlowPort"
       kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
       name="SysML::FLowPort">
    <param
          name="semanticHint"
          value="SysML::FLowPort">
    </param>
    <specializes
          id="org.eclipse.papyrus.uml.Port">
    </specializes>
 </specializationType>
 <specializationType
       edithelperadvice="org.eclipse.papyrus.sysml.service.creation.helper.InFlowPortEditHelperAdvice"
       id="org.eclipse.papyrus.sysml.InFlowPort"
       kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
       name="SysML::InFLowPort">
    <param
          name="semanticHint"
          value="SysML::FLowPort">
    </param>
    <specializes
          id="org.eclipse.papyrus.uml.Port">
    </specializes>
 </specializationType>
 <specializationType
       edithelperadvice="org.eclipse.papyrus.sysml.service.creation.helper.OutFlowPortEditHelperAdvice"
       id="org.eclipse.papyrus.sysml.OutFlowPort"
       kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
       name="SysML::OutFLowPort">
    <param
          name="semanticHint"
          value="SysML::FLowPort">
    </param>
    <specializes
          id="org.eclipse.papyrus.uml.Port">
    </specializes>
 </specializationType>
	
</extension>
<!-- Creating a default binding -->
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
	<!-- Context declaration -->
	<clientContext id="org.eclipse.papyrus.sysml.service.creation.TypeContext">
		<matcher class="org.eclipse.papyrus.sysml.service.creation.matcher.NoContextEnablementMatcher" />
	</clientContext>

	<!-- Bindings declaration -->
	<binding context="org.eclipse.papyrus.sysml.service.creation.TypeContext">
		<elementType pattern="org.eclipse.papyrus.uml.*" />
		<elementType pattern="org.eclipse.papyrus.sysml.*" />
	</binding>
</extension>
<!-- ??? -->		
<extension point="org.eclipse.ui.startup">
	<startup class="org.eclipse.papyrus.sysml.service.creation.Activator"/>
</extension>

<!-- Creation command declarations -->
<extension point="org.eclipse.ui.commands">
	<command categoryId="org.eclipse.papyrus.editor.category"
		defaultHandler="org.eclipse.papyrus.sysml.service.creation.handler.BlockHandler"
		description="Create a new Block"
		id="org.eclipse.papyrus.sysml.service.creation.block.Handler" name="Create a new Block" />
 <command
       categoryId="org.eclipse.papyrus.editor.category"
       defaultHandler="org.eclipse.papyrus.sysml.service.creation.handler.InOutFlowPortHandler"
       description="Create a new InOut FlowPort"
       id="org.eclipse.papyrus.sysml.service.creation.inoutflowport.Handler"
       name="Create a new InOut FlowPort">
 </command>
 <command
       categoryId="org.eclipse.papyrus.editor.category"
       defaultHandler="org.eclipse.papyrus.sysml.service.creation.handler.InFlowPortHandler"
       description="Create a new In FlowPort"
       id="org.eclipse.papyrus.sysml.service.creation.inflowport.Handler"
       name="Create a new InFlowPort">
 </command>
 <command
       categoryId="org.eclipse.papyrus.editor.category"
       defaultHandler="org.eclipse.papyrus.sysml.service.creation.handler.OutFlowPortHandler"
       description="Create a new out FlowPort"
       id="org.eclipse.papyrus.sysml.service.creation.outflowport.Handler"
       name="Create a new out FlowPort">
 </command>
</extension>

<!-- Creation command menu -->
<extension point="org.eclipse.ui.menus">
	<menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup">
          <menu
                id="org.eclipse.papyrus.modelexplorer.popupmenu.createsysmlchild"
                label="New SysML Child">
          </menu>
       </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.papyrus.modelexplorer.popupmenu.createsysmlchild">
    <command
          commandId="org.eclipse.papyrus.sysml.service.creation.block.Handler"
          icon="platform:/plugin/org.eclipse.papyrus.sysml.edit/icons/full/obj16/Block.gif"
          label="Create a new Block"
          style="push"
          tooltip="Create a new Block">
       <visibleWhen
             checkEnabled="true">
       </visibleWhen>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.papyrus.modelexplorer.popupmenu.createsysmlchild">
    <command
          commandId="org.eclipse.papyrus.sysml.service.creation.inoutflowport.Handler"
          icon="platform:/plugin/org.eclipse.papyrus.sysml.edit/icons/full/obj16/FlowPort.gif"
          label="Create a new InOut FlowPort"
          style="push"
          tooltip="Create a new InOut FlowPort">
       <visibleWhen
             checkEnabled="true">
       </visibleWhen>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.papyrus.modelexplorer.popupmenu.createsysmlchild">
    <command
          commandId="org.eclipse.papyrus.sysml.service.creation.inflowport.Handler"
          icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_IN_A.gif"
          label="Create a new In FlowPort"
          style="push"
          tooltip="Create a new In FlowPort">
       <visibleWhen
             checkEnabled="true">
       </visibleWhen>
    </command>
 </menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.papyrus.modelexplorer.popupmenu.createsysmlchild">
    <command
          commandId="org.eclipse.papyrus.sysml.service.creation.outflowport.Handler"
          icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_OUT_A.gif"
          label="Create a new Out FlowPort"
          style="push"
          tooltip="Create a new Out FlowPort">
       <visibleWhen
             checkEnabled="true">
       </visibleWhen>
    </command>
 </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.eclipse.papyrus.sysml.service.creation.inflowport.Handler"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+I">
   </key>
   <key
         commandId="org.eclipse.papyrus.sysml.service.creation.outflowport.Handler"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+O">
   </key>
</extension>
			
</plugin>
