<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Open the Papyrus Model Compare Editor"
            id="org.eclipse.papyrus.uml.compare.file.command"
            name="Papyrus Model Compare Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.compare.file.handler.CompareUMLFileHandler"
            commandId="org.eclipse.papyrus.uml.compare.file.command">
         <activeWhen>
           <and>
            <with
                  variable="selection">
               <count
                     value="2">
               </count>
            </with>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.papyrus.uml.compare.file.tester.isSelectionForUMLCompareFile"
                  value="true">
            </test>
             </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.papyrus.uml.compare.file.command"
               icon="icons/papyrus_compare_16x16.png"
               style="push"
               tooltip="Compare Models synchronizing models and views">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.papyrus.uml.compare.file.editor.CompareUMLFileEditor"
            contributorClass="org.eclipse.papyrus.uml.compare.file.editor.PapyrusActionBar"
            default="false"
            icon="icons/papyrus_compare_16x16.png"
            id="org.eclipse.papyrus.uml.compare.file.editor"
            name="Papyrus Model Compare Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.papyrus.uml.compare.uml.file"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.eclipse.papyrus.uml.compare.file.handler.CompareUMLFileHandler"
               definitionId="org.eclipse.papyrus.uml.compare.file.command"
               enablesFor="2"
               icon="icons/papyrus_compare_16x16.png"
               id="org.eclipse.papyrus.uml.compare.file"
               label="Model Each Other"
               menubarPath="compareWithMenu/compareWithGroup"
               tooltip="Open the Papyrus Model Compare Editor">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </and></enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.uml.compare.file.tester.CompareUMLFileTester"
            id="org.eclipse.papyrus.uml.compare.file.tester"
            namespace="org.eclipse.papyrus.uml.compare.file.tester"
            properties="isSelectionForUMLCompareFile"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>

</plugin>
