<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.properties.environment.presentation.EnvironmentModelWizardID"
            name="%_UI_EnvironmentModelWizard_label"
            class="org.eclipse.papyrus.properties.environment.presentation.EnvironmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EnvironmentModelFile.gif">
         <description>%_UI_EnvironmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.properties.environment.presentation.EnvironmentEditorID"
            name="%_UI_EnvironmentEditor_label"
            icon="icons/full/obj16/EnvironmentModelFile.gif"
            extensions="environment"
            class="org.eclipse.papyrus.properties.environment.presentation.EnvironmentEditor"
            contributorClass="org.eclipse.papyrus.properties.environment.presentation.EnvironmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.properties.contexts.presentation.ContextsModelWizardID"
            name="%_UI_ContextsModelWizard_label"
            class="org.eclipse.papyrus.properties.contexts.presentation.ContextsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContextsModelFile.gif">
         <description>%_UI_ContextsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.properties.contexts.presentation.ContextsEditorID"
            name="%_UI_ContextsEditor_label"
            icon="icons/full/obj16/ContextsModelFile.gif"
            extensions="contexts"
            class="org.eclipse.papyrus.properties.contexts.presentation.ContextsEditor"
            contributorClass="org.eclipse.papyrus.properties.contexts.presentation.ContextsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.properties.ui.presentation.UiModelWizardID"
            name="%_UI_UiModelWizard_label"
            class="org.eclipse.papyrus.properties.ui.presentation.UiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UiModelFile.gif">
         <description>%_UI_UiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.properties.ui.presentation.UiEditorID"
            name="%_UI_UiEditor_label"
            icon="icons/full/obj16/UiModelFile.gif"
            extensions="ui"
            class="org.eclipse.papyrus.properties.ui.presentation.UiEditor"
            contributorClass="org.eclipse.papyrus.properties.ui.presentation.UiActionBarContributor">
      </editor>
   </extension>

</plugin>
