<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="navigationRules" name="navigationRules" schema="schema/navigationRules.exsd"/>
   <extension-point id="navigationDecoratorRules" name="navigationDecoratorRules" schema="schema/navigationDecoratorRules.exsd"/>
   <extension-point id="navigationColorProviders" name="navigationColorProviders" schema="schema/navigationColorProviders.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.preferences.generalcategory"
            class="org.eclipse.papyrus.navigation.preference.NavigationPreferencePage"
            id="org.eclipse.papyrus.navigation"
            name="Navigation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.navigation.preference.NavigationPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.eclipse.papyrus.navigation.decorator.NavigationDecoratorProvider">
         <Priority
               name="Medium">
         </Priority>
      </decoratorProvider>
   </extension>
  

</plugin>
