<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.qompass.designer.debug.handlers.TestAcceleoHandler"
            description="Test Acceleo Template"
            id="org.eclipse.papyrus.qompass.designer.debug.menuActions.TestAcceleoCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.qompass.designer.debug.handlers.ResetAcceleoHandler"
            description="Reset Acceleo driver"
            id="org.eclipse.papyrus.qompass.designer.debug.menuActions.ResetAcceleoCmd"
            name="dummy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.codegen">
         <command
               commandId="org.eclipse.papyrus.qompass.designer.debug.menuActions.TestAcceleoCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.qompass.designer.debug.menuActions.TestAcceleoMenu"
               label="Qompass: Test Acceleo template"
               mnemonic="T"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.qompass.designer.debug.menuActions.ResetAcceleoCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.qompass.designer.debug.menuActions.ResetAcceleoMenu"
               label="Qompass: Reset Acceleo driver"
               mnemonic="A"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
	  </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.codegen">
         <command
               commandId="org.eclipse.papyrus.qompass.designer.debug.menuActions.TestAcceleoCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.qompass.designer.debug.menuActions.TestAcceleoMenu"
               label="Qompass: Test Acceleo template"
               mnemonic="A"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.qompass.designer.debug.menuActions.ResetAcceleoCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.qompass.designer.debug.menuActions.ResetAcceleoMenu"
               label="Qompass: Reset Acceleo driver"
               mnemonic="A"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
	</extension>
</plugin>
