<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://Papyrus_LIBRARIES/"
            target="platform:/plugin/org.eclipse.papyrus.marte.profile/resources/"/>
      <mapping
            source="pathmap://Papyrus_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.marte.profile/resources/"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.extensionpoints.uml2.UMLLibrary">
      <library
            name="MARTE_Library"
            path="pathmap://Papyrus_LIBRARIES/MARTE_Library.library.uml">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.extensionpoints.uml2.UMLProfile">
      <profile
            name="MARTE"
            path="pathmap://Papyrus_PROFILES/MARTE.profile.uml">
      </profile>
   </extension>

</plugin>
