<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

	<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/properties/environment"
            class="org.eclipse.papyrus.properties.environment.EnvironmentPackage"
            genModel="Model/Properties.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/properties/contexts"
            class="org.eclipse.papyrus.properties.contexts.ContextsPackage"
            genModel="Model/Properties.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/properties/ui"
            class="org.eclipse.papyrus.properties.ui.UiPackage"
            genModel="Model/Properties.genmodel"/>
   </extension>

</plugin>
