<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://Papyrus_LIBRARIES/"
            target="platform:/plugin/org.eclipse.papyrus.marte.static.profile/resources/"/>
      <mapping
            source="pathmap://Papyrus_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.marte.static.profile/resources/"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.extensionpoints.uml2.UMLLibrary">
      <library
            description="MARTE Library (v1.1)"
            iconpath="resources/icons/MARTE_16x16.gif"
            name="MARTE_Library"
            path="pathmap://Papyrus_LIBRARIES/MARTE_Library.library.uml"
            provider="CEA LIST">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.extensionpoints.uml2.UMLProfile">
      <profile
            description="UML profile for MARTE (v1.1)"
            iconpath="resources/icons/MARTE_16x16.gif"
            name="MARTE"
            path="pathmap://Papyrus_PROFILES/MARTE.profile.uml"
            provider="CEA LIST">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_0lmpIpi4Ed-m0Oaexd_lJA"
            uri="http://www.eclipse.org/papyrus/MARTE/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.NFPs.NFPsPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/NFPs/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.NFPs.util.NFPsResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_U_GAoAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/NFPs/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.Time.TimePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Time/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.Time.util.TimeResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_WStkoAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/Time/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.GRM.util.GRMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.GRM.GRMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/GRM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_XVWGUAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/GRM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.Alloc.AllocPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Alloc/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.Alloc.util.AllocResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_ar8OsAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/Alloc/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.CoreElements.CoreElementsPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/CoreElements/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.CoreElements.util.CoreElementsResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_-wEewECLEd6UTJZnztgOLw"
            uri="http://www.eclipse.org/papyrus/CoreElements/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HLAM.HLAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HLAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HLAM.util.HLAMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_yNSZIAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/HLAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwComputing.HwComputingPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwComputing/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_2dtsgAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/HRM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_P80EcBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwLogical/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwComputing.util.HwComputingResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_aMhZsBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwComputing/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwCommunication.HwCommunicationPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwCommunication/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwCommunication.util.HwCommunicationResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_bmL7UBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwCommunication/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwTiming.HwTimingPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwTiming/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwTiming.util.HwTimingResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_dG2c0BJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwTiming/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwDevice.HwDevicePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwDevice/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwDevice.util.HwDeviceResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_ja8REBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwDevice/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_ZJjPoEIbEd6dmI2dd6jVFQ"
            uri="http://www.eclipse.org/papyrus/HwStorage/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwMemory.HwMemoryPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwMemory/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwMemory.util.HwMemoryResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_gHI-ABJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwMemory/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwStorageManager.HwStorageManagerPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwStorageManager/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwStorageManager.util.HwStorageManagerResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_hst0sBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwStorageManager/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_R7sL8BJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwPhysical/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwLayout.HwLayoutPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwLayout/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwLayout.util.HwLayoutResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_uAf6gBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwLayout/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwPower.HwPowerPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwPower/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwPower.util.HwPowerResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_vrbyUBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwPower/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwGeneral.HwGeneralPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwGeneral/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwGeneral.util.HwGeneralResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_WGZ44BJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwGeneral/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_3VS0wAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/SRM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_ResourceCore.SW_ResourceCorePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_ResourceCore/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_ResourceCore.util.SW_ResourceCoreResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_-1fcUBJdEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_ResourceCore/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Concurrency.SW_ConcurrencyPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_Concurrency/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Concurrency.util.SW_ConcurrencyResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_A_vtYBJeEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_Concurrency/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Brokering.SW_BrokeringPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_Brokering/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Brokering.util.SW_BrokeringResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_Cf874BJeEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_Brokering/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Interaction.SW_InteractionPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_Interaction/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Interaction.util.SW_InteractionResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_EIfnABJeEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_Interaction/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.GCM.GCMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/GCM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.GCM.util.GCMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_YgAioAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/GCM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.GQAM.GQAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/GQAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.GQAM.util.GQAMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_4bV20APMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/GQAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.SAM.SAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.SAM.util.SAMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_5ZCOIAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/SAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.PAM.PAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/PAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.PAM.util.PAMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_6c2bkAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/PAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.RSM.RSMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/RSM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.RSM.util.RSMResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_DIIJoAPNEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/RSM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_CHiIYA-LEdyNj8xzjk-DoA"
            uri="http://www.eclipse.org/papyrus/VSL/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.DataTypes.DataTypesPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/DataTypes/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.DataTypes.util.DataTypesResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_9FdqwA-MEdyLh7muGbCqMw"
            uri="http://www.eclipse.org/papyrus/DataTypes/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.Variables.util.VariablesResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_9UgzYA-MEdyLh7muGbCqMw"
            uri="http://www.eclipse.org/papyrus/Variables/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.Variables.VariablesPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Variables/1">
      </package>
   </extension>

</plugin>
