<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Core Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.papyrus.example.sashwindows.simpleeditor.editors.MultiPageEditorContributor"
            class="org.eclipse.papyrus.example.sashwindows.simpleeditor.editors.SimpleTextMultiPageEditor"
            id="org.eclipse.papyrus.example.core.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Core Editor Wizards"
            id="org.eclipse.papyrus.example.core">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="org.eclipse.papyrus.example.core"
            class="org.eclipse.papyrus.example.sashwindows.simpleeditor.wizards.MultiPageEditorNewWizard"
            id="org.eclipse.papyrus.example.core.wizards.MultiPageEditorNewWizard">
      </wizard>
   </extension>

</plugin>
