<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <category id="org.eclipse.papyrus.uml.controlmode.profile/duplicateProfileApplication" mandatory="false" name="duplicateProfileApplication">
         <![CDATA[Validate that Profile Application is correctly duplicated on controlled Packages]]>
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.eclipse.org/uml2/3.0.0/UML"/>
         <constraints categories="org.eclipse.papyrus.uml.controlmode.profile/duplicateProfileApplication">
         <constraint id="org.eclipse.papyrus.uml.controlmode.profile.validation.ProfileApplicationDuplicationChecker"
            lang="Java"
            name="ProfileApplicationDuplicationChecker"
            class="org.eclipse.papyrus.uml.controlmode.profile.validation.ProfileApplicationDuplicationChecker"
            mode="Live"
            severity="ERROR" statusCode="200">
            <description><![CDATA[Profile Applications must be duplicated on controlled Packages]]></description>
            <message><![CDATA[Profile Applications modification did not successfully completed]]></message>
            <target class="uml.ProfileApplication"/>
            <target class="uml.Package"/>
         </constraint>
         </constraints>
      </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext default="false" id="org.eclipse.papyrus.controlmodeDefaultCtx">
         <selector class="org.eclipse.papyrus.uml.controlmode.profile.providers.UMLValidationProvider$DefaultCtx"/>
      </clientContext>
      <binding context="org.eclipse.papyrus.controlmodeDefaultCtx">
         <constraint ref="org.eclipse.papyrus.uml.controlmode.profile.validation.ProfileApplicationDuplicationChecker"/>
      </binding>
   </extension>

   <extension point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="org.eclipse.papyrus.controlmodeDefaultCtx"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.participant">
      <participant
            class="org.eclipse.papyrus.uml.controlmode.profile.UMLProfileControlParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.emf.readonly.readOnlyHandler">
      <readOnlyHandler
            class="org.eclipse.papyrus.uml.controlmode.profile.ControlledElementReadOnlyHandler"
            id="org.eclipse.papyrus.uml.controlmode.profile.ControlledElementReadOnlyHandler"
            priority="50">
      </readOnlyHandler>
   </extension>

</plugin>
