<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.layouttool.algorithms">
      <client
            class="org.eclipse.papyrus.layouttool.algorithms.radialalgorithm.RadialAlgorithm"
            icon="icons/radialAlgorithm3.gif"
            name="Radial"
            toolTipText="A radial algorithm applies a tree layout to graph nodes, and then displays the tree in a circular fashion with the roots in the centre">
      </client>
   </extension>

</plugin>
