<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.eclipse.papyrus.uml.service.validation.handler.ValidateModelHandler"
          commandId="org.eclipse.papyrus.validation.ValidateModelCommand">
       <activeWhen>
       <with
              variable="selection">
           <iterate
                 ifEmpty="false"
                 operator="or">
              <adapt
                    type="org.eclipse.emf.ecore.EObject">
                 <instanceof
                       value="org.eclipse.uml2.uml.Element">
                 </instanceof>
              </adapt>
           </iterate>
        </with>
        </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.uml.service.validation.handler.ValidateSubtreeHandler"
          commandId="org.eclipse.papyrus.validation.ValidateSubtreeCommand">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.emf.ecore.EObject">
                   <instanceof
                         value="org.eclipse.uml2.uml.Element">
                   </instanceof>
                </adapt>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.uml.service.validation.handler.SelectAndValidateSubtreeHandler"
          commandId="org.eclipse.papyrus.validation.SelectAndValidateSubtreeCommand">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.emf.ecore.EObject">
                   <instanceof
                         value="org.eclipse.uml2.uml.Element">
                   </instanceof>
                </adapt>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.uml.service.validation.handler.SelectAndValidateModelHandler"
          commandId="org.eclipse.papyrus.validation.SelectAndValidateModelCommand">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.emf.ecore.EObject">
                   <instanceof
                         value="org.eclipse.uml2.uml.Element">
                   </instanceof>
                </adapt>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.uml.service.validation.handler.ValidateDelMarkersFromModelHandler"
          commandId="org.eclipse.papyrus.validation.ValidateDelMarkersFromModelCommand">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.emf.ecore.EObject">
                   <instanceof
                         value="org.eclipse.uml2.uml.Element">
                   </instanceof>
                </adapt>
             </iterate>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.validation.ValidateDelMarkersFromSubtreeCommand"
          commandId="org.eclipse.papyrus.uml.service.validation.handler6">
       <activeWhen>
          <with
                variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.emf.ecore.EObject">
                   <instanceof
                         value="org.eclipse.uml2.uml.Element">
                   </instanceof>
                </adapt>
             </iterate>
          </with>
       </activeWhen>
    </handler>
 </extension>
</plugin>
