<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.service.validation.handler.ValidateModelHandler"
            description="ValidateModel"
            id="org.eclipse.papyrus.validation.ValidateModelCommand"
            name="ValidateModel">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.service.validation.handler.ValidateSubtreeHandler"
            description="ValidateSubtree"
            id="org.eclipse.papyrus.validation.ValidateSubtreeCommand"
            name="ValidateSubtree">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.service.validation.handler.SelectAndValidateSubtreeHandler"
            description="SelectAndValidate"
            id="org.eclipse.papyrus.validation.SelectAndValidateSubtreeCommand"
            name="SelectAndValidate">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.service.validation.handler.SelectAndValidateModelHandler"
            description="SelectAndValidate"
            id="org.eclipse.papyrus.validation.SelectAndValidateModelCommand"
            name="SelectAndValidate">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.service.validation.handler.ValidateDelMarkersFromModelHandler"
            description="ValidateDelMarkersFromModel"
            id="org.eclipse.papyrus.validation.ValidateDelMarkersFromModelCommand"
            name="ValidateDelMarkersFromModel">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.uml.service.validation.handler.ValidateDelMarkersFromSubtreeHandler"
            description="ValidateDelMarkersFromSubtree"
            id="org.eclipse.papyrus.validation.ValidateDelMarkersFromSubtreeCommand"
            name="ValidateDelMarkersFromSubtree">
      </command>
   </extension>
</plugin>
