<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="markereventlistener" name="MarkerEventListener" schema="schema/markereventlistener.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="org.eclipse.papyrus.infra.services.markerlistener.MarkersMonitorService"
            priority="1"
            startKind="startup">
      </service>
   </extension>
</plugin>
