<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.papyrus.views.category"
            class="org.eclipse.papyrus.infra.gmfdiag.css.debug.views.CSSDebugView"
            icon="icons/sourceEditor.gif"
            id="org.eclipse.papyrus.infra.gmfdiag.css.debug.view"
            name="CSS Debug"
            restorable="true">
      </view>
   </extension>

</plugin>
