<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="org.eclipse.papyrus.compare.PapyrusMatchEngine"
            fileExtension="uml"
            label="Papyrus Matching Engine"
            priority="highest"/>
   </extension>
  <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="org.eclipse.papyrus.compare.PapyrusDiffEngine"
            priority="highest"
            icon="icons/DiffEngine.gif"
            label="Papyrus Differencing Engine"/>
   </extension>
  <!--<extension
        point="org.eclipse.emf.compare.ui.export">
     <action
           class="org.eclipse.papyrus.compare.action.ExportAsGenReportAction"
           fileExtension="uml"
           id="org.eclipse.papyrus.compare.exportAsHTMLAction">
     </action>
  </extension>-->

</plugin>
