<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="org.eclipse.papyrus.compare.PapyrusMatchEngine"
            fileExtension="uml"
            label="Papyrus Matching Engine"
            priority="highest"/>
   </extension>

</plugin>
