<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="org.eclipse.papyrus.compare.PapyrusMatchEngine"
            fileExtension="uml"
            label="Papyrus Matching Engine"
            priority="highest"/>
   </extension>
  <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="org.eclipse.papyrus.compare.diff.PapyrusDiffEngine"
            priority="highest"
            icon="icons/DiffEngine.gif"
            label="Papyrus Differencing Engine"/>
   </extension>
   
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.papyrus.compare.ui.viewer.content.UMLModelContentMergeViewerCreator"
            extensions="uml"
            id="org.eclipse.papyrus.compare.ui.viewer.content.UMLModelContentMergeViewer"/>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem"
            nameFilter="*"
            id="org.eclipse.papyrus.domaincodegen.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.papyrus.compare.menu" label="Papyrus Compare" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.papyrus.compare.content.CompareTwoElementsAction"
               enablesFor="2"
               id="org.eclipse.papyrus.compare.action.CompareTwoElementsAction"
               icon="icons/export_as_html.gif"
               label="Compare two models"
               menubarPath="org.eclipse.papyrus.compare.menu/compare"/>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.emf.compare.diff.extension">
      <diffExtension
            extensionClass="org.eclipse.papyrus.compare.diff.ChangeTaggedValueExtension"
            fileExtension="uml">
      </diffExtension>
   </extension>


</plugin>
