<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.gmt.modisco.infra.browser.custom.core.registration">
      <browserCustomization file="resources/SysMLDefaultExplorerCustomization.uiCustom"/>
   </extension>
   <extension point="org.eclipse.gmt.modisco.infra.query.registration">
      <modelqueryset file="resources/SysMLDefaultExplorerQueries.querySet"/>
   </extension>
</plugin>
