<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset
            file="resources/TableEFacet_Facet.facetSet">
      </facetset>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset
            file="resources/TableEFacetQuery.querySet">
      </modelqueryset>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/TableEFacetCustomization.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/TableEFacet_FacetCustomization.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>

</plugin>
