<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/sashdi"
            class="org.eclipse.papyrus.infra.core.sashwindows.di.DiPackage"
            genModel="model/sashwindowsdi.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated sashwindowsdi -->
      <parser
            type="di"
            class="org.eclipse.papyrus.infra.core.sashwindows.di.util.DiResourceFactoryImpl"/>
   </extension>

</plugin>
