<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
########################################################################################
#
# Copyright (c) 2009 Obeo.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
# 
# Contributors:
#     Obeo - initial API and implementation
########################################################################################
-->
<plugin>
   <extension-point id="actionHandler" name="ActionHandler" schema="schema/org.eclipse.papyrus.navigator.actionHandler.exsd"/>
   <extension-point id="providerAdapterFactory" name="providerAdapterFactory" schema="schema/providerAdapterFactory.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.papyrus.views.category"
            class="org.eclipse.papyrus.navigator.ModelNavigator"
            icon="icons/ModelExplorer.gif"
            id="org.eclipse.papyrus.navigator.modelExplorer"
            name="Model Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.papyrus.navigator.modelExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.papyrus.navigator.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.papyrus.navigator.providers.UMLContentProvider">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.papyrus.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.papyrus.navigator.dnd.CommonDragAdapterAssistant"
            viewerId="org.eclipse.papyrus.navigator.dnd.dragAssistant">
      </dragAssistant>
      <viewerActionBinding
            viewerId="org.eclipse.papyrus.navigator.modelExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.papyrus.navigator.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.papyrus.navigator.providers.UMLContentProvider"
            id="org.eclipse.papyrus.navigator.providers.UMLContentProvider"
            labelProvider="org.eclipse.papyrus.navigator.providers.UMLLabelProvider"
            name="UML Logical View"
            priority="normal">
          <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IWorkspaceRoot">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.resource.Resource">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.resource.Resource">
               </adapt>
               <adapt
                     type="org.eclipse.papyrus.navigator.providers.PackagingNode">
               </adapt>
            </or>
         </possibleChildren>
         <actionProvider
               class="org.eclipse.papyrus.navigator.actions.CreateChildActionProvider"
               id="org.eclipse.papyrus.navigator.actions.CreateChildActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.papyrus.navigator.actions.GenericTransformActionProvider"
               id="org.eclipse.papyrus.navigator.actions.GenericTransformActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.papyrus.navigator.actions.CreateDiagramActionProvider"
               id="org.eclipse.papyrus.navigator.actions.CreateDiagramActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.papyrus.navigator.actions.EditingDomainActionProvider"
               id="org.eclipse.papyrus.navigator.actions.EditingDomainActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.papyrus.navigator.actions.DiagramActionProvider"
               id="org.eclipse.papyrus.navigator.actions.DiagramActionProvider">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.gmf.runtime.notation.Diagram">
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <commonSorter
               class="org.eclipse.papyrus.navigator.sorters.UMLViewerSorter">
            <parentExpression>
               <or>
                  <adapt
                        type="java.lang.Object">
                  </adapt>
                  <instanceof
                        value="java.lang.Object">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <dropAssistant
               class="org.eclipse.papyrus.navigator.dnd.CommonDropAdapterAssistant"
               id="org.eclipse.papyrus.navigator.dnd.dropAssistant">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            class="org.eclipse.papyrus.navigator.filters.HideDiagramsViewerFilter"
            description="Hide Diagrams items in the navigator"
            id="org.eclipse.papyrus.navigator.filters.HideDiagramsViewerFilter"
            name="Diagrams">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.navigator.filters.HideProfileApplicationsViewerFilter"
            description="Hide Profile Applications items in the navigator"
            id="org.eclipse.papyrus.navigator.filters.HideProfileApplicationsViewerFilter"
            name="Profile Applications">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.navigator.filters.HideAdditionalResourcesViewerFilter"
            description="Hide Additional Resources items in the navigator"
            id="org.eclipse.papyrus.navigator.filters.HideAdditionalResourcesViewerFilter"
            name="Additional Resources">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.navigator.filters.HideEAnnotationsViewerFilter"
            description="Hide EAnnotations items in the navigator"
            id="org.eclipse.papyrus.navigator.filters.HideEAnnotationsViewerFilter"
            name="EAnnotations">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.navigator.filters.DiResourceFilter"
            description="Hides the .uml and .notation associated to a .di"
            id="org.eclipse.papyrus.navigator.filters.DiResourceFilter"
            name="Di Resources">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.papyrus.navigator.actionHandler">
      <customAction
            actionHandler="org.eclipse.papyrus.navigator.factory.RenameActionFactory"
            actionId="org.eclipse.papyrus.navigator.factory.renameAction"
            needSeparator="true">
      </customAction>
      <customAction
            actionHandler="org.eclipse.papyrus.navigator.factory.DefaultEMFActionsFactory"
            actionId="org.eclipse.papyrus.navigator.factory.defaultEMFActions"
            afterAction="org.eclipse.papyrus.navigator.factory.renameAction"
            needSeparator="true">
      </customAction>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.eclipse.papyrus.navigator.internal.ltk.DeleteModelParticipant"
            id="org.eclipse.papyrus.navigator.internal.ltk.DeleteModelParticipant"
            name="Papyrus Model Deletion">
         <enablement>
			<with variable="element">
			   <instanceof value="org.eclipse.core.resources.IFile"/>
			</with>
         </enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.eclipse.papyrus.navigator.internal.ltk.MoveModelParticipant"
            id="org.eclipse.papyrus.navigator.internal.ltk.MoveModelParticipant"
            name="Papyrus Model Move">
         <enablement>
			<with variable="element">
			   <instanceof value="org.eclipse.core.resources.IFile"/>
			</with>
         </enablement>
      </moveParticipant>
   </extension>
  <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.papyrus.navigator.internal.ltk.RenameModelParticipant"
            id="org.eclipse.papyrus.navigator.internal.ltk.RenameModelParticipant"
            name="Papyrus Model Renaming">
         <enablement>
			<with variable="element">
			   <instanceof value="org.eclipse.core.resources.IFile"/>
			</with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
		<?gmfgen generated="false"?>
		<initializer class="org.eclipse.papyrus.navigator.preferences.NavigatorPreferenceInitializer"/>
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.eclipse.papyrus.preferences.generalcategory"
            class="org.eclipse.papyrus.navigator.preferences.NavigatorPreferencePage"
            id="org.eclipse.papyrus.navigator.preferences.NavigatorPreferencePage"
            name="Model Explorer">
      </page>
   </extension>
</plugin>
