<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a SysML Allocation NatTable Editor"
            id="org.eclipse.papyrus.sysml.nattable.allocation.create.command"
            name="Create a new Allocation Table">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.papyrus.sysml.nattable.allocation.create.command"
            icon="icons/table_SysML_Allocation_new.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.papyrus.sysml.nattable.allocation.create.command">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
         <class
               class="org.eclipse.papyrus.infra.nattable.common.handlers.CreateNatTableEditorHandler">
            <parameter
                  name="tableType"
                  value="PapyrusSysMLAllocationTable">
            </parameter>
         </class>
      </handler>
   </extension>

</plugin>
