<?xml version="1.0" encoding="UTF-8" standalone="no"?><?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.papyrus.views.properties.context">
	<context
		contextModel="/propertyView/dsmlvalidationproperties/dsmlvalidationproperties.ctx"
		isCustomizable="true"/></extension>
</plugin>
