<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.diagram.umltools.clazz.CreateClassDiagramHandler"
            commandId="org.eclipse.papyrus.diagram.umltools.clazz.handler.createDiagram">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.papyrus.ui.menu">
         <menu
               id="org.eclipse.papyrus.diagram.ui.menu.umltools.diagrams"
               label="umlTools Diagrams">
            <command
                  commandId="org.eclipse.papyrus.diagram.umltools.clazz.handler.createDiagram"
                  icon="icons/ClassDiagram.gif"
                  label="Create a new Class Diagram"
                  style="push"
                  tooltip="Create a new Class Diagram">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.papyrus.diagram.ui.toolbar">
            <command
                  commandId="org.eclipse.papyrus.diagram.umltools.clazz.handler.createDiagram"
                  icon="icons/ClassDiagram.gif"
                  label="Create a new Class Diagram"
                  style="push"
                  tooltip="Create a new umltools Class Diagram">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.diagram.umltools.clazz.handler.createDiagram"
            name="Create class diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.diagram.umltools.clazz.ClassDiagramEditorFactory"
            icon="icons/ClassDiagram.gif">
      </editorDiagram>
   </extension>

</plugin>
