/BaseItemSemanticEditPolicy.java
/CompartmentItemSemanticEditPolicy.java
/DiagramItemSemanticEditPolicy.java
/LinkItemSemanticEditPolicy.java
/NodeItemSemanticEditPolicy.java
/childContainerCreateCommand.java
/linkCommands.java
