<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
   <extension-point id="ConstraintEnvironment" name="ConstraintEnvironment" schema="schema/ConstraintEnvironment.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.eclipse.papyrus.infra.constraints.ConstraintsPackage" genModel="Model/Constraints.genmodel" uri="http://www.eclipse.org/papyrus/constraints/0.9"/>
      <package
            class="org.eclipse.papyrus.infra.constraints.environment.EnvironmentPackage"
            genModel="Model/Constraints.genmodel"
            uri="http://www.eclipse.org/papyrus/constraints/environment/0.9">
      </package>
   </extension>

   <!-- TODO: EMF-FACET update uicustom
   <extension
         point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="custom/constraints.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>
   -->
   <extension
         point="org.eclipse.papyrus.infra.constraints.ConstraintEnvironment">
      <environment
            environmentModel="Model/ConstraintEnvironment.xmi">
      </environment>
   </extension>

</plugin>
