<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.emf.compare.diff.mergerprovider" name="org.eclipse.papyrus.infra.emf.compare.diff.mergerprovider" schema="schema/org.eclipse.papyrus.infra.emf.compare.diff.mergerprovider.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.emf.compare.diff.mergerprovider">
      <mergerprovider
            mergerProviderClass="org.eclipse.papyrus.infra.emf.compare.diff.internal.provider.DefaultTransactionalMergerProvider"
            new_attribute="org.eclipse.papyrus.infra.emf.compare.diff.TransactionalMergerProvider1">
      </mergerprovider>
   </extension>


</plugin>
