<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.uml.table.efacet.generic.factory.GenericTableEditorFactory"
            icon="icons/generic_UML_table.png">
      </editorDiagram>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new UML Table Editor (Generic)"
            id="org.eclipse.papyrus.uml.generic.table.command"
            name="Create a UML Table Editor (Generic)">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new UML Table Editor (Generic)  Without Dialog"
            id="org.eclipse.papyrus.uml.generic.table.command.withoutdialog"
            name="Create a UML Table Editor (Generic) Without Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.table.efacet.generic.handlers.CreateGenericTableEditorHandler"
            commandId="org.eclipse.papyrus.uml.generic.table.command">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.uml.table.efacet.generic.handlers.CreateGenericTableEditorHandler"
            commandId="org.eclipse.papyrus.uml.generic.table.command.withoutdialog">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="create.table.menus"
         name="Create Table Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.table.efacet.creation">
         <command
               commandId="org.eclipse.papyrus.uml.generic.table.command"
               icon="icons/generic_UML_table.png"
               label="UML Generic Table"
               mnemonic="&amp;G"
               style="push"
               tooltip="Create a new UML Generic Table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.papyrus.ui.menu.efacet.table.creation">
         <command
               commandId="org.eclipse.papyrus.uml.generic.table.command"
               icon="icons/generic_UML_table.png"
               label="UML Generic Table"
               mnemonic="&amp;G"
               style="push"
               tooltip="Create a new UML Generic Table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.papyrus.toolbar.table.efacet.creation">
         <command
               commandId="org.eclipse.papyrus.uml.generic.table.command"
               icon="icons/generic_UML_table.png"
               label="UML Generic Table"
               mnemonic="&amp;G"
               style="push"
               tooltip="Create a new UML Generic Table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
