<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="1700"
            provider="org.eclipse.papyrus.sysml.nattable.provider.SysMLFlowPortDirectionLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.body.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.sysml.nattable.common.stereotype.property.cell.manager"
            manager="org.eclipse.papyrus.sysml.nattable.manager.SysMLStereotypePropertyCellManager"
            order="250">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.sysml.nattable.requirement.axis.manager"
            manager="org.eclipse.papyrus.sysml.nattable.axis.manager.RequirementAxisManager">
      </axisManager>
   </extension>
</plugin>
