<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension-point id="propertyEditorProvider" name="propertyEditorProvider" schema="schema/propertyEditorProvider.exsd"/>
   <extension-point id="propertyEditorControllerProvider" name="propertyEditorControllerProvider" schema="schema/propertyEditorControllerProvider.exsd"/>
   <extension-point id="propertyViewProvider" name="propertyViewProvider" schema="schema/propertyViewProvider.exsd"/>
   <extension-point id="propertyModelHandler" name="propertyModelHandler" schema="schema/propertyModelHandler.exsd"/>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyEditorProvider">
   <propertyEditorProvider
         class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.PropertyEditorProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyEditor
            allowMultiValue="false"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.TextPropertyEditor"
            description="This editor allows edition of String-valued properties"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.PropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.textPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.NullPropertyEditorTypeValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="false"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.ComboPropertyEditor"
            description="This is the basic combo to edit enumeration"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.ComboPropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.comboPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.PropertyEditorTypeValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="false"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.RadioBoxPropertyEditor"
            description="This editor displays a list of radio buttons, where only one can be selected."
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.ComboPropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.radioBoxPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.PropertyEditorTypeValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="false"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.GroupedRadioBoxPropertyEditor"
            description="This editor is a group, filled with radioBox buttons"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.RadioBoxPropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.groupedRadioBoxPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.PropertyEditorTypeValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="false"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.SimpleReferencePropertyEditor"
            description="This is a basic editor for simple references value"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.SimpleReferencePropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.simpleReferencePropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.SimpleReferencePropertyEditorValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="true"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.MultipleReferencePropertyEditor"
            description="This is a basic editor for multiple references value"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.MultipleReferencePropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.multipleReferencePropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.MultipleReferencePropertyEditorValidator">
      </PropertyEditor>
       <PropertyEditor
            allowMultiValue="true"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.MultipleStructuralFeaturesPropertyEditor"
            description="This is a basic editor for multiple structural features values"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.MultipleStructuralFeaturesPropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.multipleStructuralFeaturesPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.MultipleStructuralFeaturesPropertyEditorValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="true"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.MultiplePrimitiveTypedPropertyEditor"
            description="This is a basic editor for multiple primitive typed values"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.MultiplePrimitiveTypedPropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.multiplePrimitiveTypedPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.MultiplePrimitiveTypedPropertyEditorValidator">
      </PropertyEditor>
      <PropertyEditor
            allowMultiValue="true"
            class="org.eclipse.papyrus.views.properties.runtime.propertyeditor.NullPropertyEditor"
            description="Property Editor that displays no information, only an empty composite"
            factory="org.eclipse.papyrus.views.properties.runtime.propertyeditor.descriptor.PropertyEditorDescriptorFactory"
            id="org.eclipse.papyrus.views.properties.runtime.nullPropertyEditor"
            typeValidator="org.eclipse.papyrus.views.properties.runtime.propertyeditor.NullPropertyEditorTypeValidator">
      </PropertyEditor>
   </propertyEditorProvider>
</extension>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyEditorControllerProvider">
   <propertyEditorControllerProvider
         class="org.eclipse.papyrus.views.properties.runtime.controller.PropertyEditorControllerProvider"
         id="propertyEditorController"
         description="provider for emf structural features, using transactionnal editing domain">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyEditorController
            class="org.eclipse.papyrus.views.properties.runtime.controller.EMFTStructuralFeatureController"
            description="This is an EMFT controller, for direct structural features"
            factory="org.eclipse.papyrus.views.properties.runtime.controller.descriptor.EMFTPropertyEditorControllerDescriptorFactory"
            id="emftStructuralFeatureController">
      </PropertyEditorController>
      <PropertyEditorController
            class="org.eclipse.papyrus.views.properties.runtime.controller.EMFTEReferenceController"
            description="Controller for references"
            factory="org.eclipse.papyrus.views.properties.runtime.controller.descriptor.EMFTPropertyEditorControllerDescriptorFactory"
            id="emftEReferenceController">
      </PropertyEditorController>
        <PropertyEditorController
            class="org.eclipse.papyrus.views.properties.runtime.controller.EMFTBindingEReferenceController"
            description="Controller for references using binding label provider"
            factory="org.eclipse.papyrus.views.properties.runtime.controller.descriptor.EMFTBindingPropertyEditorControllerDescriptorFactory"
            id="emftBindingEReferenceController">
      </PropertyEditorController>
      <PropertyEditorController
            class="org.eclipse.papyrus.views.properties.runtime.controller.EMFTLabelProviderStructuralFeatureController"
            description="Controller for structural features with a label provider"
            factory="org.eclipse.papyrus.views.properties.runtime.controller.descriptor.EMFTPropertyEditorControllerDescriptorFactory"
            id="emftLabelProviderStructuralFeatureController">
      </PropertyEditorController>
      <PropertyEditorController
            class="org.eclipse.papyrus.views.properties.runtime.controller.NullPropertyEditorController"
            factory="org.eclipse.papyrus.views.properties.runtime.controller.descriptor.NullPropertyEditorControllerDescriptorFactory"
            id="nullPropertyEditorController">
      </PropertyEditorController>
      </propertyEditorControllerProvider>
</extension>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyModelHandler">
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.BooleanEMFModelHandlerFactory"
         description="this is the standard model controller for EMF boolean-typed features"
         id="Boolean"
         name="Boolean EMF Model Handler">
   </propertyModelHandler>
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.StringEMFModelHandlerFactory"
         description="this is the standard model controller for EMF String-typed features"
         id="String"
         name="String EMF Model Handler">
   </propertyModelHandler>
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.EnumerationEMFModelHandlerFactory"
         description="this is the standard model controller for EMF enumeration-typed features"
         id="Enumeration"
         name="Enumeration EMF Model Handler">
   </propertyModelHandler>
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.ReferenceEMFModelHandlerFactory"
         description="this is the standard model controller for EMF references"
         id="Reference"
         name="Reference EMF Model Handler">
   </propertyModelHandler>
    <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.BooleanStereotypeModelHandlerFactory"
         description="this is the standard model controller for EMF boolean-typed stereotype features"
         id="BooleanStereotype"
         name="Boolean Stereotype Model Handler">
   </propertyModelHandler>
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.StringStereotypeModelHandlerFactory"
         description="this is the standard model controller for EMF String-typed stereotype features"
         id="StringStereotype"
         name="String Stereotype Model Handler">
   </propertyModelHandler>
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.EnumerationStereotypeModelHandlerFactory"
         description="this is the standard model controller for EMF enumeration-typed stereotype features"
         id="EnumerationStereotype"
         name="Enumeration Stereotype Model Handler">
   </propertyModelHandler>
   <propertyModelHandler
         class="org.eclipse.papyrus.views.properties.runtime.modelhandler.emf.ReferenceStereotypeModelHandlerFactory"
         description="this is the standard model controller for EMF stereotype references"
         id="ReferenceStereotype"
         name="Reference Stereotype Model Handler">
   </propertyModelHandler>
</extension>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyEditorControllerProvider">
   <propertyEditorControllerProvider
         class="org.eclipse.papyrus.views.properties.runtime.controller.predefined.PredefinedPropertyControllerProvider"
         description="These are the basic predefined controllers for all runtime views"
         id="org.eclipse.papyrus.views.properties.runtime.predefinedControllers">
      <Priority
            name="Lowest">
      </Priority>
      <PredefinedControllers
            id="org.eclipse.papyrus.views.properties.runtime.predefinedControllers"
            name="Standard Controllers"
            path="resources/predefined_controllers.xml">
      </PredefinedControllers>
   </propertyEditorControllerProvider>
</extension>
</plugin>
