<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2009 Mia-Software.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Frederic MADIOT (Mia-Software) - meta-model design
     Gregoire DUPE (Mia-Software) - design and implementation
 

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.facet.infra.facet.editor.presentation.FacetModelWizardID"
            name="%_UI_FacetModelWizard_label"
            class="org.eclipse.emf.facet.infra.facet.editor.presentation.FacetModelWizard"
            category="org.eclipse.emf.facet.infra.wizard.category"
            icon="icons/full/wizban/NewFacet.gif">
         <description>%_UI_FacetModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.facet.infra.facet.editor.presentation.FacetEditorID"
            name="%_UI_FacetEditor_label"
            icon="icons/full/obj16/Facet.gif"
            extensions="facetSet"
            class="org.eclipse.emf.facet.infra.facet.editor.presentation.FacetEditor"
            contributorClass="org.eclipse.emf.facet.infra.facet.editor.presentation.FacetActionBarContributor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.facet.infra.facet.contenttype">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
