<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Diagram declaration -->
<extension point="org.eclipse.papyrus.infra.core.papyrusDiagram">
	<creationCommand creationCommandClass="org.eclipse.papyrus.sysml.diagram.internalblock.InternalBlockDiagramCreateCommand" creationCondition="org.eclipse.papyrus.sysml.diagram.internalblock.InternalBlockDiagramCondition" icon="icons/obj16/Diagram_InternalBlock.gif" id="org.eclipse.papyrus.sysml.diagram.internalblock.CreateCommand" language="sysml" label="SysML Internal Block Diagram"></creationCommand>
	<editorDiagram actionBarContributorId="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor" factoryClass="org.eclipse.papyrus.sysml.diagram.internalblock.InternalBlockDiagramEditorFactory" icon="icons/obj16/Diagram_InternalBlock.gif"></editorDiagram>
</extension>

<!-- Diagram creation command and handler -->
<extension point="org.eclipse.ui.commands">
	<command id="org.eclipse.papyrus.sysml.diagram.internalblock.CreateCommand" name="Create a new Internal Block Diagram" description="Create a new Internal Block Diagram" categoryId="org.eclipse.papyrus.editor.category"></command>
</extension>


<!-- Diagram creation command registration in menu and toolbar -->

<!-- Palette tool definition (defines tools possibly used by the palette(s)) -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders" name="SYSML_InternalBlock_Predefined_Entries" id="org.eclipse.papyrus.sysml.diagram.blockdefinition.palettedefinition"> 
		
	<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
	<Priority name="Lowest"></Priority> <!-- Lower priority than Palette tool declaration -->
	
	<!-- SysML Internal Block Diagram specific tool definition -->
	<contribution factoryClass="org.eclipse.papyrus.sysml.diagram.internalblock.factory.DiagramPaletteFactory">
			
		<!-- internalblock.tool.block -->
		<entry defineOnly="true" description="Create a Block" id="internalblock.tool.block" kind="tool" label="Block" large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif" small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif">
		</entry>
			
		<!-- internalblock.tool.blockpropertycomposite -->
		<entry defineOnly="true" description="Create a BlockPropertyComposite" id="internalblock.tool.blockpropertycomposite" kind="tool" label="BlockPropertyComposite" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif">
		</entry>
			
		<!-- internalblock.tool.flowport -->
		<entry defineOnly="true" description="Create a FlowPort" id="internalblock.tool.flowport" kind="tool" label="FlowPort" large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort.gif" small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort.gif">
		</entry>
			
		<!-- internalblock.tool.port -->
		<entry defineOnly="true" description="Create a Port" id="internalblock.tool.port" kind="tool" label="Port" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Port.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Port.gif">
		</entry>
		<!-- Start of user code Custom node button entry  -->
		
		<!-- internalblock.tool.property -->
		<entry defineOnly="true" description="Create a Property" id="internalblock.tool.property" kind="tool" label="Property" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif">
		</entry>
		
		<!-- internalblock.tool.part -->
		<entry defineOnly="true" description="Create a Part" id="internalblock.tool.part" kind="tool" label="Part" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif">
		</entry>
		
		<!-- internalblock.tool.reference -->
		<entry defineOnly="true" description="Create a Reference" id="internalblock.tool.reference" kind="tool" label="Reference" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif">
		</entry>

		<!-- internalblock.tool.actorpart -->
		<entry defineOnly="true" description="Create an ActorPart" id="internalblock.tool.actorpart" kind="tool" label="ActorPart" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif">
		</entry>
		
		<!-- internalblock.tool.value -->
		<entry defineOnly="true" description="Create a Value" id="internalblock.tool.value" kind="tool" label="Value" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif">
		</entry>
				
		<!-- internalblock.tool.flowport (IN) -->
		<entry defineOnly="true" description="Create a FlowPort (IN)" id="internalblock.tool.flowport_in" kind="tool" label="FlowPort" large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_IN.gif" small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_IN.gif">
		</entry>

		<!-- internalblock.tool.flowport (OUT) -->
		<entry defineOnly="true" description="Create a FlowPort (OUT)" id="internalblock.tool.flowport_out" kind="tool" label="FlowPort" large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_OUT.gif" small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_OUT.gif">
		</entry>
		
		<!-- internalblock.tool.flowport (INOUT) -->
		<entry defineOnly="true" description="Create a FlowPort (INOUT)" id="internalblock.tool.flowport_inout" kind="tool" label="FlowPort" large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT.gif" small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT.gif">
		</entry>

		<!-- internalblock.tool.flowport -->
		<entry defineOnly="true" description="Create a FlowPort (non atomic)" id="internalblock.tool.flowport_na" kind="tool" label="FlowPort (non atomic)" large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_NA.gif" small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_NA.gif">
		</entry>
				
		<!-- internalblock.tool.comment -->
		<entry defineOnly="true" description="Create a Comment" id="internalblock.tool.comment" kind="tool" label="Comment" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Comment.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Comment.gif">
		</entry>
		
		<!-- internalblock.tool.constraint -->
		<entry defineOnly="true" description="Create a Constraint" id="internalblock.tool.constraint" kind="tool" label="Constraint" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif">
		</entry>
								
		<!-- End of user code  -->
		
			
		<!-- internalblock.tool.connector -->
		<entry defineOnly="true" description="Create a Connector" id="internalblock.tool.connector" kind="tool" label="Connector" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Connector.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Connector.gif">
		</entry>
			
		<!-- internalblock.tool.dependency -->
		<entry defineOnly="true" description="Create a Dependency" id="internalblock.tool.dependency" kind="tool" label="Dependency" large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Dependency.gif" small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Dependency.gif">
		</entry>
		<!-- Start of user code Custom edge button entry  -->
		
		<!-- internalblock.tool.comment_constraint_link -->
		<entry defineOnly="true" description="Create a Comment / Constraint link" id="internalblock.tool.comment_constraint_link" kind="tool" label="Comment / Constraint link" large_icon="icons/obj16/Link.gif" small_icon="icons/obj16/Link.gif">
		</entry>
			
		<!-- End of user code  -->
			
	</contribution>
	
	<!-- Specify diagram this palette tools relate to -->				
	<editor id="org.eclipse.papyrus.sysml.diagram.internalblock"></editor>
	
	</paletteProvider>	
</extension>

<!-- Palette tool declaration (declares the real palette containment) -->
<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition" name="SYSML_InternalBlock">
	
	<paletteDefinition ID="SYSML_InternalBlock" class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider" name="SYSML_InternalBlock" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" path="palettes/internalblock.palette.xml" provider="CEA LIST">
		<Priority name="Low"></Priority>
		
		<!-- Specify diagram this palette tools relate to -->						
		<editor id="org.eclipse.papyrus.sysml.diagram.internalblock"></editor>
	</paletteDefinition>
</extension>

<!-- Diagram view providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">

	<!-- Diagram view provider -->
	<viewProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.InternalBlockDiagramViewProvider">
		<Priority name="Low"></Priority>
		<context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="InternalBlock"></context>
	</viewProvider>

	<!-- Custom graphical types view provider -->
	<viewProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.CustomViewProvider">
		<Priority name="Medium"></Priority>
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="UML::Property, SysML::ActorPartProperty, SysML::ValueProperty, SysML::ReferenceProperty, SysML::FlowPort_In, UML::Port, SysML::FlowPort_Out, SysML::PartProperty, SysML::FlowPort_InOut, SysML::FlowPort, SysML::Block, SysML::FlowPort_NA"></context>
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="shape_sysml_flowport_as_affixed, shape_sysml_block_as_composite, shape_uml_port_as_affixed, shape_sysml_blockproperty_as_composite, compartment_sysml_blockproperty_structure"></context>
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="UML::Dependency, UML::Connector"></context>
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="link_uml_connector, link_uml_dependency"></context>
		
		<!-- Additional descriptors provided in case the semantic hint is is not provided -->	
		
		<!-- "uml.Class" -->
		<object id="uml.Class" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Class"></method>
		</object>
		<context
        elements="uml.Class"
        viewClass="org.eclipse.gmf.runtime.notation.Node"></context>			
		
		<!-- "uml.Port" -->
		<object id="uml.Port" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Port"></method>
		</object>
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" elements="uml.Port"></context>			
		
		<!-- "uml.Property" -->
		<object id="uml.Property" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Property"></method>
		</object>
		<context viewClass="org.eclipse.gmf.runtime.notation.Node"  elements="uml.Property"></context>			
		
		<!-- "uml.Connector" -->
		<object id="uml.Connector" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Connector"></method>
		</object>
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" elements="uml.Connector"></context>			
		
		<!-- "uml.Dependency" -->
		<object id="uml.Dependency" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Dependency"></method>
		</object>
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" elements="uml.Dependency"></context>
 
 
 	 <object id="elementtype.node"
        class="org.eclipse.papyrus.gmf.diagram.common.commands.ISemanticHintAdapter(org.eclipse.papyrus.sysml.diagram.common)">
       
     <method
           name="getSemanticHint()"
           value="UML::Property, SysML::ActorPartProperty, SysML::ValueProperty, SysML::ReferenceProperty, SysML::FlowPort_In, UML::Port, SysML::FlowPort_Out, SysML::PartProperty, SysML::FlowPort_InOut, SysML::FlowPort, SysML::Block, SysML::FlowPort_NA">
     </method>
  </object>
  <context
        elements="elementtype.node"
        viewClass="org.eclipse.gmf.runtime.notation.Node">
  </context>
  <object id="elementtype.edge"
        class="org.eclipse.papyrus.gmf.diagram.common.commands.ISemanticHintAdapter(org.eclipse.papyrus.sysml.diagram.common)">
     <method
           name="getSemanticHint()"
           value="UML::Dependency, UML::Connector">
     </method>
  </object>
  <context
        elements="elementtype.edge"
        viewClass="org.eclipse.gmf.runtime.notation.Edge">
  </context>			
		
	</viewProvider>	

	<!-- ViewProvider for inherited elements (from CompositeDiagram ViewProvider) -->
	<viewProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.InheritedCompositeDiagramViewProvider">
		<Priority name="Low"></Priority>
		
		<!-- Load the ViewProvider on following SemanticHint related to IElementType(s) used in the palette (also used for legacy elements) -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="UML::Comment, UML::Constraint"></context>
		
		<!-- 
			"2109" = COMMENT
			"3097" = COMMENT_CN
			"2114" = CONSTRAINT								
			"3120" = CONSTRAINT_CN
		  -->			
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2109, 3097, 2114, 3120"></context>
		
		<!-- 
			"4002" = COMMENT_ANNOTATED_ELEMENT
			"4003" = CONSTRAINT_CONSTRAINED_ELEMENT
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4002, 4003"></context>
        
		<!-- Additional descriptors provided in case the semantic hint is is not provided -->	
		
        <!-- "uml.Comment" -->
		<object id="uml.Comment" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Comment"></method>
		</object>

        <!-- "uml.Constraint" -->
		<object id="uml.Constraint" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Constraint"></method>
		</object>

		<!-- Additional activation contexts for nodes semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" elements="uml.Comment, uml.Constraint"></context>
			
	</viewProvider>
	
</extension>

<!-- Diagram edit part providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">

	<!-- Diagram edit part provider -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.InternalBlockDiagramEditPartProvider">
		<Priority name="Low"></Priority>
		<object id="org.eclipse.papyrus.sysml.diagram.internalblock.Diagram" class="org.eclipse.gmf.runtime.notation.Diagram">
			<method name="getType()" value="InternalBlock"></method>
		</object>
		<context views="org.eclipse.papyrus.sysml.diagram.internalblock.Diagram"></context>	
	</editpartProvider>
	
	<!-- Custom graphical types edit part provider -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.CustomEditPartProvider">
		<Priority name="Medium"></Priority>
	
		<object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="org.eclipse.papyrus.sysml.diagram.internalblock.CustomNodeGraphicalTypes">
			<method name="getType()" value="shape_sysml_flowport_as_affixed, shape_sysml_block_as_composite, shape_uml_port_as_affixed, shape_sysml_blockproperty_as_composite"></method>
		</object>
		
		<object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="org.eclipse.papyrus.sysml.diagram.internalblock.CustomGraphicalTypes_Decorations">
			<method name="getType()" value="linklabel_uml_connector_target_multiplicity, label_uml_property_label, linklabel_uml_appliedstereotype, label_sysml_block_name, compartment_sysml_structure, affixedlabel_uml_port_label, linklabel_uml_connector_source_multiplicity, linklabel_uml_namedelement_name, linklabel_uml_connector_label, compartment_sysml_blockproperty_structure, affixedlabel_uml_appliedstereotype, affixedlabel_sysml_flowport_label"></method>
		</object>
		
		<context views="org.eclipse.papyrus.sysml.diagram.internalblock.CustomNodeGraphicalTypes"></context>
		<context views="org.eclipse.papyrus.sysml.diagram.internalblock.CustomGraphicalTypes_Decorations"></context>
	
		<object class="org.eclipse.gmf.runtime.notation.Edge(org.eclipse.gmf.runtime.notation)" id="org.eclipse.papyrus.sysml.diagram.internalblock.CustomEdgeGraphicalTypes">
			<method name="getType()" value="link_uml_connector, link_uml_dependency"></method>
		</object>
		
		<context views="org.eclipse.papyrus.sysml.diagram.internalblock.CustomEdgeGraphicalTypes"></context>
		
	</editpartProvider>
	
	<!-- EditPartProvider for inherited elements (from CompositeDiagram) -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.InheritedCompositeDiagramEditPartProvider">
		<Priority name="Low"></Priority>
		
		<!-- 
			The semantic hints given here are used in case the provider is not already loaded.
			As soon as the provider is loaded its provides method is used.
			"2109" = COMMENT
			"5192" = COMMENT_LABEL_BODY_HINT
			"3097" = COMMENT_CN
			"5150" = COMMENT_CN_LABEL_BODY_HINT
			"2114" = CONSTRAINT
			"5197" = CONSTRAINT_LABEL_NAME_HINT
			"6039" = CONSTRAINT_LABEL_SPECIFICATION_HINT
			"3120" = CONSTRAINT_CN
			"6048" = CONSTRAINT_CN_LABEL_NAME_HINT
			"6049" = CONSTRAINT_CN_LABEL_SPECIFICATION_HINT
		 -->			
		<object id="COMMENT" class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2109, 5192"></method>
		</object>
		<object id="COMMENT_CN" class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3097, 5150"></method>
		</object>
		<object id="CONSTRAINT" class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2114, 5197, 6039"></method>
		</object>
		<object id="CONSTRAINT_CN" class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3120, 6048, 6049"></method>
		</object>

		<!-- 	
			"4002" = COMMENT_ANNOTATED_ELEMENT
			"4003" = CONSTRAINT_CONSTRAINED_ELEMENT
		  -->
		<object id="COMMENT_ANNOTATED_ELEMENT" class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4002"></method>
		</object>
		<object id="CONSTRAINT_CONSTRAINED_ELEMENT" class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4003"></method>
		</object>

		<context views="COMMENT, COMMENT_CN, CONSTRAINT, CONSTRAINT_CN"></context>
		<context views="COMMENT_ANNOTATED_ELEMENT, CONSTRAINT_CONSTRAINED_ELEMENT"></context>
		
	</editpartProvider>
	
</extension>

<!-- Diagram edit policy provider -->	
<extension point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.CustomEditPolicyProvider">
		<Priority name="Low"></Priority>
	</editpolicyProvider>
</extension>

<!-- Preference pages declaration -->
<extension point="org.eclipse.ui.preferencePages" id="prefpages">

	<!-- Diagram Preference pages declaration -->
	<page id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" name="Internal Block Diagram" category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.InternalBlockDiagramGeneralPreferencePage">
	</page>

	<!-- Element Preference pages declaration -->
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CommentPreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CommentPreferencePage" name="Comment">
	</page>
			
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.ConstraintPreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.ConstraintPreferencePage" name="Constraint">
	</page>

	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.BlockCompositePreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.BlockCompositePreferencePage" name="Block">
	</page>
	
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.BlockPropertyCompositePreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.BlockPropertyCompositePreferencePage" name="PartAndReferences">
	</page>
		
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.BlockPropertyCompositePreferencePage" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CustomBlockPropertyCompositePreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CustomBlockPropertyCompositePreferencePage" name="block property">
	</page>

	<!--
	<page  	category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.BlockPropertyCompositePreferencePage"
		class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CustomNestedBlockPropertyCompositePreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CustomBlockPropertyCompositePreferencePage"
		name="nested property">
	</page>
	-->
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.FlowPortAsBorderItemPreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.FlowPortPreferencePage" name="FlowPort">
	</page>
			
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.PortAsBorderItemPreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.PortPreferencePage" name="Port">
	</page>
		
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.CustomConnectorPreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.ConnectorPreferencePage" name="Connector">
	</page>	
					
	<page category="org.eclipse.papyrus.sysml.diagram.internalblock.preferences" class="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.DependencyPreferencePage" id="org.eclipse.papyrus.sysml.diagram.internalblock.preferences.DependencyPreferencePage" name="Dependency">
	</page>
		

</extension>

<!-- // Start of user code custom extensions 
  -->

<!-- Insert custom extensions here. -->

<!-- 
	Handler declaration for the Interface Manager Command. 
	The handler is enabled only if the selected element is a Port (excluding FlowPort) in an InternalBlockDiagram.
  -->
<extension point="org.eclipse.ui.handlers">

	<handler commandId="org.eclipse.papyrus.sysml.diagram.internalblock.command.manage.interfaces" class="org.eclipse.papyrus.sysml.diagram.internalblock.handler.ManageProvidedInterfacesHandler">
		<activeWhen>
		<and>
			<with variable="selection">
			<iterate>
				<instanceof value="org.eclipse.papyrus.uml.diagram.common.edit.part.PortAffixedNodeEditPart"></instanceof>
			</iterate>
			</with>
			
			<with variable="activeEditor">
			<test property="org.eclipse.papyrus.uml.diagram.common.diagram.tester.diagramType" value="InternalBlock" forcePluginActivation="true"></test>
			</with>
			
			<with variable="selection">
			<test property="org.eclipse.papyrus.sysml.diagram.internalblock.tester.selection.isFlowPort" value="false" forcePluginActivation="true"></test>              
			</with>
		</and>
		</activeWhen>
	</handler>
</extension>

<!-- 
	Add a property tester for this diagram. 
	The tested properties allow to enable/disable handlers for commands .
  -->
<extension point="org.eclipse.core.expressions.propertyTesters">
	<propertyTester id="org.eclipse.papyrus.sysml.diagram.internalblock.tester.selection" type="org.eclipse.jface.viewers.ISelection" namespace="org.eclipse.papyrus.sysml.diagram.internalblock.tester.selection" properties="isFlowPort" class="org.eclipse.papyrus.sysml.diagram.internalblock.utils.InternalBlockDiagramTester">
	</propertyTester>
</extension>

<!-- The Command to manages the Provided and Required Interfaces for a Port-->
<extension point="org.eclipse.ui.commands">
	<command categoryId="org.eclipse.papyrus.editor.category" id="org.eclipse.papyrus.sysml.diagram.internalblock.command.manage.interfaces" name="Manage Provided Interfaces" description="Allows to manage easily provided Interfaces for a Port">
	</command>
</extension>

<!-- Add the Menu to manages the Provided and Required Interfaces for a Port-->
<extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?endof=editMenu" allPopups="false">
	<command commandId="org.eclipse.papyrus.sysml.diagram.internalblock.command.manage.interfaces" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Interface.gif" id="org.eclipse.papyrus.sysml.diagram.internalblock.popup.interface.manage.interface" label="Manage Interfaces" mnemonic="&amp;I" style="push" tooltip="The command to manage the interfaces provided and required by a Port">
		<!-- The action is visible only if there is an active handler for it  -->
		<visibleWhen checkEnabled="true"></visibleWhen>
	</command>
	</menuContribution>
</extension>

<!-- Parser provider declaration -->
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
	<ParserProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.ParserProvider">
		<Priority name="Low"></Priority>
	</ParserProvider>
</extension>

<!-- Diagram specific advices -->
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">

	<metamodel nsURI="http://www.eclipse.org/uml2/5.0.0/UML">

	<!-- Property specific advices (remove inconsistent views when a Property type is set) -->		
	<adviceBinding id="org.eclipse.papyrus.sysml.diagram.internalblock.PropertyHelperAdvice" class="org.eclipse.papyrus.sysml.diagram.internalblock.helper.advice.PropertyHelperAdvice" inheritance="all" typeId="org.eclipse.papyrus.uml.Property">
	</adviceBinding>
	
	<!-- Delete moved views advice -->		
	<adviceBinding id="org.eclipse.papyrus.sysml.diagram.internalblock.DeleteViewDuringMoveHelperAdvice" class="org.eclipse.papyrus.sysml.diagram.internalblock.helper.advice.DeleteViewDuringMoveHelperAdvice" inheritance="all" typeId="org.eclipse.papyrus.uml.Element">
	</adviceBinding>
				
	</metamodel>
</extension>

<!-- UML ElementType bindings to Papyrus shared IClientContext -->
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">

	<!-- Bindings declaration to shared IClientContext -->
	<binding context="org.eclipse.papyrus.infra.services.edit.TypeContext">	
		<elementType ref="org.eclipse.papyrus.sysml.diagram.internalblock.PropertyHelperAdvice"></elementType>
		<elementType ref="org.eclipse.papyrus.sysml.diagram.internalblock.DeleteViewDuringMoveHelperAdvice"></elementType>
	</binding>
		
</extension>

<!-- Service for Show/Hide content on Part or Ref. -->
<extension point="org.eclipse.ui.services">
	<sourceProvider provider="org.eclipse.papyrus.sysml.diagram.internalblock.provider.ActionStateSourceProvider">
		<variable name="showHideRelatedContents" priorityLevel="workbench"></variable>
	</sourceProvider>
</extension>

<!-- Handler for Show/Hide content on Part or Ref. -->
<extension point="org.eclipse.ui.handlers">
	<handler class="org.eclipse.papyrus.sysml.diagram.internalblock.handler.ShowHideRelatedContentsHandler" commandId="org.eclipse.papyrus.uml.diagram.menu.commands.ShowHideContentsCommand">
		<activeWhen>
		<and>
			<with variable="activeEditor">
				<test property="org.eclipse.papyrus.uml.diagram.common.diagram.tester.diagramType" value="InternalBlock" forcePluginActivation="true"></test>
			</with>	
			<with variable="showHideRelatedContents">
				<equals value="enabled"></equals>
			</with>
			<with variable="selection">
				<iterate ifEmpty="false" operator="and">
					<instanceof value="org.eclipse.papyrus.sysml.diagram.parametric.edit.part.CustomBlockCompositeEditPartTN"></instanceof>
				</iterate>
			</with>
		</and>
		</activeWhen>
	</handler>
</extension>

<!-- Validation markers declaration -->
<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
	<MarkerNavigationProvider class="org.eclipse.papyrus.gmf.diagram.common.provider.MarkerNavigationProvider">
		<MarkerType name="org.eclipse.papyrus.sysml.diagram.internalblock.diagnostic"></MarkerType>
		<Priority name="Lowest"></Priority>
	</MarkerNavigationProvider>
</extension>

<extension id="diagnostic" name="Internal Block Diagram (Incubation) problems" point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.core.resources.problemmarker"></super>
	<super type="org.eclipse.gmf.runtime.common.ui.services.marker"></super>
	<persistent value="true"></persistent>
</extension>

<extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
	<decoratorProvider class="org.eclipse.papyrus.sysml.diagram.internalblock.provider.ValidationDecoratorProvider">
		<Priority name="Lowest"></Priority>
		<object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"></object>
		<context decoratorTargets="PRIMARY_VIEW"></context>
	</decoratorProvider>
</extension>

<!-- // End of user code 
  -->
<extension point="org.eclipse.papyrus.infra.gmfdiag.common.notationTypesMapping">
   <diagramMappings diagramID="InternalBlock">
      <mapping type="InternalBlock" humanReadableType="InternalBlockDiagram"/>
      <!-- Compartments -->
      <mapping
             humanReadableType="structure"
             type="compartment_sysml_structure">
      </mapping>
      
      <mapping
             humanReadableType="structure"
             type="compartment_sysml_blockproperty_structure">
      </mapping>
   
                      <!-- Link labels -->

      <mapping
             humanReadableType="Label"
             type="affixedlabel_sysml_flowport_label">
      </mapping>
      
      <mapping
             humanReadableType="Name"
             type="affixedlabel_uml_appliedstereotype">
      </mapping>
      
      <mapping
             humanReadableType="Label"
             type="affixedlabel_uml_port_label">
      </mapping>
   
      <mapping
             humanReadableType="Stereotype"
             type="linklabel_uml_appliedstereotype">
      </mapping>
      
      <mapping
             humanReadableType="Name"
             type="linklabel_uml_connector_label">
      </mapping>
      
      <mapping
             humanReadableType="SourceMultiplicity"
             type="linklabel_uml_connector_source_multiplicity">
      </mapping>
      
      <mapping
             humanReadableType="TargetMultiplicity"
             type="linklabel_uml_connector_target_multiplicity">
      </mapping>
      
      <mapping
             humanReadableType="Name"
             type="linklabel_uml_namedelement_name">
      </mapping>
   
          </diagramMappings>
   </extension>
</plugin>
