<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

<!-- SysML ModelExplorer customization -->
<extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
	<browserCustomization
       file="resources/SysMLDefaultExplorerCustomization.uiCustom"
       loadByDefault="true"/>
</extension>
   
<extension point="org.eclipse.emf.facet.infra.query.registration">
	<modelqueryset file="resources/SysMLDefaultExplorerQueries.querySet"/>
</extension>

<!-- This declaration is added in order command (CommandHandler) status to be
     verified (isVisible and isEnabled) before any attempt to execute the command, 
     and to mask the command in case it is not supported or executable.
  -->
<extension point="org.eclipse.ui.startup">
	<startup class="org.eclipse.papyrus.sysml.modelexplorer.Activator"/>
</extension>

<!-- Creation command declarations -->
<extension point="org.eclipse.ui.handlers">

	<!-- Handler for ActorPart -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ActorPartPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ActorPartCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Allocate -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AllocateHandler" commandId="org.eclipse.papyrus.sysml.service.types.AllocateCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Association -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for AssociationComposite -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationCompositeHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationCompositeCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for AssociationCompositeDirected -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationCompositeDirectedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationCompositeDirectedCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for AssociationNone -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationNoneHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationNoneCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for AssociationNoneDirected -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationNoneDirectedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationNoneDirectedCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for AssociationShared -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationSharedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationSharedCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for AssociationSharedDirected -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationSharedDirectedHandler" commandId="org.eclipse.papyrus.sysml.service.types.AssociationSharedDirectedCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Block -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.BlockHandler" commandId="org.eclipse.papyrus.sysml.service.types.BlockCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Conform -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ConformHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConformCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
		
	<!-- Handler for ConstraintBlock -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ConstraintBlockHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConstraintBlockCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>

	<!-- Handler for ConstraintBlockParameter -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ConstraintBlockParameterHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConstraintBlockParameterCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>

	<!-- Handler for ConstraintProperty -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ConstraintPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ConstraintPropertyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Copy -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.CopyHandler" commandId="org.eclipse.papyrus.sysml.service.types.CopyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for DeriveReqt -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.DeriveReqtHandler" commandId="org.eclipse.papyrus.sysml.service.types.DeriveReqtCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Dimension -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.DimensionHandler" commandId="org.eclipse.papyrus.sysml.service.types.DimensionCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for FlowPort -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPortHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPortCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	  
	<!-- Handler for FlowPort_InOut -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_InOutHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InOutCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for FlowPort_In -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_InHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for FlowPort_Out -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_OutHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_OutCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>

	<!-- Handler for FlowPort_NA -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_NAHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_NACreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>

	<!-- Handler for FlowProperty -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowPropertyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for FlowSpecification -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowSpecificationHandler" commandId="org.eclipse.papyrus.sysml.service.types.FlowSpecificationCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ItemFlow -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ItemFlowHandler" commandId="org.eclipse.papyrus.sysml.service.types.ItemFlowCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>

	<!-- Handler for PartProperty -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.PartPropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.PartPropertyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
		
	<!-- Handler for Problem -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ProblemHandler" commandId="org.eclipse.papyrus.sysml.service.types.ProblemCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Rationale -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.RationaleHandler" commandId="org.eclipse.papyrus.sysml.service.types.RationaleCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ReferenceProperty -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ReferencePropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ReferencePropertyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Requirement -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.RequirementHandler" commandId="org.eclipse.papyrus.sysml.service.types.RequirementCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Satisfy -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.SatisfyHandler" commandId="org.eclipse.papyrus.sysml.service.types.SatisfyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Unit -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.UnitHandler" commandId="org.eclipse.papyrus.sysml.service.types.UnitCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ValueProperty -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ValuePropertyHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValuePropertyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ValueType -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ValueTypeHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValueTypeCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ValueType_Enumeration -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ValueType_EnumerationHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValueType_EnumerationCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ValueType_PrimitiveType -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ValueType_PrimitiveTypeHandler" commandId="org.eclipse.papyrus.sysml.service.types.ValueType_PrimitiveTypeCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for Verify -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.VerifyHandler" commandId="org.eclipse.papyrus.sysml.service.types.VerifyCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for View -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ViewHandler" commandId="org.eclipse.papyrus.sysml.service.types.ViewCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
	<!-- Handler for ViewPoint -->
	<handler class="org.eclipse.papyrus.sysml.modelexplorer.handler.ViewPointHandler" commandId="org.eclipse.papyrus.sysml.service.types.ViewPointCreateCommand">
    <activeWhen>
       <with
             variable="activePartId">
          <equals
                value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
          </equals>
       </with>
    </activeWhen>
	</handler>
	
</extension>

	
<!-- UI Menu declaration for creation commands -->
<extension point="org.eclipse.ui.menus">

	<!-- Sub-menu declaration -->	 
	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup" allPopups="false">
		<menu id="org.eclipse.papyrus.views.modelexplorer.popupmenu.createsysmlchild"
			label="New SysML Child">
		</menu>
	</menuContribution>
	
	<!-- Create SysML element menu content -->
	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.createsysmlchild" allPopups="false">

		<!-- Creation menu action for ActorPart -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ActorPartCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new ActorPart" style="push" tooltip="Create a new ActorPart">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Allocate -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AllocateCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Abstraction.gif" label="Create a new Allocate" style="push" tooltip="Create a new Allocate">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Association -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new Association" style="push" tooltip="Create a new Association">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationComposite -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationCompositeCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationComposite" style="push" tooltip="Create a new AssociationComposite">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationCompositeDirected -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationCompositeDirectedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationCompositeDirected" style="push" tooltip="Create a new AssociationCompositeDirected">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationNone -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationNoneCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationNone" style="push" tooltip="Create a new AssociationNone">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationNoneDirected -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationNoneDirectedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationNoneDirected" style="push" tooltip="Create a new AssociationNoneDirected">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationShared -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationSharedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationShared" style="push" tooltip="Create a new AssociationShared">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationSharedDirected -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.AssociationSharedDirectedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationSharedDirected" style="push" tooltip="Create a new AssociationSharedDirected">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Block -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.BlockCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif" label="Create a new Block" style="push" tooltip="Create a new Block">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Conform -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ConformCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Conform.gif" label="Create a new Conform" style="push" tooltip="Create a new Conform">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ConstraintBlock -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ConstraintBlockCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/constraints/ConstraintBlock.gif" label="Create a new ConstraintBlock" style="push" tooltip="Create a new ConstraintBlock">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for ConstraintBlock Parameter -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ConstraintBlockParameterCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Parameter" style="push" tooltip="Create a new Parameter">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for ConstraintProperty -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ConstraintPropertyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/constraints/ConstraintProperty.gif" label="Create a new ConstraintProperty" style="push" tooltip="Create a new ConstraintProperty">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Copy -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.CopyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Copy.gif" label="Create a new Copy" style="push" tooltip="Create a new Copy">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for DeriveReqt -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.DeriveReqtCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/DeriveReqt.gif" label="Create a new DeriveReqt" style="push" tooltip="Create a new DeriveReqt">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Dimension -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.DimensionCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Dimension.gif" label="Create a new Dimension" style="push" tooltip="Create a new Dimension">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowPort -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowPortCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort.gif" label="Create a new FlowPort" style="push" tooltip="Create a new FlowPort">
			<visibleWhen checkEnabled="true"/>
		</command>
		  
		<!-- Creation menu action for FlowPort_InOut -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InOutCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT.gif" label="Create a new FlowPort_InOut" style="push" tooltip="Create a new FlowPort_InOut">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowPort_In -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_IN.gif" label="Create a new FlowPort_In" style="push" tooltip="Create a new FlowPort_In">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowPort_Out -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_OutCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_OUT.gif" label="Create a new FlowPort_Out" style="push" tooltip="Create a new FlowPort_Out">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for FlowPort_NA -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_NACreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_NA.gif" label="Create a new FlowPort (non atomic)" style="push" tooltip="Create a new FlowPort (non atomic)">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for FlowProperty -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowPropertyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowProperty.gif" label="Create a new FlowProperty" style="push" tooltip="Create a new FlowProperty">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowSpecification -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.FlowSpecificationCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowSpecification.gif" label="Create a new FlowSpecification" style="push" tooltip="Create a new FlowSpecification">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ItemFlow -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ItemFlowCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/ItemFlow.gif" label="Create a new ItemFlow" style="push" tooltip="Create a new ItemFlow">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for PartProperty -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.PartPropertyCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Part" style="push" tooltip="Create a new Part">
			<visibleWhen checkEnabled="true"/>
		</command>
				
		<!-- Creation menu action for Problem -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ProblemCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Problem.gif" label="Create a new Problem" style="push" tooltip="Create a new Problem">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Rationale -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.RationaleCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Rationale.gif" label="Create a new Rationale" style="push" tooltip="Create a new Rationale">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ReferenceProperty -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ReferencePropertyCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Reference" style="push" tooltip="Create a new Reference">
			<visibleWhen checkEnabled="true"/>
		</command>
				
		<!-- Creation menu action for Requirement -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.RequirementCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Requirement.gif" label="Create a new Requirement" style="push" tooltip="Create a new Requirement">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Satisfy -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.SatisfyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Satisfy.gif" label="Create a new Satisfy" style="push" tooltip="Create a new Satisfy">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Unit -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.UnitCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Unit.gif" label="Create a new Unit" style="push" tooltip="Create a new Unit">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ValueProperty -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ValuePropertyCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Value" style="push" tooltip="Create a new Value">
			<visibleWhen checkEnabled="true"/>
		</command>
				
		<!-- Creation menu action for ValueType -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ValueTypeCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/ValueType.gif" label="Create a new ValueType" style="push" tooltip="Create a new ValueType">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ValueType_Enumeration -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ValueType_EnumerationCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/ValueType.gif" label="Create a new ValueType_Enumeration" style="push" tooltip="Create a new ValueType_Enumeration">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ValueType_PrimitiveType -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ValueType_PrimitiveTypeCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/ValueType.gif" label="Create a new ValueType_PrimitiveType" style="push" tooltip="Create a new ValueType_PrimitiveType">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Verify -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.VerifyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Verify.gif" label="Create a new Verify" style="push" tooltip="Create a new Verify">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for View -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ViewCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/View.gif" label="Create a new View" style="push" tooltip="Create a new View">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ViewPoint -->
		<command commandId="org.eclipse.papyrus.sysml.service.types.ViewPointCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Viewpoint.gif" label="Create a new ViewPoint" style="push" tooltip="Create a new ViewPoint">
			<visibleWhen checkEnabled="true"/>
		</command>
		
	</menuContribution>
	
</extension>

<!-- Key bindings associated to creation commands -->
<extension point="org.eclipse.ui.bindings">

	<!-- "CTRL+I" : Create In FlowPort -->
	<key commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_InCreateCommand"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="CTRL+I">
	</key>

	<!-- "CTRL+O" : Create Out FlowPort -->	
	<key commandId="org.eclipse.papyrus.sysml.service.types.FlowPort_OutCreateCommand"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="CTRL+O">
   </key>
   
</extension>
</plugin>
