<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

<!-- SysML ModelExplorer customization -->
<extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
	<browserCustomization
       file="resources/SysMLDefaultExplorerCustomization.uiCustom"
       loadByDefault="true"/>
</extension>
   
<extension point="org.eclipse.emf.facet.infra.query.registration">
	<modelqueryset file="resources/SysMLDefaultExplorerQueries.querySet"/>
</extension>

<!-- This declaration is added in order command (CommandHandler) status to be
     verified (isVisible and isEnabled) before any attempt to execute the command, 
     and to mask the command in case it is not supported or executable.
  -->
<extension point="org.eclipse.ui.startup">
	<startup class="org.eclipse.papyrus.sysml.modelexplorer.Activator"/>
</extension>

<!-- Creation command declarations -->
<extension point="org.eclipse.ui.commands">
	<!-- Creation command for Allocate -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AllocateHandler" description="Create a new Allocate" id="org.eclipse.papyrus.sysml.modelexplorer.AllocateCreateCommand" name="Create a new Allocate">
	</command>
	
	<!-- Creation command for Association -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationHandler" description="Create a new Association" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationCreateCommand" name="Create a new Association">
	</command>
	
	<!-- Creation command for AssociationComposite -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationCompositeHandler" description="Create a new AssociationComposite" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationCompositeCreateCommand" name="Create a new AssociationComposite">
	</command>
	
	<!-- Creation command for AssociationCompositeDirected -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationCompositeDirectedHandler" description="Create a new AssociationCompositeDirected" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationCompositeDirectedCreateCommand" name="Create a new AssociationCompositeDirected">
	</command>
	
	<!-- Creation command for AssociationNone -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationNoneHandler" description="Create a new AssociationNone" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationNoneCreateCommand" name="Create a new AssociationNone">
	</command>
	
	<!-- Creation command for AssociationNoneDirected -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationNoneDirectedHandler" description="Create a new AssociationNoneDirected" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationNoneDirectedCreateCommand" name="Create a new AssociationNoneDirected">
	</command>
	
	<!-- Creation command for AssociationShared -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationSharedHandler" description="Create a new AssociationShared" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationSharedCreateCommand" name="Create a new AssociationShared">
	</command>
	
	<!-- Creation command for AssociationSharedDirected -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.AssociationSharedDirectedHandler" description="Create a new AssociationSharedDirected" id="org.eclipse.papyrus.sysml.modelexplorer.AssociationSharedDirectedCreateCommand" name="Create a new AssociationSharedDirected">
	</command>
	
	<!-- Creation command for Block -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.BlockHandler" description="Create a new Block" id="org.eclipse.papyrus.sysml.modelexplorer.BlockCreateCommand" name="Create a new Block">
	</command>
	
	<!-- Creation command for Conform -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ConformHandler" description="Create a new Conform" id="org.eclipse.papyrus.sysml.modelexplorer.ConformCreateCommand" name="Create a new Conform">
	</command>
		
	<!-- Creation command for ConstraintBlock -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ConstraintBlockHandler" description="Create a new ConstraintBlock" id="org.eclipse.papyrus.sysml.modelexplorer.ConstraintBlockCreateCommand" name="Create a new ConstraintBlock">
	</command>

	<!-- Creation command for ConstraintBlockParameter -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ConstraintBlockParameterHandler" description="Create a new Parameter" id="org.eclipse.papyrus.sysml.modelexplorer.ConstraintBlockParameterCreateCommand" name="Create a new Parameter">
	</command>

	<!-- Creation command for ConstraintProperty -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ConstraintPropertyHandler" description="Create a new ConstraintProperty" id="org.eclipse.papyrus.sysml.modelexplorer.ConstraintPropertyCreateCommand" name="Create a new ConstraintProperty">
	</command>
	
	<!-- Creation command for Copy -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.CopyHandler" description="Create a new Copy" id="org.eclipse.papyrus.sysml.modelexplorer.CopyCreateCommand" name="Create a new Copy">
	</command>
	
	<!-- Creation command for DeriveReqt -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.DeriveReqtHandler" description="Create a new DeriveReqt" id="org.eclipse.papyrus.sysml.modelexplorer.DeriveReqtCreateCommand" name="Create a new DeriveReqt">
	</command>
	
	<!-- Creation command for Dimension -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.DimensionHandler" description="Create a new Dimension" id="org.eclipse.papyrus.sysml.modelexplorer.DimensionCreateCommand" name="Create a new Dimension">
	</command>
	
	<!-- Creation command for FlowPort -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPortHandler" description="Create a new FlowPort" id="org.eclipse.papyrus.sysml.modelexplorer.FlowPortCreateCommand" name="Create a new FlowPort">
	</command>
	  
	<!-- Creation command for FlowPort_InOut -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_InOutHandler" description="Create a new FlowPort_InOut" id="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_InOutCreateCommand" name="Create a new FlowPort_InOut">
	</command>
	
	<!-- Creation command for FlowPort_In -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_InHandler" description="Create a new FlowPort_In" id="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_InCreateCommand" name="Create a new FlowPort_In">
	</command>
	
	<!-- Creation command for FlowPort_Out -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_OutHandler" description="Create a new FlowPort_Out" id="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_OutCreateCommand" name="Create a new FlowPort_Out">
	</command>

	<!-- Creation command for FlowPort_NA -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPort_NAHandler" description="Create a new FlowPort (non atomic)" id="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_NACreateCommand" name="Create a new FlowPort (non atomic)">
	</command>

	<!-- Creation command for FlowProperty -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowPropertyHandler" description="Create a new FlowProperty" id="org.eclipse.papyrus.sysml.modelexplorer.FlowPropertyCreateCommand" name="Create a new FlowProperty">
	</command>
	
	<!-- Creation command for FlowSpecification -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.FlowSpecificationHandler" description="Create a new FlowSpecification" id="org.eclipse.papyrus.sysml.modelexplorer.FlowSpecificationCreateCommand" name="Create a new FlowSpecification">
	</command>
	
	<!-- Creation command for ItemFlow -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ItemFlowHandler" description="Create a new ItemFlow" id="org.eclipse.papyrus.sysml.modelexplorer.ItemFlowCreateCommand" name="Create a new ItemFlow">
	</command>

	<!-- Creation command for PartProperty -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.PartPropertyHandler" description="Create a new PartProperty" id="org.eclipse.papyrus.sysml.modelexplorer.PartPropertyCreateCommand" name="Create a new PartProperty">
	</command>
		
	<!-- Creation command for Problem -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ProblemHandler" description="Create a new Problem" id="org.eclipse.papyrus.sysml.modelexplorer.ProblemCreateCommand" name="Create a new Problem">
	</command>
	
	<!-- Creation command for Rationale -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.RationaleHandler" description="Create a new Rationale" id="org.eclipse.papyrus.sysml.modelexplorer.RationaleCreateCommand" name="Create a new Rationale">
	</command>
	
	<!-- Creation command for ReferenceProperty -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ReferencePropertyHandler" description="Create a new ReferenceProperty" id="org.eclipse.papyrus.sysml.modelexplorer.ReferencePropertyCreateCommand" name="Create a new ReferenceProperty">
	</command>
	
	<!-- Creation command for Requirement -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.RequirementHandler" description="Create a new Requirement" id="org.eclipse.papyrus.sysml.modelexplorer.RequirementCreateCommand" name="Create a new Requirement">
	</command>
	
	<!-- Creation command for Satisfy -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.SatisfyHandler" description="Create a new Satisfy" id="org.eclipse.papyrus.sysml.modelexplorer.SatisfyCreateCommand" name="Create a new Satisfy">
	</command>
	
	<!-- Creation command for Unit -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.UnitHandler" description="Create a new Unit" id="org.eclipse.papyrus.sysml.modelexplorer.UnitCreateCommand" name="Create a new Unit">
	</command>
	
	<!-- Creation command for ValueProperty -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ValuePropertyHandler" description="Create a new ValueProperty" id="org.eclipse.papyrus.sysml.modelexplorer.ValuePropertyCreateCommand" name="Create a new ValueProperty">
	</command>
	
	<!-- Creation command for ValueType -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ValueTypeHandler" description="Create a new ValueType" id="org.eclipse.papyrus.sysml.modelexplorer.ValueTypeCreateCommand" name="Create a new ValueType">
	</command>
	
	<!-- Creation command for ValueType_Enumeration -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ValueType_EnumerationHandler" description="Create a new ValueType_Enumeration" id="org.eclipse.papyrus.sysml.modelexplorer.ValueType_EnumerationCreateCommand" name="Create a new ValueType_Enumeration">
	</command>
	
	<!-- Creation command for ValueType_PrimitiveType -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ValueType_PrimitiveTypeHandler" description="Create a new ValueType_PrimitiveType" id="org.eclipse.papyrus.sysml.modelexplorer.ValueType_PrimitiveTypeCreateCommand" name="Create a new ValueType_PrimitiveType">
	</command>
	
	<!-- Creation command for Verify -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.VerifyHandler" description="Create a new Verify" id="org.eclipse.papyrus.sysml.modelexplorer.VerifyCreateCommand" name="Create a new Verify">
	</command>
	
	<!-- Creation command for View -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ViewHandler" description="Create a new View" id="org.eclipse.papyrus.sysml.modelexplorer.ViewCreateCommand" name="Create a new View">
	</command>
	
	<!-- Creation command for ViewPoint -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.sysml.modelexplorer.handler.ViewPointHandler" description="Create a new ViewPoint" id="org.eclipse.papyrus.sysml.modelexplorer.ViewPointCreateCommand" name="Create a new ViewPoint">
	</command>
	
</extension>

	
<!-- UI Menu declaration for creation commands -->
<extension point="org.eclipse.ui.menus">

	<!-- Sub-menu declaration -->	 
	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup" allPopups="false">
		<menu id="org.eclipse.papyrus.views.modelexplorer.popupmenu.createsysmlchild"
			label="New SysML Child">
		</menu>
	</menuContribution>
	
	<!-- Create SysML element menu content -->
	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.createsysmlchild" allPopups="false">

		<!-- Creation menu action for Allocate -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AllocateCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Abstraction.gif" label="Create a new Allocate" style="push" tooltip="Create a new Allocate">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Association -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new Association" style="push" tooltip="Create a new Association">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationComposite -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationCompositeCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationComposite" style="push" tooltip="Create a new AssociationComposite">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationCompositeDirected -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationCompositeDirectedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationCompositeDirected" style="push" tooltip="Create a new AssociationCompositeDirected">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationNone -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationNoneCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationNone" style="push" tooltip="Create a new AssociationNone">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationNoneDirected -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationNoneDirectedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationNoneDirected" style="push" tooltip="Create a new AssociationNoneDirected">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationShared -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationSharedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationShared" style="push" tooltip="Create a new AssociationShared">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for AssociationSharedDirected -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.AssociationSharedDirectedCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Association.gif" label="Create a new AssociationSharedDirected" style="push" tooltip="Create a new AssociationSharedDirected">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Block -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.BlockCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif" label="Create a new Block" style="push" tooltip="Create a new Block">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Conform -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ConformCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Conform.gif" label="Create a new Conform" style="push" tooltip="Create a new Conform">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ConstraintBlock -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ConstraintBlockCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/constraints/ConstraintBlock.gif" label="Create a new ConstraintBlock" style="push" tooltip="Create a new ConstraintBlock">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for ConstraintBlock Parameter -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ConstraintBlockParameterCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Parameter" style="push" tooltip="Create a new Parameter">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for ConstraintProperty -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ConstraintPropertyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/constraints/ConstraintProperty.gif" label="Create a new ConstraintProperty" style="push" tooltip="Create a new ConstraintProperty">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Copy -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.CopyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Copy.gif" label="Create a new Copy" style="push" tooltip="Create a new Copy">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for DeriveReqt -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.DeriveReqtCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/DeriveReqt.gif" label="Create a new DeriveReqt" style="push" tooltip="Create a new DeriveReqt">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Dimension -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.DimensionCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Dimension.gif" label="Create a new Dimension" style="push" tooltip="Create a new Dimension">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowPort -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPortCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort.gif" label="Create a new FlowPort" style="push" tooltip="Create a new FlowPort">
			<visibleWhen checkEnabled="true"/>
		</command>
		  
		<!-- Creation menu action for FlowPort_InOut -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_InOutCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT.gif" label="Create a new FlowPort_InOut" style="push" tooltip="Create a new FlowPort_InOut">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowPort_In -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_InCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_IN.gif" label="Create a new FlowPort_In" style="push" tooltip="Create a new FlowPort_In">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowPort_Out -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_OutCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_OUT.gif" label="Create a new FlowPort_Out" style="push" tooltip="Create a new FlowPort_Out">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for FlowPort_NA -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_NACreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_NA.gif" label="Create a new FlowPort (non atomic)" style="push" tooltip="Create a new FlowPort (non atomic)">
			<visibleWhen checkEnabled="true"/>
		</command>

		<!-- Creation menu action for FlowProperty -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPropertyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowProperty.gif" label="Create a new FlowProperty" style="push" tooltip="Create a new FlowProperty">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for FlowSpecification -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowSpecificationCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowSpecification.gif" label="Create a new FlowSpecification" style="push" tooltip="Create a new FlowSpecification">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ItemFlow -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ItemFlowCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/ItemFlow.gif" label="Create a new ItemFlow" style="push" tooltip="Create a new ItemFlow">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for PartProperty -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.PartPropertyCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Part" style="push" tooltip="Create a new Part">
			<visibleWhen checkEnabled="true"/>
		</command>
				
		<!-- Creation menu action for Problem -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ProblemCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Problem.gif" label="Create a new Problem" style="push" tooltip="Create a new Problem">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Rationale -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.RationaleCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Rationale.gif" label="Create a new Rationale" style="push" tooltip="Create a new Rationale">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ReferenceProperty -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ReferencePropertyCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Reference" style="push" tooltip="Create a new Reference">
			<visibleWhen checkEnabled="true"/>
		</command>
				
		<!-- Creation menu action for Requirement -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.RequirementCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Requirement.gif" label="Create a new Requirement" style="push" tooltip="Create a new Requirement">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Satisfy -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.SatisfyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Satisfy.gif" label="Create a new Satisfy" style="push" tooltip="Create a new Satisfy">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Unit -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.UnitCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Unit.gif" label="Create a new Unit" style="push" tooltip="Create a new Unit">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ValueProperty -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ValuePropertyCreateCommand" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Property.gif" label="Create a new Value" style="push" tooltip="Create a new Value">
			<visibleWhen checkEnabled="true"/>
		</command>
				
		<!-- Creation menu action for ValueType -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ValueTypeCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/ValueType.gif" label="Create a new ValueType" style="push" tooltip="Create a new ValueType">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ValueType_Enumeration -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ValueType_EnumerationCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/ValueType.gif" label="Create a new ValueType_Enumeration" style="push" tooltip="Create a new ValueType_Enumeration">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ValueType_PrimitiveType -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ValueType_PrimitiveTypeCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/ValueType.gif" label="Create a new ValueType_PrimitiveType" style="push" tooltip="Create a new ValueType_PrimitiveType">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for Verify -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.VerifyCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/requirements/Verify.gif" label="Create a new Verify" style="push" tooltip="Create a new Verify">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for View -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ViewCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/View.gif" label="Create a new View" style="push" tooltip="Create a new View">
			<visibleWhen checkEnabled="true"/>
		</command>
		
		<!-- Creation menu action for ViewPoint -->
		<command commandId="org.eclipse.papyrus.sysml.modelexplorer.ViewPointCreateCommand" icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/modelelements/Viewpoint.gif" label="Create a new ViewPoint" style="push" tooltip="Create a new ViewPoint">
			<visibleWhen checkEnabled="true"/>
		</command>
		
	</menuContribution>
	
</extension>

<!-- Key bindings associated to creation commands -->
<extension point="org.eclipse.ui.bindings">

	<!-- "CTRL+I" : Create In FlowPort -->
	<key commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_InCreateCommand"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="CTRL+I">
	</key>

	<!-- "CTRL+O" : Create Out FlowPort -->	
	<key commandId="org.eclipse.papyrus.sysml.modelexplorer.FlowPort_OutCreateCommand"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="CTRL+O">
   </key>
   
</extension>
</plugin>
