<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.infra.table.efacet.menu.handler.SelectColumnsHandler"
            description="Select the Columns to display in the table"
            id="org.eclipse.papyrus.infra.table.efacet.menu.command.select.columns"
            name="Select Columns">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.papyrus.infra.table.efacet.menu.command.select.columns"
               label="Select Columns"
               style="push"
               tooltip="Select the columns to display">
         </command>
      </menuContribution>
   </extension>

</plugin>
