<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/parameter/editor/xtext/UmlParameter" 
       class = "org.eclipse.papyrus.parameter.editor.xtext.umlParameter.UmlParameterPackage"
       genModel = "org/eclipse/papyrus/parameter/editor/xtext/UmlParameter.genmodel" /> 
	
  </extension>





</plugin>
