<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <menu
               icon="icons/papyrus.png"
               id="org.eclipse.papyrus.uml.modelrepair.refactor"
               label="Refactor">
            <command
                  commandId="org.eclipse.papyrus.uml.modelrepair.switchprofiles"
                  style="push"
                  label="Switch Profiles...">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           property="org.eclipse.papyrus.views.modelexplorer.tester.eClass"
                           value="uml::Package">
                     </test>
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <test
                              property="org.eclipse.papyrus.uml.tools.isRoot">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.uml.modelrepair.handler.ModelRepairHandler"
            id="org.eclipse.papyrus.uml.modelrepair.editlinks"
            name="Edit model dependencies">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.uml.modelrepair.handler.SwitchProfileHandler"
            id="org.eclipse.papyrus.uml.modelrepair.switchprofiles"
            name="Switch Profiles">
      </command>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.emf.dependencyUpdateParticipant">
      <replaceParticipant
            class="org.eclipse.papyrus.uml.modelrepair.internal.participants.StereotypeApplicationRepairParticipant">
      </replaceParticipant>
   </extension>

</plugin>
