<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               icon="icons/papyrus.png"
               id="org.eclipse.papyrus.uml.modelrepair.refactor"
               label="Refactor">
            <command
                  commandId="org.eclipse.papyrus.uml.modelrepair.switchprofiles"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="di">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uml">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="notation">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.papyrus.uml.modelrepair.editlinks"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="di">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uml">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="notation">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.uml.modelrepair.handler.ModelRepairHandler"
            id="org.eclipse.papyrus.uml.modelrepair.editlinks"
            name="Edit model dependencies">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.uml.modelrepair.handler.SwitchProfileHandler"
            id="org.eclipse.papyrus.uml.modelrepair.switchprofiles"
            name="Switch profile">
      </command>
   </extension>

</plugin>
