<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.uml.compare.factory.UMLCompareEditorFactory"
            icon="icons/papyrus_compare_16x16.png">
      </editorDiagram>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a UML Compare Editor"
            id="org.eclipse.papyrus.uml.compare.command"
            name="UML Compare Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.compare.internal.handler.UMLCompareEditorHandler"
            commandId="org.eclipse.papyrus.uml.compare.command">
         <activeWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
            <menuContribution
                  allPopups="true"
                  locationURI="popup:org.eclipse.ui.popup.any">
               <command
                     commandId="org.eclipse.papyrus.uml.compare.command"
                     icon="icons/papyrus_compare_16x16.png"
                     label="Compare 2 UML Elements"
                     style="push"
                     tooltip="Compare 2 UML Elements">
                  <visibleWhen
                        checkEnabled="true">
                     <or>
                        <and>
                           <with
                                 variable="selection">
                              <iterate
                                    ifEmpty="false"
                                    operator="and">
                                 <adapt
                                       type="org.eclipse.emf.ecore.EObject">
                                 </adapt>
                              </iterate>
                           </with>
                           <with
                                 variable="activeEditorId">
                              <equals
                                    value="org.eclipse.papyrus.infra.core.papyrusEditor">
                              </equals>
                           </with>
                        </and>
                     </or>
                  </visibleWhen>
               </command>
            </menuContribution>
   </extension>

</plugin>
