<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
 <!-- we provide a new navigator content for the tables. To be called, this navigator content should have an id beginning with org.eclipse.papyrus.views.modelexplorer.* -->
   <extension point="org.eclipse.ui.handlers">
         <handler class="org.eclipse.papyrus.infra.table.modelexplorer.handlers.DuplicateTableHandler" commandId="org.eclipse.papyrus.views.modelexplorer.duplicate.command">
         <activeWhen>
            <and>
               <with variable="selection">
                     <!-- We add these tests for : 
                     	- force the refresh of the action in the menu edit  
                     	- avoid have 2 handlers enabled in the same time 
                     	-->
                  <and>
                     <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isDiagram" value="false">
                     </test>
                     <test forcePluginActivation="true" property="org.eclipse.papyrus.table.modelexplorer.tester.isTable" value="true">
                     </test>
                  </and>
               </with>
            </and>
         </activeWhen>
      </handler>
            <handler class="org.eclipse.papyrus.infra.table.modelexplorer.handlers.RenameTableHandler" commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <or>
               <with variable="selection">
                  <and>
                     <count value="1">
                     </count>
                     <test forcePluginActivation="true" property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable" value="true">
                     </test>
                     <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.view.isModelExplorer" value="true">
                     </test>
                  </and>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester class="org.eclipse.papyrus.infra.table.modelexplorer.providers.TablePropertyTester" id="org.eclipse.papyrus.table.modelexplorer.tester" namespace="org.eclipse.papyrus.table.modelexplorer.tester" properties="isTable" type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="resources/PapyrusTableFacet.facetSet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/PapyrusTableQuery.querySet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/PapyrusTableFacetCustomization.uiCustom" loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/PapyrusTableInstanceCustomization.uiCustom" loadByDefault="true"/>
   </extension>
</plugin>
