<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Diagram declaration -->
<extension point="org.eclipse.papyrus.infra.core.papyrusDiagram">
	<creationCommand
		creationCommandClass="org.eclipse.papyrus.sysml.diagram.requirement.RequirementDiagramCreateCommand"
		creationCondition="org.eclipse.papyrus.sysml.diagram.requirement.RequirementDiagramCreationCondition"
		icon="icons/obj16/Diagram_Requirement.gif"
		id="org.eclipse.papyrus.sysml.diagram.requirement.CreateCommand"
		language="sysml"
		label="SysML Requirement Diagram"/>
	<editorDiagram
		actionBarContributorId="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor"
		factoryClass="org.eclipse.papyrus.sysml.diagram.requirement.RequirementDiagramEditorFactory"
		icon="icons/obj16/Diagram_Requirement.gif" />
</extension>

<!-- Diagram creation command and handler -->
<extension point="org.eclipse.ui.commands">
	<command id="org.eclipse.papyrus.sysml.diagram.requirement.CreateCommand"
		name="Create a new Requirement Diagram"
		description="Create a new Requirement Diagram"
		categoryId="org.eclipse.papyrus.editor.category"/>
</extension>


<!-- Diagram creation command registration in menu and toolbar -->

<!-- Palette tool declaration (declares the real palette containment) -->
<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition"
	name="SYSML_Requirement">
	
	<paletteDefinition ID="SYSML_Requirement"
		class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
		name="SYSML_Requirement" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" 
		path="palettes/requirement.palette.xml"
		provider="CEA LIST">
		<Priority name="Low"/>
		
		<!-- Specify diagram this palette tools relate to -->						
		<editor id="org.eclipse.papyrus.sysml.diagram.requirement"/>
	</paletteDefinition>
</extension>

<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition"
	name="SYSML_Requirement_Addition">

	<paletteDefinition ID="SYSML_Requirement_Addition"
		class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
		name="Addition" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" 
		path="palettes/Addition.palette.xml"
		provider="CEA LIST">
		<Priority name="Low"/>
		
		<!-- Specify diagram this palette tools relate to -->						
		<editor id="org.eclipse.papyrus.sysml.diagram.requirement"/>
	</paletteDefinition>
</extension>

<!-- Diagram view providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
	<!-- Diagram view provider -->
	<viewProvider class="org.eclipse.papyrus.sysml.diagram.requirement.provider.RequirementDiagramViewProvider">
		<Priority name="Low"/>
		<context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="RequirementDiagram"/>
	</viewProvider>
	
	<!-- ViewProvider for inherited elements (from ClassDiagram ViewProvider) -->
	<viewProvider class="org.eclipse.papyrus.sysml.diagram.requirement.provider.CustomInheritedElementViewProvider">
		<Priority name="Low"/>
		
		<!-- 
			"2007" = PACKAGE
			"3009" = PACKAGE_CN
			"2008" = CLASS
			"3010" = CLASS_CN
			"2097" = DEFAULT_NAMED_ELEMENT
			"3032" = CONTAINMENT_CIRCLE_CN
			"2012" = COMMENT
			"3028" = COMMENT_CN
			"2011" = CONSTRAINT
			"3029" = CONSTRAINT_CN
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2007, 3009, 2008, 3010, 2097, 3032, 2012, 3028, 2011, 3029"/>
		
		<!-- 
			"3012" = CLASS_PROPERTY_CLN
			"3011" = CLASS_RECEPTION_CLN
			"3013" = CLASS_OPERATION_CLN
			"3014" = CLASS_CLASS_CLN
			"3036" = CLASS_INTERFACE_CLN
			"3052" = CLASS_ENUMERATION_CLN
			"3047" = CLASS_PRIMITIVE_TYPE_CLN
			"3044" = CLASS_DATA_TYPE_CLN
			"3050" = CLASS_SIGNAL_CLN
		  -->	  
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="3012, 3011, 3013, 3014, 3036, 3052, 3047, 3044, 3050"/>
		
		<!-- 
			"4006" = ABSTRACTION
			"4023" = CONTAINMENT_LINK
			"4022" = CONTAINMENT_SUB_LINK
			"4008" = DEPENDENCY
			"4013" = COMMENT_ANNOTATED_ELEMENT
			"4014" = CONSTRAINT_CONSTRAINED_ELEMENT
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4006, 4023, 4022, 4008, 4013, 4014"/>
		
		<object id="elementtype.node"
	        class="org.eclipse.papyrus.gmf.diagram.common.commands.ISemanticHintAdapter(org.eclipse.papyrus.sysml.diagram.common)">
	       
	     <method
	        name="getSemanticHint()"
			value="2007, 3009, 2008, 3010, 2097, 3032, 2012, 3028, 2011, 3029">
		</method>
		</object>
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" elements="elementtype.node"/>
	
		<object id="elementtype.edge"
	        class="org.eclipse.papyrus.gmf.diagram.common.commands.ISemanticHintAdapter(org.eclipse.papyrus.sysml.diagram.common)">
	       
	     <method
	        name="getSemanticHint()"
			value="4006, 4023, 4022, 4008, 4013, 4014">
		</method>
		</object>
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" elements="elementtype.edge"/>
	
		
		<!-- Additional descriptors provided in case the semantic hint is is not provided -->	
		
		<!-- "uml.Package" -->
		<object id="uml.Package" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Package"/>
		</object>
		
		<!-- "uml.Class" -->
		<object id="uml.Class" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Class"/>
		</object>
		
		<!-- "uml.NamedElement" -->
		<object id="uml.NamedElement" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.NamedElement"/>
		</object>
		
		<!-- "uml.Comment" -->
		<object id="uml.Comment" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Comment"/>
		</object>
		
		<!-- "uml.Constraint" -->
		<object id="uml.Constraint" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Constraint"/>
		</object>
		
		<!-- "uml.Property" -->
		<object id="uml.Property" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Property"/>
		</object>
		
		<!-- "uml.Reception" -->
		<object id="uml.Reception" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Reception"/>
		</object>
		
		<!-- "uml.Operation" -->
		<object id="uml.Operation" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Operation"/>
		</object>
		
		<!-- "uml.Interface" -->
		<object id="uml.Interface" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Interface"/>
		</object>
		
		<!-- "uml.Enumeration" -->
		<object id="uml.Enumeration" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Enumeration"/>
		</object>
		
		<!-- "uml.PrimitiveType" -->
		<object id="uml.PrimitiveType" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.PrimitiveType"/>
		</object>
		
		<!-- "uml.DataType" -->
		<object id="uml.DataType" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.DataType"/>
		</object>
		
		<!-- "uml.Signal" -->
		<object id="uml.Signal" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Signal"/>
		</object>
		
		<!-- "uml.Abstraction" -->
		<object id="uml.Abstraction" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Abstraction"/>
		</object>
		
		<!-- "uml.Dependency" -->
		<object id="uml.Dependency" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Dependency"/>
		</object>
		
		<!-- Additional activation contexts for nodes semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node"
			elements="uml.Package, uml.Class, uml.NamedElement, uml.Comment, uml.Constraint, uml.Property, uml.Reception, uml.Operation, uml.Interface, uml.Enumeration, uml.PrimitiveType, uml.DataType, uml.Signal"/>
		
		<!-- Additional activation contexts for edges semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge"
			elements="uml.Abstraction, uml.Dependency"/>
			
	</viewProvider>
</extension>

<!-- Diagram edit part providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
	
	<!-- Diagram edit part provider -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.requirement.provider.RequirementDiagramEditPartProvider">
		<Priority name="Low"/>
		<object 
			id="org.eclipse.papyrus.sysml.diagram.requirement.Diagram"
			class="org.eclipse.gmf.runtime.notation.Diagram">
			<method name="getType()" value="RequirementDiagram"/>
		</object>
		<context views="org.eclipse.papyrus.sysml.diagram.requirement.Diagram"/>	
	</editpartProvider>
	
	<!-- EditPartProvider for inherited elements (from ClassDiagram) -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.requirement.provider.InheritedClassDiagramEditPartProvider">
		<Priority name="Low"/>
		<!-- 
			The semantic hints given here are used in case the provider is not already loaded.
			As soon as the provider is loaded its provides method is used.		
			"2007" = PACKAGE
			"5026" = PACKAGE_LABEL_NAME_HINT
			"7016" = PACKAGE_COMPARTMENT_PACKAGEABLE_ELEMENT_HINT
			"3009" = PACKAGE_CN
			"5017" = PACKAGE_CN_LABEL_NAME_HINT
			"7010" = PACKAGE_CN_COMPARTMENT_PACKAGEABLE_ELEMENT_HINT
			"2008" = CLASS
			"5029" = CLASS_LABEL_NAME_HINT
			"7017" = CLASS_COMPARTMENT_ATTRIBUTE_HINT
			"7018" = CLASS_COMPARTMENT_OPERATION_HINT
			"7019" = CLASS_COMPARTMENT_NESTED_CLASSIFIER_HINT
			"3010" = CLASS_CN
			"5014" = CLASS_CN_LABEL_NAME_HINT
			"7011" = CLASS_CN_COMPARTMENT_ATTRIBUTE_HINT
			"7012" = CLASS_CN_COMPARTMENT_OPERATION_HINT
			"7013" = CLASS_CN_COMPARTMENT_NESTED_CLASSIFIER_HINT
			"2097" = DEFAULT_NAMED_ELEMENT
			"5157" = DEFAULT_NAMED_ELEMENT_LABEL_NAME_HINT
			"3032" = CONTAINMENT_CIRCLE_CN
			"2012" = COMMENT
			"5038" = COMMENT_LABEL_BODY_HINT
			"3028" = COMMENT_CN
			"5063" = COMMENT_CN_LABEL_BODY_HINT
			"2011" = CONSTRAINT
			"5037" = CONSTRAINT_LABEL_NAME_HINT
			"5159" = CONSTRAINT_LABEL_BODY_HINT
			"3029" = CONSTRAINT_CN
			"5064" = CONSTRAINT_CN_LABEL_NAME_HINT
			"5160" = CONSTRAINT_CN_LABEL_BODY_HINT
		  -->
		<object
			id="PACKAGE"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2007, 5026, 7016"/>
		</object>
		<object
			id="PACKAGE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3009, 5017, 7010"/>
		</object>
		<object
			id="CLASS"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2008, 5029, 7017, 7018, 7019"/>
		</object>
		<object
			id="CLASS_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3010, 5014, 7011, 7012, 7013"/>
		</object>
		<object
			id="DEFAULT_NAMED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2097, 5157"/>
		</object>
		<object
			id="CONTAINMENT_CIRCLE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3032"/>
		</object>
		<object
			id="COMMENT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2012, 5038"/>
		</object>
		<object
			id="COMMENT_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3028, 5063"/>
		</object>
		<object
			id="CONSTRAINT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2011, 5037, 5159"/>
		</object>
		<object
			id="CONSTRAINT_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3029, 5064, 5160"/>
		</object>
		
		<!-- 	
			"3012" = CLASS_PROPERTY_CLN
			"3011" = CLASS_RECEPTION_CLN
			"3013" = CLASS_OPERATION_CLN
			"3014" = CLASS_CLASS_CLN
			"3036" = CLASS_INTERFACE_CLN
			"3052" = CLASS_ENUMERATION_CLN
			"3047" = CLASS_PRIMITIVE_TYPE_CLN
			"3044" = CLASS_DATA_TYPE_CLN
			"3050" = CLASS_SIGNAL_CLN
		  -->
		<object
			id="CLASS_PROPERTY_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3012"/>
		</object>
		<object
			id="CLASS_RECEPTION_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3011"/>
		</object>
		<object
			id="CLASS_OPERATION_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3013"/>
		</object>
		<object
			id="CLASS_CLASS_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3014"/>
		</object>
		<object
			id="CLASS_INTERFACE_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3036"/>
		</object>
		<object
			id="CLASS_ENUMERATION_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3052"/>
		</object>
		<object
			id="CLASS_PRIMITIVE_TYPE_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3047"/>
		</object>
		<object
			id="CLASS_DATA_TYPE_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3044"/>
		</object>
		<object
			id="CLASS_SIGNAL_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3050"/>
		</object>
		
		<!-- 	
			"4006" = ABSTRACTION
			"6014" = ABSTRACTION_LABEL_NAME_HINT
			"6015" = ABSTRACTION_LABEL_APPLIED_STEREOTYPE_HINT
			"4023" = CONTAINMENT_LINK
			"4022" = CONTAINMENT_SUB_LINK
			"4008" = DEPENDENCY
			"6026" = DEPENDENCY_LABEL_NAME_HINT
			"6027" = DEPENDENCY_LABEL_APPLIED_STEREOTYPE_HINT
			"4013" = COMMENT_ANNOTATED_ELEMENT
			"4014" = CONSTRAINT_CONSTRAINED_ELEMENT
		  -->
		<object
			id="ABSTRACTION"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4006, 6014, 6015"/>
		</object>
		<object
			id="CONTAINMENT_LINK"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4023"/>
		</object>
		<object
			id="CONTAINMENT_SUB_LINK"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4022"/>
		</object>
		<object
			id="DEPENDENCY"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4008, 6026, 6027"/>
		</object>
		<object
			id="COMMENT_ANNOTATED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4013"/>
		</object>
		<object
			id="CONSTRAINT_CONSTRAINED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4014"/>
		</object>
		
		<context views="PACKAGE, PACKAGE_CN, CLASS, CLASS_CN, DEFAULT_NAMED_ELEMENT, CONTAINMENT_CIRCLE_CN, COMMENT, COMMENT_CN, CONSTRAINT, CONSTRAINT_CN"/>
		<context views="CLASS_PROPERTY_CLN, CLASS_RECEPTION_CLN, CLASS_OPERATION_CLN, CLASS_CLASS_CLN, CLASS_INTERFACE_CLN, CLASS_ENUMERATION_CLN, CLASS_PRIMITIVE_TYPE_CLN, CLASS_DATA_TYPE_CLN, CLASS_SIGNAL_CLN"/>
		<context views="ABSTRACTION, CONTAINMENT_LINK, CONTAINMENT_SUB_LINK, DEPENDENCY, COMMENT_ANNOTATED_ELEMENT, CONSTRAINT_CONSTRAINED_ELEMENT"/>
		
	</editpartProvider>
</extension>

<!-- Diagram edit policy provider -->	
<extension
	point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider
		class="org.eclipse.papyrus.sysml.diagram.requirement.provider.CustomEditPolicyProvider">
		<Priority name="Low"/>
	</editpolicyProvider>
</extension>

<!-- Preference pages declaration -->
<extension point="org.eclipse.ui.preferencePages" id="prefpages">

	<!-- Diagram Preference pages declaration -->
	<page
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		name="Requirement Diagram"
		category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.RequirementDiagramGeneralPreferencePage">
	</page>

	<!-- Element Preference pages declaration -->
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.PackagePreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.PackagePreferencePage"
		name="Package">
	</page>
	
	
	
	
	
	
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.NamedElementPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.NamedElementPreferencePage"
		name="NamedElement">
	</page>
	
	
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.CommentPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.CommentPreferencePage"
		name="Comment">
	</page>
	
	
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.ConstraintPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.ConstraintPreferencePage"
		name="Constraint">
	</page>
	
	
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.AbstractionPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.AbstractionPreferencePage"
		name="Abstraction">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.ContainmentLinkPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.ContainmentLinkPreferencePage"
		name="ContainmentLink">
	</page>
	
	
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.DependencyPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.DependencyPreferencePage"
		name="Dependency">
	</page>
	
	
	
	
	
	
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.PropertyPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.PropertyPreferencePage"
		name="Property">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.ReceptionPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.ReceptionPreferencePage"
		name="Reception">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.OperationPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.OperationPreferencePage"
		name="Operation">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.InterfacePreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.InterfacePreferencePage"
		name="Interface">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.EnumerationPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.EnumerationPreferencePage"
		name="Enumeration">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.PrimitiveTypePreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.PrimitiveTypePreferencePage"
		name="PrimitiveType">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.DataTypePreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.DataTypePreferencePage"
		name="DataType">
	</page>
			
	<page  	category="org.eclipse.papyrus.sysml.diagram.requirement.preferences"
		class="org.eclipse.papyrus.sysml.diagram.requirement.preferences.SignalPreferencePage"
		id="org.eclipse.papyrus.sysml.diagram.requirement.preferences.SignalPreferencePage"
		name="Signal">
	</page>
			

</extension>


<!-- // Start of user code custom extensions 
  -->

<!-- Insert custom extensions here. -->
  <extension
      id="ep-provider"
      point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
   <editpartProvider
         class="org.eclipse.papyrus.sysml.diagram.requirement.provider.CustomRequirementEditPartProvider">
      <Priority
            name="High">
      </Priority>
      <object
            class="org.eclipse.gmf.runtime.notation.Diagram"
            id="generated-diagram">
         <method
               name="getType()"
               value="Requirement">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Node"
            id="generated-nodes">
         <method
               name="getType()"
               value="2014,2013,2015,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2016,3002,3003,3004,3015,3031,3016,3005,3006,3007,3008,3020,3021,3022,3023,3024,3025,3017,3009,3010,3011,3012,3013,3014,3026,3027,3018,3019,3028,3029,3030">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Edge"
            id="generated-links">
         <method
               name="getType()"
               value="4016,4017,4001,4019,4002,4003,4004,4005,4006,4007,4008,4018,4009,4010,4011,4012,4013,4014,4015,4020,4021">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Node"
            id="generated-labels">
         <method
               name="getType()"
               value="5066,5002,5005,5008,5011,5020,5023,5026,5029,5032,5035,5037,5038,0,5040,5043,5046,5049,5052,5055,5017,5014,5058,5061,5063,5064">
         </method>
      </object>
      <object
            class="org.eclipse.gmf.runtime.notation.Node"
            id="generated-compartments">
         <method
               name="getType()"
               value="7034,7001,7002,7003,7004,7014,7005,7006,7007,7008,7009,7023,7024,7025,7026,7027,7028,7029,7030,7031,7010,7011,7012,7013,7032,7033,7015,7016,7017,7018,7019,7020,7021,7035">
         </method>
      </object>
      <object
            id="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments">
      </object>
   </editpartProvider>
</extension>
<!-- // End of user code 
  -->

</plugin>
