<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.papyrus.codegen.executeTemplate"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.papyrus.codegen.actions.PapyrusExecuteTemplateAction"
               enablesFor="1"
               icon="resource/PapyrusLogo16x16.gif"
               id="org.eclipse.papyrus.codegen.executeTemplateAction"
               label="Generate Papyrus diagram"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
       <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.papyrus.infra.core.papyrusEditor">
            <includes>
                <contentExtension pattern="org.eclipse.papyrus.infra.core.modelOutline"/>
                <!--contentExtension pattern="org.eclipse.papyrus.infra.core.viewOutline"/-->
            </includes>
        </viewerContentBinding>
    </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <library
            class="org.eclipse.papyrus.codegen.utils.PapyrusGenConstants">
         <metamodel
               nsURI="http://www.eclipse.org/emf/2002/Ecore">
         </metamodel>
         <metamodel
               nsURI="http://www.eclipse.org/gmf/2009/GenModel">
         </metamodel>
      </library>
   </extension>

</plugin>
