<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="resource/search-main-toc.xml"
            primary="false">
      </toc>
      <toc
            file="resource/search-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
