<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.papyrus.robotml.diagram.interfacedef.diagramContext"
            name="InterfaceDefDiagramContext"
            parentId="org.eclipse.papyrus.uml.diagram.clazz.ui.diagramContext">
      </context>
   </extension>
 <!-- Diagram declaration -->
<extension point="org.eclipse.papyrus.infra.core.papyrusDiagram">
	<creationCommand
		creationCommandClass="org.eclipse.papyrus.robotml.diagram.interfacedef.InterfaceDefCreateCommand"
		icon="icons/obj16/interfaceI.gif"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand"
		language="robotML"
		label="Interface Definition Diagram"/>
	<editorDiagram
		actionBarContributorId="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor"
		factoryClass="org.eclipse.papyrus.robotml.diagram.interfacedef.InterfaceDefEditorFactory"
		icon="icons/obj16/interfaceI.gif" />
</extension>

<!-- Diagram creation command and handler -->
<extension point="org.eclipse.ui.commands">
	<command id="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand"
		name="Create a new RobotML Interface Definition Diagram"
		description="Create a new RobotML Interface Definition Diagram"
		categoryId="org.eclipse.papyrus.editor.category"/>
</extension>

<extension point="org.eclipse.ui.handlers">
	<handler
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.InterfaceDefCreateCommand"
		commandId="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand">
		<activeWhen>
			<with variable="activeEditorId">
				<equals value="org.eclipse.papyrus.infra.core.papyrusEditor" />
			</with>
		</activeWhen>
	</handler>
</extension>

<!-- Diagram creation command registration in menu and toolbar -->
<extension point="org.eclipse.ui.menus">

	<menuContribution locationURI="menu:org.eclipse.papyrus.ui.menu">
	<menu id="org.eclipse.papyrus.uml.diagram.ui.menu.diagrams" label="Diagrams">
		<command commandId="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand"
			icon="icons/obj16/interfaceI.gif" label="Create a new RobotML Interface Definition Diagram"
			style="push" tooltip="Create a new RobotML Interface Definition Diagram">
			<visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>							
			</visibleWhen>						
					
		</command>
	</menu>
	</menuContribution>
	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
	<menu id="org.eclipse.robotml.ui.toolbar" label="Diagrams">
		<command commandId="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand"
			icon="icons/obj16/interfaceI.gif" label="Create a new RobotML Interface Definition Diagram"
			style="push" tooltip="Create a new RobotML Interface Definition Diagram">
			<visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>						
			</visibleWhen>				
		</command>
	</menu>
	</menuContribution>
	
	<!--menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
	<toolbar id="org.eclipse.papyrus.diagram.ui.toolbar">
		<command commandId="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand"
			icon="icons/obj16/interfaceI.gif" label="Create a new Proteus Interface Definition Diagram"
			style="push" tooltip="Create a new Proteus Interface Definition Diagram">
			<visibleWhen>
				<with variable="activeEditorId">
					<equals value="org.eclipse.papyrus.core.papyrusEditor"/>
				</with>							
			</visibleWhen>						
				
		</command>
	</toolbar>
	</menuContribution-->
	
	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.creatediagram">
		<command commandId="org.eclipse.papyrus.robotml.diagram.interfacedef.CreateCommand"
			icon="icons/obj16/interfaceI.gif"
			label="Create a new RobotML Interface Definition Diagram"
			style="push"
			tooltip="Create a new RobotML Interface Definition Diagram">
			<visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>						
			</visibleWhen>						
			
		</command>
	</menuContribution>
		
</extension>

<!-- Palette tool declaration (declares the real palette containment) -->
<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition"
	name="ROBOTML_InterfaceDef">
	
	<paletteDefinition ID="ROBOTML_InterfaceDef"
		class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
		name="ROBOTML_InterfaceDef" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" 
		path="palettes/interfacedef.palette.xml"
		provider="CEA LIST">
		<Priority name="Low"/>
		
		<!-- Specify diagram this palette tools relate to -->						
		<editor id="org.eclipse.papyrus.robotml.diagram.interfacedef"/>
	</paletteDefinition>
</extension>


<!-- Diagram view providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">

	<!-- Diagram view provider -->
	<viewProvider class="org.eclipse.papyrus.robotml.diagram.interfacedef.provider.InterfaceDefViewProvider">
		<Priority name="Low"/>
		<context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="InterfaceDef"/>
	</viewProvider>
	
	<!-- ViewProvider for inherited elements (from ClassDiagram ViewProvider) -->
	<viewProvider class="org.eclipse.papyrus.robotml.diagram.interfacedef.provider.InheritedClassDiagramViewProvider">
		<Priority name="Low"/>
		
		<!-- 
			"2007" = PACKAGE
			"2012" = COMMENT
			"2011" = CONSTRAINT
			"3009" = PACKAGE_CN
			"3023" = INTERFACE_CN
			"2004" = INTERFACE
			"2016" = SHORT_CUT_DIAGRAM
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2007, 2012, 2011, 3009, 3023, 2004, 2016"/>
		
		<!-- 
			"3006" = INTERFACE_PROPERTY_CLN
			"3007" = INTERFACE_OPERATION_CLN
			"3008" = INTERFACE_CLASS_CLN
		  -->	  
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="3006, 3007, 3008"/>
		
		<!-- 
			"4010" = PACKAGE_IMPORT
			"4013" = COMMENT_ANNOTATED_ELEMENT
			"4014" = CONSTRAINT_CONSTRAINED_ELEMENT
			"4011" = PACKAGE_MERGE
			"4002" = GENERALIZATION
			"4003" = INTERFACE_REALIZATION
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4010, 4013, 4014, 4011, 4002, 4003"/>
		
		<!-- Additional descriptors provided in case the semantic hint is is not provided -->	
		
		<!-- "uml.Package" -->
		<object id="uml.Package" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Package"/>
		</object>
		
		<!-- "uml.Comment" -->
		<object id="uml.Comment" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Comment"/>
		</object>
		
		<!-- "uml.Constraint" -->
		<object id="uml.Constraint" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Constraint"/>
		</object>
		
		<!-- "uml.Interface" -->
		<object id="uml.Interface" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Interface"/>
		</object>
		
		<!-- "notation.Diagram" -->
		<object id="notation.Diagram" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="notation.Diagram"/>
		</object>
		
		<!-- "uml.Property" -->
		<object id="uml.Property" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Property"/>
		</object>
		
		<!-- "uml.Operation" -->
		<object id="uml.Operation" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Operation"/>
		</object>
		
		<!-- "uml.Class" -->
		<object id="uml.Class" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Class"/>
		</object>
		
		<!-- "uml.PackageImport" -->
		<object id="uml.PackageImport" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.PackageImport"/>
		</object>
		
		<!-- "uml.PackageMerge" -->
		<object id="uml.PackageMerge" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.PackageMerge"/>
		</object>
		
		<!-- "uml.Generalization" -->
		<object id="uml.Generalization" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Generalization"/>
		</object>
		
		<!-- "uml.InterfaceRealization" -->
		<object id="uml.InterfaceRealization" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.InterfaceRealization"/>
		</object>
		
		<!-- Additional activation contexts for nodes semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node"
			elements="uml.Package, uml.Comment, uml.Constraint, uml.Interface, notation.Diagram, uml.Property, uml.Operation, uml.Class"/>
		
		<!-- Additional activation contexts for edges semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge"
			elements="uml.PackageImport, uml.PackageMerge, uml.Generalization, uml.InterfaceRealization"/>
			
	</viewProvider>
			
</extension>

<!-- Diagram edit part providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">

	<!-- Diagram edit part provider -->
	<editpartProvider class="org.eclipse.papyrus.robotml.diagram.interfacedef.provider.InterfaceDefEditPartProvider">
		<Priority name="Low"/>
		<object 
			id="org.eclipse.papyrus.robotml.diagram.interfacedef.Diagram"
			class="org.eclipse.gmf.runtime.notation.Diagram">
			<method name="getType()" value="InterfaceDef"/>
		</object>
	</editpartProvider>


	<!-- EditPartProvider for inherited elements (from ClassDiagram) -->
	<editpartProvider class="org.eclipse.papyrus.robotml.diagram.interfacedef.provider.InheritedClassDiagramEditPartProvider">
		<Priority name="Low"/>
		<!-- 
			The semantic hints given here are used in case the provider is not already loaded.
			As soon as the provider is loaded its provides method is used.		
			"2007" = PACKAGE
			"5026" = PACKAGE_LABEL_NAME_HINT
			"7016" = PACKAGE_COMPARTMENT_PACKAGEABLE_ELEMENT_HINT
			"2012" = COMMENT
			"5038" = COMMENT_LABEL_BODY_HINT
			"2011" = CONSTRAINT
			"5037" = CONSTRAINT_LABEL_NAME_HINT
			"5159" = CONSTRAINT_LABEL_BODY_HINT
			"3009" = PACKAGE_CN
			"5017" = PACKAGE_CN_LABEL_NAME_HINT
			"7010" = PACKAGE_CN_COMPARTMENT_PACKAGEABLE_ELEMENT_HINT
			"3023" = INTERFACE_CN
			"5049" = INTERFACE_CN_LABEL_NAME_HINT
			"7027" = INTERFACE_CN_COMPARTMENT_ATTRIBUTE_HINT
			"7028" = INTERFACE_CN_COMPARTMENT_OPERATION_HINT
			"7029" = INTERFACE_CN_COMPARTMENT_NESTED_CLASSIFIER_HINT
			"2004" = INTERFACE
			"5011" = INTERFACE_LABEL_NAME_HINT
			"7006" = INTERFACE_COMPARTMENT_ATTRIBUTE_HINT
			"7007" = INTERFACE_COMPARTMENT_OPERATION_HINT
			"7008" = INTERFACE_COMPARTMENT_NESTED_CLASSIFIER_HINT
			"2016" = SHORT_CUT_DIAGRAM
			"0" = SHORT_CUT_DIAGRAM_LABEL_DIAGRAM_NAME_HINT
		  -->
		<object
			id="PACKAGE"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2007, 5026, 7016"/>
		</object>
		<object
			id="COMMENT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2012, 5038"/>
		</object>
		<object
			id="CONSTRAINT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2011, 5037, 5159"/>
		</object>
		<object
			id="PACKAGE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3009, 5017, 7010"/>
		</object>
		<object
			id="INTERFACE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3023, 5049, 7027, 7028, 7029"/>
		</object>
		<object
			id="INTERFACE"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2004, 5011, 7006, 7007, 7008"/>
		</object>
		<object
			id="SHORT_CUT_DIAGRAM"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2016, 0"/>
		</object>

		<!-- 	
			"3006" = INTERFACE_PROPERTY_CLN
			"3007" = INTERFACE_OPERATION_CLN
			"3008" = INTERFACE_CLASS_CLN
		  -->
		<object
			id="INTERFACE_PROPERTY_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3006"/>
		</object>
		<object
			id="INTERFACE_OPERATION_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3007"/>
		</object>
		<object
			id="INTERFACE_CLASS_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3008"/>
		</object>
				
		<!-- 	
			"4010" = PACKAGE_IMPORT
			"6022" = PACKAGE_IMPORT_LABEL_APPLIED_STEREOTYPE_HINT
			"4013" = COMMENT_ANNOTATED_ELEMENT
			"4014" = CONSTRAINT_CONSTRAINED_ELEMENT
			"4011" = PACKAGE_MERGE
			"6030" = PACKAGE_MERGE_LABEL_APPLIED_STEREOTYPE_HINT
			"4002" = GENERALIZATION
			"6007" = GENERALIZATION_LABEL_APPLIED_STEREOTYPER_HINT
			"4003" = INTERFACE_REALIZATION
			"6008" = INTERFACE_REALIZATION_LABEL_APPLIED_STEREOTYPE_HINT
			"6009" = INTERFACE_REALIZATION_LABEL_NAME2_HINT
		  -->
		<object
			id="PACKAGE_IMPORT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4010, 6022"/>
		</object>
		<object
			id="COMMENT_ANNOTATED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4013"/>
		</object>
		<object
			id="CONSTRAINT_CONSTRAINED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4014"/>
		</object>
		<object
			id="PACKAGE_MERGE"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4011, 6030"/>
		</object>
		<object
			id="GENERALIZATION"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4002, 6007"/>
		</object>
		<object
			id="INTERFACE_REALIZATION"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4003, 6008, 6009"/>
		</object>

		<context views="PACKAGE, COMMENT, CONSTRAINT, PACKAGE_CN, INTERFACE_CN, INTERFACE, SHORT_CUT_DIAGRAM"/>
		<context views="INTERFACE_PROPERTY_CLN, INTERFACE_OPERATION_CLN, INTERFACE_CLASS_CLN"/>
		<context views="PACKAGE_IMPORT, COMMENT_ANNOTATED_ELEMENT, CONSTRAINT_CONSTRAINED_ELEMENT, PACKAGE_MERGE, GENERALIZATION, INTERFACE_REALIZATION"/>
				
	</editpartProvider>
			
</extension>

<!-- Diagram edit policy provider -->	
<extension
	point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.provider.InterfaceDefEditPolicyProvider">
		<Priority name="Low"/>
	</editpolicyProvider>
</extension>

<!-- Preference pages declaration -->
<extension point="org.eclipse.ui.preferencePages" id="prefpages">

	<!-- Diagram Preference pages declaration -->
	<page
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		name="InterfaceDef Diagram"
		category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfaceDefGeneralPreferencePage">
	</page>

	<!-- Element Preference pages declaration -->
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackagePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackagePreferencePage"
		name="Package">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.CommentPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.CommentPreferencePage"
		name="Comment">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.ConstraintPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.ConstraintPreferencePage"
		name="Constraint">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackagePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackagePreferencePage"
		name="Package">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfacePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfacePreferencePage"
		name="Interface">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfacePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfacePreferencePage"
		name="Interface">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.DiagramPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.DiagramPreferencePage"
		name="Diagram">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackageImportPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackageImportPreferencePage"
		name="PackageImport">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.CommentAnnotatedElementPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.CommentAnnotatedElementPreferencePage"
		name="CommentAnnotatedElement">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.ConstraintConstrainedElementPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.ConstraintConstrainedElementPreferencePage"
		name="ConstraintConstrainedElement">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackageMergePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PackageMergePreferencePage"
		name="PackageMerge">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.GeneralizationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.GeneralizationPreferencePage"
		name="Generalization">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfaceRealizationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.InterfaceRealizationPreferencePage"
		name="InterfaceRealization">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PropertyPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.PropertyPreferencePage"
		name="Property">
	</page>
			
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.OperationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.OperationPreferencePage"
		name="Operation">
	</page>
			
	<page  	category="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.ClassPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.interfacedef.preferences.ClassPreferencePage"
		name="Class">
	</page>
			
</extension>
</plugin>
