<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2013 CEA LIST.
 
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 	Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>












   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nattableconfiguration -->
      <package
            uri="http://www.eclipse.org/papyrus/nattableconfiguration/model"
            class="org.eclipse.papyrus.infra.nattable.model.nattableconfiguration.NattableconfigurationPackage"
            genModel="model/nattableconfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nattable -->
      <package
            uri="http://www.eclipse.org/papyrus/nattable/model"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.NattablePackage"
            genModel="model/nattable.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nattable -->
      <package
            uri="http://www.eclipse.org/papyrus/nattable/model/nattableconfiguration"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.NattableconfigurationPackage"
            genModel="model/nattable.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nattable -->
      <package
            uri="http://www.eclipse.org/papyrus/nattable/model/table/nattablecontentprovider"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecontentprovider.NattablecontentproviderPackage"
            genModel="model/nattable.genmodel"/>
   </extension>
</plugin>
