<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create a new Sequence Diagram (Papyrus II)"
            id="org.eclipse.papyrus.diagram.sequence.CreateSequenceDiagramCommand"
            name="Create Sequence Diagram">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.diagram.sequence.CreateSequenceDiagramCommand"
            commandId="org.eclipse.papyrus.diagram.sequence.CreateSequenceDiagramCommand">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.papyrus.diagram.ui.toolbar">
            <command
                  commandId="org.eclipse.papyrus.diagram.sequence.CreateSequenceDiagramCommand"
                  icon="icons/SequenceDiagram.gif"
                  label="Create a new Sequence Diagram"
                  style="push"
                  tooltip="Create a new Sequence Diagram">
                  <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.papyrus.ui.menu">
         <menu
               id="org.eclipse.papyrus.diagram.ui.menu"
               label="Papyrus II">
            <command
                  commandId="org.eclipse.papyrus.diagram.sequence.CreateSequenceDiagramCommand"
                  icon="icons/SequenceDiagram.gif"
                  label="Create Sequence Diagram"
                  style="push"
                  tooltip="Create a new UML2 Sequence Diagram  (Papyrus II)">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.core.papyrusDiagram">
      <editorDiagram
            contextId="com.cea.papyrus.gmf.editor.context"
            factoryClass="org.eclipse.papyrus.diagram.sequence.SequenceDiagramEditorFactory"
            icon="icons/SequenceDiagram.gif">
      </editorDiagram>
      <creationCommand
            creationCommandClass="org.eclipse.papyrus.diagram.sequence.CreateSequenceDiagramCommand"
            icon="icons/SequenceDiagram.gif"
            id="org.eclipse.papyrus.diagram.sequence.CreationCommand"
            label="UML Sequence Diagram">
      </creationCommand>
   </extension>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="uml_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="uml_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/UMLDiagramFile.gif"
         extensions="uml_diagram"
         default="true"
         class="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditor"
         matchingStrategy="org.eclipse.papyrus.diagram.sequence.part.UMLMatchingStrategy"
         contributorClass="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.eclipse.papyrus.diagram.sequence.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/UMLDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.papyrus.diagram.sequence.part.UMLCreationWizard"
  	     id="org.eclipse.papyrus.diagram.sequence.part.UMLCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.eclipse.papyrus.diagram.sequence.InitDiagram"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.eclipse.papyrus.diagram.sequence.part.UMLInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.papyrus.diagram.sequence.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="PapyrusUMLSequenceDiagramPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="PapyrusUMLSequenceDiagramPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="PapyrusUMLSequenceDiagramRender">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>



   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.eclipse.papyrus.diagram.sequence"
            labelProvider="org.eclipse.papyrus.diagram.sequence.sheet.UMLSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.papyrus.diagram.sequence">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.eclipse.papyrus.diagram.sequence">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.eclipse.papyrus.diagram.sequence.sheet.UMLPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.eclipse.papyrus.diagram.sequence.navigator.UMLAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>


<?gmfgen generated="true"?>

	<extension point="org.eclipse.core.runtime.preferences">
		<?gmfgen generated="true"?>
		<initializer class="org.eclipse.papyrus.diagram.sequence.preferences.DiagramPreferenceInitializer"/>
	</extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.eclipse.papyrus.diagram.sequence.providers.UMLViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="PapyrusUMLSequenceDiagram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,3001,3006,3003,3002,3007,3004,3005"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4003,4004"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.eclipse.papyrus.diagram.sequence.providers.UMLEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PapyrusUMLSequenceDiagram"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,3001,3006,3003,3002,3007,3004,3005"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4003,4004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5005,5003,5004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.eclipse.papyrus.diagram.sequence.providers.UMLModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.papyrus.diagram.sequence.edit.parts.PackageEditPart" id="Package_1000"/>
         <object class="org.eclipse.papyrus.diagram.sequence.edit.parts.InteractionEditPart" id="Interaction_2001"/>
         <context elements="Package_1000,Interaction_2001"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.eclipse.papyrus.diagram.sequence.providers.UMLIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.eclipse.papyrus.diagram.sequence.providers.UMLParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.Package_1000"
               name="%metatype.name.Package_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Package"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.PackageEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.Interaction_2001"
               name="%metatype.name.Interaction_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Interaction"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.InteractionEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.Lifeline_3001"
               name="%metatype.name.Lifeline_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Lifeline"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.LifelineEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.ActionExecutionSpecification_3006"
               name="%metatype.name.ActionExecutionSpecification_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActionExecutionSpecification"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.ActionExecutionSpecificationEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.BehaviorExecutionSpecification_3003"
               name="%metatype.name.BehaviorExecutionSpecification_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BehaviorExecutionSpecification"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.BehaviorExecutionSpecificationEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.InteractionUse_3002"
               name="%metatype.name.InteractionUse_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InteractionUse"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.InteractionUseEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.ConsiderIgnoreFragment_3007"
               name="%metatype.name.ConsiderIgnoreFragment_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ConsiderIgnoreFragment"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.ConsiderIgnoreFragmentEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.CombinedFragment_3004"
               name="%metatype.name.CombinedFragment_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CombinedFragment"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.CombinedFragmentEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.InteractionOperand_3005"
               name="%metatype.name.InteractionOperand_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InteractionOperand"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.InteractionOperandEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.diagram.sequence.Message_4003"
               name="%metatype.name.Message_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Message"
               edithelper="org.eclipse.papyrus.diagram.sequence.edit.helpers.MessageEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <specializationType
               id="org.eclipse.papyrus.diagram.sequence.Message_4004"
               name="%metatype.name.Message_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.papyrus.diagram.sequence.Message_4003"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.eclipse.papyrus.diagram.sequence.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.eclipse.papyrus.diagram.sequence.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.eclipse.papyrus.diagram.sequence.TypeContext">
         <elementType ref="org.eclipse.papyrus.diagram.sequence.Package_1000"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.Interaction_2001"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.Lifeline_3001"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.ActionExecutionSpecification_3006"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.BehaviorExecutionSpecification_3003"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.InteractionUse_3002"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.ConsiderIgnoreFragment_3007"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.CombinedFragment_3004"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.InteractionOperand_3005"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.Message_4003"/>
         <elementType ref="org.eclipse.papyrus.diagram.sequence.Message_4004"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.papyrus.diagram.sequence.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.eclipse.papyrus.diagram.sequence"
           properties="isURIEditorInput"
           class="org.eclipse.papyrus.diagram.sequence.part.UMLUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.papyrus.diagram.sequence.resourceContent"/>
			<contentExtension pattern="org.eclipse.papyrus.diagram.sequence.domainResourceContent"/>
            <contentExtension pattern="org.eclipse.papyrus.diagram.sequence.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.papyrus.diagram.sequence.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.eclipse.papyrus.diagram.sequence.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.papyrus.diagram.sequence.navigator.UMLNavigatorContentProvider" 
            labelProvider="org.eclipse.papyrus.diagram.sequence.navigator.UMLNavigatorLabelProvider"
            icon="icons/obj16/UMLDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="uml_diagram"/>
               </and>
               <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.eclipse.papyrus.diagram.sequence.navigatorSorter" 
               class="org.eclipse.papyrus.diagram.sequence.navigator.UMLNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="uml_diagram"/>
                  </and>
                  <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.eclipse.papyrus.diagram.sequence.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.papyrus.diagram.sequence.navigator.UMLDomainNavigatorContentProvider" 
            labelProvider="org.eclipse.papyrus.diagram.sequence.navigator.UMLDomainNavigatorLabelProvider"
            icon="icons/obj16/UMLDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="uml"/>
               </and>
               <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.papyrus.diagram.sequence.navigatorActionProvider"
            class="org.eclipse.papyrus.diagram.sequence.navigator.UMLNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.eclipse.papyrus.diagram.sequence.navigatorLinkHelper"
            class="org.eclipse.papyrus.diagram.sequence.navigator.UMLNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.eclipse.papyrus.diagram.sequence.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.eclipse.papyrus.diagram.sequence.navigator.UMLAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.eclipse.papyrus.diagram.sequence.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.eclipse.papyrus.diagram.sequence.updateDiagram"
         contextId="org.eclipse.papyrus.diagram.sequence.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.eclipse.papyrus.diagram.sequence.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.eclipse.papyrus.diagram.sequence.edit.parts.PackageEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.eclipse.papyrus.diagram.sequence.LoadResourceAction"
         name="Load Resource"
         categoryId="org.eclipse.papyrus.diagram.sequence.part.UMLDiagramEditorID"
         defaultHandler="org.eclipse.papyrus.diagram.sequence.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
<extension
		id="UML Plugin.palettedefinition"
		name="UML Plugin Predefined Entries"
		point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"> 
			
		<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
			<Priority name="Lowest"/>
      		<contribution
            	factoryClass="org.eclipse.papyrus.diagram.sequence.part.UMLPaletteFactory">
     			<predefinedEntry id="standardGroup/noteStack/noteTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/textTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/noteattachmentTool" remove="true"/>
					<entry
       defineOnly="true"
       description="Create a Lifeline"
       id="createLifeline1CreationTool"
       kind="tool"
       label="Lifeline"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create an Execution Action"
       id="createExecutionAction2CreationTool"
       kind="tool"
       label="Execution Action"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create an Execution Behaviour"
       id="createExecutionBehaviour3CreationTool"
       kind="tool"
       label="Execution Behaviour"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create InteractionUse"
       id="createInteractionUse4CreationTool"
       kind="tool"
       label="InteractionUse"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create Combined Fragment"
       id="createCombinedFragment5CreationTool"
       kind="tool"
       label="Combined Fragment"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create Interaction Operand"
       id="createInteractionOperand6CreationTool"
       kind="tool"
       label="Interaction Operand"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create  MessageSync"
       id="createMessageSync1CreationTool"
       kind="tool"
       label="MessageSync"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create MessageAsync"
       id="createMessageAsync2CreationTool"
       kind="tool"
       label="Message Async"
       large_icon=""
       path=""
       small_icon="">
 	</entry>

			</contribution>
			<editor id="org.eclipse.papyrus.diagram.sequence"/>
		</paletteProvider>	
			
	</extension>

<extension
		id="UML Plugin.standard"
		name="UML Plugin Standard Palette"
		point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"> 
			
		<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
			<Priority name="Low"/>
      		<contribution
            	factoryClass="org.eclipse.papyrus.diagram.sequence.part.UMLPaletteFactory">
     			<predefinedEntry id="standardGroup/noteStack/noteTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/textTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/noteattachmentTool" remove="true"/>
					<entry
       description=""
       id="createObjects1Group"
       kind="drawer"
       label="Objects"
       large_icon=""
       path="/"
       small_icon="">
 	</entry>
 	 
 	 	<predefinedEntry
          id="createLifeline1CreationTool"
          path="/createObjects1Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createExecutionAction2CreationTool"
          path="/createObjects1Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createExecutionBehaviour3CreationTool"
          path="/createObjects1Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createInteractionUse4CreationTool"
          path="/createObjects1Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createCombinedFragment5CreationTool"
          path="/createObjects1Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createInteractionOperand6CreationTool"
          path="/createObjects1Group">
    </predefinedEntry>

	<entry
       description=""
       id="createMessage2Group"
       kind="drawer"
       label="Message"
       large_icon=""
       path="/"
       small_icon="">
 	</entry>
 	 
 	 	<predefinedEntry
          id="createMessageSync1CreationTool"
          path="/createMessage2Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createMessageAsync2CreationTool"
          path="/createMessage2Group">
    </predefinedEntry>


			</contribution>
			<editor id="org.eclipse.papyrus.diagram.sequence"/>
		</paletteProvider>	
			
	</extension>

<extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
            name="PapyrusUMLSequenceDiagram Diagram"
            category="org.eclipse.papyrus.preferences.diagrams"
            class="org.eclipse.papyrus.diagram.sequence.preferences.DiagramGeneralPreferencePage">
      </page>
      


      <page
            id="org.eclipse.papyrus.diagram.sequence.preferences.DiagramPrintingPreferencePage"
            name="%prefpage.org.eclipse.uml2.uml.diagram.printing"
            category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
            class="org.eclipse.papyrus.diagram.sequence.preferences.DiagramPrintingPreferencePage">
      </page>

      <page
            id="org.eclipse.papyrus.diagram.sequence.preferences.DiagramRulersAndGridPreferencePage"
            name="%prefpage.org.eclipse.uml2.uml.diagram.rulersAndGrid"
            category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
            class="org.eclipse.papyrus.diagram.sequence.preferences.DiagramRulersAndGridPreferencePage">
      </page>

   </extension>

<extension point="org.eclipse.ui.preferencePages">
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.InteractionPreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.InteractionPreferencePage"
            name="Interaction" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.InteractionUsePreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.InteractionUsePreferencePage"
            name="InteractionUse" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.ConsiderIgnoreFragmentPreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.ConsiderIgnoreFragmentPreferencePage"
            name="ConsiderIgnoreFragment" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.CombinedFragmentPreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.CombinedFragmentPreferencePage"
            name="CombinedFragment" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.ActionExecutionSpecificationPreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.ActionExecutionSpecificationPreferencePage"
            name="ActionExecutionSpecification" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.LifelinePreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.LifelinePreferencePage"
            name="Lifeline" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.InteractionOperandPreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.InteractionOperandPreferencePage"
            name="InteractionOperand" />	
	
	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.BehaviorExecutionSpecificationPreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.BehaviorExecutionSpecificationPreferencePage"
            name="BehaviorExecutionSpecification" />	
	


	
			<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.preferences.diagrams.PapyrusUMLSequenceDiagram"
			class="org.eclipse.papyrus.diagram.sequence.preferences.MessagePreferencePage"
            id="org.eclipse.papyrus.diagram.sequence.preferences.MessagePreferencePage"
            name="Message" />	
	

</extension>


   <!-- optionally, specify keybindings -->
</plugin>
