<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
##########################################################################################
# Copyright (c) 2008 Conselleria de Infraestructuras y Transporte, Generalitat 
# de la Comunitat Valenciana . All rights reserved. This program
# and the accompanying materials are made available under the terms of the
# Eclipse Public License v1.0 which accompanies this distribution, and is
# available at http://www.eclipse.org/legal/epl-v10.html
# 
# Contributors: Francisco Javier Cano MuÃƒÂ±oz (Prodevelop) - initial API implementation
#
########################################################################################
-->

<plugin>
	<extension-point id="modelToEditorMap" name="ModelToEditorMap" schema="schema/modelToEditorMap.exsd"/>
 <extension-point id="editorAssistantProvider" name="editorAssistantProvider" schema="schema/editorAssistantProvider.exsd"/>
 <extension-point id="viewInfo" name="viewInfo" schema="schema/viewInfo.exsd"/>
 <extension-point id="moskittEditorFactory" name="moskittEditorFactory" schema="schema/moskittEditorFactory.exsd"/>
 <extension-point id="paletteDefinition" name="PaletteDefinition" schema="schema/paletteDefinition.exsd"/>
 <extension-point id="aspectToolProvider" name="aspectToolProvider" schema="schema/aspectToolProvider.exsd"/>
 <extension-point id="paletteCustomization" name="Palette customization" schema="schema/paletteCustomization.exsd"/>
      
      <extension point="org.eclipse.ui.views">
   <category 
	id="org.eclipse.papyrus.views.category"
	name="Papyrus">
   </category>
   
</extension>
<extension
      point="org.eclipse.papyrus.infra.core.modelListener">
   <listener
         name="StereotypeApplicationListener"
         realization="org.eclipse.papyrus.uml.tools.listeners.PapyrusStereotypeListener">
   </listener>
</extension>

<extension
      point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
   <paletteProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
      <Priority
            name="Highest">
      </Priority>
      <contribution>
         <predefinedEntry
               id="standardGroup/noteStack/noteTool"
               remove="true">
         </predefinedEntry>
         <predefinedEntry
               id="standardGroup/noteStack/textTool"
               remove="true">
         </predefinedEntry>
         <predefinedEntry
               id="standardGroup/noteStack/noteattachmentTool"
               remove="true">
         </predefinedEntry>
      </contribution>
      <editor
            class="org.eclipse.papyrus.uml.diagram.common.part.UmlGmfDiagramEditor(org.eclipse.papyrus.uml.diagram.common)">
      </editor>
   </paletteProvider>
</extension>

<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
	<propertySections contributorId="TreeOutlinePage">
		<propertySection
			afterSection=""
	   		class="org.eclipse.papyrus.uml.diagram.common.sheet.UMLPropertySection"
	  		id="AdvancedProperty"
	   		tab="advanced">
	   		<input type="java.lang.Object"/>
		</propertySection>
	</propertySections>
</extension>
<!-- The class doesn't exist
<extension
      point="org.eclipse.ui.startup">
   <startup
         class="org.eclipse.papyrus.uml.diagram.common.Startup"></startup>
</extension>
-->
<extension
      point="org.eclipse.ui.menus">

	<menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?endof=fileMenu"
		allPopups="false">
   <!--menuContribution
         locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContribution"-->
      <command
            commandId="org.eclipse.papyrus.uml.diagram.commands.LoadResourceAction"
            label="Load resource..."
            style="push">
         <visibleWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </visibleWhen>
      </command>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         categoryId="org.eclipse.papyrus.editor.category"
         defaultHandler="org.eclipse.papyrus.uml.diagram.common.actions.LoadResourceAction"
         id="org.eclipse.papyrus.uml.diagram.commands.LoadResourceAction"
         name="Load Resource">
   </command>
   <command
         categoryId="org.eclipse.papyrus.editor.category"
         defaultHandler="org.eclipse.papyrus.uml.diagram.common.handlers.PasteWithModelHandler"
         description="Paste content in a diagram (graphic+ semantic)"
         id="org.eclipse.papyrus.uml.diagram.common.commands.PasteWithModelCommand"
         name="PasteWithModel">
   </command>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="org.eclipse.papyrus.uml.diagram.clazz.objectContribution.dependencybranchdeletion"
         objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
      <action
            class="org.eclipse.papyrus.uml.diagram.common.commands.CleanDiagram"
            definitionId="org.eclipse.papyrus.common.cleandiagram"
            enablesFor="1"
            id="org.eclipse.papyrus.common.cleandiagram"
            label="Clean invalid views"
            menubarPath="editMenu/editGroup">
      </action>
   </objectContribution>
   <objectContribution
         adaptable="false"
         id="org.eclipse.papyrus.uml.diagram.common.pastewithmodelaction"
         objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.GraphicalEditPart">
      <action
            class="org.eclipse.papyrus.uml.diagram.common.actions.PasteWithModelAction"
            definitionId="org.eclipse.papyrus.common.pasteWithModel"
            enablesFor="1"
            icon="icons/paste_edit.gif"
            id="org.eclipse.papyrus.uml.diagram.common.objectContribution.pastewithmodelaction"
            label="Paste with model"
            menubarPath="editMenu/editGroup">
      </action>
   </objectContribution>
</extension>
<extension
      point="org.eclipse.papyrus.infra.core.modelListener">
   <listener
         description="This listener listens for profile (un)applications to update the palette"
         name="PaletteProfileApplicationListener"
         realization="org.eclipse.papyrus.uml.diagram.common.service.PaletteProfileApplicationListener">
   </listener>
</extension>
<extension
      point="org.eclipse.papyrus.infra.core.modelListener">
   <listener
         name="org.eclipse.papyrus.uml.diagram.common.listener1"
         realization="org.eclipse.papyrus.uml.diagram.common.listeners.RemoveStereotypeApplicationListener">
   </listener>
</extension>
<extension
      point="org.eclipse.papyrus.infra.core.papyrusDiagram">
   <actionBarContributor
         id="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor"
         implementingClass="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor">
   </actionBarContributor>
</extension>
<extension
      point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
   <aspectToolProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.palette.AssociationEndAspectActionProvider"
         description="This Provider handles actions taken after association creation. It modifies the 2 properties, member ends of the created association."
         icon="icons/obj16/Association_composite.gif"
         id="org.eclipse.papyrus.postaction.associationendactionprovider"
         name="Set Association ends properties">
      <Priority
            name="Lowest">
      </Priority>
   </aspectToolProvider>
</extension>
<extension
      point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
   <aspectToolProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.palette.ChangeStereotypeDisplayAspectActionProvider"
         description="This changes the way stereotypes are displayed in the created element. (Vertical or horizontal display, icon or text, etc.)"
         icon="icons/stereotype_display.gif"
         id="org.eclipse.papyrus.postaction.changeStereotypeDisplayProvider"
         name="Set applied stereotypes appearance">
      <Priority
            name="Lowest">
      </Priority>
   </aspectToolProvider>
</extension>
<extension
      point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
   <aspectToolProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.palette.StereotypeAspectActionProvider"
         description="This provider creates action that applies a list of stereotypes to the given element."
         icon="icons/stereotype.gif"
         id="org.eclipse.papyrus.applystereotypeactionprovider"
         name="Set list of applied stereotypes">
      <Priority
            name="Lowest">
      </Priority>
   </aspectToolProvider>
</extension>
<extension
      point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
   <aspectToolProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.palette.SemanticAspectActionProvider"
         description="The actions provided by this extension modify a semantic element, giving static-defined values to some of his attributes"
         icon="icons/stack.gif"
         id="org.eclipse.papyrus.postaction.semanticactionprovider"
         name="Set meta-element properties">
      <Priority
            name="Lowest">
      </Priority>
   </aspectToolProvider>
</extension>

<extension
      point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
   <aspectToolProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.palette.DisplayAppliedStereotypeAspectActionProvider"
         description="This action modifies the list of stereotype that will be displayed for the specified element, and if they are displayed using qualified name or simple name"
         icon="icons/stereotype_display.gif"
         id="org.eclipse.papyrus.postaction.displayAppliedStereotypeactionprovider"
         name="Set list of displayed stereotypes">
      <Priority
            name="Lowest">
      </Priority>
   </aspectToolProvider>
</extension>
<extension
      point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
   <aspectToolProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.palette.DisplayAppliedStereotypePropertiesInCompartmentAspectActionProvider"
         description="This action modifies the list of stereotype properties that will be displayed for the specified element."
         icon="icons/stereotype_display.gif"
         id="org.eclipse.papyrus.postaction.displayAppliedStereotypePropertiesInCompartmentactionprovider"
         name="Set list of displayed stereotypes properties in Compartment">
      <Priority
            name="Lowest">
      </Priority>
   </aspectToolProvider>
</extension>
<extension
      point="org.eclipse.papyrus.uml.pastemanager.pasteCommandProvider">
   <PasteCommandProvider
         priority="Lowest"
         realization="org.eclipse.papyrus.uml.pastemanager.service.DefaultPasteCommandProvider">
   </PasteCommandProvider>
</extension>
<extension
      id="update-cmd-binding"
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.eclipse.papyrus.uml.diagram.common.commands.PasteWithModelCommand"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+SHIFT+V">
   </key>
   <key
         commandId="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram"
         contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="DEL">
   </key>
   <key
         commandId="org.eclipse.ui.edit.delete"
         contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+DEL">
   </key>
</extension>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="org.eclipse.papyrus.uml.diagram.common.commands.CreateUMLModelCommand"
            description="Create Unified Modeling Language diagrams"
            icon="icons/category_uml.gif"
            id="uml"
            label="UML">
      </diagramCategory>      
   </extension>

<!-- Property tester to check the nature (UML Model or Profile) of currently opened project -->  
<extension
		point="org.eclipse.core.expressions.propertyTesters">
	<propertyTester
		class="org.eclipse.papyrus.uml.diagram.common.util.UMLSelectionTester"
		id="org.eclipse.papyrus.UMLSelectionTester"
		namespace="org.eclipse.papyrus.UMLSelectionTester"
		properties="isUMLModel, isUMLProfile"
		type="org.eclipse.jface.viewers.ISelection">
	</propertyTester>
</extension>

<!-- Reusable test definitions verifying:
	- Papyrus is the active editor
	- The model root element is a UML Model or Profile 
  -->
<extension
		point="org.eclipse.core.expressions.definitions">
	
	<definition id="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel">
		<and>
		
		<with variable="activeEditorId">
			<equals value="org.eclipse.papyrus.infra.core.papyrusEditor"/>
		</with>

		<with variable="selection">
			<test property="org.eclipse.papyrus.UMLSelectionTester.isUMLModel" value="true"
				forcePluginActivation="true"/>
		</with>
		
		</and>
	</definition>
	
	<definition id="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLProfile">
		<and>
		
		<with variable="activeEditorId">
			<equals value="org.eclipse.papyrus.infra.core.papyrusEditor"/>
		</with>

		<with variable="selection">
			<test property="org.eclipse.papyrus.UMLSelectionTester.isUMLProfile" value="true"
				forcePluginActivation="true"/>
		</with>
		
		</and>
	</definition>	
</extension>

<!-- The location is based on menu id defined in GMF runtime 
	 (see org.eclipse.gmf.runtime.diagram.ui.actions.ActionIds and
	 org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider) -->
<extension point="org.eclipse.ui.menus">

	<menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?endof=editMenu"
		allPopups="false">

  <command
        commandId="org.eclipse.ui.edit.delete"
        disabledIcon="IMG_TOOL_DELETE_DISABLED"
        icon="IMG_TOOL_DELETE"
        label="Delete Selected Element"
        style="push">
     <visibleWhen>
        <and>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.papyrus.infra.core.papyrusEditor">
              </equals>
           </with>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                 </instanceof>
              </iterate>
           </with>
        </and>
     </visibleWhen>
  </command>

		<command commandId="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram"
			icon="icons/obj16/eraser.gif"
			label="Hide Selected Element"
			style="push">
			<visibleWhen>
				<and>
					<with variable="activeEditorId">
                        <equals value="org.eclipse.papyrus.infra.core.papyrusEditor"/>
					</with>
					<with variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<instanceof value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"/>
						</iterate>
					</with>
				</and>
			</visibleWhen>			
		</command>
		
  <separator
        name="org.eclipse.papyrus.uml.diagram.common.commands.LoadSeparator">
  </separator>
  <command
        commandId="org.eclipse.papyrus.uml.diagram.common.commands.Load"
        icon="icons/obj16/LoadResource.gif"
        label="Load"
        style="push">
     <visibleWhen>
        <and>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.papyrus.infra.core.papyrusEditor">
              </equals>
           </with>
           <with
                 variable="selection">
              <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.resourceloading.tester.isAllNotLoaded"
                        value="true" />
              </and>
           </with>
        </and>
     </visibleWhen>
  </command>
  <command
        commandId="org.eclipse.papyrus.uml.diagram.common.commands.Unload"
        icon="icons/obj16/UnloadResource.gif"
        label="Unload"
        style="push">
     <visibleWhen>
        <and>
           <with
                 variable="activeEditorId">
              <equals
                    value="org.eclipse.papyrus.infra.core.papyrusEditor">
              </equals>
           </with>
           <with
                 variable="selection">
              <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.resourceloading.tester.isAllLoaded"
                        value="true" />
              </and>
           </with>
        </and>
     </visibleWhen>
  </command>

	</menuContribution>
</extension>

<extension point="org.eclipse.ui.commands">
	
	<command
		categoryId="org.eclipse.papyrus.editor.category"
		defaultHandler="org.eclipse.papyrus.uml.diagram.common.handlers.DeleteFromModelCommandHandler"
		description="Delete the selection from model"
		id="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromModel"
		name="Delete From Model Command">
	</command>
	
	<command
		categoryId="org.eclipse.papyrus.editor.category"
		defaultHandler="org.eclipse.papyrus.uml.diagram.common.handlers.DeleteFromDiagramCommandHandler"
		description="Delete the selection from diagram"
		id="org.eclipse.papyrus.uml.diagram.common.commands.DeleteFromDiagram"
		name="Delete From Diagram Command">
	</command>
	<command
		categoryId="org.eclipse.papyrus.editor.category"
		defaultHandler="org.eclipse.papyrus.uml.diagram.common.handlers.LoadHandler"
		description="Load the corresponding submodel"
		id="org.eclipse.papyrus.uml.diagram.common.commands.Load"
		name="Load">
	</command>
	<command
		categoryId="org.eclipse.papyrus.editor.category"
		defaultHandler="org.eclipse.papyrus.uml.diagram.common.handlers.UnloadHandler"
		description="Unload the corresponding submodel"
		id="org.eclipse.papyrus.uml.diagram.common.commands.Unload"
		name="Unload">
	</command>
</extension>

<extension
      point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
   <decoratorProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.InheritedDecoratorProvider">
      <Priority
            name="Lowest">
      </Priority>
      <object
            class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
            id="NODE">
      </object>
      <context
            decoratorTargets="NODE">
      </context>
   </decoratorProvider>
</extension>
<extension
      point="org.eclipse.ui.services">
   <sourceProvider
         provider="org.eclipse.papyrus.uml.diagram.common.providers.ActionStateSourceProvider">
      <variable
            name="deleteInDiagram"
            priorityLevel="workbench">
      </variable>
      <variable
            name="renameNamedElement"
            priorityLevel="workbench">
      </variable>
   </sourceProvider>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.eclipse.papyrus.uml.diagram.common.handlers.DeleteFromModelCommandHandler"
         commandId="org.eclipse.ui.edit.delete">
      <activeWhen>
         <and>
            <with
                  variable="deleteInDiagram">
               <equals
                     value="enabled">
               </equals>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                  </instanceof>
               </iterate>
            </with>
         </and>
      </activeWhen>
   </handler>
   <handler
         class="org.eclipse.papyrus.uml.diagram.common.handlers.RenamedElementHandler"
         commandId="org.eclipse.ui.edit.rename">
      <activeWhen>
         <and>
            <with
                  variable="renameNamedElement">
               <equals
                     value="enabled">
               </equals>
            </with>
         </and>
      </activeWhen>
   </handler>
</extension>
<extension
         point="org.eclipse.papyrus.infra.core.service">
 		<service
            classname="org.eclipse.papyrus.uml.diagram.common.resourceupdate.ResourceUpdateService"
            description="Service used to update resources that have changed on disk"
            id="org.eclipse.papyrus.uml.diagram.common.resourceupdate"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.lifecycleevents.ILifeCycleEventsProvider">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.editor.IMultiDiagramEditor">
         </dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
 		</service>
</extension>
<!--Declare a property tester. The tested properties allow to enable/disable handlers which listen these properties   -->
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="org.eclipse.papyrus.uml.diagram.common.util.DiagramTester"
         id="org.eclipse.papyrus.uml.diagram.common.diagram.tester"
         namespace="org.eclipse.papyrus.uml.diagram.common.diagram.tester"
         properties="diagramType"
         type="org.eclipse.ui.IEditorPart">
   </propertyTester>
</extension>
<extension
      point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
   <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="GenericDiagramActionHandlerProvider">
      <Priority
            name="Low">
      </Priority>
      <ViewId
            id="org.eclipse.papyrus.infra.core.papyrusEditor">
         <ElementType
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <GlobalActionId
                  actionId="save">
            </GlobalActionId>
            <GlobalActionId
                  actionId="print">
            </GlobalActionId>
         </ElementType>
      </ViewId>
   </GlobalActionHandlerProvider>
   <GlobalActionHandlerProvider
         class="org.eclipse.papyrus.uml.diagram.common.providers.PapyrusGlobalActionHandlerProvider"
         id="PapyrusDiagramActionHandlerProvider">
      <Priority
            name="Low">
      </Priority>
      <ViewId
            id="org.eclipse.papyrus.infra.core.papyrusEditor">
         <ElementType
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <GlobalActionId
                  actionId="delete">
            </GlobalActionId>
            <GlobalActionId
                  actionId="cut">
            </GlobalActionId>
            <GlobalActionId
                  actionId="copy">
            </GlobalActionId>
            <GlobalActionId
                  actionId="paste">
            </GlobalActionId>
         </ElementType>
      </ViewId>
   </GlobalActionHandlerProvider>
   <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="IDEDiagramActionHandlerProvider">
      <Priority
            name="Low">
      </Priority>
      <ViewId
            id="org.eclipse.papyrus.infra.core.papyrusEditor">
         <ElementType
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <GlobalActionId
                  actionId="bookmark">
            </GlobalActionId>
         </ElementType>
      </ViewId>
   </GlobalActionHandlerProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.hyperlink.editor.registration">
   <editorhyperlink
         helper="org.eclipse.papyrus.uml.diagram.common.ui.hyperlinkshell.HyperLinkDiagramEditorHelper">
   </editorhyperlink>
</extension>
<extension
      point="org.eclipse.papyrus.infra.hyperlink.tab.registration">
   <hyperlinktab
         position="250"
         tab="org.eclipse.papyrus.uml.diagram.common.ui.hyperlinkshell.LocalDefaultLinkDiagramTab"
         tabId="org.eclipse.papyrus.uml.diagram.common.heuristictab">
   </hyperlinktab>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.shape.ActorShapeProvider"
         description="Provides a stickman shape for all actors and typed element by actors"
         id="org.eclipse.papyrus.uml.diagram.common.actorshapeprovider"
         name="Actor Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
<extension
      point="org.eclipse.papyrus.infra.gmfdiag.common.shapeProvider">
   <shapeProvider
         class="org.eclipse.papyrus.uml.diagram.common.service.shape.StereotypedElementShapeProvider"
         description="Provides the shapes based on the stereotype applied on the element"
         id="org.eclipse.papyrus.uml.diagram.common.stereotypedelementshapeprovider"
         name="Stereotyped Element Shape Provider">
      <Priority
            name="Lowest">
      </Priority>
   </shapeProvider>
</extension>
</plugin>
