<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <model
            classname="org.eclipse.papyrus.infra.emf.compare.common.modelresource.EMFCompareEditorModel"
            description="The model for the PapyrusCompareEditor">
      </model>
   </extension>

</plugin>
