<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               icon="icons/moka_icon.png"
               id="org.eclipse.papyrus.views.modelexplorer.popup.moka"
               label="Moka">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.moka">
         <menu
               icon="icons/debug.gif"
               id="org.eclipse.papyrus.views.modelexplorer.popup.moka.debug"
               label="Debug">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popup.moka.debug">
         <command
               commandId="org.eclipse.papyrus.moka.togglebreakpoint"
               icon="icons/brkp_16x16.gif"
               id="org.eclipse.papyrus.moka.togglebreakpoint"
               label="Toggle breakpoint"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.moka.togglebreakpointactivation"
               icon="icons/brkpd_16x16.gif"
               id="org.eclipse.papyrus.moka.togglebreakpointactivation"
               label="Toggle breakpoint activation"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <menu
               icon="icons/moka_icon.png"
               id="org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka"
               label="Moka">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka">
         <menu
               icon="icons/debug.gif"
               id="org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.debug"
               label="Debug">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu.moka.debug">
         <command
               commandId="org.eclipse.papyrus.moka.togglebreakpoint"
               icon="icons/brkp_16x16.gif"
               id="org.eclipse.papyrus.moka.togglebreakpoint.diagram"
               label="Toggle breakpoint"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.moka.togglebreakpointactivation"
               icon="icons/brkpd_16x16.gif"
               id="org.eclipse.papyrus.moka.togglebreakpointactivation.diagram"
               label="Toggle breakpoint activation"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.moka.ui.breakpoint.handlers.ToggleBreakpointHandler"
            description="ToggleBreakpoint"
            id="org.eclipse.papyrus.moka.togglebreakpoint"
            name="ToggleBreakpoing">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.moka.ui.breakpoint.handlers.ToggleBreakpointActivationHandler"
            description="ToggleBreakpointActivation"
            id="org.eclipse.papyrus.moka.togglebreakpointactivation"
            name="ToggleBreakpointActivation">
      </command>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.papyrus.moka.ui.presentation.MokaDebugModelPresentation"
            id="org.eclipse.papyrus.moka">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.papyrus.moka.ui.launch.MokaLaunchConfigurationTabGroup"
            id="org.eclipse.papyrus.moka.ui.launchConfigurationTabGroup"
            type="org.eclipse.papyrus.moka.launchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.papyrus.moka.launchConfiguration"
            icon="icons/moka_icon.png"
            id="org.eclipse.papyrus.moka.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.papyrus.moka.ui.preferences.MokaPreferencePage"
            id="org.eclipse.papyrus.moka.ui.preferences"
            name="Moka preference page">
      </page>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.moka.ui.breakpoint.decoration.BreakpointDecoration"
            decorationType="org.eclipse.papyrus.moka.breakpointmarker">
      </client>
   </extension>
   <extension
         id="org.eclipse.papyrus.moka.ui.suspendedmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.papyrus.modelmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.papyrus.moka.ui.animationmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.papyrus.modelmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.markertopseudoselectormappingprovider">
      <provider
            class="org.eclipse.papyrus.moka.ui.presentation.DebugMarkerMappingToPseudoSelector">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.eclipse.papyrus.moka.ui.views.MokaAnimationView"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.papyrus.moka.ui"
            name="Moka Animation View Category">
      </category>
      <view
            category="org.eclipse.papyrus.moka.ui"
            class="org.eclipse.papyrus.moka.ui.views.MokaAnimationView"
            icon="icons/moka_icon.png"
            id="org.eclipse.papyrus.moka.ui.views.MokaAnimationView"
            name="Animation">
      </view>
   </extension>

</plugin>
