<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.plugins.ChangePluginVersionHandler"
            description="Change Plugin Version"
            id="org.eclipse.papyrus.dev.project.management.command.plugin.change.version"
            name="Change Plugin Version">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.features.ChangeFeatureVersionHandler"
            description="Change Feature Version"
            id="org.eclipse.papyrus.dev.project.management.command.feature.change.version"
            name="Change Feature Version">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.plugins.ChangeDependencyVersionNumberHandler"
            description="Change Dependencies Version"
            id="org.eclipse.papyrus.dev.project.management.command.plugin.change.dependency.version"
            name="Change Dependencies Version">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.plugins.AddProjectAboutFileHandler"
            id="org.eclipse.papyrus.dev.project.management.command.plugin.add.about"
            name="Add the file about.html to the project">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.features.AddFeatureLicenseFileHandler"
            description="Add the license file to the feature"
            id="org.eclipse.papyrus.dev.project.management.command.feature.add.license"
            name="Add License File">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.features.AddFEPLFileHandler"
            description="Add the EPL file to the feature"
            id="org.eclipse.papyrus.dev.project.management.command.feature.add.epl"
            name="Add EPL file">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.features.SetCopyrightNoticeHandler"
            description="Set Feature Copyright"
            id="org.eclipse.papyrus.dev.project.management.command.feature.set.copyright"
            name="Set Feature Copyright">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.dev.project.management.handlers.features.ExternalizeFeatureStringHandler"
            id="org.eclipse.papyrus.dev.project.management.command.feature.externalize"
            name="Externalize String for Feature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               icon="icons/papyrus.png"
               label="Project management">
            <menu
                  icon="icons/feature_obj.gif"
                  label="Feature">
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.feature.add.license"
                     icon="icons/html.gif"
                     label="Add License File (no undo)"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.feature.add.epl"
                     icon="icons/html.gif"
                     label="Add EPL File (no undo)"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.feature.change.version"
                     icon="icons/version.png"
                     label="Change Feature Version (no undo)"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.feature.set.copyright"
                     icon="icons/copyright_icon.png"
                     label="Set Copyright (doesn&apos;t erase existing value)"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.feature.externalize"
                     label="Externalize String"
                     style="push">
               </command>
            </menu>
            <menu
                  icon="icons/plugin_obj.gif"
                  label="Plugin">
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.plugin.add.about"
                     icon="icons/html.gif"
                     label="Add about.html file (no undo)"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.plugin.change.dependency.version"
                     icon="icons/plugin_mf_obj.gif"
                     label="Change Dependencies Versions (no undo)"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.papyrus.dev.project.management.command.plugin.change.version"
                     icon="icons/version.png"
                     label="Change Plugin Version (no undo)"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
