<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.views.properties.tabbed.core.provider.EMFObjectLabelProvider"
            tabDescriptorProvider="org.eclipse.papyrus.views.properties.tabbed.core.provider.XMLBasedTabDescriptorProvider">
         <propertyCategory
               category="org.eclipse.papyrus"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.runtime.propertyViewProvider">
      <propertyViewProvider
            class="org.eclipse.papyrus.views.properties.tabbed.core.view.XMLPropertyTabViewProvider">
         <Priority
               name="Lowest">
         </Priority>
         <PropertyViewContribution
               description="This is the generic view for marte tabbed properties"
               icon="icons/tool.gif"
               id="propertyview.marte.basic"
               name="MARTE"
               path="resources/marte.ecore.xml">
         </PropertyViewContribution>
      </propertyViewProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.runtime.propertyEditorControllerProvider">
      <propertyEditorControllerProvider
            class="org.eclipse.papyrus.views.properties.runtime.controller.predefined.PredefinedPropertyControllerProvider"
            description="this is the basic provider for MARTE features"
            id="org.eclipse.papyrus.views.properties.view.marte.structuralFeaturesEMFTPredefinedControllers">
         <Priority
               name="Lowest">
         </Priority>
         <PredefinedControllers
               id="org.eclipse.papyrus.views.properties.view.marte.PredefinedControllers"
               name="org.eclipse.papyrus.views.properties.view.marte.PredefinedControllers"
               path="resources/predefined.xml">
         </PredefinedControllers>
      </propertyEditorControllerProvider>
   </extension>

</plugin>
