<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      
   <extension
         point="org.eclipse.ui.commands">
      <command
			categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new Communication Diagram "
            id="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
            name="Create a new Communication Diagram">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramWithNavigationHandler"
            commandId="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   
<extension
		point="org.eclipse.ui.menus">
		
	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
	<toolbar id="org.eclipse.papyrus.uml.diagram.ui.toolbar">
		<command commandId="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
			icon="icons/obj16/Diagram_Communication.gif"
			label="Create a new Communication Diagram"
			style="push"
			tooltip="Create a new Communication Diagram">
			<visibleWhen>
				<reference definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel"/>
			</visibleWhen>
		</command>
	</toolbar>
	</menuContribution>
	
	<menuContribution locationURI="menu:org.eclipse.papyrus.ui.menu">
	<menu id="org.eclipse.papyrus.uml.diagram.ui.menu.diagrams"
		label="Diagrams">
		<command commandId="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
			icon="icons/obj16/Diagram_Communication.gif"
			label="Create a new Communication Diagram"
			style="push"
			tooltip="Create a new Communication Diagram">
			<visibleWhen>
				<reference definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel"/>
			</visibleWhen>
		</command>
	</menu>
	</menuContribution>

	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.creatediagram">
		<command commandId="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
			icon="icons/obj16/Diagram_Communication.gif"
			label="Create a new Communication Diagram"
			style="push"
			tooltip="Create a new Communication Diagram">
			<visibleWhen>
				<reference definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel"/>
			</visibleWhen>
		</command>
	</menuContribution>

</extension>
   
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.uml.diagram.communication.CommunicationDiagramEditorFactory"
            icon="icons/obj16/Diagram_Communication.gif">
      </editorDiagram>
      <creationCommand
            creationCommandClass="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
            creationCondition="org.eclipse.papyrus.uml.diagram.communication.CommunicationDiagramCreationCondition"
            icon="icons/obj16/Diagram_Communication.gif"
            id="org.eclipse.papyrus.uml.diagram.communication.CreateCommunicationDiagramCommand"
            label="UML Communication Diagram"
            language="uml">
      </creationCommand>
   </extension>


<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLMarkerNavigationProvider">
         <MarkerType name="org.eclipse.papyrus.uml.diagram.communication.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

<extension id="diagnostic" name="org.eclipse.papyrus.uml.diagram.communication problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   <extension
		id="org.eclipse.papyrus.uml.diagram.communication.palettedefinition"
		name="org.eclipse.papyrus.uml.diagram.communication Predefined Entries"
		point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"> 
		
		<?gmfgen generated="true"?>	
		<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
			<Priority name="Lowest"/>
      		<contribution
            	factoryClass="org.eclipse.papyrus.uml.diagram.communication.part.UMLPaletteFactory">
     			<predefinedEntry id="standardGroup/noteStack/noteTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/textTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/noteattachmentTool" remove="true"/>
					<entry
       defineOnly="true"
       description="Create a Lifeline"
       id="communication.tool.lifeline"
       kind="tool"
       label="Lifeline"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Lifeline.gif"
       path=""
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Lifeline.gif">
 	</entry>
	<entry
       defineOnly="true"
       description="Create new Comment"
       id="communication.tool.comment"
       kind="tool"
       label="Comment"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Comment.gif"
       path=""
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Comment.gif">
 	</entry>
	<entry
       defineOnly="true"
       description="Create a constraint"
       id="communication.tool.constraint"
       kind="tool"
       label="Constraint"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif"
       path=""
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif">
 	</entry>
	<entry
       defineOnly="true"
       description="Create a Duration Observation on a Message"
       id="communication.tool.durationobservation"
       kind="tool"
       label="Duration Observation"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/DurationObservation.gif"
       path=""
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/DurationObservation.gif">
 	</entry>
	<entry
       defineOnly="true"
       description="Create a Time Observation"
       id="communication.tool.timeobservation"
       kind="tool"
       label="Time Observation"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/TimeObservation.gif"
       path=""
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/TimeObservation.gif">
 	</entry>
	<entry
       defineOnly="true"
       description="MessageCreate"
       id="createMessageCreateCreationTool"
       kind="tool"
       label="Message"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Message_createMessage.gif"
       path=""
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Message_createMessage.gif">
 	</entry>
	<entry
       defineOnly="true"
       description="Creation of a link for comment, constraint, TimeObservation, DurationObservation"
       id="createLink13CreationTool"
       kind="tool"
       label="Link"
       large_icon="icons/obj16/Link.gif"
       path=""
       small_icon="icons/obj16/Link.gif">
 	</entry>

			</contribution>
		</paletteProvider>	
			
	</extension>

<extension
		id="org.eclipse.papyrus.uml.diagram.communication.standard"
		name="org.eclipse.papyrus.uml.diagram.communication Standard Palette"
		point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"> 
		
		<?gmfgen generated="true"?>	
		<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
			<Priority name="Low"/>
      		<contribution
            	factoryClass="org.eclipse.papyrus.uml.diagram.communication.part.UMLPaletteFactory">
     			<predefinedEntry id="standardGroup/noteStack/noteTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/textTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/noteattachmentTool" remove="true"/>
					<entry
       description="Nodes"
       id="communication.group.nodes"
       kind="drawer"
       label="Nodes"
       large_icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
       path="/"
       small_icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif">
       <expand
              force="true">
       </expand>
 	</entry>
 	 
 	 	<predefinedEntry
          id="communication.tool.lifeline"
          path="/communication.group.nodes">
    </predefinedEntry>
 	<predefinedEntry
          id="communication.tool.comment"
          path="/communication.group.nodes">
    </predefinedEntry>
 	<predefinedEntry
          id="communication.tool.constraint"
          path="/communication.group.nodes">
    </predefinedEntry>
 	<predefinedEntry
          id="communication.tool.durationobservation"
          path="/communication.group.nodes">
    </predefinedEntry>
 	<predefinedEntry
          id="communication.tool.timeobservation"
          path="/communication.group.nodes">
    </predefinedEntry>

	<entry
       description="Edges tools"
       id="createEdges2Group"
       kind="drawer"
       label="Edges"
       large_icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
       path="/"
       small_icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif">
       <expand
              force="true">
       </expand>
 	</entry>
 	 
 	 	<predefinedEntry
          id="createMessageCreateCreationTool"
          path="/createEdges2Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createLink13CreationTool"
          path="/createEdges2Group">
    </predefinedEntry>


			</contribution>
			<editor id="org.eclipse.papyrus.uml.diagram.communication"/>
		</paletteProvider>	
			
	</extension>

<extension point="org.eclipse.ui.preferencePages">


		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.InteractionPreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.InteractionPreferencePage"
            name="Interaction Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.TimeObservationPreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.TimeObservationPreferencePage"
            name="TimeObservation Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.ShortCutDiagramPreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.ShortCutDiagramPreferencePage"
            name="ShortCutDiagram Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.CommentPreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.CommentPreferencePage"
            name="Comment Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.ConstraintPreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.ConstraintPreferencePage"
            name="Constraint Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.LifelinePreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.LifelinePreferencePage"
            name="Lifeline Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.DurationObservationPreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.DurationObservationPreferencePage"
            name="DurationObservation Node" />
	


		

	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
			class="org.eclipse.papyrus.uml.diagram.communication.preferences.MessagePreferencePage"
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.MessagePreferencePage"
            name="Message Link" />
		
		
		

</extension>

<extension point="org.eclipse.core.runtime.preferences">
		<?gmfgen generated="true"?>
		<initializer class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramPreferenceInitializer"/>
	</extension>

<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="PapyrusUMLCommunicationDiagram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="8002,8016,8001,8004,8005,8006,8007"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="8009,8010,8011,8012,8013"/>
      </viewProvider>
   </extension>

<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PapyrusUMLCommunicationDiagram"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="8002,8016,8001,8004,8005,8006,8007"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="8009,8010,8011,8012,8013"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,0,5002,5064,5160,5150,5153,5154,5155,5156"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

<extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.papyrus.uml.diagram.communication.edit.parts.ModelEditPart" id="Package_1000"/>
         <object class="org.eclipse.papyrus.uml.diagram.communication.edit.parts.InteractionEditPart" id="Interaction_8002"/>
         <object class="org.eclipse.papyrus.uml.diagram.communication.edit.parts.ShortCutDiagramEditPart" id="Diagram_8016"/>
         <context elements="Package_1000,Interaction_8002,Diagram_8016"/>
      </modelingAssistantProvider>
   </extension>

<extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLIconProvider">
         <Priority name="Lowest"/>
      </IconProvider>
   </extension>

<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Package_1000"
               name="%metatype.name.Package_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Package"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.PackageEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Interaction_8002"
               name="%metatype.name.Interaction_8002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Interaction"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.InteractionEditHelper">
            <param name="semanticHint" value="8002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Diagram_8016"
               name="%metatype.name.Diagram_8016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Diagram"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.ShortCutDiagramEditHelper">
            <param name="semanticHint" value="8016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Lifeline_8001"
               name="%metatype.name.Lifeline_8001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Lifeline"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.LifelineEditHelper">
            <param name="semanticHint" value="8001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Constraint_8004"
               name="%metatype.name.Constraint_8004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Constraint"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.ConstraintEditHelper">
            <param name="semanticHint" value="8004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Comment_8005"
               name="%metatype.name.Comment_8005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Comment"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.CommentEditHelper">
            <param name="semanticHint" value="8005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.TimeObservation_8006"
               name="%metatype.name.TimeObservation_8006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TimeObservation"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.TimeObservationEditHelper">
            <param name="semanticHint" value="8006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.DurationObservation_8007"
               name="%metatype.name.DurationObservation_8007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DurationObservation"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.DurationObservationEditHelper">
            <param name="semanticHint" value="8007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.uml.diagram.communication.Message_8009"
               name="%metatype.name.Message_8009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Message"
               edithelper="org.eclipse.papyrus.uml.diagram.communication.edit.helpers.MessageEditHelper">
            <param name="semanticHint" value="8009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <specializationType
               id="org.eclipse.papyrus.uml.diagram.communication.CommentAnnotatedElement_8010"
               name="%metatype.name.CommentAnnotatedElement_8010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="8010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <specializationType
               id="org.eclipse.papyrus.uml.diagram.communication.ConstraintConstrainedElement_8011"
               name="%metatype.name.ConstraintConstrainedElement_8011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="8011"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <specializationType
               id="org.eclipse.papyrus.uml.diagram.communication.DurationObservationEvent_8012"
               name="%metatype.name.DurationObservationEvent_8012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="8012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <specializationType
               id="org.eclipse.papyrus.uml.diagram.communication.TimeObservationEvent_8013"
               name="%metatype.name.TimeObservationEvent_8013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="8013"/>
         </specializationType>
      </metamodel>
   </extension>

<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.eclipse.papyrus.uml.diagram.communication.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.eclipse.papyrus.uml.diagram.communication.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.eclipse.papyrus.uml.diagram.communication.TypeContext">
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Package_1000"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Interaction_8002"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Diagram_8016"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Lifeline_8001"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Constraint_8004"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Comment_8005"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.TimeObservation_8006"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.DurationObservation_8007"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.Message_8009"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.CommentAnnotatedElement_8010"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.ConstraintConstrainedElement_8011"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.DurationObservationEvent_8012"/>
         <elementType ref="org.eclipse.papyrus.uml.diagram.communication.TimeObservationEvent_8013"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>

<extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.papyrus.uml.diagram.communication.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.eclipse.papyrus.uml.diagram.communication"
           properties="isURIEditorInput"
           class="org.eclipse.papyrus.uml.diagram.communication.part.UMLUriEditorInputTester">
       </propertyTester>
   </extension>

<extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.papyrus.uml.diagram.communication.resourceContent"/>
			<contentExtension pattern="org.eclipse.papyrus.uml.diagram.communication.domainResourceContent"/>
            <contentExtension pattern="org.eclipse.papyrus.uml.diagram.communication.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.papyrus.uml.diagram.communication.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

<extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.eclipse.papyrus.uml.diagram.communication.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorContentProvider" 
            labelProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorLabelProvider"
            icon="icons/obj16/UMLDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="PapyrusUMLCommunication_diagram"/>
               </and>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.eclipse.papyrus.uml.diagram.communication.navigatorSorter" 
               class="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="PapyrusUMLCommunication_diagram"/>
                  </and>
                  <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.eclipse.papyrus.uml.diagram.communication.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorContentProvider" 
            labelProvider="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorLabelProvider"
            icon="icons/obj16/UMLDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="PapyrusUMLCommunication"/>
               </and>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.papyrus.uml.diagram.communication.navigatorActionProvider"
            class="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>

<extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.eclipse.papyrus.uml.diagram.communication.navigatorLinkHelper"
            class="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.eclipse.papyrus.uml.diagram.communication.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.eclipse.papyrus.uml.diagram.communication.navigator.UMLAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>

<extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.eclipse.papyrus.uml.diagram.communication.part.UMLDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.eclipse.papyrus.uml.diagram.communication.updateDiagram"
         name="%update.diagram.name"/>
   </extension>

<extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.eclipse.papyrus.uml.diagram.communication.updateDiagram"
         contextId="org.eclipse.papyrus.uml.diagram.communication.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

<extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
            name="PapyrusUMLCommunicationDiagram Diagram"
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
            class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramGeneralPreferencePage">
      </page>
      


      <page
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramPrintingPreferencePage"
            name="%prefpage.org.eclipse.uml2.uml.diagram.printing"
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
            class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramPrintingPreferencePage">
      </page>

      <page
            id="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramRulersAndGridPreferencePage"
            name="%prefpage.org.eclipse.uml2.uml.diagram.rulersAndGrid"
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.PapyrusUMLCommunicationDiagram"
            class="org.eclipse.papyrus.uml.diagram.communication.preferences.DiagramRulersAndGridPreferencePage">
      </page>

   </extension>
<extension
      id="ep-provider"
      point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
   <editpartProvider
         class="org.eclipse.papyrus.uml.diagram.communication.custom.providers.CustomUMLEditPartProvider">
      <Priority
            name="Highest">
      </Priority>
      <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="org.eclipse.papyrus.uml.diagram.communication"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,3001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
        
   </editpartProvider>
</extension>
<extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.eclipse.papyrus.uml.diagram.communication.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="org.eclipse.papyrus.uml.diagram.communication.objectContribution.messageLabelReorient"
         objectClass="org.eclipse.papyrus.uml.diagram.communication.edit.parts.MessageNameEditPart">
      <action
            class="org.eclipse.papyrus.uml.diagram.communication.custom.commands.MessageLabelInverseOrientation"
            definitionId="org.eclipse.papyrus.uml.diagram.communication.messagelabelreorientID"
            enablesFor="1"
            icon="icons/arrow-rotate.gif"
            id="org.eclipse.papyrus.uml.diagram.communication.MessagelabelreorientID"
            label="Reverse message orientation"
            menubarPath="editGroup">
      </action>
   </objectContribution>
</extension>
<extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
   </extension>

<extension
      point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
   <viewProvider
         class="org.eclipse.papyrus.uml.diagram.communication.custom.providers.CustomUMLViewProvider">
      <Priority
            name="High">
      </Priority>
      <context
            semanticHints="PapyrusUMLCommunicationDiagram"
            viewClass="org.eclipse.gmf.runtime.notation.Diagram">
      </context>
      <context
            semanticHints="8002,8016,8001,8004,8005,8006,8007"
            viewClass="org.eclipse.gmf.runtime.notation.Node">
      </context>
      <context
            semanticHints="8009,8010,8011,8012,8013"
            viewClass="org.eclipse.gmf.runtime.notation.Edge">
      </context>
   </viewProvider>
</extension>
<extension
      point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
   <binding
         context="org.eclipse.papyrus.infra.services.edit.TypeContext">
      <elementType
            ref="org.eclipse.papyrus.uml.diagram.communication.MessageHelperAdvice">
      </elementType>
   </binding>
   <binding
         context="org.eclipse.papyrus.infra.services.edit.TypeContext">
      <elementType
            ref="org.eclipse.papyrus.uml.diagram.communication.DestroyMessageAdvice">
      </elementType>
   </binding>
</extension>
<extension
      point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
   <metamodel
         nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
      <adviceBinding
            class="org.eclipse.papyrus.uml.diagram.communication.custom.advices.DestroyMessageAdvice"
            id="org.eclipse.papyrus.uml.diagram.communication.DestroyMessageAdvice"
            inheritance="all"
            typeId="org.eclipse.papyrus.uml.Message">
      </adviceBinding>
      <adviceBinding
            class="org.eclipse.papyrus.uml.diagram.communication.custom.advices.MessageHelperAdvice"
            id="org.eclipse.papyrus.uml.diagram.communication.MessageHelperAdvice"
            inheritance="all"
            typeId="org.eclipse.papyrus.uml.Message">
      </adviceBinding>
     
   </metamodel>
</extension>
<extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="org.eclipse.papyrus.uml.diagram.communication.providers.UMLValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>




</plugin>
