<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/customization"
            class="org.eclipse.papyrus.customization.model.customization.CustomizationPackage"
            genModel="Model/Customization.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.papyrus.wizards.category"
            class="org.eclipse.papyrus.customization.wizard.CreateNewCustomizationPluginWizard"
            icon="icons/16-config.png"
            id="org.eclipse.papyrus.customization.wizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.context">
      <context
            contextModel="Model/Customization/Customization.ctx">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.environment">
      <environment
            environmentModel="Model/Environment.xmi">
      </environment>
   </extension>

</plugin>
