<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="modelFactory" name="Model Factory" schema="schema/modelFactory.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile"
           	 class="org.eclipse.papyrus.infra.onefile.model.adapters.ModelAdapterFactory">
	        <adapter type="org.eclipse.core.resources.mapping.ResourceMapping" />
	        <adapter type="java.util.Collection" />
         <adapter
               type="org.eclipse.ui.ide.IContributorResourceAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile"
            class="org.eclipse.papyrus.infra.onefile.model.adapters.SubResourceAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.ui.IContributorResourceAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.ide.IContributorResourceAdapter2">
         </adapter>
      </factory>
   </extension>
	<extension
         id="modelProvider"
         name="One File Model Provider"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider
            class="org.eclipse.papyrus.infra.onefile.providers.OneFileModelProvider"/>
      <extends-model id="org.eclipse.core.resources.modelProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.infra.onefile.matcher.OnlyDiFilter"
            description="All the files related to di files are agregated bellow a common parent"
            id="org.eclipse.papyrus.infra.onefile.onlyDiFilter"
            name="Di view"
            visibleInUI="true">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.papyrus.infra.onefile.providers.PapyrusContentProvider"
            id="org.eclipse.papyrus.infra.onefile.DiContent"
            labelProvider="org.eclipse.papyrus.infra.onefile.providers.PapyrusLabelProvider"
            name="Papyrus Content"
            priority="high">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.providers.OneFileModelProvider">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.internal.resources.mapping.ResourceModelProvider">
		      </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </enablement>
         <actionProvider
		         class="org.eclipse.papyrus.infra.onefile.providers.PapyrusModelActionProvider"
		         id="org.eclipse.papyrus.infra.onefile.DiContent.OpenActions"
		         overrides="org.eclipse.ui.navigator.resources.OpenActions">
            <enablement>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </instanceof>
            </enablement> 
         </actionProvider>
         <dropAssistant
               class="org.eclipse.papyrus.infra.onefile.model.adapters.PapyrusCommonDropAdapterAssistant"
               id="org.eclipse.papyrus.infra.onefile.PapyrusDropAssistant">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof></possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="org.eclipse.papyrus.infra.onefile.providers.PapyrusViewerSorter"
               id="org.eclipse.papyrus.infra.onefile.sorter">
         </commonSorter>
         <triggerPoints>
            <or>
            	<instanceof
                  value="org.eclipse.core.resources.IContainer">
            	</instanceof>
             <instanceof
                   value="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
             </instanceof>
             <instanceof
                   value="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile">
             </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="org.eclipse.papyrus.infra.onefile.providers.SubresourceFileActionProvider"
               id="org.eclipse.papyrus.infra.onefile.DiContent.EditActions">
            <enablement>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile">
               </instanceof>
            </enablement>
         </actionProvider>
      </navigatorContent>
     </extension>
      <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.team.ui.navigatorViewer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.papyrus.infra.onefile.DiContent"/>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.jdt.ui.PackageExplorer">
         <includes>
            <contentExtension 
                  pattern="org.eclipse.papyrus.infra.onefile.onlyDiFilter">
            </contentExtension>
            <contentExtension 
                  pattern="org.eclipse.papyrus.infra.onefile.DiContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.papyrus.infra.onefile.oneFileLinkHelper">
            </contentExtension>
            <contentExtension 
			    pattern="org.eclipse.ui.navigator.resourceContent" />                     
		      <contentExtension 
			    pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension 
                  pattern="org.eclipse.papyrus.infra.onefile.onlyDiFilter">
            </contentExtension>
            <contentExtension 
                  pattern="org.eclipse.papyrus.infra.onefile.DiContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.papyrus.infra.onefile.oneFileLinkHelper">
            </contentExtension>
            <contentExtension 
			    pattern="org.eclipse.ui.navigator.resourceContent" />                     
	      <contentExtension 
			    pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding 
            viewerId="org.eclipse.team.ui.navigatorViewer">
         <includes>
            <contentExtension 
                  pattern="org.eclipse.papyrus.infra.onefile.onlyDiFilter">
            </contentExtension>
            <contentExtension 
                  pattern="org.eclipse.papyrus.infra.onefile.DiContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
  	 	<viewerContentBinding 
	            viewerId="org.eclipse.team.svn.ui.workspaceSynchronization">
	         <includes>
	            <contentExtension 
	                  pattern="org.eclipse.papyrus.infra.onefile.onlyDiFilter">
	            </contentExtension>
	            <contentExtension 
	                  pattern="org.eclipse.papyrus.infra.onefile.DiContent">
	            </contentExtension>
	         </includes>
	      </viewerContentBinding>
	      	<viewerContentBinding 
	            viewerId="org.eclipse.team.cvs.ui.workspaceSynchronization">
	         <includes>
	            <contentExtension 
	                  pattern="org.eclipse.papyrus.infra.onefile.onlyDiFilter">
	            </contentExtension>
	            <contentExtension 
	                  pattern="org.eclipse.papyrus.infra.onefile.DiContent">
	            </contentExtension>
	         </includes>
	      </viewerContentBinding>
        <viewerContentBinding
              viewerId="org.eclipse.papyrus.infra.onefile.DiContent">
           <includes>
              <contentExtension
                    pattern="org.eclipse.jdt.java.ui.javaContent">
              </contentExtension>
           </includes>
        </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.eclipse.papyrus.infra.onefile.model.adapters.PapyrusLinkHelper"
            id="org.eclipse.papyrus.infra.onefile.oneFileLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="di">
                  </test>
               </adapt>
            </and>
        </editorInputEnablement>
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="di">
                  </test>
               </and>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.onefile.modelFactory">
      <factory
            instance="org.eclipse.papyrus.infra.onefile.model.impl.PapyrusModelFactory"
            priority="1">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.papyrus.infra.onefile.providers.OneFileDecorator"
            id="org.eclipse.papyrus.infra.onefile.onefiledecorator"
            label="One File Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
</plugin>
