<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyurs/0.7.0/Resource"
            class="org.eclipse.papyrus.resource.ResourcePackage"
            genModel="model/resource.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.resource.filters.HideStereotypeApplicationsViewerFilter"
            description="Hide Steretype Applications items in the navigator"
            id="org.eclipse.papyrus.navigator.filters.HideStereotypeApplicationsViewerFilter"
            name="Stereotype Applications">
      </commonFilter>
   </extension>

</plugin>
