<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/sysml.efacet">
      </modeldeclaration>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.sysml.efacet.extended_sysml.portandflows.PortandflowsPackage"
            genModel="model/extended_sysml.genmodel"
            uri="http://www.eclipse.org/papyrus/0.9.0/Extended_SysML">
      </package>
   </extension>

</plugin>
