<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.papyrus.wizards.category"
            class="org.eclipse.papyrus.diagramtemplate.editor.DiagramTemplateModelWizard"
            finalPerspective="org.eclipse.papyrus.core.perspective"
            icon="icons/full/obj16/DiagramTemplateModelFile.gif"
            id="org.eclipse.papyrus.diagramtemplate.diagramtemplate.presentation.DiagramTemplateModelWizardID"
            name="%_UI_DiagramTemplateModelWizard_label">
         <description>%_UI_DiagramTemplateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.diagramtemplate.diagramtemplate.presentation.DiagramTemplateEditorID"
            name="%_UI_DiagramTemplateEditor_label"
            icon="icons/full/obj16/DiagramTemplateModelFile.gif"
            extensions="diagramtemplate"
            class="org.eclipse.papyrus.diagramtemplate.editor.DiagramTemplateEditor">
      </editor>
   </extension>

</plugin>
