<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.project"
            defaultHandler="org.eclipse.papyrus.dev.java.utils.EmptyPackagesHandler"
            id="org.eclipse.papyrus.dev.java.utils.EmptyPackagesCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.papyrus.dev.java.utils.EmptyPackagesCommand"
               icon="icons/empty_package.png"
               label="%command.label"
               mnemonic="%command.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
