<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.emf.facet.widgets.nattable.command.category"
            defaultHandler="org.eclipse.papyrus.infra.table.menu.handler.CommonColumnHandler"
            description="Show only the common columns"
            id="org.eclipse.emf.facet.widget.nattable.common.columns.command"
            name="Common Columns Command">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.nattable.command.category"
            defaultHandler="org.eclipse.papyrus.infra.table.menu.handler.HideEmptyColumnsHandler"
            description="This command hides the empty columns"
            id="org.eclipse.emf.facet.widget.nattable.empty.columns.command"
            name="Hide Empty Columns Command">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=navigate">
         <menu
               icon="icons/table.gif"
               id="org.eclipse.papyrus.table.menu"
               label="&amp;Table"
               tooltip="The table Menu">
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.loadCustomizationCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/uiCustom.gif"
                  id="org.eclipse.papyrus.table.menu.load.customization"
                  style="push"
                  tooltip="%load.customization">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.loadFacetCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/facet.gif"
                  id="org.eclipse.papyrus.table.menu.load.emf.facet"
                  style="push"
                  tooltip="%load.emf.facet">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.hideColumnCommand"
                  icon="icons/select_column_to_hide_2.gif"
                  id="org.eclipse.papyrus.table.menu.hide.empty.column"
                  style="push"
                  tooltip="%select.column.to.hide">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.sortColumnByTypeCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/sort_links_by_type.gif"
                  id="org.eclipse.papyrus.table.menu.sort.column"
                  style="push"
                  tooltip="%sort.column.by.type">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
                        <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.sortColumnByNameAToZCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/sort_columns_by_name_A_to_Z.gif"
                  style="push"
                  tooltip="Sort Column By Name (From A to Z)">
                           <visibleWhen
                                 checkEnabled="false">
                              <with
                                    variable="selection">
                                 <test
                                       forcePluginActivation="true"
                                       property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                                       value="true">
                                 </test>
                              </with>
                           </visibleWhen> <!-- TODO should be externalized -->
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.sortColumnByNameZToACommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/sort_columns_by_name_Z_to_A.gif"
                  style="push"
                  tooltip="Sort Column By Name (From Z to A)">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen> <!-- TODO should be externalized -->
            </command>
            <separator
                  name="org.eclipse.papyrus.table.menu.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.empty.columns.command"
                  icon="icons/empty.gif"
                  id="org.eclipse.papyrus.table.menu.hide.empty.column"
                  label="&amp;Hide the empty columns"
                  style="toggle"
                  tooltip="Hide the empty columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.infra.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.common.columns.command"
                  icon="icons/not_NA.gif"
                  id="org.eclipse.papyrus.table.menu.common.column"
                  label="&amp;Show only the common columns"
                  style="toggle"
                  tooltip="Show only the common columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.infra.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                  </and>
               </visibleWhen>
            </command>
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.facet.widgets.nattable.workbench.editor.NatTableEditor.toolbar">
         <separator
               name="org.eclipse.papyrus.table.menu.separator1"
               visible="true">
         </separator>
         <command
                  commandId="org.eclipse.emf.facet.widget.nattable.empty.columns.command"
                  icon="icons/empty.gif"
                  id="org.eclipse.emf.facet.papyrus.table.toolbar.hide.empty.column"
                  label="&amp;Hide the empty columns"
                  style="toggle"
                  tooltip="Hide the empty columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.infra.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                     <with
                           variable="activePart">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.emf.facet.widgets.nattable.workbench.tablePartTester.isTableEditor"
                              value="true">
                        </test>
                     </with>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.common.columns.command"
                  icon="icons/not_NA.gif"
                  id="org.eclipse.emf.facet.papyrus.table.toolbartab.common.column"
                  label="&amp;Show only the common columns"
                  style="toggle"
                  tooltip="Show only the common columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.infra.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                     <with
                           variable="activePart">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.emf.facet.widgets.nattable.workbench.tablePartTester.isTableEditor"
                              value="true">
                        </test>
                     </with>
                  </and>
               </visibleWhen>
                </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            class="org.eclipse.papyrus.infra.table.menu.handler.CreateNewElementInPopupContributionItem"
            locationURI="popup:org.eclipse.ui.popup.any">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.eclipse.papyrus.infra.table.menu.handler.CreateNewElementInTableMenuContributionItem"
            locationURI="menu:org.eclipse.papyrus.table.menu?before=org.eclipse.papyrus.table.menu.load.customization">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.infra.table.menu.providers.TableTester"
            id="org.eclipse.papyrus.table.menu.providers.TableTester"
            namespace="org.eclipse.papyrus.table.menu.providers.TableTester"
            properties="isTable"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   


   
   
   
   
</plugin>
