<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
      <strategy
            strategy="org.eclipse.papyrus.uml.diagram.dnd.strategy.instancespecification.ClassifierToSlotsDropStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.uml.diagram.dnd.strategy.classifier.ClassifierAsClassifierToStructureCompartmentDropStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.uml.diagram.dnd.lifeline.ClassifierToLifelineDropStrategy">
      </strategy>
      <strategy
            strategy="org.eclipse.papyrus.uml.diagram.dnd.lifeline.ClassifierToInteractionDropStrategy">
      </strategy>
   </extension>
</plugin>
