<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.compare.contentMergeViewers">
      <viewer class="org.eclipse.papyrus.infra.emf.compare.ui.content.viewer.PapyrusCustomizableContentMergeViewerCreator" extensions="ecore, uml" id="org.eclipse.papyrus.infra.emf.compare.ui.papyrus.viewer" label="Papyrus Customizable Content Merge Viewer">
      </viewer>
   </extension>
   <extension point="org.eclipse.compare.structureMergeViewers">
      <!--I add uml here, but it is not really a dependency-->
      <viewer class="org.eclipse.papyrus.infra.emf.compare.ui.structural.viewer.PapyrusStructureMergeViewerCreator" extensions="ecore, uml" id="org.eclipse.papyrus.infra.emf.compare.ui.structural.viewer" label="Papyrus Customizable Structure Merge Viewer">
      </viewer>
   </extension>


   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/compare_diff.uiCustom" loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/compare_diff.querySet"/>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.compare.compareWithOther"
               label="Papyrus Compare With Each Other"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.emf.compare.ui.handler.CompareTwoElementsAction"
            commandId="org.eclipse.compare.compareWithOther">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   -->
</plugin>
