<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2012, 2014 CEA and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   CEA - Initial API and implementation
   Christian W. Damus (CEA) - bug 323802
   Christian W. Damus (CEA) - bug 408491
   Christian W. Damus (CEA) - bug 431953 (pre-requisite refactoring of ModelSet service start-up)
   
-->
<plugin>
   <extension-point id="dependencyUpdateParticipant" name="Dependency Update Participants" schema="schema/dependencyUpdateParticipant.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="110"
            provider="org.eclipse.papyrus.infra.emf.providers.ResourceFilteredLabelProvider">
      </labelProvider>
      <labelProvider
            priority="100"
            provider="org.eclipse.papyrus.infra.emf.providers.EMFFilteredLabelProvider">
      </labelProvider>
      <labelProvider
            priority="50"
            provider="org.eclipse.papyrus.infra.emf.providers.AnyTypeLabelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <adviceBinding
               class="org.eclipse.papyrus.infra.emf.advice.DeletePageAdvice"
               id="org.eclipse.papyrus.infra.emf.deletePageAdvice"
               inheritance="all"
               typeId="*">
         </adviceBinding>
         <metamodelType
               eclass="EObject"
               edithelper="org.eclipse.papyrus.infra.emf.advice.DeletePageEditHelper"
               id="org.eclipse.papyrus.infra.emf.page">
         </metamodelType>
      </metamodel>
      <metamodel
            nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <adviceBinding
               id="org.eclipse.papyrus.infra.emf.readOnlyAdvice"
               class="org.eclipse.papyrus.infra.emf.advice.ReadOnlyObjectEditAdvice"
               typeId="*"
               inheritance="none">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.eclipse.papyrus.infra.services.edit.TypeContext">
         <elementType
               ref="org.eclipse.papyrus.infra.emf.page">
         </elementType>
         <elementType
               ref="org.eclipse.papyrus.infra.emf.deletePageAdvice">
         </elementType>
      </binding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="org.eclipse.papyrus.infra.emf.adapters.EObjectAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.infra.widgets.creation.IAtomicOperationExecutor">
         </adapter>
      </factory>
   </extension>

</plugin>
