<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.eclipse.papyrus.uml.profile.profilestructure"
            mandatory="true"
            name="Structuration of the profile"><![CDATA[Validate the UML profile]]>
      </category>
      <constraintProvider
            cache="false">
         <package
               namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
         </package>
         <constraints
               categories="org.eclipse.papyrus.uml.profile.profilestructure">
            <constraint
                  class="org.eclipse.papyrus.uml.profile.constraints.PropertyHasNameConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasNameConstraintID"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_name.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_name.msg
               </message>
               <description>
                  %property_has_name.desc
               </description>
               <target
                     class="uml.Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.uml.profile.constraints.PropertyHasUniqueNameConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasUniqueNameConstraintID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_unique_name.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_unique_name.msg
               </message>
               <description>
                  %property_has_unique_name.desc
               </description>
               <target
                     class="uml.Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.uml.profile.constraints.PropertyHasTypeConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasTypeID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_type.name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %property_has_type.msg
               </message>
               <description>
                  %property_has_type.desc
               </description>
               <target
                     class="uml.Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.uml.profile.constraints.PropertyHasDefaultValueConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyHasDefaultID"
                  lang="Java"
                  mode="Batch"
                  name="%property_has_default.name"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  %property_has_default.msg
               </message>
               <description>
                  %property_has_default.desc
               </description>
               <target
                     class="uml.Property">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.papyrus.uml.profile.constraints.PropertyMultiplicityLowerConstraint"
                  id="com.cea.papyrus.profile.constraints.PropertyMultiplicityLowerConstraintID"
                  lang="Java"
                  mode="Batch"
                  name="%property_multiplicity_lower.name"
                  severity="WARNING"
                  statusCode="0">
               <message>
                  %property_multiplicity_lower.msg
               </message>
               <description>
                  %property_multiplicity_lower.desc
               </description>
               <target
                     class="uml.Property">
               </target>
            </constraint>            
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <modelSetSnippet
            classname="org.eclipse.papyrus.uml.profile.model.ProfileApplicationModel"
            description="Automatically reapplies local profiles when they&apos;ve been redefined">
      </modelSetSnippet>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.emf.readonly.readOnlyHandler">
      <readOnlyHandler
            class="org.eclipse.papyrus.uml.profile.readonly.AppliedProfileReadOnlyHandler"
            id="org.eclipse.papyrus.uml.profile.readonly.AppliedProfileReadOnlyHandler"
            priority="15">
      </readOnlyHandler>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="org.eclipse.papyrus.uml.profile.clientContext">
         <selector
               class="org.eclipse.papyrus.uml.profile.constraints.ClientSelector">
         </selector>
      </clientContext>
      <binding
            context="org.eclipse.papyrus.uml.profile.clientContext">
         <category
               ref="org.eclipse.papyrus.uml.profile.profilestructure">
         </category>
      </binding>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="45"
            provider="org.eclipse.papyrus.uml.profile.providers.AppliedStereotypePropertyFilteredLabelProvider">
      </labelProvider>
   </extension>

</plugin>
