<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.infra.nattable.axismanager" name="Axis Manager" schema="schema/org.eclipse.papyrus.infra.nattable.axismanager.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.nattable.pathresolver" name="Path Resolver" schema="schema/org.eclipse.papyrus.infra.nattable.pathresolver.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.nattable.cellmanager" name="Cell Manager" schema="schema/org.eclipse.papyrus.infra.nattable.cellmanager.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.nattable.celleditor.configuration" name="CellEditorConfiguration" schema="schema/org.eclipse.papyrus.infra.nattable.celleditor.configuration.exsd"/>
   <extension-point id="org.eclipse.papyrus.infra.nattable.celleditor.configuration.factory" name="CellEditor Configuration Factory" schema="schema/org.eclipse.papyrus.infra.nattable.celleditor.configuration.factory.exsd"/>


 <extension
       point="org.eclipse.papyrus.infra.nattable.axismanager">
    <axisManager
          id="org.eclipse.papyrus.infra.nattable.emf.user.provider"
          manager="org.eclipse.papyrus.infra.nattable.manager.EObjectManager">
    </axisManager>
    <axisManager
          id="org.eclipse.papyrus.infra.nattable.emf.feature.provider"
          manager="org.eclipse.papyrus.infra.nattable.manager.FeatureManager">
    </axisManager>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="true"
          locationURI="popup:org.eclipse.ui.popup.any">
       <command
             commandId="org.eclipse.ui.file.print"
             label="Print Table"
             mnemonic="&amp;P"
             style="push">
          <visibleWhen>
             <with
                   variable="selection">
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.papyrus.infra.nattable.common.editorpart.tester.isEMFNattableEditor"
                      value="true">
                </test>
             </with>
          </visibleWhen>
       </command>
       <command
             commandId="org.eclipse.ui.edit.selectAll"
             style="push">
          <visibleWhen>
             <with
                   variable="selection">
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.papyrus.infra.nattable.common.editorpart.tester.isEMFNattableEditor"
                      value="true">
                </test>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          allPopups="true"
          locationURI="popup:org.eclipse.ui.popup.any">
       <menu
             id="table.common.menu"
             label="Add Axis Element">
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.eclipse.papyrus.infra.nattable.actions.PrintTableHandler"
          commandId="org.eclipse.ui.file.print">
       <activeWhen>
          <and>
             <with
                   variable="selection">
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.papyrus.infra.nattable.common.editorpart.tester.isEMFNattableEditor"
                      value="true">
                </test>
             </with>
          </and>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.infra.nattable.actions.SelectAllHandler"
          commandId="org.eclipse.ui.edit.selectAll">
       <activeWhen>
          <and>
             <with
                   variable="selection">
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.papyrus.infra.nattable.common.editorpart.tester.isEMFNattableEditor"
                      value="true">
                </test>
             </with>
          </and>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.eclipse.papyrus.infra.nattable.NattableInstancePropertyTester"
          id="org.eclipse.papyrus.infra.nattable.common.editorpart.tester"
          namespace="org.eclipse.papyrus.infra.nattable.common.editorpart.tester"
          properties="isEMFNattableEditor"
          type="org.eclipse.jface.viewers.IStructuredSelection">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.nattable.cellmanager">
    <cellManager
          id="org.eclipse.papyrus.infra.nattable.common.emf.feature.cell.manager"
          manager="org.eclipse.papyrus.infra.nattable.solver.CellFeatureValueManager"
          order="40">
    </cellManager>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
    <labelProvider
          priority="10"
          provider="org.eclipse.papyrus.infra.nattable.provider.TableLabelProvider">
    </labelProvider>
 </extension>
 
 <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">

	<metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore">

	<!-- Generalizarion specific advices (remove inconsistent views when a Generalization is deleted -->		
	<adviceBinding id="org.eclipse.papyrus.infra.nattable.common.helper.advice.TableContentsAdviceHelper"
		class="org.eclipse.papyrus.infra.nattable.helper.advice.TableContentsAdviceHelper"
		inheritance="all" typeId="*">
	</adviceBinding>
		
	</metamodel>
</extension>
	
<!-- UML ElementType bindings to Papyrus shared IClientContext -->
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">

	<!-- Bindings declaration to shared IClientContext -->
	<binding context="org.eclipse.papyrus.infra.services.edit.TypeContext">	
		<elementType ref="org.eclipse.papyrus.infra.nattable.common.helper.advice.TableContentsAdviceHelper"/>
	</binding>
		
</extension>
</plugin>

