<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PROFILES/"
            target="platform:/plugin/org.ecclipse.papyrus.spem2.profile/profiles/"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.extensionpoints.uml2.UMLProfile">
      <profile
            description="SPEM2 profile implementation (Software &amp; Systems Process Engineering Metamodel-07-11-01)"
            iconpath="resources/icons/Activity.jpg"
            name="SPEM2"
            path="pathmap://PROFILES/spem2.profile.uml"
            provider="Eclipse.org"/>
   </extension>

</plugin>
