<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/uml_stereotype_queries.querySet"/>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="org.eclipse.papyrus.uml.profilefacet.listener.ReapplyProfileTriggerListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.customControlCommand">
      <customControlCommand
            controlCommand="org.eclipse.papyrus.uml.profilefacet.controlmode.ProfileFacetSetControlCommand">
      </customControlCommand>
      <customUncontrolCommand
            uncontrolCommand="org.eclipse.papyrus.uml.profilefacet.controlmode.ProfileFacetSetUncontrolCommand">
      </customUncontrolCommand>
   </extension>
   
     <!-- ElementType bindings for diagram duplication with paste command -->
 <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/uml2/4.0.0/UML">
         <adviceBinding
               class="org.eclipse.papyrus.uml.profilefacet.advice.ProfileFacetDuplicateEditHelperAdvice"
               id="org.eclipse.papyrus.uml.profilefacet.advice.ProfileFacetDuplicateEditHelperAdvice"
               inheritance="all"
               typeId="org.eclipse.papyrus.uml.Element">
         </adviceBinding>
      </metamodel>
   </extension>
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">

	<!-- Bindings declaration -->
	<binding context="org.eclipse.papyrus.infra.services.edit.TypeContext">
	
		<!--<elementType pattern="org\.eclipse\.papyrus\.uml\..*" />-->
		<advice ref="org.eclipse.papyrus.uml.profilefacet.advice.ProfileFacetDuplicateEditHelperAdvice" />
	</binding>
</extension>
</plugin>
