<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/uml_stereotype_queries.querySet"/>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="org.eclipse.papyrus.uml.profilefacet.listener.ReapplyProfileTriggerListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.customControlCommand">
      <customControlCommand
            controlCommand="org.eclipse.papyrus.uml.profilefacet.controlmode.ProfileFacetSetControlCommand">
      </customControlCommand>
      <customUncontrolCommand
            uncontrolCommand="org.eclipse.papyrus.uml.profilefacet.controlmode.ProfileFacetSetUncontrolCommand">
      </customUncontrolCommand>
   </extension>
</plugin>
