<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="documentationPartHandler" name="documentationPartHandler" schema="schema/documentationPartHandler.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.papyrus.views.category"
            class="org.eclipse.papyrus.views.documentation.view.DocView"
            icon="icons/documentation.gif"
            id="org.eclipse.papyrus.views.documentation.view.DocView"
            name="Documentation"
            restorable="true">
      </view>
   </extension>

</plugin>
