<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.core.model">
      <modelSetSnippet
            classname="org.eclipse.papyrus.cache.impl.TypeCacheInitializer"
            description="Adapter attached to the ModelSet (aka ResourceSet)">
      </modelSetSnippet>
   </extension>

</plugin>
