<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2011 Mia-Software.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 	Gregoire Dupe (Mia-Software) - Bug 334000 Simple catalog manager
    Nicolas Guyomar (Mia-Software) - Bug 334000 Simple catalog manager
    Nicolas Bros (Mia-Software) - Bug 335218 - Extension point for registering EObject, EPackage, model editor
    Nicolas Guyomar (Mia-Software) - Bug 339899 - everything must be externalized before UI freeze
-->
<plugin>
   <extension-point id="modelViewer" name="%model.viewer.extension-point.name" schema="schema/modelViewer.exsd"/>
   <extension-point id="catalogmanager" name="%extension-point.name" schema="schema/catalogmanager.exsd"/>
   <extension-point id="modeldeclaration" name="%extension-point.name.0" schema="schema/modeldeclaration.exsd"/>
   <extension-point id="serialization" name="%serialization.extension-point.name" schema="schema/serialization.exsd"/>

   <extension
       point="org.eclipse.core.runtime.preferences">
      <initializer
         class="org.eclipse.papyrus.emf.facet.util.emf.core.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.serialization">
      <serializer
            class="org.eclipse.papyrus.emf.facet.util.emf.core.internal.serialization.serializers.StringSerializer">
      </serializer>
      <serializer
            class="org.eclipse.papyrus.emf.facet.util.emf.core.internal.serialization.serializers.IntegerSerializer">
      </serializer>
      <serializer
            class="org.eclipse.papyrus.emf.facet.util.emf.core.internal.serialization.serializers.BooleanSerializer">
      </serializer>
      <serializer
            class="org.eclipse.papyrus.emf.facet.util.emf.core.internal.serialization.serializers.IResourceSerializer">
      </serializer>
      <serializer
            class="org.eclipse.papyrus.emf.facet.util.emf.core.internal.serialization.serializers.EMFURISerializer">
      </serializer>
   </extension>

</plugin>
