<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.paletteconfiguration.presentation.PaletteconfigurationModelWizardID"
            name="%_UI_PaletteconfigurationModelWizard_label"
            class="org.eclipse.papyrus.paletteconfiguration.presentation.PaletteconfigurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PaletteconfigurationModelFile.gif">
         <description>%_UI_PaletteconfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.paletteconfiguration.presentation.PaletteconfigurationEditorID"
            name="%_UI_PaletteconfigurationEditor_label"
            icon="icons/full/obj16/PaletteconfigurationModelFile.gif"
            extensions="paletteconfiguration"
            class="org.eclipse.papyrus.paletteconfiguration.presentation.PaletteconfigurationEditor"
            contributorClass="org.eclipse.papyrus.paletteconfiguration.presentation.PaletteconfigurationActionBarContributor">
      </editor>
   </extension>

</plugin>
