<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.papyrus.uml.properties.tabbedproperties.comments.propertysection.CommentPropertySection"
               filter="org.eclipse.papyrus.uml.properties.tabbedproperties.comments.propertysection.CommentFilter"
               id="org.eclipse.papyrus.tabbedproperties.comment.styledsection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.eclipse.papyrus.uml.properties.tabbedproperties.comments.propertysection.CommentedElementPropertySection"
               filter="org.eclipse.papyrus.uml.properties.tabbedproperties.comments.propertysection.CommentedElementPropertySection"
               id="org.eclipse.papyrus.tabbedproperties.comment.umlelementsection"
               tab="Comments">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.papyrus.extensionpoints.editors.DirectEditor">
      <DirectEditor
            contributor="CEA LIST"
            icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Comment.gif"
            language="Papyrus UML"
            objectToEdit="org.eclipse.uml2.uml.Comment">
         <advancededitor
               editorConfiguration="org.eclipse.papyrus.uml.properties.tabbedproperties.comments.directeditor.HTMLCommentEditorDialogConfiguration">
         </advancededitor>
      </DirectEditor>
   </extension>
</plugin>
