<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.diff.mergerprovider">
      <mergerprovider
            fileExtension="uml"
            mergerProviderClass="org.eclipse.papyrus.uml.compare.merger.internal.provider.PapyrusUMLMergeProvider"
            priority="low">
      </mergerprovider>
   </extension>

</plugin>
