<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new Views Table"
            id="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
            name="Create a new Views Table">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
         <class
               class="org.eclipse.papyrus.infra.nattable.common.handlers.CreateNatTableEditorHandler">
            <parameter
                  name="tableType"
                  value="PapyrusViewsTable">
            </parameter>
         </class>
      </handler>
   </extension>
   <extension
         id="create.table.menus"
         name="Create Table Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.infra.nattable.popupmenu.createnattable">
         <command
               commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.papyrus.infra.nattable.menu.createnattable">
         <command
               commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.papyrus.infra.nattable.toolbar.createnattable">
         <command
               commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
            icon="platform:/plugin/org.eclipse.papyrus.infra.nattable.views.config/icons/nattablepageeditor.png">
      </image>
   </extension>
</plugin>
