<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <!-- We remove the GMF contributions and we replace them by ours-->
   <contributionItemProvider
         checkPluginLoaded="false"
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
      <Priority
            name="High">
      </Priority>
      <partContribution
            class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">
         <partPredefinedItem
               id="org.eclipse.gef.align_left"
               menubarPath="/diagramMenu/alignMenu/alignHorizontalGroup"
               removeFromMenubar="true"
               removeFromToolbar="true"
               toolbarPath="/alignMenu/alignHorizontalGroup">
         </partPredefinedItem>
         <partPredefinedItem
               id="org.eclipse.gef.align_center"
               menubarPath="/diagramMenu/alignMenu/alignHorizontalGroup"
               removeFromMenubar="true"
               removeFromToolbar="true"
               toolbarPath="/alignMenu/alignHorizontalGroup">
         </partPredefinedItem>
         <partPredefinedItem
               id="org.eclipse.gef.align_right"
               menubarPath="/diagramMenu/alignMenu/alignHorizontalGroup"
               removeFromMenubar="true"
               removeFromToolbar="true"
               toolbarPath="/alignMenu/alignHorizontalGroup">
         </partPredefinedItem>
         <partPredefinedItem
               id="org.eclipse.gef.align_bottom"
               menubarPath="/diagramMenu/alignMenu/alignVerticalGroup"
               removeFromMenubar="true"
               removeFromToolbar="true"
               toolbarPath="/alignMenu/alignVerticalGroup">
         </partPredefinedItem>
         <partPredefinedItem
               id="org.eclipse.gef.align_middle"
               menubarPath="/diagramMenu/alignMenu/alignVerticalGroup"
               removeFromMenubar="true"
               removeFromToolbar="true"
               toolbarPath="/alignMenu/alignVerticalGroup">
         </partPredefinedItem>
         <partPredefinedItem
               id="org.eclipse.gef.align_top"
               menubarPath="/diagramMenu/alignMenu/alignVerticalGroup"
               removeFromMenubar="true"
               removeFromToolbar="true"
               toolbarPath="/alignMenu/alignVerticalGroup">
         </partPredefinedItem>
      </partContribution>
      <popupContribution
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
         <popupPredefinedItem
               id="alignLeftAction"
               path="/formatMenu/alignMenu/alignHorizontalGroup"
               remove="true">
         </popupPredefinedItem>
         <popupPredefinedItem
               id="alignCenterAction"
               path="/formatMenu/alignMenu/alignHorizontalGroup"
               remove="true">
         </popupPredefinedItem>
         <popupPredefinedItem
               id="alignRightAction"
               path="/formatMenu/alignMenu/alignHorizontalGroup"
               remove="true">
         </popupPredefinedItem>
         <popupPredefinedItem
               id="alignBottomAction"
               path="/formatMenu/alignMenu/alignVerticalGroup"
               remove="true">
         </popupPredefinedItem>
         <popupPredefinedItem
               id="alignMiddleAction"
               path="/formatMenu/alignMenu/alignVerticalGroup"
               remove="true">
         </popupPredefinedItem>
         <popupPredefinedItem
               id="alignTopAction"
               path="/formatMenu/alignMenu/alignVerticalGroup"
               remove="true">
         </popupPredefinedItem>
         <!-- background is in black, this action is added with correct background after  -->
        <popupPredefinedItem
               id="addNoteAction"
               path="/diagramAddmenu/addDiagramGeneralGroup"
               remove="true">
         </popupPredefinedItem>
         <!-- exception when we try to do this action -->
           <popupPredefinedItem
               id="addNoteLinkAction"
               path="/addGroup"
               remove="true">
         </popupPredefinedItem>
      </popupContribution>
   </contributionItemProvider>
</extension>
<extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
         <Priority
               name="High">
         </Priority>
         <partContribution
               class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">
                          <partPredefinedItem
                  id="lineTypeSolidAction"
                  menubarPath="/diagramMenu/lineTypeMenu/lineTypeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineTypeDashAction"
                  menubarPath="/diagramMenu/lineTypeMenu/lineTypeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineTypeDotAction"
                  menubarPath="/diagramMenu/lineTypeMenu/lineTypeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineTypeDashDotAction"
                  menubarPath="/diagramMenu/lineTypeMenu/lineTypeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineTypeDashDotDotAction"
                  menubarPath="/diagramMenu/lineTypeMenu/lineTypeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineWidthOneAction"
                  menubarPath="/diagramMenu/lineWidthMenu/lineWidthGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineWidthTwoAction"
                  menubarPath="/diagramMenu/lineWidthMenu/lineWidthGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineWidthThreeAction"
                  menubarPath="/diagramMenu/lineWidthMenu/lineWidthGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineWidthFourAction"
                  menubarPath="/diagramMenu/lineWidthMenu/lineWidthGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
             <partPredefinedItem
                  id="lineWidthFiveAction"
                  menubarPath="/diagramMenu/lineWidthMenu/lineWidthGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            
            
            
             <partPredefinedItem
                  id="arrowTypeSourceNoneAction"
                  menubarPath="/diagramMenu/arrowTypeMenu/arrowTypeSourceMenu/arrowTypeSourceGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="arrowTypeSourceSolidAction"
                  menubarPath="/diagramMenu/arrowTypeMenu/arrowTypeSourceMenu/arrowTypeSourceGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="arrowTypeSourceOpenAction"
                  menubarPath="/diagramMenu/arrowTypeMenu/arrowTypeSourceMenu/arrowTypeSourceGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            
            <partPredefinedItem
                  id="arrowTypeTargetNoneAction"
                  menubarPath="/diagramMenu/arrowTypeMenu/arrowTypeTargetMenu/arrowTypeTargetGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="arrowTypeTargetSolidAction"
                  menubarPath="/diagramMenu/arrowTypeMenu/arrowTypeTargetMenu/arrowTypeTargetGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="arrowTypeTargetOpenAction"
                  menubarPath="/diagramMenu/arrowTypeMenu/arrowTypeTargetMenu/arrowTypeTargetGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            
           
             <partPredefinedItem
                  id="textAlignmentLeftAction"
                  menubarPath="/diagramMenu/textAlignmentMenu/textAlignmentGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="textAlignmentCenterAction"
                  menubarPath="/diagramMenu/textAlignmentMenu/textAlignmentGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="textAlignmentRightAction"
                  menubarPath="/diagramMenu/textAlignmentMenu/textAlignmentGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            
            <partPredefinedItem
                  id="fontDialogAction"
                  menubarPath="/diagramMenu/fontColorLineGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="fillColorContributionItem"
                  menubarPath="/diagramMenu/fontColorLineGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false"
                  toolbarPath="/toolbarColorLineGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="lineColorContributionItem"
                  menubarPath="/diagramMenu/fontColorLineGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false"
                  toolbarPath="/toolbarColorLineGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="selectAll"
                  menubarPath="/diagramMenu/selectMenu/selectGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="toolbarSelectAllAction"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/selectMenu/selectGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="selectAllShapesAction"
                  menubarPath="/diagramMenu/selectMenu/selectGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="toolbarSelectAllShapesAction"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/selectMenu/selectGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="selectAllConnectorsAction"
                  menubarPath="/diagramMenu/selectMenu/selectGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="toolbarSelectAllConnectorsAction"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/selectMenu/selectGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="arrangeAllAction"
                  menubarPath="/diagramMenu/arrangeMenu/arrangeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="toolbarArrangeAllAction"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/arrangeMenu/arrangeGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="arrangeSelectionAction"
                  menubarPath="/diagramMenu/arrangeMenu/arrangeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="toolbarArrangeSelectionAction"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/arrangeMenu/arrangeGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="bringToFrontAction"
                  menubarPath="/diagramMenu/zorderMenu/zorderGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="sendToBackAction"
                  menubarPath="/diagramMenu/zorderMenu/zorderGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="bringForwardAction"
                  menubarPath="/diagramMenu/zorderMenu/zorderGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="sendBackwardAction"
                  menubarPath="/diagramMenu/zorderMenu/zorderGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="autoSizeAction"
                  menubarPath="/diagramMenu/sizeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/toolbarFormatGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="makeSameWidthAction"
                  menubarPath="/diagramMenu/makeSameSizeMenu/sameSizeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="makeSameHeightAction"
                  menubarPath="/diagramMenu/makeSameSizeMenu/sameSizeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="makeSameSizeBothAction"
                  menubarPath="/diagramMenu/makeSameSizeMenu/sameSizeGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="viewGridAction"
                  menubarPath="/diagramMenu/viewMenu/gridGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="viewRulerAction"
                  menubarPath="/diagramMenu/viewMenu/gridGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="viewPageBreaks"
                  menubarPath="/diagramMenu/viewMenu/pageBreaksGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="recalcPageBreaks"
                  menubarPath="/diagramMenu/viewMenu/pageBreaksGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="snapToGridAction"
                  menubarPath="/diagramMenu/viewMenu/snapToGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true">
            </partPredefinedItem>
            <partPredefinedItem
                  id="allCompartmentsAction"
                  menubarPath="/diagramMenu/filtersMenu/compartmentMenu/allCompartmentsGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/compartmentMenu/allCompartmentsGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="noCompartmentsAction"
                  menubarPath="/diagramMenu/filtersMenu/compartmentMenu/allCompartmentsGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/compartmentMenu/allCompartmentsGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="sortfilterAction"
                  menubarPath="/diagramMenu/filtersMenu/expandFilterGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="false">
            </partPredefinedItem>
            <partPredefinedItem
                  id="zoomContributionItem"
                  menubarPath="/diagramMenu/viewGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/toolbarNavigateGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="copyAppearancePropertiesAction"
                  menubarPath="/diagramMenu/copyAppearanceGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/toolbarCopyAppearanceGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="diagramFilterActionMenu"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/toolbarFilterGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="rectilinearRouterAction"
                  menubarPath="/diagramMenu/routerMenu/routerGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/routerMenu/routerGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="obliqueRouterAction"
                  menubarPath="/diagramMenu/routerMenu/routerGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/routerMenu/routerGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="treeRouterAction"
                  menubarPath="/diagramMenu/routerMenu/routerGroup"
                  removeFromMenubar="true"
                  removeFromToolbar="true"
                  toolbarPath="/routerMenu/routerGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="showConnectorLabels"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/toolbarFilterGroup">
            </partPredefinedItem>
            <partPredefinedItem
                  id="hideConnectorLabels"
                  removeFromMenubar="false"
                  removeFromToolbar="true"
                  toolbarPath="/toolbarFilterGroup">
            </partPredefinedItem>
         </partContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupPredefinedItem
                  id="lineWidthOneAction"
                  path="/formatMenu/lineWidthMenu/lineWidthGroup"
                  remove="true">
            </popupPredefinedItem>   
            <popupPredefinedItem
                  id="lineWidthTwoAction"
                  path="/formatMenu/lineWidthMenu/lineWidthGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="lineWidthThreeAction"
                  path="/formatMenu/lineWidthMenu/lineWidthGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="lineWidthFourAction"
                  path="/formatMenu/lineWidthMenu/lineWidthGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="lineWidthFiveAction"
                  path="/formatMenu/lineWidthMenu/lineWidthGroup"
                  remove="true">
            </popupPredefinedItem>
            
 			<popupPredefinedItem
                  id="lineTypeSolidAction"
                  path="/formatMenu/lineTypeMenu/lineTypeGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="lineTypeDashAction"
                  path="/formatMenu/lineTypeMenu/lineTypeGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="lineTypeDotAction"
                  path="/formatMenu/lineTypeMenu/lineTypeGroup"
                  remove="true">
            </popupPredefinedItem>
             <popupPredefinedItem
                  id="lineTypeDashDotAction"
                  path="/formatMenu/lineTypeMenu/lineTypeGroup"
                  remove="true">
            </popupPredefinedItem>
             <popupPredefinedItem
                  id="lineTypeDashDotDotAction"
                  path="/formatMenu/lineTypeMenu/lineTypeGroup"
                  remove="true">
            </popupPredefinedItem>
               
            <popupPredefinedItem
                  id="arrowTypeSourceNoneAction"
                  path="/formatMenu/arrowTypeMenu/arrowTypeSourceMenu/arrowTypeSourceGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrowTypeSourceSolidAction"
                  path="/formatMenu/arrowTypeMenu/arrowTypeSourceMenu/arrowTypeSourceGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrowTypeSourceOpenAction"
                  path="/formatMenu/arrowTypeMenu/arrowTypeSourceMenu/arrowTypeSourceGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrowTypeTargetNoneAction"
                  path="/formatMenu/arrowTypeMenu/arrowTypeTargetMenu/arrowTypeTargetGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrowTypeTargetSolidAction"
                  path="/formatMenu/arrowTypeMenu/arrowTypeTargetMenu/arrowTypeTargetGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrowTypeTargetOpenAction"
                  path="/formatMenu/arrowTypeMenu/arrowTypeTargetMenu/arrowTypeTargetGroup"
                  remove="true">
            </popupPredefinedItem>
               
             <popupPredefinedItem
                  id="textAlignmentLeftAction"
                  path="/formatMenu/textAlignmentMenu/textAlignmentGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="textAlignmentCenterAction"
                  path="/formatMenu/textAlignmentMenu/textAlignmentGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="textAlignmentrightAction"
                  path="/formatMenu/textAlignmentMenu/textAlignmentGroup"
                  remove="true">
            </popupPredefinedItem>   
               
            <popupPredefinedItem
                  id="fontDialogAction"
                  path="/formatMenu/fontFillLineGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="fillColorContributionItem"
                  path="/formatMenu/fontFillLineGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="lineColorContributionItem"
                  path="/formatMenu/fontFillLineGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="autoSizeAction"
                  path="/formatMenu/sizeGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="copyAppearancePropertiesAction"
                  path="/formatMenu/applyAppearanceGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="viewGridAction"
                  path="/viewMenu/gridGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="viewRulerAction"
                  path="/viewMenu/gridGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="viewPageBreaks"
                  path="/viewMenu/pageBreaksGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="recalcPageBreaks"
                  path="/viewMenu/pageBreaksGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="snapToGridAction"
                  path="/viewMenu/snapToGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="sortfilterAction"
                  path="/filtersMenu/expandFilterGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="zoomContributionItem"
                  path="/viewMenu"
                  remove="true">
            </popupPredefinedItem>
                        <popupPredefinedItem
                  id="hideSelectionAction"
                  path="/filtersMenu/miscellaneousGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="hideTypeAction"
                  path="/filtersMenu/miscellaneousGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="hideSemanticAction"
                  path="/filtersMenu/miscellaneousGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="showHiddenPartAction"
                  path="/filtersMenu/miscellaneousGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="hideInheritanceTypeAction"
                  path="/filtersMenu/additions"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="hideReferenceTypeAction"
                  path="/filtersMenu/additions"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="deleteFromDiagramAction"
                  path="/editGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="allCompartmentsAction"
                  path="/filtersMenu/compartmentMenu/allCompartmentsGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="noCompartmentsAction"
                  path="/filtersMenu/compartmentMenu/allCompartmentsGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="bringToFrontAction"
                  path="/formatMenu/zorderMenu/zorderGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="sendToBackAction"
                  path="/formatMenu/zorderMenu/zorderGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="bringForwardAction"
                  path="/formatMenu/zorderMenu/zorderGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="sendBackwardAction"
                  path="/formatMenu/zorderMenu/zorderGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrangeAllAction"
                  path="/formatMenu/arrangeMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrangeSelectionAction"
                  path="/formatMenu/arrangeMenu"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrangeSelectionAction"
                  path="/formatMenu/arrangeMenu/arrangeGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="arrangeAllAction"
                  path="/formatMenu/arrangeMenu/arrangeGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="rectilinearRouterAction"
                  path="/formatMenu/routerMenu/routerGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="obliqueRouterAction"
                  path="/formatMenu/routerMenu/routerGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="treeRouterAction"
                  path="/formatMenu/routerMenu/routerGroup"
                  remove="true">
            </popupPredefinedItem>
         </popupContribution>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupPredefinedItem
                  id="connectorLabelMenu"
                  path="/filtersMenu/expandFilterGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="toolbarArrangeAllAction"
                  path="/filterFormatGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="selectAllShapesAction"
                  path="/selectMenu/selectGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="selectAllConnectorsAction"
                  path="/selectMenu/selectGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="selectAll"
                  path="/selectMenu/selectGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="snapBackAction"
                  path="/formatMenu/miscellaneousGroup"
                  remove="true">
            </popupPredefinedItem>
            <popupPredefinedItem
                  id="showCompartmentTitle"
                  path="/filtersMenu/miscellaneousGroup"
                  remove="true">
            </popupPredefinedItem>
         </popupContribution>
      </contributionItemProvider>
   </extension>

</plugin>
