<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="papyrusDiagram" name="PapyrusDiagram" schema="schema/papyrusDiagram.exsd"/>
   <extension-point id="modelListener" name="ModelListener" schema="schema/modelListener.exsd"/>
   <extension-point id="papyrusContentOutline" name="PapyrusContentOutline" schema="schema/contentOutline.exsd"/>
   <extension-point id="service" name="Service" schema="schema/service.exsd"/>
   <extension-point id="org.eclipse.papyrus.core" name="loadingStrategy" schema="schema/org.eclipse.papyrus.core.exsd"/>
	
	
</plugin>
