<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.java.reverse.ui.ReverseCodeHandler"
            commandId="org.eclipse.papyrus.java.reverse.ui.reverseCodeCommand">
      </handler>
      <handler
            class="org.eclipse.papyrus.java.reverse.ui.handlers.CreateAssociationFromPropertyHandler"
            commandId="org.eclipse.papyrus.java.reverse.ui.commands.CreateAssociationFromPropertyCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.papyrus.java.ui.toolbar">
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.reverseCodeCommand"
                  icon="icons/javaReverse.gif"
                  label="Java Reverse"
                  style="push"
                  tooltip="Reverse Java code into current model">
            </command>
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.commands.CreateAssociationFromPropertyCommand"
                  icon="icons/associationFromProperty.gif"
                  label="Create Association From Property"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.papyrus.ui.menu">
         <menu
               id="org.eclipse.papyrus.java.ui.menu"
               label="Java">
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.reverseCodeCommand"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.eclipse.papyrus.ui.menu.misc"
               label="Utils">
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.commands.CreateAssociationFromPropertyCommand"
                  icon="icons/associationFromProperty.gif"
                  label="Create Association From Property"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.sash.ui.folder">
         <menu
               id="org.eclipse.papyrus.java.ui.sash.menu"
               label="Java">
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.reverseCodeCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               id="org.eclipse.papyrus.ui.popupmenu.modelexplorer.misc"
               label="Utils">
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.commands.CreateAssociationFromPropertyCommand"
                  icon="icons/associationFromProperty.gif"
                  label="Create Association From Property"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <menu
               id="org.eclipse.papyrus.ui.popupmenu.diagram.misc"
               label="Utils">
            <command
                  commandId="org.eclipse.papyrus.java.reverse.ui.commands.CreateAssociationFromPropertyCommand"
                  icon="icons/associationFromProperty.gif"
                  label="Create Association From Property"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Reverse Java code into current model"
            id="org.eclipse.papyrus.java.reverse.ui.reverseCodeCommand"
            name="Java Reverse">
      </command>
      <command
            description="Create a New association from the Property."
            id="org.eclipse.papyrus.java.reverse.ui.commands.CreateAssociationFromPropertyCommand"
            name="Create Association From Property">
      </command>
   </extension>

</plugin>
