<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resource/packageInGreen.uiCustom"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resource/packageableElementItemLinkNotVisible.uiCustom"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resource/packagedElementsItemLinksWithIcon.uiCustom"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resource/umlModelExplorerRecipe.querySet"/>
   </extension>
</plugin>
