<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/0.7.0/controlmode"
            class="org.eclipse.papyrus.infra.services.controlmode.mm.history.historyPackage"
            genModel="model/history.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
   </extension>

</plugin>
