<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <model
            classname="org.eclipse.papyrus.texteditor.cdt.modelresource.TextEditorModelSharedResource">
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Open a CDT Editor"
            defaultHandler="org.eclipse.papyrus.texteditor.cdt.handler.PapyrusCDTEditorHandler"
            id="org.eclipse.papyrus.exteditor.cdt.openeditor"
            name="Open a CDT Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.texteditor.cdt.factory.PapyrusCDTEditorFactory"
            icon="icons/texteditor.gif">
      </editorDiagram>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrus.exteditor.cdt.openeditor"
               id="org.eclipse.papyrus.exteditor.cdt.open"
               icon="icons/texteditor.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <command
               commandId="org.eclipse.papyrus.exteditor.cdt.openeditor"
               id="org.eclipse.papyrus.exteditor.cdt.openD"
               icon="icons/texteditor.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="org.eclipse.papyrus.exteditor.cdt.listener.ModelListener"
            realization="org.eclipse.papyrus.texteditor.cdt.listener.ModelListener">
      </listener>
   </extension>
</plugin>
