<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="TreeOutlinePage">
         	<propertyTab id="Base" label="General" category="org.eclipse.papyrus" afterTab=""/>
         	<propertyTab id="org.eclipse.papyrus.tabbedproperties.profile" label="Profile" category="org.eclipse.papyrus" afterTab="Base" />
         	<propertyTab id="Comments" label="Comments" category="org.eclipse.papyrus" afterTab="org.eclipse.papyrus.tabbedproperties.profile"/>         	         
         	<propertyTab id="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab" label="Appearance" category="org.eclipse.papyrus" afterTab="Comments"/>         	
         	<propertyTab id="advanced" label="Advanced" category="org.eclipse.papyrus" afterTab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab"/>
      </propertyTabs>
   </extension>
   

</plugin>
