<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Import Registered Profile"
            id="org.eclipse.papyrus.import.registered.profile"
            name="Import Registered Profile">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Import Registered Package"
            id="org.eclipse.papyrus.import.registered.package"
            name="Import Registered Package">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Import Package From Workspace"
            id="org.eclipse.papyrus.import.package.from.workspace"
            name="Import Package From Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <menu
               icon="icons/import_wiz_16x16-papyrusColor.gif"
               id="org.eclipse.papyrus.uml.import.menu"
               label="&amp;Import"
               tooltip="Papyrus Import Menu">
            <visibleWhen
                  checkEnabled="false">
                <with
                      variable="selection">
                   <test
                         property="org.eclipse.papyrus.infra.emf.readonly.tester.canMakeWritable"
                         value="true">
                   </test>
                </with>
            </visibleWhen>
            
            <command
                  commandId="org.eclipse.papyrus.import.registered.profile"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Profile.gif"
                  label="Import &amp;Registered Profile"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.import.registered.package"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Package.gif"
                  label="Import Registered &amp;Package"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.import.package.from.workspace"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Package.gif"
                  label="Import Package From &amp;User Model"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.importt.handlers.ImportRegisteredProfileHandler"
            commandId="org.eclipse.papyrus.import.registered.profile">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.uml.importt.handlers.ImportRegisteredPackageHandler"
            commandId="org.eclipse.papyrus.import.registered.package">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.uml.importt.handlers.ImportPackageFromUserModelHandler"
            commandId="org.eclipse.papyrus.import.package.from.workspace">
         <activeWhen>
         <and>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
               </iterate>
            </with>
            <count
                  value="1">
            </count>
            </and>
         </activeWhen>
      </handler>
   </extension>

</plugin>
