<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="%command.description"
            id="org.eclipse.papyrus.import.profile.from.registred.profile"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="%command.description.0"
            id="org.eclipse.papyrus.import.package.from.file"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="%command.description.1"
            id="org.eclipse.papyrus.import.package.from.registered.library"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup?before=org.eclipse.papyrus.modelexplorer.popupmenu.createchild">
         <menu
               icon="icons/import_wiz_16x16-papyrusColor.gif"
               id="org.eclipse.papyrus.uml.import.menu"
               label="%menu.label"
               mnemonic="%menu.mnemonic"
               tooltip="%menu.tooltip">
            <command
                  commandId="org.eclipse.papyrus.import.profile.from.registred.profile"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Profile.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.import.package.from.file"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Package.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.papyrus.import.package.from.registered.library"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Package.gif"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.importt.handlers.ImportProfileFromRegisteredLibraryHandler"
            commandId="org.eclipse.papyrus.import.profile.from.registred.profile">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.importt.handlers.ImportPackageFromFileHandler"
            commandId="org.eclipse.papyrus.import.package.from.file">
         <activeWhen>
         <and>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Package">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
            <count
                  value="1">
            </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.importt.handlers.ImportPackageFromRegisteredLibraryHandler"
            commandId="org.eclipse.papyrus.import.package.from.registered.library">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
   </extension>

</plugin>
