<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.documentation.plugin.documentation.presentation.DocumentationModelWizardID"
            name="%_UI_DocumentationModelWizard_label"
            class="org.eclipse.papyrus.documentation.plugin.documentation.presentation.DocumentationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DocumentationModelFile.gif">
         <description>%_UI_DocumentationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.documentation.plugin.documentation.presentation.DocumentationEditorID"
            name="%_UI_DocumentationEditor_label"
            icon="icons/full/obj16/DocumentationModelFile.gif"
            extensions="pdoc"
            class="org.eclipse.papyrus.documentation.plugin.documentation.presentation.DocumentationEditor"
            contributorClass="org.eclipse.papyrus.documentation.plugin.documentation.presentation.DocumentationActionBarContributor">
      </editor>
   </extension>

</plugin>
