<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.papyrus.editor.PapyrusMultiDiagramEditor"
            contributorClass="org.eclipse.papyrus.editor.PapyrusActionBarContributor"
            default="true"
            extensions="di"
            icon="icons/papyrus/Papyrus_16x16.gif"
            id="org.eclipse.papyrus.core.papyrusEditor"
            name="Papyrus Editor Core">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
         <menu
               id="org.eclipse.papyrus.ui.menu"
               label="Papyrus"
               tooltip="Papyrus Editor Menu">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="this a category of papyrus commands"
            id="org.eclipse.papyrus.editor.category"
            name="Papyrus Category">
      </category>
   </extension>

</plugin>
