<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.emf.compare.diff.mergerprovider">
      <mergerprovider
            fileExtension="uml"
            mergerProviderClass="org.eclipse.papyrus.uml.compare.diff.internal.provider.UMLTransactionalMergerProvider"
            priority="normal">
      </mergerprovider>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset
            file="resources/uml_compare_diff.querySet">
      </modelqueryset>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/uml_compare_diff.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/uml_emf_compare_diff.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>

</plugin>
