<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="TestModel/TestCreateModifyElementCreationModel/TestSampleUML.xmi">
      </menuCreationModel>
      <menuCreationModel
            model="TestModel/TestCreateModifyElementCreationModel/SysMLAndSampleUML.xmi">
      </menuCreationModel>
   </extension>

</plugin>
