<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/PapyrusNotationFacet.querySet">
      </modelqueryset>
   </extension>

   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/PapyrusNotation.uiCustom"
            loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/PapyrusNotationFacet.uiCustom"
            loadByDefault="true"/>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset
            file="resources/PapyrusNotationFacet.facetSet">
      </facetset>
   </extension>
</plugin>
