<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>

<extension point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
  <modeldeclaration file="resources/PapyrusNotation.custom"/>
</extension>

   <!-- TODO: EMF-FACET
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/PapyrusNotationFacet.querySet">
      </modelqueryset>
   </extension>

   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/PapyrusNotation.uiCustom"
            loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/PapyrusNotationFacet.uiCustom"
            loadByDefault="true"/>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset
            file="resources/PapyrusNotationFacet.facetSet">
      </facetset>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.handlers.RenameDiagramHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.diagrampropertytester.isDiagram"
                        value="true">
                  </test>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.handlers.DuplicateDiagramHandler"
            commandId="org.eclipse.papyrus.views.modelexplorer.duplicate.command">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.diagrampropertytester.isDiagram"
                        value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.providers.DiagramPropertyTester"
            id="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.diagrampropertytester"
            namespace="org.eclipse.papyrus.infra.gmfdiag.modelexplorer.diagrampropertytester"
            properties="isDiagram"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
  
</plugin>
