<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.infra.nattable.views.editor.factory.NattablePageEditorFactory"
            icon="icons/nattablepageeditor.png">
      </editorDiagram>
   </extension>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a View NatTable Editor"
            id="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
            name="Create a View NatTable Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.infra.nattable.views.editor.handlers.CreateNattablePageEditorHandler"
            commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="create.table.menus"
         name="Create Table Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.infra.nattable.popupmenu.createnattable">
         <command
               commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
               icon="icons/nattablepageeditor.png"
               label="Papyrus View Editor"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.papyrus.infra.nattable.menu.createnattable">
         <command
               commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
               icon="icons/nattablepageeditor.png"
               label="Papyrus View Editor"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.papyrus.infra.nattable.toolbar.createnattable">
         <command
               commandId="org.eclipse.papyrus.infra.nattable.page.editor.create.command"
               icon="icons/nattablepageeditor.png"
               label="Papyrus View Editor"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.infra.nattable.page.editor.contents.axis.manager"
            manager="org.eclipse.papyrus.infra.nattable.views.editor.managers.EditorContextSynchronizerAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.infra.nattable.page.editor.view.feature.axis.manager"
            manager="org.eclipse.papyrus.infra.nattable.views.editor.managers.EditorFeatureAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.infra.nattable.page.editor.modelviewscellmanager"
            manager="org.eclipse.papyrus.infra.nattable.views.editor.managers.ModelViewsCellManager"
            order="50">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="1000"
            provider="org.eclipse.papyrus.infra.nattable.views.editor.provider.ModelViewsHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.feature.labelprovider">
         </labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.infra.nattable.views.editor.celleditor.ModelViewsCellEditorConfiguration"
            order="50">
      </configuration>
   </extension>
</plugin>
