<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.participant">
      <participant
            class="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.control.SVNControlModeParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.handler.SVNCollabControlCommandHandler"
            id="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.createcollaborative fragment"
            name="Create collaborative fragment">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.handler.ShowModelPartitionHandler"
            id="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.showModelPartition"
            name="Show model partition">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.team.collaborative.ui.collab.menu">
         <command
               commandId="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.createcollaborative fragment"
               icon="icons/CreateCollabPartition_16x16.png"
               label="Create partition"
               style="push">
             <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.controlmode.isFragmentModel"
                        value="false">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.team.collaborative.integration.papyrus.svn.showModelPartition"
               icon="icons/ShowPartition_16x16.png"
               label="Show partition"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/CollabCustomization.uiCustom" loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/CollabQueries.querySet"/>
   </extension>
    <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="resources/CollabFacet.facetSet">
      </facetset>
   </extension>
</plugin>
