<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            id="org.eclipse.papyrus.table.menu.add.in.table"
            name="Add in current table">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.nattable.command.category"
            defaultHandler="org.eclipse.papyrus.table.menu.handler.CommonColumnHandler"
            description="Show only the common columns"
            id="org.eclipse.emf.facet.widget.nattable.common.columns.command"
            name="Common Columns Command">
         <state
               class="org.eclipse.papyrus.table.menu.handler.states.OnlyCommonColumnsState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.nattable.command.category"
            defaultHandler="org.eclipse.papyrus.table.menu.handler.HideEmptyColumnsHandler"
            description="This command hides the empty columns"
            id="org.eclipse.emf.facet.widget.nattable.empty.columns.command"
            name="Hide Empty Columns Command">
         <state
               class="org.eclipse.papyrus.table.menu.handler.states.HideEmptyColumnState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.table.menu.handler.AddToCurrentTableHandler"
            commandId="org.eclipse.papyrus.table.menu.add.in.table">
      </handler>
   </extension>
   <!-- We remove this action, between, now we have the Drag&Drop -->
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrus.table.menu.add.in.table"
               icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/table.png"
               label="Add in a table"
               mnemonic="&amp;A"
               style="push"
               tooltip="Add the selected elements in the last opened table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=navigate">
         <menu
               icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/table.png"
               id="org.eclipse.papyrus.table.menu"
               label="&amp;Table"
               tooltip="The table Menu">
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.loadCustomizationCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/uiCustom.gif"
                  id="org.eclipse.papyrus.table.menu.load.customization"
                  style="push"
                  tooltip="%load.customization">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.loadFacetCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/facet.gif"
                  id="org.eclipse.papyrus.table.menu.load.emf.facet"
                  style="push"
                  tooltip="%load.emf.facet">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.openSavedTableCommand"
                  icon="IMG_OBJ_FOLDER"
                  id="org.eclipse.papyrus.table.menu.open.table"
                  style="push"
                  tooltip="%open.table">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.hideColumnCommand"
                  icon="icons/select_column_to_hide_2.png"
                  id="org.eclipse.papyrus.table.menu.hide.empty.column"
                  style="push"
                  tooltip="%select.column.to.hide">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.sortColumnByTypeCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/sort_links_by_type.gif"
                  id="org.eclipse.papyrus.table.menu.sort.column"
                  mnemonic="org.eclipse.papyrus.table.toolbar.delete.line"
                  style="push"
                  tooltip="%sort.column.by.type">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="org.eclipse.papyrus.table.menu.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.empty.columns.command"
                  icon="icons/empty.png"
                  id="org.eclipse.papyrus.table.menu.hide.empty.column"
                  label="&amp;Hide the empty columns"
                  style="toggle"
                  tooltip="Hide the empty columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.common.columns.command"
                  icon="icons/not_NA.png"
                  id="org.eclipse.papyrus.table.menu.common.column"
                  label="&amp;Show only the common columns"
                  style="toggle"
                  tooltip="Show only the common columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.papyrus.table.toolbar"
               label="Papyrus Table Toolbar">
               <command
                     commandId="org.eclipse.emf.facet.widgets.nattable.createNewElementCommand"
                     icon="IMG_OBJ_ADD"
                     id="org.eclipse.papyrus.table.toolbar.create.new.element"
                     style="pulldown"
                     tooltip="%create.new.element">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.exportCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/export.gif"
                  id="org.eclipse.papyrus.table.toolbar.export.xmi"
                  style="push"
                  tooltip="Export as XMI File">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.loadCustomizationCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/uiCustom.gif"
                  id="org.eclipse.papyrus.table.toolbar.load.customization"
                  style="push"
                  tooltip="Load a Customization">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.loadFacetCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/facet.gif"
                  id="org.eclipse.papyrus.table.toolbar.load.facet"
                  style="push"
                  tooltip="Load an EMF Facet">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.hideColumnCommand"
                  icon="icons/select_column_to_hide_2.png"
                  id="org.eclipse.papyrus.table.toolbar.hide.column"
                  style="push"
                  tooltip="Select Columns To Hide">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widgets.nattable.sortColumnByTypeCommand"
                  icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/sort_links_by_type.gif"
                  id="org.eclipse.papyrus.table.toolbar.sort.column.by.type"
                  style="push"
                  tooltip="Sort Columns By Type">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="org.eclipse.papyrus.table.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.common.columns.command"
                  icon="icons/not_NA.png"
                  id="org.eclipse.papyrus.table.toolbar.common.column"
                  label="&amp;Show only the common columns"
                  style="toggle"
                  tooltip="Show only the common columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.widget.nattable.empty.columns.command"
                  icon="icons/empty.png"
                  id="org.eclipse.papyrus.table.toolbar.hide.empty.column"
                  label="&amp;Hide the empty columns"
                  style="toggle"
                  tooltip="Hide the empty columns">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="selection">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                              value="true">
                        </test>
                     </with>
                     <with
                           variable="activeEditor">
                        <instanceof
                              value="org.eclipse.papyrus.core.editor.CoreMultiDiagramEditor">
                        </instanceof>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.emf.facet.widgets.nattable.removeLineCommand"
               icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/remove_line.gif"
               id="delete.line"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.IEditorPart">
                     </instanceof>
                  </with>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.facet.widgets.nattable.addQueryColumnCommand"
               icon="platform:/plugin/org.eclipse.emf.facet.widgets.nattable.workbench/icons/query.png"
               id="add.query.column"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.IEditorPart">
                     </instanceof>
                  </with>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="IMG_ETOOL_DELETE_DISABLED"
               icon="IMG_ETOOL_DELETE"
               id="delete.element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.IEditorPart">
                     </instanceof>
                  </with>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="IMG_TOOL_COPY_DISABLED"
               icon="IMG_TOOL_COPY"
               id="copy.element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.IEditorPart">
                     </instanceof>
                  </with>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="select.all"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.IEditorPart">
                     </instanceof>
                  </with>
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.table.menu.providers.TableTester.isTable"
                           value="true">
                     </test>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.table.menu.providers.TableTester"
            id="org.eclipse.papyrus.table.menu.providers.TableTester"
            namespace="org.eclipse.papyrus.table.menu.providers.TableTester"
            properties="isTable"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   


   
   
   
   
</plugin>
