<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2011 Mia-Software.
  
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
 
  Contributors:
  	Gregoire Dupe (Mia-Software) - Bug 361794 - [Restructuring] New customization meta-model
       Gregoire Dupe (Mia-Software) - Bug 369987 - [Restructuring][Table] Switch to the new customization and facet framework
       Gregoire Dupe (Mia-Software) - Bug 373078 - API Cleaning 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomModelWizardID"
            name="%_UI_CustomModelWizard_label"
            class="org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CustomModelFile.gif">
         <description>%_UI_CustomModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomEditorID"
            name="%_UI_CustomEditor_label"
            icon="icons/full/obj16/CustomModelFile.gif"
            extensions="custom"
            class="org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomEditor"
            contributorClass="org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomActionBarContributor">
      </editor>
   </extension>

</plugin>
