<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.customControlCommand">
      <customControlCommand
            controlCommand="org.eclipse.papyrus.infra.table.controlmode.handlers.PapyrusTableControlCommand">
      </customControlCommand>
      <customUncontrolCommand
            uncontrolCommand="org.eclipse.papyrus.infra.table.controlmode.handlers.PapyrusTableUncontrolCommand">
      </customUncontrolCommand>
   </extension>

</plugin>
