<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.participant">
      <participant
            class="org.eclipse.papyrus.infra.table.controlmode.TableControlParticipant">
      </participant>
   </extension>

</plugin>
