<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.views.documentation.documentationManager">
      <documentationManager
            managerClass="org.eclipse.papyrus.uml.documentation.UMLDocumentationManager"
            modelNsURI="http://www.eclipse.org/uml2/3.0.0/UML"
            priority="Lowest">
      </documentationManager>
      <documentationManager
            managerClass="org.eclipse.papyrus.uml.documentation.UMLDocumentationManager"
            modelNsURI="http://www.eclipse.org/uml2/2.1.0/UML"
            priority="Lowest">
      </documentationManager>
      <documentationManager
            managerClass="org.eclipse.papyrus.uml.documentation.UMLDocumentationManager"
            modelNsURI="http://www.eclipse.org/uml2/2.0.0/UML"
            priority="Lowest">
      </documentationManager>
   </extension>

</plugin>
