<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.infra.emf.nattable.celleditor.config.EStructuralFeatureEditorConfig"
            order="1000">
      </configuration>
   </extension>
 <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="1400"
            provider="org.eclipse.papyrus.infra.emf.nattable.provider.EMFFeatureHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.feature.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="1500"
            provider="org.eclipse.papyrus.infra.emf.nattable.provider.EMFEObjectHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
	<extension
       point="org.eclipse.papyrus.infra.nattable.axismanager">
    <axisManager
          id="org.eclipse.papyrus.infra.emf.nattable.user.axis.manager"
          manager="org.eclipse.papyrus.infra.emf.nattable.manager.axis.EObjectAxisManager">
    </axisManager>
    <axisManager
          id="org.eclipse.papyrus.infra.emf.nattable.feature.axis.manager"
          manager="org.eclipse.papyrus.infra.emf.nattable.manager.axis.EStructuralFeatureAxisManager">
    </axisManager>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.nattable.cellmanager">
    <cellManager
          id="org.eclipse.papyrus.infra.emf.nattable.cell.manager"
          manager="org.eclipse.papyrus.infra.emf.nattable.manager.cell.EMFFeatureValueCellManager"
          order="1000">
    </cellManager>
 </extension>
</plugin>
