<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.fuml.library">
      <library
            class="org.eclipse.papyrus.moka.fuml.standardlibrary.StandardLibraryRegistry">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Standard fUML Library"
            name="FoundationalModelLibrary"
            path="pathmap://PAPYRUS_fUML_LIBRARY/fUML_Library.uml"
            provider="CEA LIST">
      </library>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_fUML_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.moka.fuml.standardlibrary/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.moka.fuml.services">
      <services
            class="org.eclipse.papyrus.moka.fuml.standardlibrary.StandardServicesRegistry">
      </services>
   </extension>

</plugin>
