<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 #################################################################################
# Copyright (c) 2008 CEA LIST.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     CEA LIST - initial API and implementation
##################################################################################

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.eclipse.papyrus.di.presentation.Di2ModelWizardID"
      name = "%_UI_Di2ModelWizard_label"
      class = "org.eclipse.papyrus.di.presentation.DiModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/di2.GIF">
      <description>%_UI_Di2ModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.papyrus.di.presentation.Di2EditorID"
        name = "%_UI_Di2Editor_label"
        icon = "icons/full/obj16/Di2ModelFile.gif"
        extensions = "di"
        class = "org.eclipse.papyrus.di.presentation.DiEditor" 
        contributorClass="org.eclipse.papyrus.di.presentation.DiActionBarContributor" >
    </editor>
  </extension>    
</plugin>
