<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.views.documentation.view.documentationPartHandler">
      <documentationPartHandler
            documentationPartHandler="org.eclipse.papyrus.views.documentation.view.papyrus.PapyrusDocumentationPartHandler">
      </documentationPartHandler>
   </extension>

</plugin>
