<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.emf.ecore.uri_mapping">
 
      <mapping
            source="pathmap://OSGI_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.osgi.profile/resource/">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="bundle layer of OSGI"
            iconpath="img/osgi.org.ico"
            name="OSGI profile"
            path="pathmap://OSGI_PROFILES/osgi.profile.uml"
            provider="Eclipse.org">
      </profile>
   </extension>
</plugin>
