<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.facet.widgets.celleditors.celleditors">
      <cellEditorsModel
            path="resources/umlCellEditors.modelcelleditors">
      </cellEditorsModel>
   </extension>

</plugin>
