<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///jdtmm.ecore"
            class="org.eclipse.papyrus.java.generator.metamodel.jdt.jdtmm.JdtmmPackage"
            genModel="model/jdtmm.genmodel"/>
   </extension>

</plugin>
