<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/emf_hidden_features.custom">
      </modeldeclaration>
      <modeldeclaration
            file="resources/emf.efacet">
      </modeldeclaration>
   </extension>

</plugin>
