<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2011 Mia-Software.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Nicolas Guyomar (Mia-Software) - Bug 333652 Extension point offering the possibility to declare an EPackage browser
        Fabien Giquel (Mia-Software)
        Gregoire Dupe (Mia-software) - Bug 366155 - [Unit Test Failure][0.2/3.8][0.2/4.2] org.eclipse.papyrus.emf.facet.util.emf.ui.tests.EPackageRegistryTest.canOpenERegistryView
        Gregoire Dupe (Mia-Sodtware) - Bug 406570 - Handlers to Save and SaveAs EMF resources
 -->
<plugin>
   
</plugin>
