<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.views.properties.context">
      <context
            contextModel="model/nattable.ctx"
            isCustomizable="true">
      </context>
   </extension>

</plugin>
