<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.emf.ecore.uri_mapping">
 
      <mapping
            source="pathmap://DSMLValidation_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.dsml.validation/resource/">
      </mapping>
   </extension>
    <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Profile to execute DSML validation"
            name="DSML Validation"
            path="pathmap://DSMLValidation_PROFILES/PapyrusValidationRuleDSML.uml"
            provider="Eclipse Modeling Project">
      </profile>
   </extension>
    <extension
          point="org.eclipse.uml2.uml.dynamic_package">
       <profile
             location="pathmap://DSMLValidation_PROFILES/PapyrusValidationRuleDSML.uml#_0"
             uri="pathmap://DSMLValidation_PROFILES/PapyrusValidationRuleDSML">
       </profile>
    </extension>
    <extension
          point="org.eclipse.emf.ecore.dynamic_package">
       <resource
             location="pathmap://DSMLValidation_PROFILES/PapyrusValidationRuleDSML.uml#_0"
             uri="pathmap://DSMLValidation_PROFILES/PapyrusValidationRuleDSML">
       </resource>
    </extension>
</plugin>
