<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.marte.table.assign.AssignTableFactory"
            icon="icons/assign_table.gif">
      </editorDiagram>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.papyrus.table.ui.toolbar">
         <command
               commandId="org.eclipse.papyrus.marte.table.assign.create.table"
               icon="icons/assign_table.gif"
               id="org.eclipse.papyrus.table.ui.toolbar.assign.table"
               style="push"
               tooltip="Create a new Marte Assign table">
            <visibleWhen>
               <reference
                     definitionId="org.eclipse.papyrus.marte.table.assign.IsPapyrusActiveWithMarte">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.modelexplorer.popupmenu.createtable">
         <command
               commandId="org.eclipse.papyrus.marte.table.assign.create.table"
               icon="icons/assign_table.gif"
               id="org.eclipse.papyrus.table.ui.toolbar.assign.table"
               style="push"
               tooltip="Create a new Marte Assign table">
            <visibleWhen>
               <reference
                     definitionId="org.eclipse.papyrus.marte.table.assign.IsPapyrusActiveWithMarte">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new Marte assign table"
            id="org.eclipse.papyrus.marte.table.assign.create.table"
            name="Marte assign table">
      </command>
      <command
            categoryId="org.eclipse.emf.facet.widgets.nattable.command.category"
            defaultHandler="org.eclipse.papyrus.marte.table.assign.handlers.RemoveAssignHandler"
            id="org.eclipse.papyrus.marte.table.assign.removeAssignCommand"
            name="Remove assign">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.marte.table.assign.CreateAssignTableCommand"
            commandId="org.eclipse.papyrus.marte.table.assign.create.table">
      </handler>
      <handler
            class="org.eclipse.papyrus.marte.table.assign.handlers.RemoveAssignHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.facet.widgets.nattable.workbench.tableSelectionTester.isTable"
                        value="true">
                  </test>
               </with>
               <with
                     variable="activePart">
                  <and>
                     <test
                           property="org.eclipse.papyrus.marte.table.assign.assignTableTester.isAssignTable"
                           value="true">
                     </test>
                     <test
                           property="org.eclipse.emf.facet.widgets.nattable.workbench.tablePartTester.isTableEditor"
                           value="true">
                     </test>
                  </and>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset
            file="resources/assign.querySet">
      </modelqueryset>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/assignTableLayoutConfiguration.uiCustom"
            loadByDefault="true">
      </browserCustomization>
      <browserCustomization
            file="resources/assignTableLayoutConfigurationComment.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>
   <extension
         point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset
            file="resources/assign.facetSet">
      </facetset>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.marte.table.assign.IsPapyrusActiveWithMarte">
         <and>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.core.papyrusEditor">
               </equals>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.marte.table.assign.MarteProfileTester.isMarteApplied"
                     value="true">
               </test>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.marte.table.assign.utils.MarteProfileTester"
            id="org.eclipse.papyrus.marte.table.assign.MarteProfileTester"
            namespace="org.eclipse.papyrus.marte.table.assign.MarteProfileTester"
            properties="isMarteApplied"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="org.eclipse.papyrus.marte.table.assign.listeners.AssignAdditionListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain></listener>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.marte.table.assign.testers.isAssignTablePropertyTester"
            id="org.eclipse.papyrus.marte.table.assign.assignTableTester"
            namespace="org.eclipse.papyrus.marte.table.assign.assignTableTester"
            properties="isAssignTable"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
</plugin>
