<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.emf.readonly.readOnlyHandler">
      <readOnlyHandler
            class="org.eclipse.papyrus.team.svn.SVNLockHandler"
            id="org.eclipse.papyrus.team.svn.SVNLockHandler"
            priority="20">
      </readOnlyHandler>
   </extension>

</plugin>
