<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2013 CEA LIST.
 
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 	Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableModelWizardID"
            name="%_UI_NattableModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattableModelFile.gif">
         <description>%_UI_NattableModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemEditorID"
            name="%_UI_NattableproblemEditor_label"
            icon="icons/full/obj16/NattableproblemModelFile.gif"
            extensions="nattableproblem"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattableproblemEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellEditorID"
            name="%_UI_NattablecellEditor_label"
            icon="icons/full/obj16/NattablecellModelFile.gif"
            extensions="nattablecell"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattablecellEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemModelWizardID"
            name="%_UI_NattableproblemModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableproblem.presentation.NattableproblemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattableproblemModelFile.gif">
         <description>%_UI_NattableproblemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisEditorID"
            name="%_UI_NattableaxisEditor_label"
            icon="icons/full/obj16/NattableaxisModelFile.gif"
            extensions="nattableaxis"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattableaxisEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellModelWizardID"
            name="%_UI_NattablecellModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablecell.presentation.NattablecellModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattablecellModelFile.gif">
         <description>%_UI_NattablecellModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterEditorID"
            name="%_UI_NattabletesterEditor_label"
            icon="icons/full/obj16/NattabletesterModelFile.gif"
            extensions="nattabletester"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattabletesterEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisModelWizardID"
            name="%_UI_NattableaxisModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxis.presentation.NattableaxisModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattableaxisModelFile.gif">
         <description>%_UI_NattableaxisModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationEditorID"
            name="%_UI_NattableaxisconfigurationEditor_label"
            icon="icons/full/obj16/NattableaxisconfigurationModelFile.gif"
            extensions="nattableaxisconfiguration"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattableaxisconfigurationEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterModelWizardID"
            name="%_UI_NattabletesterModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattabletester.presentation.NattabletesterModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattabletesterModelFile.gif">
         <description>%_UI_NattabletesterModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderEditorID"
            name="%_UI_NattablelabelproviderEditor_label"
            icon="icons/full/obj16/NattablelabelproviderModelFile.gif"
            extensions="nattablelabelprovider"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattablelabelproviderEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationModelWizardID"
            name="%_UI_NattableaxisconfigurationModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisconfiguration.presentation.NattableaxisconfigurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattableaxisconfigurationModelFile.gif">
         <description>%_UI_NattableaxisconfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null


   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderEditorID"
            name="%_UI_NattableaxisproviderEditor_label"
            icon="icons/full/obj16/NattableaxisproviderModelFile.gif"
            extensions="nattableaxisprovider"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattableaxisproviderEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderModelWizardID"
            name="%_UI_NattablelabelproviderModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattablelabelprovider.presentation.NattablelabelproviderModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattablelabelproviderModelFile.gif">
         <description>%_UI_NattablelabelproviderModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null


   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableEditorID"
            name="%_UI_NattableEditor_label"
            icon="icons/full/obj16/NattableModelFile.gif"
            extensions="nattable"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattableEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.presentation.NattableActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationModelWizardID"
            name="%_UI_NattableconfigurationModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattableconfigurationModelFile.gif">
         <description>%_UI_NattableconfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NOT nattable -->
      <editor
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationEditorID"
            name="%_UI_NattableconfigurationEditor_label"
            icon="icons/full/obj16/NattableconfigurationModelFile.gif"
            extensions="nattableconfiguration"
            class="org.eclipse.papyrus.infra.nattable.model.editor.customeditors.CustomNattableconfigurationEditor"
            contributorClass="org.eclipse.papyrus.infra.nattable.model.nattable.nattableconfiguration.presentation.NattableconfigurationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nattable -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderModelWizardID"
            name="%_UI_NattableaxisproviderModelWizard_label"
            class="org.eclipse.papyrus.infra.nattable.model.nattable.nattableaxisprovider.presentation.NattableaxisproviderModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NattableaxisproviderModelFile.gif">
         <description>%_UI_NattableaxisproviderModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null

</plugin>
