<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
            <menu
                  icon="img/adl.png"
                  id="com.cea.papyrus.adl4eclipse.menu"
                  label="ADL4eclipse"
                  tooltip="ADL4eclipse">
            </menu>
         </menuContribution>
      </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.cea.papyrus.adl4eclipse.menu">
         <command
               commandId="org.eclipse.papyrus.adltool.assistant.SimplePluginModelHandler"
               id="org.eclipse.papyrus.adltool.assistant.SimplePluginModelHandler.popup"
               label="Model plugin architecture from Workspace"
               style="push"
               tooltip="Model Plugin Architecture from Workspace">
         </command>
         <command
               commandId="org.eclipse.papyrus.adltool.assistant.CompletePluginModelHandler"
               id="org.eclipse.papyrus.adltool.assistantCompletePluginModelHandler.popup"
               label="Model plugin architecture from all possible plugins"
               style="push"
               tooltip="Model Plugin Architecture from all possible plugins (workpace + platform)">
         </command>
         <command
               commandId="org.eclipse.papyrus.adltool.assistant.SimpleFeatureModelHandler"
               id="org.eclipse.papyrus.adltool.assistant.SimpleFeatureModelHandler.popup"
               label="Model features architecture from Workspace"
               style="push"
               tooltip="Model features architecture from Workspace">
         </command>
         <command
               commandId="org.eclipse.papyrus.adltool.assistant.ModelCompleteFeatureArchitectureHandler"
               id="org.eclipse.papyrus.adltool.assistant.ModelCompleteFeatureArchitectureHandler.popup"
               label="Model features architecture"
               style="push"
               tooltip="Model features architecture ( Workspace + Platform)">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.adltool.assistant.ModelPluginArchitectureFromWorkspaceHandler"
            id="org.eclipse.papyrus.adltool.assistant.SimplePluginModelHandler"
            name="Simple plugins architecture snapshot">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.adltool.assistant.ModelCompletePluginArchitectureHandler"
            id="org.eclipse.papyrus.adltool.assistant.CompletePluginModelHandler"
            name="Complete plugins architecture snapshot">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.adltool.assistant.ModelFeatureArchitectureFromWorkspaceHandler"
            id="org.eclipse.papyrus.adltool.assistant.SimpleFeatureModelHandler"
            name="Simple Feature architecture snapshot">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.adltool.assistant.ModelCompleteFeatureArchitectureHandler"
            id="org.eclipse.papyrus.adltool.assistant.ModelCompleteFeatureArchitectureHandler"
            name="Complete Feature architecture snapshot">
      </command>
   </extension>
     <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.papyrus.adltool.assistant.Activator"></startup>
   </extension>
</plugin>
