<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.papyrus.infra.ui.resources.refactoring.RenameModelParticipant"
            id="org.eclipse.papyrus.ui.resources.renameParticipant"
            name="%renameParticipant.name">
         <enablement>
            <with
                  variable="element">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </with>
         </enablement>
      </renameParticipant>
   </extension>

</plugin>
