<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.uml.nattable.config.UMLFeatureCellEditorConfig"
            order="500">
      </configuration>
   </extension>
 <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="1300"
            provider="org.eclipse.papyrus.uml.nattable.provider.StereotypePropertyHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.feature.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="1800"
            provider="org.eclipse.papyrus.uml.nattable.provider.UMLUnlimitedNaturalLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.body.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="1900"
            provider="org.eclipse.papyrus.uml.nattable.provider.StereotypePropertyCellLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.body.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.uml.nattable.stereotype.property.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.manager.axis.UMLStereotypePropertyAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.uml.nattable.element.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.manager.axis.UMLElementAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.uml.nattable.feature.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.manager.axis.UMLFeatureAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.uml.nattable.uml.feature.cell.manager"
            manager="org.eclipse.papyrus.uml.nattable.manager.cell.UMLFeatureCellManager"
            order="500">
      </cellManager>
   </extension>
</plugin>
