<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.uml.nattable.config.UMLFeatureCellEditorConfig"
            order="50">
      </configuration>
   </extension>
 <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.uml.nattable.provider.StereotypePropertyHeaderLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.uml.nattable.provider.UMLUnlimitedNaturalLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.body.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="50"
            provider="org.eclipse.papyrus.uml.nattable.provider.StereotypePropertyCellLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.body.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>

</plugin>
