<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.papyrus.ui.menu">
         <menu
               id="org.eclipse.papyrus.diagram.ui.menu"
               label="Papyrus II">
            <command
                  commandId="org.eclipse.papyrus.adaptor.modisco.command.createBrowser"
                  icon="icons/full/logoMoDiscoMini.gif"
                  label="Create a new Modisco Browser"
                  style="push"
                  tooltip="Create a new Modisco Browser">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.papyrus.diagram.ui.toolbar">
            <command
                  commandId="org.eclipse.papyrus.adaptor.modisco.command.createBrowser"
                  icon="icons/full/logoMoDiscoMini.gif"
                  label="Create a new Modisco Browser"
                  style="push"
                  tooltip="Create a new Modisco Browser">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create a new Modisco Browser"
            id="org.eclipse.papyrus.adaptor.modisco.command.createBrowser"
            name="Create Modisco Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.adapters.modisco.CreateModiscoBrowserHandler"
            commandId="org.eclipse.papyrus.adaptor.modisco.command.createBrowser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.papyrusDiagram">
      <editorDiagram
            actionBarContributorId="org.eclipse.papyrus.adaptor.modisco.actionBarContributor"
            factoryClass="org.eclipse.papyrus.adapters.modisco.ModiscoBrowserEditorFactory">
      </editorDiagram>
      <actionBarContributor
            id="org.eclipse.papyrus.adaptor.modisco.actionBarContributor"
            implementingClass="org.eclipse.gmt.modisco.infra.browser.editors.BrowserActionBarContributor">
      </actionBarContributor>
   </extension>

</plugin>
