<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://Papyrus_LIBRARIES/"
            target="platform:/plugin/org.eclipse.papyrus.marte.static.profile/resources/"/>
      <mapping
            source="pathmap://Papyrus_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.marte.static.profile/resources/"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="MARTE Library (v1.1)"
            iconpath="resources/icons/MARTE_16x16.gif"
            name="MARTE_Library"
            path="pathmap://Papyrus_LIBRARIES/MARTE_Library.library.uml"
            provider="CEA LIST">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="UML profile for MARTE (v1.1)"
            iconpath="resources/icons/MARTE_16x16.gif"
            name="MARTE"
            path="pathmap://Papyrus_PROFILES/MARTE.profile.uml"
            provider="CEA LIST">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_zaC5cAPHEdyeNfbOYuD9pg"
            uri="http://www.eclipse.org/papyrus/MARTE/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.NFPs.NFPsPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/NFPs/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.NFPs.util.NFPsResourceFactoryImpl"
            type="MARTE">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_U_GAoAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/NFPs/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.Time.TimePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Time/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_WStkoAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/Time/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.GRM.GRMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/GRM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_XVWGUAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/GRM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.Alloc.AllocPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Alloc/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_ar8OsAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/Alloc/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Foundations.CoreElements.CoreElementsPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/CoreElements/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_-wEewECLEd6UTJZnztgOLw"
            uri="http://www.eclipse.org/papyrus/CoreElements/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HLAM.HLAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HLAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_yNSZIAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/HLAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwComputing.HwComputingPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwComputing/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_2dtsgAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/HRM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_P80EcBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwLogical/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_aMhZsBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwComputing/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwCommunication.HwCommunicationPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwCommunication/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_bmL7UBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwCommunication/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwTiming.HwTimingPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwTiming/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_dG2c0BJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwTiming/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwDevice.HwDevicePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwDevice/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_ja8REBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwDevice/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_ZJjPoEIbEd6dmI2dd6jVFQ"
            uri="http://www.eclipse.org/papyrus/HwStorage/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwMemory.HwMemoryPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwMemory/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_gHI-ABJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwMemory/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwStorageManager.HwStorageManagerPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwStorageManager/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_hst0sBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwStorageManager/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_R7sL8BJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwPhysical/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwLayout.HwLayoutPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwLayout/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_uAf6gBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwLayout/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwPower.HwPowerPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwPower/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_vrbyUBJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwPower/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwGeneral.HwGeneralPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwGeneral/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_WGZ44BJwEdygQ5HMNSpiZw"
            uri="http://www.eclipse.org/papyrus/HwGeneral/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_3VS0wAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/SRM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_ResourceCore.SW_ResourceCorePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_ResourceCore/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_-1fcUBJdEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_ResourceCore/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Concurrency.SW_ConcurrencyPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_Concurrency/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_A_vtYBJeEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_Concurrency/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Brokering.SW_BrokeringPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_Brokering/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_Cf874BJeEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_Brokering/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SW_Interaction.SW_InteractionPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SW_Interaction/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_EIfnABJeEdy3Td9UhuLFPg"
            uri="http://www.eclipse.org/papyrus/SW_Interaction/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.GCM.GCMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/GCM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_YgAioAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/GCM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.GQAM.GQAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/GQAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_4bV20APMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/GQAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.SAM.SAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_5ZCOIAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/SAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_AnalysisModel.PAM.PAMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/PAM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_6c2bkAPMEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/PAM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.RSM.RSMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/RSM/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_DIIJoAPNEdyuUt-4qHuVvQ"
            uri="http://www.eclipse.org/papyrus/RSM/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_CHiIYA-LEdyNj8xzjk-DoA"
            uri="http://www.eclipse.org/papyrus/VSL/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.DataTypes.DataTypesPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/DataTypes/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_9FdqwA-MEdyLh7muGbCqMw"
            uri="http://www.eclipse.org/papyrus/DataTypes/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_9UgzYA-MEdyLh7muGbCqMw"
            uri="http://www.eclipse.org/papyrus/Variables/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.Variables.VariablesPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Variables/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-NFPs-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="/resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-NFPs-Palette"
            path="/palettes/ClassDiag-NFPs.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-Alloc-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-Alloc-Palette"
            path="/palettes/ClassDiag-Alloc.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-Time-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-Time-Palette"
            path="/palettes/ClassDiag-Time.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-GRM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-GRM-Palette"
            path="/palettes/ClassDiag-GRM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-GCM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-GCM-Palette"
            path="/palettes/ClassDiag-GCM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-HLAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-HLAM-Palette"
            path="/palettes/ClassDiag-HLAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-HRM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-HRM-Palette"
            path="/palettes/ClassDiag-HRM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-SRM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-SRM-Palette"
            path="/palettes/ClassDiag-SRM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ClassDiagram-GQAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ClassDiagram-GQAM-Palette"
            path="/palettes/ClassDiag-GQAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-GCM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-GCM-Palette"
            path="/palettes/ActivityDiag-GCM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-HLAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-HLAM-Palette"
            path="/palettes/ActivityDiag-HLAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity"></editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-GQAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-GQAM-Palette"
            path="/palettes/ActivityDiag-GQAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity"></editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-NFPs-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-NFPs-Palette"
            path="/palettes/ActivityDiag-NFPs.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-PAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-PAM-Palette"
            path="/palettes/ActivityDiag-PAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-SAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-SAM-Palette"
            path="/palettes/ActivityDiag-SAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="ActivityDiagram-Time-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="ActivityDiagram-Time-Palette"
            path="/palettes/ActivityDiag-Time.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.activity">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-Alloc-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-Alloc-Palette"
            path="/palettes/CompositeDiag-Alloc.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-CoreElements-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-CoreElements-Palette"
            path="/palettes/CompositeDiag-CoreElements.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-GCM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-GCM-Palette"
            path="/palettes/CompositeDiag-GCM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-GRM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-GRM-Palette"
            path="/palettes/CompositeDiag-GRM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-HLAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-HLAM-Palette"
            path="/palettes/CompositeDiag-HLAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-HRM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-HRM-Palette"
            path="/palettes/CompositeDiag-HRM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-NFPs-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-NFPs-Palette"
            path="/palettes/CompositeDiag-NFPs.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-PAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-PAM-Palette"
            path="/palettes/CompositeDiag-PAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-SAM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-SAM-Palette"
            path="/palettes/CompositeDiag-SAM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-SRM-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-SRM-Palette"
            path="/palettes/CompositeDiag-SRM.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="CompositeDiagram-Time-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="CompositeDiagram-Time-Palette"
            path="/palettes/CompositeDiag-Time.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="StateMachineDiagram-CoreElements-Palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            icon="resources/icons/MARTE_16x16.gif"
            name="StateMachineDiagram-CoreElements-Palette"
            path="/palettes/StateMachineDiag-CoreElements.Palette.xml">
         <Priority
               name="Highest">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.statemachine">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://Papyrus_PROFILES/MARTE.profile.uml#_jg_Z8PfhEd-f4r3MXmUB9g"
            uri="http://www.eclipse.org/papyrus/Operators/1">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.Operators.OperatorsPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/Operators/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwStorage.HwStoragePackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwStorage/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_Annexes.VSL.VSLPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/VSL/1">
      </package>
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwLogical.HwLogicalPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwLogical/1">
      </package>
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HwPhysical.HwPhysicalPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HwPhysical/1">
      </package>
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.SRM.SRMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/SRM/1">
      </package>
      <package
            class="org.eclipse.papyrus.MARTE.MARTEPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/MARTE/1">
      </package>
      <package
            class="org.eclipse.papyrus.MARTE.MARTE_DesignModel.HRM.HRMPackage"
            genModel="MARTE.genmodel"
            uri="http://www.eclipse.org/papyrus/HRM/1">
      </package>
   </extension>

</plugin>
