<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="navigationRules" name="navigationRules" schema="schema/navigationRules.exsd"/>
   <extension-point id="navigationDecoratorRules" name="navigationDecoratorRules" schema="schema/navigationDecoratorRules.exsd"/>
   <extension-point id="navigationColorProviders" name="navigationColorProviders" schema="schema/navigationColorProviders.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.preference.NavigationPreferencePage"
            id="org.eclipse.papyrus.navigation"
            name="Navigation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.preference.NavigationPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.decorator.NavigationDecoratorProvider">
         <Priority
               name="Medium">
         </Priority>
      </decoratorProvider>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Navigation  Command"
            id="org.eclipse.papyrus.navigation.commands.category">
      </category>
      <command
            name="Back Navigation Command"
            categoryId="org.eclipse.papyrus.navigation.commands.category"
            id="org.eclipse.papyrus.navigation.commands.backNavigationCommand">
      </command>
      <command
            categoryId="org.eclipse.papyrus.navigation.commands.category"
            id="org.eclipse.papyrus.navigation.commands.upNavigationCommand"
            name="Up Navigation Command">
      </command>
      <command
            categoryId="org.eclipse.papyrus.navigation.commands.category"
            id="org.eclipse.papyrus.navigation.commands.topNavigationCommand"
            name="Top Navigation Command">
      </command>
      <command
            categoryId="org.eclipse.papyrus.navigation.commands.category"
            id="org.eclipse.papyrus.navigation.commands.nextNavigationCommand"
            name="Next Navigation Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.papyrus.navigation.commands.backNavigationCommand"
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.handlers.BackNavigateHandler">
         <enabledWhen>
         	<with
                variable="selection">
                <test
                   forcePluginActivation="true"
                   property="org.eclipse.papyrus.navigation.isBackCommandPossible">
             </test>
         	</with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.handlers.NextNavigateHandler"
            commandId="org.eclipse.papyrus.navigation.commands.nextNavigationCommand">
            <enabledWhen>
         	<with
                variable="selection">
                <test
                   forcePluginActivation="true"
                   property="org.eclipse.papyrus.navigation.isNextCommandPossible">
             </test>
         	</with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.handlers.UpNavigateHandler"
            commandId="org.eclipse.papyrus.navigation.commands.upNavigationCommand">
            <enabledWhen>
         	<with
                variable="selection">
                <test
                   forcePluginActivation="true"
                   property="org.eclipse.papyrus.navigation.isUpCommandPossible">
             </test>
         	</with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.handlers.TopNavigateHandler"
            commandId="org.eclipse.papyrus.navigation.commands.topNavigationCommand">
            <enabledWhen>
         	<with
                variable="selection">
                <test
                   forcePluginActivation="true"
                   property="org.eclipse.papyrus.navigation.isTopCommandPossible">
             </test>
         	</with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.papyrus.navigation.toolbars.navigationToolbar"
               label="Navigation Papyrus Diagram">
            <command
                  commandId="org.eclipse.papyrus.navigation.commands.backNavigationCommand"
                  icon="icons/BACK.png"
                  id="org.eclipse.papyrus.navigation.toolbars.BackCommand"
                  style="push"
                  tooltip="BACK">
               <visibleWhen>
                  <or>
                     <reference
                           definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel">
                     </reference>
                     <reference
                           definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
                     </reference>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.papyrus.navigation.commands.nextNavigationCommand"
                  icon="icons/NEXT.png"
                  id="org.eclipse.papyrus.navigation.toolbars.NextCommand"
                  style="push"
                  tooltip="NEXT">
               <visibleWhen>
                  <or>
                     <reference
                           definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel">
                     </reference>
                     <reference
                           definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
                     </reference>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.papyrus.navigation.commands.upNavigationCommand"
                  icon="icons/UP.png"
                  id="org.eclipse.papyrus.navigation.toolbars.UpCommand"
                  style="push"
                  tooltip="UP">
               <visibleWhen>
                  <or>
                     <reference
                           definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel">
                     </reference>
                     <reference
                           definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
                     </reference>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.papyrus.navigation.commands.topNavigationCommand"
                  icon="icons/TOP.png"
                  id="org.eclipse.papyrus.navigation.toolbars.TopCommand"
                  style="push"
                  tooltip="TOP">
               <visibleWhen>
               <or>
                  <reference
                        definitionId="org.eclipse.papyrus.uml.diagram.common.IsPapyrusActiveWithUMLModel">
                  </reference>
                  <reference
                        definitionId="org.eclipse.papyrus.sysml.diagram.common.IsPapyrusActiveWithSysML">
                  </reference>
                  </or>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.utils.PropertyTester"
            id="org.eclipse.papyrus.navigation.PropertyTester"
            namespace="org.eclipse.papyrus.navigation"
            properties="isNextCommandPossible"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.utils.PropertyTester"
            id="org.eclipse.papyrus.navigation.PropertyTester"
            namespace="org.eclipse.papyrus.navigation"
            properties="isBackCommandPossible"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.utils.PropertyTester"
            id="org.eclipse.papyrus.navigation.PropertyTester"
            namespace="org.eclipse.papyrus.navigation"
            properties="isUpCommandPossible"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.infra.gmfdiag.navigation.utils.PropertyTester"
            id="org.eclipse.papyrus.navigation.PropertyTester"
            namespace="org.eclipse.papyrus.navigation"
            properties="isTopCommandPossible"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.papyrus.editor.perspectiveconfiguration">
      <configuration
            perspectiveID="org.eclipse.papyrus.infra.core.perspective">
         <toolbar
               toolbarID="org.eclipse.papyrus.navigation.toolbars.navigationToolbar">
         </toolbar>
         <command
               commandID="org.eclipse.papyrus.navigation.commands.backNavigationCommand">
         </command>
         <command
               commandID="org.eclipse.papyrus.navigation.commands.nextNavigationCommand">
         </command>
         <command
               commandID="org.eclipse.papyrus.navigation.commands.topNavigationCommand">
         </command>
         <command
               commandID="org.eclipse.papyrus.navigation.commands.upNavigationCommand">
         </command>
      </configuration>
   </extension>
</plugin>
