<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>

<!--We declare the model used for the Papyrus Table Editor  -->
   <extension point="org.eclipse.papyrus.infra.core.model">
      <model classname="org.eclipse.papyrus.infra.table.common.modelresource.EMFFacetNattableModel" description="Model for Papyrus Table editors">
      </model>
      <model classname="org.eclipse.papyrus.infra.table.common.modelresource.PapyrusNattableModel" description="Model for Papyrus Table editors">
      </model>
   </extension>
 <extension id="papyrus.table.menuspapyrus.table.menu" name="Papyrus Table Menus" point="org.eclipse.ui.menus">
      <menuContribution allPopups="false" locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.views.modelexplorer.popupmenu.creatediagram">
         <menu icon="icons/table.gif" id="org.eclipse.papyrus.views.modelexplorer.popupmenu.createtable" label="New Table" mnemonic="&amp;T" tooltip="The table menu">
         </menu>
      </menuContribution>
      <menuContribution allPopups="false" locationURI="menu:org.eclipse.papyrus.ui.menu?after=org.eclipse.papyrus.uml.diagram.ui.menu.diagrams">
         <menu icon="icons/table.gif" id="org.eclipse.papyrus.table.ui.menu.tables" label="Tables" mnemonic="&amp;T" tooltip="The table menu">
         </menu>
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?endof=org.eclipse.papyrus.uml.diagram.ui.toolbar">
         <toolbar id="org.eclipse.papyrus.table.ui.toolbar" label="Papyrus Table Toolbar">
         </toolbar>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/table_Ecore_hideEAnnotationFeature.uiCustom"/>
   </extension>
   <extension
         point="org.eclipse.emf.facet.widgets.celleditors.commandFactories">
      <commandFactory
            class="org.eclipse.papyrus.infra.table.common.factory.PapyrusCommandFactory">
      </commandFactory>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.hyperlink.editor.registration">
      <editorhyperlink
            helper="org.eclipse.papyrus.infra.table.common.hyperlink.HyperLinkTableEditorHelper">
      </editorhyperlink>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Open a dialog to select the columns to display"
            id="org.eclipse.papyrus.infra.table.common.selectvisiblecolumns"
            name="Select the columns to Show">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.papyrus.infra.table.common.selectvisiblecolumns"
               icon="icons/select_columns_to_show.png"
               label="Select the columns to show"
               style="push"
               tooltip="Open a dialog to choose the visible columns">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
