<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.papyrus.infra.emf.compare.instance.papyrusemfcompareinstance.PapyrusemfcompareinstancePackage"
            genModel="model/papyrusemfcompareinstance.genmodel"
            uri="http://www.eclipse.org/Papyrus/EMFCompare/0.9.0/papyrusemfcompareinstance">
      </package>
   </extension>

</plugin>
