<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resources/uml_stereotype_queries.querySet"/>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="org.eclipse.papyrus.uml.profilefacet.listener.ReapplyProfileTriggerListener">
      </listener>
   </extension>
       <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/Papyrus/Table/0.8.0/papyrustableinstance">
         <adviceBinding
               class="org.eclipse.papyrus.uml.profilefacet.advice.DeleteProfileFacetSetAdvice"
               id="org.eclipse.papyrus.uml.profilefacet.advice.DeleteProfileFacetSetAdvice"
               inheritance="all"
               typeId="*">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.eclipse.papyrus.infra.services.edit.TypeContext">
         <elementType
               ref="org.eclipse.papyrus.uml.profilefacet.advice.DeleteProfileFacetSetAdvice">
         </elementType>
      </binding>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.participant">
      <participant
            class="org.eclipse.papyrus.uml.profilefacet.controlmode.ProfileFacetSetControlParticipant">
      </participant>
   </extension>
</plugin>
