<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/transition/editor/xtext/UmlTransition" 
       class = "org.eclipse.papyrus.transition.editor.xtext.umlTransition.UmlTransitionPackage"
       genModel = "org/eclipse/papyrus/transition/editor/xtext/UmlTransition.genmodel" /> 
	
  </extension>





</plugin>
