<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusUML2PreferencePage"
            id="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            name="Papyrus">
      </page>
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.PapyrusAllDiagramsPreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
            name="Diagrams">
      </page>
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusPrintingPreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.printing"
            name="Printing">
      </page>
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusPathmapsPreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.pathmaps"
            name="Pathmaps">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusUML2PreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.generalcategory"
            name="Papyrus">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.PapyrusAllDiagramsPreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusAllDiagramsPreferencePage"
            name="Diagrams">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusPrintingPreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.printing"
            name="Printing">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.generalcategory"
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.pages.internal.PapyrusPathmapsPreferencePage"
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.pathmaps"
            name="Pathmaps">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.infra.gmfdiag.preferences.PapyrusPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
