<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension point="org.eclipse.emf.ecore.extension_parser">
      <parser class="org.eclipse.papyrus.customization.properties.model.xwt.resource.XWTModelFactory" type="xwt">
      </parser>
   </extension>
  <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <file-association
           content-type="org.eclipse.wst.xml.core.xmlsource"
           file-extensions="xwt">
     </file-association>
  </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xml -->
      <package
            uri="http://www.eclipse.org/papyrus/xwt/XML"
            class="org.eclipse.papyrus.customization.properties.model.xwt.xwtxml.XwtxmlPackage"
            genModel="model/xml.genmodel"/>
   </extension>

</plugin>
