<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.emfdiff"
            id="org.eclipse.papyrus.compare.report.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="%menu.label" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.papyrus.compare.report.ui.popupMenus.AcceleoGenerateGenerateReportAction"
               enablesFor="+"
               id="org.eclipse.papyrus.compare.report.ui.popupMenus.acceleoGenerateGenerateReportAction"
               icon="icons/export_as_html.gif"
               label="%action.label"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>

  <extension
        point="org.eclipse.emf.compare.ui.export">
     <action
           class="org.eclipse.papyrus.compare.report.ui.action.ExportAsGenReportAction"
           fileExtension="uml"
           id="org.eclipse.papyrus.compare.exportAsHTMLAction">
     </action>
  </extension>
   
</plugin>
