<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="guides/users/index-toc.xml"
            primary="false">
      </toc>
      <toc
            file="guides/tutorials/layers-toc.xml"
            primary="false">
      </toc>
      <toc
            file="guides/tutorials/simpleTutorial-toc.xml"
            primary="false">
      </toc>
      <toc
            file="guides/tutorials/derivedLayerTutorial-toc.xml"
            primary="false">
      </toc>
      <toc
            file="guides/developpers/layers-toc.xml"
            primary="false">
      </toc>
      <toc
            file="guides/developpers/layersDevs-toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
