<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.controlmode.customControlCommand">
      <customUncontrolCommand
            uncontrolCommand="org.eclipse.papyrus.infra.table.efacet.controlmode.handlers.PapyrusTableEFacetUncontrolCommand">
      </customUncontrolCommand>
      <customControlCommand
            controlCommand="org.eclipse.papyrus.infra.table.efacet.controlmode.handlers.PapyrusTableEFacetControlCommand">
      </customControlCommand>
   </extension>

</plugin>
