<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.theme">
      <themeContribution
            id="org.eclipse.papyrus.css.papyrus_theme">
         <stylesheet
               stylesheetPath="theme/sysml.css">
         </stylesheet>
      </themeContribution>
      <themeContribution
            id="org.eclipse.papyrus.css.blacknwhite_theme">
         <stylesheet
               stylesheetPath="theme/sysml.css">
         </stylesheet>
      </themeContribution>
   </extension>

</plugin>
