<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.papyrus.uml.compare.ui.viewer.content.UMLModelContentMergeViewerCreator"
            extensions="uml"
            id="org.eclipse.papyrus.uml.compare.ui.viewer.content.UMLModelContentMergeViewer"
            label="Papyrus UML"/>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.emf.ecore.EObject"
            nameFilter="*"
            id="org.eclipse.papyrus.domaincodegen.ui.popupMenus.contribution.IFile">
         <menu id="UMLCompare" label="Compare With" path="additions">
            <separator
                  name="compareTwoElements">
            </separator>
         </menu>
         <action
               class="org.eclipse.papyrus.uml.compare.ui.action.CompareTwoElementsAction"
               enablesFor="2"
               id="org.eclipse.papyrus.uml.compare.action.CompareTwoElementsAction"
               icon="icons/export_as_html.gif"
               label="Each Other"
               menubarPath="UMLCompare/compareTwoElements"/>
      </objectContribution>
   </extension>

</plugin>
