<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart"
            id="org.eclipse.papyrus.qvtTransformation.contribution1">
         <menu
               icon="icons/icon.gif"
               id="org.eclipse.papyrus.qvtTransformation.menu1"
               label="Execute QVT Transformation"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.papyrus.qvttransformation.popup.actions.SelectQVTTransformation"
               enablesFor="1"
               id="org.eclipse.papyrus.qvtTransformation.newAction"
               label="Select QVT Transformation"
               menubarPath="org.eclipse.papyrus.qvtTransformation.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
