<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/Papyrus/Table/0.8.0/papyrustableinstance"
            class="org.eclipse.papyrus.infra.table.instance.papyrustableinstance.PapyrustableinstancePackage"
            genModel="model/papyrusnattableinstance.genmodel"/>
   </extension>

</plugin>
