<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="org.eclipse.papyrus.robotml.diagram.common.commands.CreateRobotmlModelCommand"
            description="RobotML diagrams"
            icon="platform:/plugin/org.eclipse.papyrus.robotml/icons/robotml/RobotML-32x32.png"
            id="robotML"
            label="RobotML">
      </diagramCategory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
         <and>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.RobotmlSelectionTester.isRobotmlModel"
                     value="true">
               </test>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.robotml.diagram.common.utils.RobotmlSelectionTester"
            id="org.eclipse.papyrus.RobotmlSelectionTester"
            namespace="org.eclipse.papyrus.RobotmlSelectionTester"
            properties="isRobotmlModel"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   
<extension id="papyrus.robotML.menuspapyrus.generate" name="Generate to Middleware/Simulator" point="org.eclipse.ui.menus">
      <menuContribution allPopups="false" locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.views.modelexplorer.popupmenu.createchild">
         <menu
               icon="icons/code_generation.gif"
               id="org.eclipse.papyrus.robotML.modelexplorer.popupmenu.generate"
               label="Generate to Middleware/Simulator"
               mnemonic="&amp;G"
               tooltip="Generate from model to robotic Middleware/Simulator">
            <visibleWhen
                  checkEnabled="false">
                  <reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>
            </visibleWhen>
         </menu>     
       </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               icon="icons/robotml_16x16.png"
               id="org.eclipse.papyrus.robotml.diagram.migrate"
               label="RobotML">
               <visibleWhen
                  checkEnabled="false">
                  <reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>
            </visibleWhen>
            <command
                  commandId="org.eclipse.papyrus.robotml.diagram.migrate"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="di">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="uml">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="notation">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
 </extension>    
 <extension
         point="org.eclipse.ui.commands">
      <category
            description="this a category of RobotML commands"
            id="org.eclipse.papyrus.robotML.generation.category"
            name="RobotML generation Category">
      </category>
      <command
            defaultHandler="org.eclipse.papyrus.robotml.diagram.common.migration.MigrateDiagramsHandler"
            id="org.eclipse.papyrus.robotml.diagram.migrate"
            name="Migrate RobotML diagrams from 0.9 to 1.0 version">
      </command>
   </extension>
 <extension
       point="org.eclipse.papyrus.uml.properties.languageEditor">
    <editor
          editor="org.eclipse.papyrus.uml.properties.widgets.NaturalLanguageEditor"
          language="alf">
    </editor>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
    <contribution
          file="viewpoints/robotml.configuration"
          original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
    </contribution>
 </extension>
 <extension
	point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider
		class="org.eclipse.papyrus.robotml.diagram.common.editpolicy.provider.RobotMLDiagramsEditPolicyProvider">
		<Priority name="Low"/>
	</editpolicyProvider>
</extension>
</plugin>
