<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.uml.table.defaultt.factory.NattableEditorFactory"
            icon="icons/table_UML_default.gif">
      </editorDiagram>
   </extension>
   <!--extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a New Default Table Editor"
            id="org.eclipse.papyrus.default.table.command"
            name="Create a Default Table Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.table.defaultt.handlers.CreateNattableEditorCommand"
            commandId="org.eclipse.papyrus.default.table.command">
         <activeWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="create.table.menus"
         name="Create Table Menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.createtable">
         <command
               commandId="org.eclipse.papyrus.default.table.command"
               icon="icons/table_UML_default.gif"
               label="Default Table"
               mnemonic="&amp;D"
               style="push"
               tooltip="Create a new Default Table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.papyrus.table.ui.menu.tables">
         <command
               commandId="org.eclipse.papyrus.default.table.command"
               icon="icons/table_UML_default.gif"
               label="Default Table"
               mnemonic="&amp;D"
               style="push"
               tooltip="Create a new Default Table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.papyrus.table.ui.toolbar">
         <command
               commandId="org.eclipse.papyrus.default.table.command"
               icon="icons/table_UML_default.gif"
               label="Default Table"
               mnemonic="&amp;D"
               style="push"
               tooltip="Create a new Default Table">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension-->
</plugin>
