<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated papyrusCompare -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="extensions.presentation.ExtensionsModelWizardID"
            name="%_UI_ExtensionsModelWizard_label"
            class="extensions.presentation.ExtensionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExtensionsModelFile.gif">
         <description>%_UI_ExtensionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated papyrusCompare -->
      <editor
            id="extensions.presentation.ExtensionsEditorID"
            name="%_UI_ExtensionsEditor_label"
            icon="icons/full/obj16/ExtensionsModelFile.gif"
            extensions="extensions"
            class="extensions.presentation.ExtensionsEditor"
            contributorClass="extensions.presentation.ExtensionsActionBarContributor">
      </editor>
   </extension>

</plugin>
