<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/operation/editor/xtext/Operation" 
       class = "org.eclipse.papyrus.uml.textedit.operation.xtext.operation.OperationPackage"
       genModel = "org/eclipse/papyrus/operation/editor/xtext/Operation.genmodel" /> 
	
  </extension>




</plugin>
