<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyEditorControllerProvider">
   <propertyEditorControllerProvider
         class="org.eclipse.papyrus.views.properties.runtime.controller.predefined.PredefinedPropertyControllerProvider"
         description="this is the basic provider for SysML features"
            id="org.eclipse.papyrus.sysml.properties.view.structuralFeaturesEMFTPredefinedControllers">
      <Priority name="Lowest"/>
      <PredefinedControllers
            id="org.eclipse.papyrus.sysml.properties.view.structuralFeaturesEMFTPredefinedControllers"
            name="SysML Predefined Controllers for Structural Features"
            path="resources/sysml_predefined_controllers.xml">
      </PredefinedControllers>
   </propertyEditorControllerProvider>
</extension>
</plugin>
