<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.eclipse.papyrus.infra.gmfdiag.css.stylesheets.StylesheetsPackage" genModel="Model/StyleSheets.genmodel" uri="http://www.eclipse.org/papyrus/infra/gmfdiag/css"/>
   </extension>
	<!-- TODO: EMF-FACET update queries
   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="Model/StyleSheets.facetSet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="Model/StyleSheets.querySet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="Model/StyleSheets.uiCustom"
            loadByDefault="false"/>
   </extension>
   -->
</plugin>
