<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.controlmode.customControlCommand" name="customControlCommand" schema="schema/customControlCommand.exsd"/>
   <extension
         point="org.eclipse.papyrus.modelexplorer.actionHandler">
      <customAction
            actionHandler="org.eclipse.papyrus.controlmode.action.CollaborativeActionsFactory"
            actionId="org.eclipse.papyrus.controlmode.action.collaborativeActions"
            afterAction="org.eclipse.papyrus.modelexplorer.factory.defaultEMFActions"
            needSeparator="false">
      </customAction>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <adviceBinding
               class="org.eclipse.papyrus.controlmode.ControlledElementEditHelperAdvice"
               id="org.eclipse.papyrus.uml.advice.Element"
               inheritance="all"
               typeId="org.eclipse.papyrus.uml.Element">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.eclipse.papyrus.service.edit.TypeContext">
         <advice
               ref="org.eclipse.papyrus.uml.advice.Element">
         </advice>
      </binding>
   </extension>

</plugin>
