<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2012 Mia-Software.
   
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
       Alban Ménager (Soft-Maint) - Bug 387470 - [EFacet][Custom] Editors
-->
<plugin>
   <extension-point id="queryFactoryDialogRegistration" name="%extension-point.name" schema="schema/queryFactoryDialogRegistration.exsd"/>
  <extension
         point="org.eclipse.ui.menus">
    <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.emf.facet.efacet.metamodel.v0_2_0.efacet.presentation.EFacetEditorID?before=edit">
      <menu
               label="%menu.label">
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.createFacetSetInFacetSet"
               icon="icons/FacetSet.gif"
               label="%command.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.createFacetInFacetSet"
               icon="icons/facet.gif"
               label="%command.name.0"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addAttributeInFacet"
               icon="icons/FacetAttribute.gif"
               label="%command.name.1"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addOperationInFacet"
               icon="icons/FacetOperation.gif"
               label="%command.name.2"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addReferenceInFacet"
               icon="icons/FacetReference.gif"
               label="%command.name.4"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addParameterInOperation"
               icon="icons/ParameterValue.gif"
               label="%command.name.3"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetSet"
               icon="icons/FacetSet.gif"
               label="%command.name.5"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacet"
               icon="icons/facet.gif"
               label="%command.name.6"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetAttribute"
               icon="icons/FacetAttribute.gif"
               label="%command.name.7"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetOperation"
               icon="icons/FacetOperation.gif"
               label="%command.name.8"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetOperationParameter"
               icon="icons/ParameterValue.gif"
               label="%command.name.9"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetReference"
               icon="icons/FacetReference.gif"
               label="%command.name.10"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menu>
    </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.creation.CreateFacetSetInFacetSetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.createFacetSetInFacetSet"
           name="%command.name">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.creation.CreateFacetInFacetSetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.createFacetInFacetSet"
           name="%command.name.0">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.creation.AddAttributeInFacetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addAttributeInFacet"
           name="%command.name.1">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.creation.AddOperationInFacetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addOperationInFacet"
           name="%command.name.2">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.creation.AddReferenceInFacetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addReferenceInFacet"
           name="%command.name.4">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.creation.AddParameterInOperationHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.addParameterInOperation"
           name="%command.name.3">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.edition.EditFacetSetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetSet"
           name="%command.name.5">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.edition.EditFacetHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacet"
           name="%command.name.6">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.edition.EditFacetAttributeHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetAttribute"
           name="%command.name.7">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.edition.EditFacetOperationHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetOperation"
           name="%command.name.8">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.edition.EditFacetOperationParameterHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetOperationParameter"
           name="%command.name.9">
     </command>
     <command
           defaultHandler="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.handler.edition.EditFacetReferenceHandler"
           id="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.editFacetReference"
           name="%command.name.10">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.papyrus.emf.facet.efacet.sdk.ui.internal.Startup">
     </startup>
  </extension>
</plugin>
