<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.papyrus.properties.context">
      <context
            contextModel="model/papyrustableinstance.ctx"
            loadDefault="true">
      </context>
      <context
            contextModel="model/tableinstance.ctx"
            loadDefault="true">
      </context>
      <context
            contextModel="model/tableinstance2.ctx"
            loadDefault="true">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.properties.environment">
      <environment
            environmentModel="model/Environment.xmi">
      </environment>
   </extension>
</plugin>
