<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/2009/papyrusgmfgenextension"
            class="org.eclipse.papyrus.papyrusgmfgenextension.PapyrusgmfgenextensionPackage"
            genModel="model/papyrusGmfgenExtension.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">

            <objectContribution
            adaptable="true"
            id="org.eclipse.papyrus.papyrusgmfgenextension.popupactions"
            objectClass="org.eclipse.emf.ecore.EObject">
                    <menu
                          icon="icons/PapyrusLogo16x16.gif"
                          id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus"
                          label="Papyrus GMFGen Tools"
                          path="papyrus">
                    </menu>
                    <action
                          class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.QualifiedNameDisplayEditPolicy"
                          enablesFor="*"
                          id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.QualifiedNameDisplayEditPolicy"
                          label="Add behavior to display qualified name"
                          menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/QualifiedNameDisplayEditPolicy">
                       <enablement>
                          <objectClass
                                name="org.eclipse.gmf.codegen.gmfgen.GenNode">
                          </objectClass>
                       </enablement>
                    </action>
                 <action
                       class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddNodeStereotypeDisplayBehavior"
                       enablesFor="*"
                       id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddNodeStereotypeDisplayBehavior"
                       label="Add behavior to display applied stereotype for a node"
                       menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/AddNodeStereotypeDisplayBehavior">
                    <enablement>
                       <objectClass
                             name="org.eclipse.gmf.codegen.gmfgen.GenNode">
                       </objectClass>
                    </enablement>
                 </action>
               
                 <action
               class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddGenLinkStereotypeDisplayBehavior"
               enablesFor="*"
               id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddGenLinkStereotypeDisplayBehavior"
               label="Add label to display applied stereotype for a link"
               menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/AddGenLinkStereotypeDisplayBehavior">
                    <enablement>
                       <objectClass
                             name="org.eclipse.gmf.codegen.gmfgen.GenLink">
                       </objectClass>
                    </enablement>
         </action>
                 <action
                       class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddNodeStereotypeDisplayBehavior"
                       enablesFor="*"
                       id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddNodeStereotypeDisplayBehavior"
                       label="Add label to display applied stereotype as an external node label"
                       menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/AddNodeStereotypeDisplayBehavior">
                    <enablement>
                       <objectClass
                             name="org.eclipse.gmf.codegen.gmfgen.GenNode">
                       </objectClass>
                    </enablement>
                 </action>
                 <action
                       class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddHyperLinkPopupBarBehavior"
                       enablesFor="*"
                       id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddHyperLinkPopupBarBehavior"
                       label="Add hyperlink PopupBar Behavior"
                       menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/AddHyperLinkPopupBarBehavior">
                    <enablement>
                       <objectClass
                             name="org.eclipse.gmf.codegen.gmfgen.GenNode">
                       </objectClass>
                    </enablement>
                 </action>
                          <action
               class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.SetVisualIDWithUnusedValue"
               enablesFor="*"
               id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.SetVisualIDWithUnusedValue"
               label="Set VisualID with unused value"
               menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/SetVisualIDWithUnusedValue">
                    <enablement>
                       <objectClass
                             name="org.eclipse.gmf.codegen.gmfgen.GenCommonBase">
                       </objectClass>
                    </enablement>
         </action>
                          <action
                                class="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.AddSmallAndLargeIconForPaletteAction"
                                enablesFor="*"
                                icon="icons/palette_view.gif"
                                id="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.addsmallandlargeiconstopalette"
                                label="Add Icons to Palette Elements"
                                menubarPath="org.eclipse.papyrus.papyrusgmfgenextension.popupaction.MenuPapyrus/iconsManagement">
                             <enablement>
                                <or>
                                   <objectClass
                                         name="org.eclipse.gmf.codegen.gmfgen.ToolGroup">
                                   </objectClass>
                                   <objectClass
                                         name="org.eclipse.gmf.codegen.gmfgen.Palette">
                                   </objectClass>
                                   <objectClass
                                         name="org.eclipse.gmf.codegen.gmfgen.ToolEntry">
                                   </objectClass>
                                </or>
                             </enablement>
                          </action>
      </objectContribution>
   </extension>

</plugin>
