<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.ui.perspectiveconfiguration" name="org.eclipse.papyrus.ui.perspectiveconfiguration" schema="schema/org.eclipse.papyrus.ui.perspectiveconfiguration.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.papyrus.ui.perspectiveconfiguration.PerspectiveConfigurator"></startup>
   </extension>

</plugin>
