<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.properties.languageEditor">
      <editor
            editor="org.eclipse.papyrus.uml.properties.xtext.XtextLanguageEditor"
            language="OCL">
      </editor>
   </extension>
</plugin>
