<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
	<propertySections contributorId="TreeOutlinePage">
		<propertySection
        class="org.eclipse.papyrus.uml.properties.xtext.sheet.AdvancedEditingPropertySection"
        filter="org.eclipse.papyrus.uml.properties.xtext.sheet.AdvancedEditingPropertySectionFilter"
        id="property.section.AdvancedEditingPropertySection"
        tab="advanced_editing">
                <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
	</propertySections>
</extension>
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="TreeOutlinePage">
      <propertyTab
            afterTab="advanced"
            category="org.eclipse.papyrus"
            id="advanced_editing"
            label="Advanced Editing">
      </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="advancedEditing.modelListener"
            realization="org.eclipse.papyrus.uml.properties.xtext.sheet.ModelListener">
      </listener>
   </extension>
</plugin>
