<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="loadingStrategy" name="loadingStrategy" schema="schema/loadingStrategy.exsd"/>
   <extension-point id="loadingStrategyExtender" name="loadingStrategyExtender" schema="schema/loadingStrategyExtender.exsd"/>
   <extension-point id="currentStrategyChooser" name="Current Strategy Chooser" schema="schema/currentStrategyChooser.exsd"/>
   <extension
         point="org.eclipse.papyrus.core.service">
      <serviceFactory
            classname="org.eclipse.papyrus.core.resourceloading.OnDemandLoadingModelSetServiceFactory"
            description="The service loading Models - Overload the original service."
            id="org.eclipse.papyrus.resource.ModelSet"
            priority="5"
            startKind="startup">
      </serviceFactory>
      <service
            classname="org.eclipse.papyrus.core.resourceloading.ExampleService"
            description="An example loading HistoryModel"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.resource.ModelSet">
         </dependsOn>
      </service>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.resourceloading.loadingStrategy">
      <loadingStrategy
            description="Load all the needed resources"
            id="0"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.LoadAllResources">
      </loadingStrategy>
      <loadingStrategy
            description="Load the additional resources (profile and pathmap). Controlled resources are not loaded"
            id="1"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.LoadCurrentResource">
      </loadingStrategy>
      <loadingStrategy
            description="Load the additional resources (profile and pathmap) and the needed controlled resources"
            id="2"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.LoadControlledResources">
      </loadingStrategy>
      <loadingStrategy
            description="Ask the user if a resource has to be loaded"
            id="3"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.AskUserStrategy">
      </loadingStrategy>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.core.resourceloading.editor.UnloadResourcesEditorFactory">
      </editorDiagram>
   </extension>

</plugin>
