<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="loadingStrategy" name="loadingStrategy" schema="schema/loadingStrategy.exsd"/>
   <extension-point id="loadingStrategyExtender" name="loadingStrategyExtender" schema="schema/loadingStrategyExtender.exsd"/>
   <extension-point id="currentStrategyChooser" name="Current Strategy Chooser" schema="schema/currentStrategyChooser.exsd"/>
   <extension-point id="loadedAssociatedResource" name="loadedAssociatedResource" schema="schema/loadedAssociatedResource.exsd"/>
   <extension
         point="org.eclipse.papyrus.core.service">
      <serviceFactory
            classname="org.eclipse.papyrus.core.resourceloading.OnDemandLoadingModelSetServiceFactory"
            description="The service loading Models - Overload the original service."
            id="org.eclipse.papyrus.resource.ModelSet"
            priority="5"
            startKind="startup">
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.resourceloading.loadingStrategy">
      <loadingStrategy
            description="Load all the needed resources"
            id="0"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.LoadAllResources">
      </loadingStrategy>
      <loadingStrategy
            description="Load the additional resources (profile and pathmap). Submodels can be loaded manually by right-clicking"
            id="1"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.LoadCurrentResource">
      </loadingStrategy>
      <loadingStrategy
            description="Load the additional resources (profile and pathmap) and the needed submodels"
            id="2"
            strategy="org.eclipse.papyrus.core.resourceloading.strategies.LoadControlledResources">
      </loadingStrategy>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.papyrusDiagram">
      <editorDiagram
            factoryClass="org.eclipse.papyrus.core.resourceloading.editor.UnloadResourcesEditorFactory">
      </editorDiagram>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
         <!-- the property tester is used to enable/disable handlers for loading/unloading a resource -->
      <propertyTester
            class="org.eclipse.papyrus.core.resourceloading.util.LoadingTester"
            id="org.eclipse.papyrus.core.resourceloading.tester"
            namespace="org.eclipse.papyrus.core.resourceloading.tester"
            properties="isAllLoaded, isAllNotLoaded, isAssociatedResourceLoaded"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.resourceloading.loadedAssociatedResource">
      <loadedAssociatedResource
            autoLoad="true"
            description="Diagrams resource (.notation)"
            fileExtension="notation">
      </loadedAssociatedResource>
      <loadedAssociatedResource
            autoLoad="true"
            description="Tables/Sash resource (.di)"
            fileExtension="di">
      </loadedAssociatedResource>
   </extension>

</plugin>
