<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="ConverterLibs" namespace="Converter.Utils">
         <library
              name="ConvertLib" 
              class="org.eclipse.papyrus.conversion.di2todi.blackboxes.UtilitiesLibrary">
            <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
            <metamodel nsURI="http://www.eclipse.org/uml2/2.1.0/UML"/>
            <metamodel nsURI="http://www.papyrusuml.org/di2"/>
            <metamodel nsURI="http://www.eclipse.org/gmf/runtime/1.0.2/notation"/>
         </library>
      </unit>
	</extension>
	<extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <library
            file="TransfoQvtoDi2toDi/"
            id="org.eclipse.papyrus.conversion.di2todi.library1">
      </library>
	</extension>

	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.eclipse.papyrus.conversion.di2todi.contribution">
         <menu
               label="Convert Diagram"
               path="additions"
               id="org.eclipse.papyrus.conversion.di2todi.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Di2 to Di action"
               class="org.eclipse.papyrus.conversion.di2todi.popupactions.Di2toDiAction"
               menubarPath="org.eclipse.papyrus.conversion.di2todi.menu/group"
               enablesFor="1"
               id="org.eclipse.papyrus.conversion.di2todi.action">
         </action>
      </objectContribution>
	</extension>
   
	<extension point="org.eclipse.help.toc">
    	<toc file="toc.xml" primary="false"/>
	</extension>
	<extension point="org.eclipse.help.toc">
		<toc file="tocdev.xml" primary="false"/>
	</extension>
</plugin>
