<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse Modeling Tools">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Eclipse Modeling Tools">
         </property>
         <property
               name="aboutText"
               value="Specified in the plugin.xml of the branding plugin.">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="windowImages"
               value="eclipse.png,eclipse32.png,eclipse48.png">
         </property>
         <property
              name="introBrandingImage"
              value="product:intro-eclipse.png"/>
         <property
               name="introTitle"
               value="Welcome to the Eclipse Papyrus Tools">
         </property>
         <property
               name="introBrandingImageText"
               value="Eclipse Project">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.epp.package.papyrus.product">
      </introProductBinding>
   </extension>

</plugin>
