<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.emf.ecore.uri_mapping">
 
      <mapping
            source="pathmap://ADL4ECLIPSE_PROFILES/"
            target="platform:/plugin/org.eclipse.papyrus.adl4eclipse.profile/resource/">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="ADL4Eclipse"
            name="ADL4Eclipse profile"
            path="pathmap://ADL4ECLIPSE_PROFILES/adl4eclipse.profile.uml"
            provider="Eclipse.org">
      </profile>
   </extension>
</plugin>