<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.connectorAppearancePropertySection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.DiagramColorsAndFontsPropertySection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.ShapeColorAndFontPropertySection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               afterSection="org.eclipse.papyrus.tabbedproperties.appearance.GradientSection"
               class="org.eclipse.papyrus.tabbedproperties.appearance.QualifiedNameAppearanceSection"
               filter="org.eclipse.papyrus.tabbedproperties.appearance.NodeNamedElementFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.QualifiedNameAppearanceSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               afterSection="org.eclipse.papyrus.tabbedproperties.appearance.ShadowAppearanceSection"
               class="org.eclipse.papyrus.tabbedproperties.appearance.ShadowAppearanceSection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.ShadowAppearanceSectio"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               afterSection="org.eclipse.papyrus.tabbedproperties.appearance.QualifiedNameAppearanceSection"
               class="org.eclipse.papyrus.tabbedproperties.appearance.LabelNameIconAppearanceSection"
               filter="org.eclipse.papyrus.tabbedproperties.appearance.NodeNamedElementFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.LabelNameIconAppearanceSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               class="org.eclipse.papyrus.tabbedproperties.appearance.GradientSection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.GradientSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab"
               afterSection="org.eclipse.papyrus.tabbedproperties.appearance.ShapeColorAndFontPropertySection">
         </propertySection>
         <propertySection
               class="org.eclipse.papyrus.tabbedproperties.appearance.MaskManagedLabelSection"
               filter="org.eclipse.papyrus.tabbedproperties.appearance.MaskManagedLabelSectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.maskManagedLabelSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
         <propertySection
               class="org.eclipse.papyrus.tabbedproperties.appearance.LayoutCompartmentAppearanceSection"
               filter="org.eclipse.papyrus.tabbedproperties.appearance.LayoutCompartmentSectionFilter"
               id="org.eclipse.papyrus.tabbedproperties.appearance.LayoutCompartmentSection"
               tab="org.eclipse.papyrus.tabbedproperties.appearance.appearancetab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
