<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="AspectPredefinedTool" name="Aspect Predefined Tool" schema="schema/AspectPredefinedTool.exsd"/>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.aspectToolProvider">
      <aspectToolProvider
            class="org.eclipse.papyrus.uml.diagram.common.palette.customaction.providers.ToolAspectActionProvider"
            description="Create Objects in a predefined way"
            icon="resources/wiz.gif"
            id="org.eclipse.papyrus.uml.diagram.common.palette.wizards.WizardaspectToolProvider"
            name="Predefined Creation">
         <Priority
               name="Lowest">
         </Priority>
      </aspectToolProvider>
   </extension>
</plugin>
