<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.views.category"
            class="org.eclipse.papyrus.infra.extendedtypes.elementtypeview.view.ElementTypeView"
            id="org.eclipse.papyrus.infra.extendedtypes.elementtypeview.view"
            name="element type view"
            restorable="true">
      </view>
   </extension>
</plugin>
