<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?before=org.eclipse.papyrus.views.modelexplorer.popupmenu.createchild">
         <menu
               icon="icons/export_wiz_16x16-papyrusColor.gif"
               id="org.eclipse.papyrus.uml.export.menu"
               label="&amp;Export"
               tooltip="Papyrus Export Profile Menu">
            <command
                  commandId="org.eclipse.papyrus.export.applied.profile"
                  icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Profile.gif"
                  label="Export &amp;Applied Profiles from Workspace"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <!--menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.infra.widgets/icons/PapyrusLogo16x16.gif"
               id="org.eclipse.papyrus.uml.export.refactorModel"
               label="Refactor Model">
           <command
               commandId="org.eclipse.papyrus.uml.export.refactorModel.changeProfileAplication"
               icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Profile.gif"
               id="org.eclipse.papyrus.uml.export.refactorModel.changeProfileAplication"
               label="ChangeProfileApplication"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <and>
                   <count value="1"/>
                    <adapt
                           type="org.eclipse.core.resources.IFile">
		                  <test
		                        forcePluginActivation="true"
		                        property="org.eclipse.papyrus.ChangeProfileApplication.ChangeProfileApplication">
		                  </test>
                     </adapt>
                   </and>
             
            </visibleWhen>
         </command>
         </menu>
      </menuContribution-->
     
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Export Applied Profile"
            id="org.eclipse.papyrus.export.applied.profile"
            name="Export Applied Profile">
      </command>
      <!--command            
            description="Change Profile Application"
            id="org.eclipse.papyrus.uml.export.refactorModel.changeProfileAplication"
            name="Change Profile Application">
      </command-->
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.uml.export.handlers.ExportAppliedProfileHandler"
            commandId="org.eclipse.papyrus.export.applied.profile">
         <activeWhen>
            <and>
              
               <with
                     variable="selection">
                  <test
                  forcePluginActivation="true"
                        property="org.eclipse.papyrus.AreThereAppliedProfiles.AreThereAppliedProfiles"
                         value="true">
                  </test>
               </with>
            </and>
         </activeWhen>
        
      </handler>
      <!--handler
            class="org.eclipse.papyrus.uml.export.handlers.EditProfileApplicationAction"
            commandId="org.eclipse.papyrus.uml.export.refactorModel.changeProfileAplication">
      </handler-->
      
   </extension>
  
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="org.eclipse.papyrus.uml.export.popupMenus.contribution.IFile">
             
         <menu
               icon="platform:/plugin/org.eclipse.papyrus.infra.widgets/icons/PapyrusLogo16x16.gif"
               id="org.eclipse.papyrus.uml.export.menu"
               label="Refactor Model"
               path="additionsAcceleo">
               <groupMarker name="refactor model"/> 
         </menu>
         <action
               class="org.eclipse.papyrus.uml.export.handlers.EditProfileApplicationAction"
               enablesFor="+"
               icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Profile.gif"
               id="org.eclipse.papyrus.uml.export.popupMenus.EditProfileApplicationAction"
               label="Edit Profile Application"
               menubarPath="org.eclipse.papyrus.uml.export.menu/edit model">
            <!--enablement>
            
                  <and>
                   <count value="1"/>
                    <adapt
                           type="org.eclipse.core.resources.IFile">
		                  <test
		                        forcePluginActivation="true"
		                        property="org.eclipse.papyrus.uml.export.changeProfileApplicationTester.ChangeProfileApplication">
		                  </test>
                     </adapt>
                   </and>
             
          
            </enablement-->                      
         </action>
        
      </objectContribution>
   </extension>
<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.uml.export.util.AreThereAppliedProfilesFromWS"
            id="org.eclipse.papyrus.AreThereAppliedProfiles"
            namespace="org.eclipse.papyrus.AreThereAppliedProfiles"
            properties="AreThereAppliedProfiles"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.uml.export.util.ChangeProfileApplicationTester"
            id="org.eclipse.papyrus.ChangeProfileApplication"
            namespace="org.eclipse.papyrus.uml.export"
            properties="ChangeProfileApplication"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
</plugin>
