<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
<copyright>
Copyright (c) 2008 CEA.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors:
      CEA - initial API and implementation
      Obeo
</copyright>
-->
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.tabbedproperties.uml.providers.UMLObjectLabelProvider">
         <propertyCategory
               category="org.eclipse.papyrus">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs
            contributorId="TreeOutlinePage">
         		<propertyTab
			afterTab=""
			category="org.eclipse.papyrus"
			id="general"
			label="General"/>
         		<propertyTab
			afterTab="general"
			category="org.eclipse.papyrus"
			id="comment"
			label="Comment"/>
         		<propertyTab
			afterTab="comment"
			category="org.eclipse.papyrus"
			id="advanced"
			label="Advanced"/>
      </propertyTabs>
   </extension>
<!--
  Linked list of properties sections
 
* section: NamedElementSection
		|__section: ElementImportSection
		|__section: MultiplicityElementSection
				|__section: TypedElementSection
				|__section: FeatureSection
				|__section: ComponentSection
		|__section: ModelSection
		|__section: OperationSection
		|__section: RedefinableElementSection
				|__section: PropertySection
				|__section: BehavioralFeatureSection
				|__section: ClassSection
						|__section: ClassifierSection
								|__section: BehavioredClassifierSection
				|__section: DataTypeSection
				|__section: EnumerationSection
				|__section: InterfaceSection
		|__section: AssociationSection
* section: CommentSection
* section: PackageImportSection
* section: GeneralizationSetSection
* section: OpaqueExpressionSection
* section: ParameterSection
* section: ExpressionSection
* section: LiteralIntegerSection
* section: LiteralStringSection
* section: LiteralUnlimitedNaturalSection
* section: OpaqueBehaviorSection
* section: ConstraintSection
* section: DependencySection
* section: ElementSection
* section: GeneralizationSection
* section: InstanceSpecificationSection
* section: InterfaceRealizationSection
* section: PackageMergeSection
* section: SlotSection
* section: SubstitutionSection
* section: StructuralFeatureSection
* section: BehaviorSection
* section: ClassifierTemplateParameterSection
* section: LiteralBooleanSection
* section: PortSection
* section: ConnectorSection
* section: ArtifactSection
* section: DeploymentSpecificationSection
* section: ExpansionRegionSection
* section: LoopNodeSection
* section: ObjectFlowSection
* section: ActivitySection
* section: ActivityPartitionSection
* section: ObjectNodeSection
* section: DestroyObjectActionSection
* section: ReadIsClassifiedObjectActionSection
* section: PinSection
* section: StructuredActivityNodeSection
* section: AddStructuralFeatureValueActionSection
* section: AddVariableValueActionSection
* section: ReclassifyObjectActionSection
* section: RemoveStructuralFeatureValueActionSection
* section: RemoveVariableValueActionSection
* section: AcceptEventActionSection
* section: LinkEndDestructionDataSection
* section: LinkEndCreationDataSection
* section: JoinNodeSection
* section: ReduceActionSection
* section: CallActionSection
* section: TimeConstraintSection
* section: TimeObservationSection
* section: TimeEventSection
* section: CombinedFragmentSection
* section: MessageSection
* section: ContinuationSection
* section: StateSection
* section: PseudostateSection
* section: ImageSection
* section: ExtensionSection
* section: ProfileApplicationSection

-->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                id="NamedElement"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.CommentSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.CommentSection"
                id="Comment"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.PackageImportSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.PackageImportSection"
                id="PackageImport"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.GeneralizationSetSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.GeneralizationSetSection"
                id="GeneralizationSet"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.OpaqueExpressionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.OpaqueExpressionSection"
                id="OpaqueExpression"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ParameterSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ParameterSection"
                id="Parameter"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ExpressionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ExpressionSection"
                id="Expression"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralIntegerSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralIntegerSection"
                id="LiteralInteger"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralStringSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralStringSection"
                id="LiteralString"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralUnlimitedNaturalSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralUnlimitedNaturalSection"
                id="LiteralUnlimitedNatural"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.OpaqueBehaviorSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.OpaqueBehaviorSection"
                id="OpaqueBehavior"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ConstraintSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ConstraintSection"
                id="Constraint"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.DependencySection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.DependencySection"
                id="Dependency"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ElementSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ElementSection"
                id="Element"
                tab="comment">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.GeneralizationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.GeneralizationSection"
                id="Generalization"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.InstanceSpecificationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.InstanceSpecificationSection"
                id="InstanceSpecification"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.InterfaceRealizationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.InterfaceRealizationSection"
                id="InterfaceRealization"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.PackageMergeSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.PackageMergeSection"
                id="PackageMerge"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.SlotSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.SlotSection"
                id="Slot"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.SubstitutionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.SubstitutionSection"
                id="Substitution"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.StructuralFeatureSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.StructuralFeatureSection"
                id="StructuralFeature"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.BehaviorSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.BehaviorSection"
                id="Behavior"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassifierTemplateParameterSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassifierTemplateParameterSection"
                id="ClassifierTemplateParameter"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralBooleanSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.LiteralBooleanSection"
                id="LiteralBoolean"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.compositestructures.PortSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.compositestructures.PortSection"
                id="Port"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.compositestructures.ConnectorSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.compositestructures.ConnectorSection"
                id="Connector"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.deployments.ArtifactSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.deployments.ArtifactSection"
                id="Artifact"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.deployments.DeploymentSpecificationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.deployments.DeploymentSpecificationSection"
                id="DeploymentSpecification"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ExpansionRegionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ExpansionRegionSection"
                id="ExpansionRegion"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.LoopNodeSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.LoopNodeSection"
                id="LoopNode"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ObjectFlowSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ObjectFlowSection"
                id="ObjectFlow"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ActivitySection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ActivitySection"
                id="Activity"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ActivityPartitionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ActivityPartitionSection"
                id="ActivityPartition"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ObjectNodeSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ObjectNodeSection"
                id="ObjectNode"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.DestroyObjectActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.DestroyObjectActionSection"
                id="DestroyObjectAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ReadIsClassifiedObjectActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ReadIsClassifiedObjectActionSection"
                id="ReadIsClassifiedObjectAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.PinSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.PinSection"
                id="Pin"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.StructuredActivityNodeSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.StructuredActivityNodeSection"
                id="StructuredActivityNode"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.AddStructuralFeatureValueActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.AddStructuralFeatureValueActionSection"
                id="AddStructuralFeatureValueAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.AddVariableValueActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.AddVariableValueActionSection"
                id="AddVariableValueAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ReclassifyObjectActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ReclassifyObjectActionSection"
                id="ReclassifyObjectAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.RemoveStructuralFeatureValueActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.RemoveStructuralFeatureValueActionSection"
                id="RemoveStructuralFeatureValueAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.RemoveVariableValueActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.RemoveVariableValueActionSection"
                id="RemoveVariableValueAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.AcceptEventActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.AcceptEventActionSection"
                id="AcceptEventAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.LinkEndDestructionDataSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.LinkEndDestructionDataSection"
                id="LinkEndDestructionData"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.LinkEndCreationDataSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.LinkEndCreationDataSection"
                id="LinkEndCreationData"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.JoinNodeSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.JoinNodeSection"
                id="JoinNode"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ReduceActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.ReduceActionSection"
                id="ReduceAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.CallActionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.activities.CallActionSection"
                id="CallAction"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.commonbehaviors.TimeConstraintSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.commonbehaviors.TimeConstraintSection"
                id="TimeConstraint"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.commonbehaviors.TimeObservationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.commonbehaviors.TimeObservationSection"
                id="TimeObservation"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.TimeEventSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.TimeEventSection"
                id="TimeEvent"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.CombinedFragmentSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.CombinedFragmentSection"
                id="CombinedFragment"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.MessageSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.MessageSection"
                id="Message"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.ContinuationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.interactions.ContinuationSection"
                id="Continuation"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.statemachines.StateSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.statemachines.StateSection"
                id="State"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.behavior.statemachines.PseudostateSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.behavior.statemachines.PseudostateSection"
                id="Pseudostate"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.profiles.ImageSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.profiles.ImageSection"
                id="Image"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.profiles.ExtensionSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.profiles.ExtensionSection"
                id="Extension"
                tab="general">
         </propertySection><propertySection
          	   afterSection=""
                class="org.eclipse.papyrus.tabbedproperties.uml.profiles.ProfileApplicationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.profiles.ProfileApplicationSection"
                id="ProfileApplication"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ElementImportSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ElementImportSection"
                id="ElementImport"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.MultiplicityElementSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.MultiplicityElementSection"
                id="MultiplicityElement"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ModelSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ModelSection"
                id="Model"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.OperationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.OperationSection"
                id="Operation"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                id="RedefinableElement"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.NamedElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.AssociationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.AssociationSection"
                id="Association"
                tab="general">
         </propertySection>
          		
          		 		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.MultiplicityElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.TypedElementSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.TypedElementSection"
                id="TypedElement"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.MultiplicityElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.FeatureSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.FeatureSection"
                id="Feature"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.MultiplicityElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.components.ComponentSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.components.ComponentSection"
                id="Component"
                tab="general">
         </propertySection>
          		
          		
          		

          		
          		
          		 		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.PropertySection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.PropertySection"
                id="Property"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.BehavioralFeatureSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.BehavioralFeatureSection"
                id="BehavioralFeature"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassSection"
                id="Class"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.DataTypeSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.DataTypeSection"
                id="DataType"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.EnumerationSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.EnumerationSection"
                id="Enumeration"
                tab="general">
         </propertySection>
          		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.RedefinableElementSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.InterfaceSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.InterfaceSection"
                id="Interface"
                tab="general">
         </propertySection>
          		
          		
          		 		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassifierSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassifierSection"
                id="Classifier"
                tab="general">
         </propertySection>
          		 		<propertySection
          	   afterSection="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.ClassifierSection"
                class="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.BehavioredClassifierSection"
                filter="org.eclipse.papyrus.tabbedproperties.uml.structure.classes.BehavioredClassifierSection"
                id="BehavioredClassifier"
                tab="general">
         </propertySection>
          		


          		
          		
          		

          		

      </propertySections>
   </extension>
</plugin>