<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.extendedtypes.uml.applystereotypeactionconfiguration.presentation.ApplyStereotypeActionConfigurationModelWizardID"
            name="%_UI_ApplyStereotypeActionConfigurationModelWizard_label"
            class="org.eclipse.papyrus.extendedtypes.uml.applystereotypeactionconfiguration.presentation.ApplyStereotypeActionConfigurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ApplyStereotypeActionConfigurationModelFile.gif">
         <description>%_UI_ApplyStereotypeActionConfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.extendedtypes.uml.applystereotypeactionconfiguration.presentation.ApplyStereotypeActionConfigurationEditorID"
            name="%_UI_ApplyStereotypeActionConfigurationEditor_label"
            icon="icons/full/obj16/ApplyStereotypeActionConfigurationModelFile.gif"
            extensions="applystereotypeactionconfiguration"
            class="org.eclipse.papyrus.extendedtypes.uml.applystereotypeactionconfiguration.presentation.ApplyStereotypeActionConfigurationEditor"
            contributorClass="org.eclipse.papyrus.extendedtypes.uml.applystereotypeactionconfiguration.presentation.ApplyStereotypeActionConfigurationActionBarContributor">
      </editor>
   </extension>

</plugin>
