<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Diagram declaration -->
<extension point="org.eclipse.papyrus.infra.core.papyrusDiagram">
	<creationCommand
		creationCommandClass="org.eclipse.papyrus.robotml.diagram.datatypedef.DatatypeDefCreateCommand"
		icon="icons/obj16/datatypeD.gif"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.CreateCommand"
		language="robotML"
		label="Datatype Definition Diagram"/>
	<editorDiagram
		actionBarContributorId="org.eclipse.papyrus.uml.diagram.common.part.UMLDiagramActionBarContributor"
		factoryClass="org.eclipse.papyrus.robotml.diagram.datatypedef.DatatypeDefEditorFactory"
		icon="icons/obj16/datatypeD.gif" />
</extension>

<!-- Diagram creation command and handler -->
<extension point="org.eclipse.ui.commands">
	<command id="org.eclipse.papyrus.robotml.diagram.datatypedef.CreateCommand"
		name="Create a new RobotML Datatype Definition Diagram"
		description="Create a new RobotML Datatype Definition Diagram"
		categoryId="org.eclipse.papyrus.editor.category"/>
</extension>

<extension point="org.eclipse.ui.handlers">
	<handler
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.DatatypeDefCreateCommand"
		commandId="org.eclipse.papyrus.robotml.diagram.datatypedef.CreateCommand">
		<activeWhen>
			<with variable="activeEditorId">
				<equals value="org.eclipse.papyrus.infra.core.papyrusEditor" />
			</with>
		</activeWhen>
	</handler>
</extension>

<!-- Diagram creation command registration in menu and toolbar -->
<extension point="org.eclipse.ui.menus">

	<menuContribution locationURI="menu:org.eclipse.papyrus.ui.menu">
	<menu id="org.eclipse.papyrus.uml.diagram.ui.menu.diagrams" label="Diagrams">
		<command commandId="org.eclipse.papyrus.robotml.diagram.datatypedef.CreateCommand"
			icon="icons/obj16/datatypeD.gif" label="Create a new RobotML Datatype Definition Diagram"
			style="push" tooltip="Create a new RobotML Datatype Definition Diagram">
			<visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>							
			</visibleWhen>						
					
		</command>
	</menu>
	</menuContribution>
	
	
	
	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
	<toolbar id="org.eclipse.robotml.ui.toolbar">
		<command commandId="org.eclipse.papyrus.robotml.diagram.datatypedef.CreateCommand"
			icon="icons/obj16/datatypeD.gif" label="Create a new RobotML Datatype Definition Diagram"
			style="push" tooltip="Create a new RobotML Datatype Definition Diagram">
			<visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>							
			</visibleWhen>						
				
		</command>
	</toolbar>
	</menuContribution>
	
	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.creatediagram">
		<command commandId="org.eclipse.papyrus.robotml.diagram.datatypedef.CreateCommand"
			icon="icons/obj16/datatypeD.gif"
			label="Create a new RobotML Datatype Definition Diagram"
			style="push"
			tooltip="Create a new RobotML Datatype Definition Diagram">
			<visibleWhen>
				<reference
                     definitionId="org.eclipse.papyrus.robotml.diagram.common.IsPapyrusActiveWithRobotml">
               </reference>							
			</visibleWhen>						
			
		</command>
	</menuContribution>
		
</extension>

<!-- Palette tool declaration (declares the real palette containment) -->
<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition"
	name="RobotML_DatatypeDef">
	
	<paletteDefinition ID="RobotML_DatatypeDef"
		class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
		name="RobotML_DatatypeDef" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" 
		path="palettes/datatypedef.palette.xml"
		provider="CEA LIST">
		<Priority name="Low"/>
		
		<!-- Specify diagram this palette tools relate to -->						
		<editor id="org.eclipse.papyrus.robotml.diagram.datatypedef"/>
	</paletteDefinition>
</extension>


<!-- Diagram view providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">

	<!-- Diagram view provider -->
	<viewProvider class="org.eclipse.papyrus.robotml.diagram.datatypedef.provider.DatatypeDefViewProvider">
		<Priority name="High"/>
		<context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="DatatypeDef"/>
	</viewProvider>
	
	<!-- ViewProvider for inherited elements (from ClassDiagram ViewProvider) -->
	<viewProvider class="org.eclipse.papyrus.robotml.diagram.datatypedef.provider.InheritedClassDiagramViewProvider">
		<Priority name="High"/>
		
		<!-- 
			"2007" = PACKAGE
			"2006" = ENUMERATION
			"2012" = COMMENT
			"2011" = CONSTRAINT
			"2010" = DATA_TYPE
			"2009" = PRIMITIVE_TYPE
			"2003" = SIGNAL
			"3009" = PACKAGE_CN
			"3027" = DATA_TYPE_CN
			"3025" = ENUMERATION_CN
			"3026" = PRIMITIVE_TYPE_CN
			"3017" = ENUMERATION_ENUMERATION_LITERAL_CLN
			"3022" = SIGNAL_CN
			"3028" = COMMENT_CN
			"3029" = CONSTRAINT_CN
			"2016" = SHORT_CUT_DIAGRAM
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2007, 2006, 2012, 2011, 2010, 2009, 2003, 3009, 3027, 3025, 3026, 3017, 3022, 3028, 3029, 2016"/>
		
		<!-- 
			"3017" = ENUMERATION_ENUMERATION_LITERAL_CLN
			"3018" = DATA_TYPE_PROPERTY_CLN
			"3019" = DATA_TYPE_OPERATION_CLN
			"3005" = SIGNAL_PROPERTY_CLN
		  -->	  
		<context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="3017, 3018, 3019, 3005"/>
		
		<!-- 
			"4008" = DEPENDENCY
			"4010" = PACKAGE_IMPORT
			"4013" = COMMENT_ANNOTATED_ELEMENT
			"4014" = CONSTRAINT_CONSTRAINED_ELEMENT
			"4011" = PACKAGE_MERGE
			"4009" = ELEMENT_IMPORT
			"4001" = ASSOCIATION
			"4002" = GENERALIZATION
		  -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4008, 4010, 4013, 4014, 4011, 4009, 4001, 4002"/>
		
		<!-- Additional descriptors provided in case the semantic hint is is not provided -->	
		
		<!-- "uml.Package" -->
		<object id="uml.Package" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Package"/>
		</object>
		
		<!-- "uml.Enumeration" -->
		<object id="uml.Enumeration" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Enumeration"/>
		</object>
		
		<!-- "uml.Comment" -->
		<object id="uml.Comment" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Comment"/>
		</object>
		
		<!-- "uml.Constraint" -->
		<object id="uml.Constraint" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Constraint"/>
		</object>
		
		<!-- "uml.DataType" -->
		<object id="uml.DataType" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.DataType"/>
		</object>
		
		<!-- "uml.PrimitiveType" -->
		<object id="uml.PrimitiveType" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.PrimitiveType"/>
		</object>
		
		<!-- "uml.Signal" -->
		<object id="uml.Signal" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Signal"/>
		</object>
		
		<!-- "uml.EnumerationLiteral" -->
		<object id="uml.EnumerationLiteral" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.EnumerationLiteral"/>
		</object>
		
		<!-- "notation.Diagram" -->
		<object id="notation.Diagram" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="notation.Diagram"/>
		</object>
		
		<!-- "uml.Property" -->
		<object id="uml.Property" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Property"/>
		</object>
		
		<!-- "uml.Operation" -->
		<object id="uml.Operation" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Operation"/>
		</object>
		
		<!-- "uml.Dependency" -->
		<object id="uml.Dependency" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Dependency"/>
		</object>
		
		<!-- "uml.PackageImport" -->
		<object id="uml.PackageImport" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.PackageImport"/>
		</object>
		
		<!-- "uml.PackageMerge" -->
		<object id="uml.PackageMerge" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.PackageMerge"/>
		</object>
		
		<!-- "uml.ElementImport" -->
		<object id="uml.ElementImport" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.ElementImport"/>
		</object>
		
		<!-- "uml.Association" -->
		<object id="uml.Association" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Association"/>
		</object>
		
		<!-- "uml.Generalization" -->
		<object id="uml.Generalization" class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)">
			<method name="getProxyClassID()" value="uml.Generalization"/>
		</object>
		
		<!-- Additional activation contexts for nodes semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Node"
			elements="uml.Package, uml.Enumeration, uml.Comment, uml.Constraint, uml.DataType, uml.PrimitiveType, uml.Signal, uml.EnumerationLiteral, notation.Diagram, uml.Property, uml.Operation"/>
		
		<!-- Additional activation contexts for edges semantic objects -->
		<context viewClass="org.eclipse.gmf.runtime.notation.Edge"
			elements="uml.Dependency, uml.PackageImport, uml.PackageMerge, uml.ElementImport, uml.Association, uml.Generalization"/>
			
	</viewProvider>
			
</extension>

<!-- Diagram edit part providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">

	<!-- Diagram edit part provider -->
	<editpartProvider class="org.eclipse.papyrus.robotml.diagram.datatypedef.provider.DatatypeDefEditPartProvider">
		<Priority name="Low"/>
		<object 
			id="org.eclipse.papyrus.robotml.diagram.datatypedef.Diagram"
			class="org.eclipse.gmf.runtime.notation.Diagram">
			<method name="getType()" value="DatatypeDef"/>
		</object>
	</editpartProvider>


	<!-- EditPartProvider for inherited elements (from ClassDiagram) -->
	<editpartProvider class="org.eclipse.papyrus.robotml.diagram.datatypedef.provider.InheritedClassDiagramEditPartProvider">
		<Priority name="Low"/>
		<!-- 
			The semantic hints given here are used in case the provider is not already loaded.
			As soon as the provider is loaded its provides method is used.		
			"2007" = PACKAGE
			"5026" = PACKAGE_LABEL_NAME_HINT
			"7016" = PACKAGE_COMPARTMENT_PACKAGEABLE_ELEMENT_HINT
			"2006" = ENUMERATION
			"5023" = ENUMERATION_LABEL_NAME_HINT
			"7015" = ENUMERATION_COMPARTMENT_ENUMERATION_LITERAL_HINT
			"2012" = COMMENT
			"5038" = COMMENT_LABEL_BODY_HINT
			"2011" = CONSTRAINT
			"5037" = CONSTRAINT_LABEL_NAME_HINT
			"5159" = CONSTRAINT_LABEL_BODY_HINT
			"2010" = DATA_TYPE
			"5035" = DATA_TYPE_LABEL_NAME_HINT
			"7020" = DATA_TYPE_COMPARTMENT_ATTRIBUTE_HINT
			"7021" = DATA_TYPE_COMPARTMENT_OPERATION_HINT
			"2009" = PRIMITIVE_TYPE
			"5032" = PRIMITIVE_TYPE_LABEL_NAME_HINT
			"2003" = SIGNAL
			"5008" = SIGNAL_LABEL_NAME_HINT
			"7005" = SIGNAL_COMPARTMENT_ATTRIBUTE_HINT
			"3009" = PACKAGE_CN
			"5017" = PACKAGE_CN_LABEL_NAME_HINT
			"7010" = PACKAGE_CN_COMPARTMENT_PACKAGEABLE_ELEMENT_HINT
			"3027" = DATA_TYPE_CN
			"5061" = DATA_TYPE_CN_LABEL_NAME_HINT
			"7032" = DATA_TYPE_CN_COMPARTMENT_ATTRIBUTE_HINT
			"7033" = DATA_TYPE_CN_COMPARTMENT_OPERATION_HINT
			"3025" = ENUMERATION_CN
			"5055" = ENUMERATION_CN_LABEL_NAME_HINT
			"7031" = ENUMERATION_CN_COMPARTMENT_ENUMERATION_LITERAL_HINT
			"3026" = PRIMITIVE_TYPE_CN
			"5058" = PRIMITIVE_TYPE_CN_LABEL_NAME_HINT
			"3017" = ENUMERATION_ENUMERATION_LITERAL_CLN
			"3022" = SIGNAL_CN
			"5046" = SIGNAL_CN_LABEL_NAME_HINT
			"7026" = SIGNAL_CN_COMPARTMENT_ATTRIBUTE_HINT
			"3028" = COMMENT_CN
			"5063" = COMMENT_CN_LABEL_BODY2_HINT
			"3029" = CONSTRAINT_CN
			"5064" = CONSTRAINT_CN_LABEL_NAME2_HINT
			"5160" = CONSTRAINT_CN_LABEL_BODY_HINT
			"2016" = SHORT_CUT_DIAGRAM
			"0" = SHORT_CUT_DIAGRAM_LABEL_DIAGRAM_NAME_HINT
		  -->
		<object
			id="PACKAGE"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2007, 5026, 7016"/>
		</object>
		<object
			id="ENUMERATION"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2006, 5023, 7015"/>
		</object>
		<object
			id="COMMENT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2012, 5038"/>
		</object>
		<object
			id="CONSTRAINT"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2011, 5037, 5159"/>
		</object>
		<object
			id="DATA_TYPE"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2010, 5035, 7020, 7021"/>
		</object>
		<object
			id="PRIMITIVE_TYPE"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2009, 5032"/>
		</object>
		<object
			id="SIGNAL"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2003, 5008, 7005"/>
		</object>
		<object
			id="PACKAGE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3009, 5017, 7010"/>
		</object>
		<object
			id="DATA_TYPE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3027, 5061, 7032, 7033"/>
		</object>
		<object
			id="ENUMERATION_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3025, 5055, 7031"/>
		</object>
		<object
			id="PRIMITIVE_TYPE_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3026, 5058"/>
		</object>
		<object
			id="ENUMERATION_ENUMERATION_LITERAL_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3017"/>
		</object>
		<object
			id="SIGNAL_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3022, 5046, 7026"/>
		</object>
		<object
			id="COMMENT_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3028, 5063"/>
		</object>
		<object
			id="CONSTRAINT_CN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3029, 5064, 5160"/>
		</object>
		<object
			id="SHORT_CUT_DIAGRAM"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="2016, 0"/>
		</object>

		<!-- 	
			"3017" = ENUMERATION_ENUMERATION_LITERAL_CLN
			"3018" = DATA_TYPE_PROPERTY_CLN
			"3019" = DATA_TYPE_OPERATION_CLN
			"3005" = SIGNAL_PROPERTY_CLN
		  -->
		<object
			id="ENUMERATION_ENUMERATION_LITERAL_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3017"/>
		</object>
		<object
			id="DATA_TYPE_PROPERTY_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3018"/>
		</object>
		<object
			id="DATA_TYPE_OPERATION_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3019"/>
		</object>
		<object
			id="SIGNAL_PROPERTY_CLN"
			class="org.eclipse.gmf.runtime.notation.Node">
			<method name="getType()" value="3005"/>
		</object>
				
		<!-- 	
			"4008" = DEPENDENCY
			"6026" = DEPENDENCY_LABEL_NAME_HINT
			"6027" = DEPENDENCY_LABEL_APPLIED_STEREOTYPE_HINT
			"4010" = PACKAGE_IMPORT
			"6022" = PACKAGE_IMPORT_LABEL_APPLIED_STEREOTYPE_HINT
			"4013" = COMMENT_ANNOTATED_ELEMENT
			"4014" = CONSTRAINT_CONSTRAINED_ELEMENT
			"4011" = PACKAGE_MERGE
			"6030" = PACKAGE_MERGE_LABEL_APPLIED_STEREOTYPE_HINT
			"4009" = ELEMENT_IMPORT
			"6020" = ELEMENT_IMPORT_LABEL_ALIAS_HINT
			"6021" = ELEMENT_IMPORT_LABEL_APPLIED_STEREOTYPE_HINT
			"4001" = ASSOCIATION
			"6001" = ASSOCIATION_LABEL_APPLIED_STEREOTYPE_HINT
			"6002" = ASSOCIATION_LABEL_NAME2_HINT
			"6003" = ASSOCIATION_LABEL_NAME3_HINT
			"6005" = ASSOCIATION_LABEL_NAME5_HINT
			"6033" = ASSOCIATION_LABEL_MULTIPLICTY_SOURCE_HINT
			"6034" = ASSOCIATION_LABEL_MULTIPLICTY_TARGET_HINT
			"4002" = GENERALIZATION
			"6007" = GENERALIZATION_LABEL_APPLIED_STEREOTYPER_HINT
		  -->
		<object
			id="DEPENDENCY"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4008, 6026, 6027"/>
		</object>
		<object
			id="PACKAGE_IMPORT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4010, 6022"/>
		</object>
		<object
			id="COMMENT_ANNOTATED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4013"/>
		</object>
		<object
			id="CONSTRAINT_CONSTRAINED_ELEMENT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4014"/>
		</object>
		<object
			id="PACKAGE_MERGE"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4011, 6030"/>
		</object>
		<object
			id="ELEMENT_IMPORT"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4009, 6020, 6021"/>
		</object>
		<object
			id="ASSOCIATION"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4001, 6001, 6002, 6003, 6005, 6033, 6034"/>
		</object>
		<object
			id="GENERALIZATION"
			class="org.eclipse.gmf.runtime.notation.Edge">
			<method name="getType()" value="4002, 6007"/>
		</object>

		<context views="PACKAGE, ENUMERATION, COMMENT, CONSTRAINT, DATA_TYPE, PRIMITIVE_TYPE, SIGNAL, PACKAGE_CN, DATA_TYPE_CN, ENUMERATION_CN, PRIMITIVE_TYPE_CN, ENUMERATION_ENUMERATION_LITERAL_CLN, SIGNAL_CN, COMMENT_CN, CONSTRAINT_CN, SHORT_CUT_DIAGRAM"/>
		<context views="ENUMERATION_ENUMERATION_LITERAL_CLN, DATA_TYPE_PROPERTY_CLN, DATA_TYPE_OPERATION_CLN, SIGNAL_PROPERTY_CLN"/>
		<context views="DEPENDENCY, PACKAGE_IMPORT, COMMENT_ANNOTATED_ELEMENT, CONSTRAINT_CONSTRAINED_ELEMENT, PACKAGE_MERGE, ELEMENT_IMPORT, ASSOCIATION, GENERALIZATION"/>
				
	</editpartProvider>
			
</extension>

<!-- Diagram edit policy provider -->	
<extension
	point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.provider.DatatypeDefEditPolicyProvider">
		<Priority name="Low"/>
	</editpolicyProvider>
</extension>

<!-- Preference pages declaration -->
<extension point="org.eclipse.ui.preferencePages" id="prefpages">

	<!-- Diagram Preference pages declaration -->
	<page
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		name="DatatypeDef Diagram"
		category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DatatypeDefGeneralPreferencePage">
	</page>

	<!-- Element Preference pages declaration -->
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackagePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackagePreferencePage"
		name="Package">
	</page>
	
	
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.CommentPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.CommentPreferencePage"
		name="Comment">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ConstraintPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ConstraintPreferencePage"
		name="Constraint">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DataTypePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DataTypePreferencePage"
		name="DataType">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PrimitiveTypePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PrimitiveTypePreferencePage"
		name="PrimitiveType">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.SignalPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.SignalPreferencePage"
		name="Signal">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackagePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackagePreferencePage"
		name="Package">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DataTypePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DataTypePreferencePage"
		name="DataType">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.EnumerationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.EnumerationPreferencePage"
		name="Enumeration">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PrimitiveTypePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PrimitiveTypePreferencePage"
		name="PrimitiveType">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.EnumerationLiteralPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.EnumerationLiteralPreferencePage"
		name="EnumerationLiteral">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.SignalPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.SignalPreferencePage"
		name="Signal">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.CommentPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.CommentPreferencePage"
		name="Comment">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ConstraintPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ConstraintPreferencePage"
		name="Constraint">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DiagramPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DiagramPreferencePage"
		name="Diagram">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DependencyPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.DependencyPreferencePage"
		name="Dependency">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackageImportPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackageImportPreferencePage"
		name="PackageImport">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.CommentAnnotatedElementPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.CommentAnnotatedElementPreferencePage"
		name="CommentAnnotatedElement">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ConstraintConstrainedElementPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ConstraintConstrainedElementPreferencePage"
		name="ConstraintConstrainedElement">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackageMergePreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PackageMergePreferencePage"
		name="PackageMerge">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ElementImportPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.ElementImportPreferencePage"
		name="ElementImport">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.AssociationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.AssociationPreferencePage"
		name="Association">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.GeneralizationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.GeneralizationPreferencePage"
		name="Generalization">
	</page>
	
	
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PropertyPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.PropertyPreferencePage"
		name="Property">
	</page>
			
	<page  	category="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences"
		class="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.OperationPreferencePage"
		id="org.eclipse.papyrus.robotml.diagram.datatypedef.preferences.OperationPreferencePage"
		name="Operation">
	</page>
			
</extension>

</plugin>
