<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point= "org.eclipse.ui.handlers">
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AbstractionHandler" commandId="org.eclipse.papyrus.uml.service.types.AbstractionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AcceptCallActionHandler" commandId="org.eclipse.papyrus.uml.service.types.AcceptCallActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AcceptEventActionHandler" commandId="org.eclipse.papyrus.uml.service.types.AcceptEventActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActionExecutionSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.ActionExecutionSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActionInputPinHandler" commandId="org.eclipse.papyrus.uml.service.types.ActionInputPinCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityEdgeHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityEdgeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityFinalNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityFinalNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityGroupHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityGroupCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityParameterNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityParameterNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActivityPartitionHandler" commandId="org.eclipse.papyrus.uml.service.types.ActivityPartitionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ActorHandler" commandId="org.eclipse.papyrus.uml.service.types.ActorCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AddStructuralFeatureValueActionHandler" commandId="org.eclipse.papyrus.uml.service.types.AddStructuralFeatureValueActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AddVariableValueActionHandler" commandId="org.eclipse.papyrus.uml.service.types.AddVariableValueActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AnyReceiveEventHandler" commandId="org.eclipse.papyrus.uml.service.types.AnyReceiveEventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ArtifactHandler" commandId="org.eclipse.papyrus.uml.service.types.ArtifactCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AssociationBaseHandler" commandId="org.eclipse.papyrus.uml.service.types.AssociationBaseCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AssociationClassHandler" commandId="org.eclipse.papyrus.uml.service.types.AssociationClassCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.AssociationHandler" commandId="org.eclipse.papyrus.uml.service.types.AssociationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.BehavioralFeatureHandler" commandId="org.eclipse.papyrus.uml.service.types.BehavioralFeatureCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.BehavioredClassifierHandler" commandId="org.eclipse.papyrus.uml.service.types.BehavioredClassifierCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.BehaviorExecutionSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.BehaviorExecutionSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.BehaviorHandler" commandId="org.eclipse.papyrus.uml.service.types.BehaviorCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.BroadcastSignalActionHandler" commandId="org.eclipse.papyrus.uml.service.types.BroadcastSignalActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CallActionHandler" commandId="org.eclipse.papyrus.uml.service.types.CallActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CallBehaviorActionHandler" commandId="org.eclipse.papyrus.uml.service.types.CallBehaviorActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CallEventHandler" commandId="org.eclipse.papyrus.uml.service.types.CallEventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CallOperationActionHandler" commandId="org.eclipse.papyrus.uml.service.types.CallOperationActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CentralBufferNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.CentralBufferNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ChangeEventHandler" commandId="org.eclipse.papyrus.uml.service.types.ChangeEventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClassHandler" commandId="org.eclipse.papyrus.uml.service.types.ClassCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClassifierHandler" commandId="org.eclipse.papyrus.uml.service.types.ClassifierCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClassifierTemplateParameterHandler" commandId="org.eclipse.papyrus.uml.service.types.ClassifierTemplateParameterCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClauseHandler" commandId="org.eclipse.papyrus.uml.service.types.ClauseCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClearAssociationActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ClearAssociationActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClearStructuralFeatureActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ClearStructuralFeatureActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ClearVariableActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ClearVariableActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CollaborationHandler" commandId="org.eclipse.papyrus.uml.service.types.CollaborationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CollaborationUseHandler" commandId="org.eclipse.papyrus.uml.service.types.CollaborationUseCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CombinedFragmentHandler" commandId="org.eclipse.papyrus.uml.service.types.CombinedFragmentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CommentHandler" commandId="org.eclipse.papyrus.uml.service.types.CommentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CommunicationPathHandler" commandId="org.eclipse.papyrus.uml.service.types.CommunicationPathCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ComponentHandler" commandId="org.eclipse.papyrus.uml.service.types.ComponentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ComponentRealizationHandler" commandId="org.eclipse.papyrus.uml.service.types.ComponentRealizationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConditionalNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ConditionalNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConnectableElementHandler" commandId="org.eclipse.papyrus.uml.service.types.ConnectableElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConnectableElementTemplateParameterHandler" commandId="org.eclipse.papyrus.uml.service.types.ConnectableElementTemplateParameterCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConnectionPointReferenceHandler" commandId="org.eclipse.papyrus.uml.service.types.ConnectionPointReferenceCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConnectorEndHandler" commandId="org.eclipse.papyrus.uml.service.types.ConnectorEndCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConnectorHandler" commandId="org.eclipse.papyrus.uml.service.types.ConnectorCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConsiderIgnoreFragmentHandler" commandId="org.eclipse.papyrus.uml.service.types.ConsiderIgnoreFragmentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ConstraintHandler" commandId="org.eclipse.papyrus.uml.service.types.ConstraintCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ContinuationHandler" commandId="org.eclipse.papyrus.uml.service.types.ContinuationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ControlFlowHandler" commandId="org.eclipse.papyrus.uml.service.types.ControlFlowCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ControlNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ControlNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CreateLinkActionHandler" commandId="org.eclipse.papyrus.uml.service.types.CreateLinkActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CreateLinkObjectActionHandler" commandId="org.eclipse.papyrus.uml.service.types.CreateLinkObjectActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.CreateObjectActionHandler" commandId="org.eclipse.papyrus.uml.service.types.CreateObjectActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DataStoreNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.DataStoreNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DataTypeHandler" commandId="org.eclipse.papyrus.uml.service.types.DataTypeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DecisionNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.DecisionNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DependencyHandler" commandId="org.eclipse.papyrus.uml.service.types.DependencyCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DeployedArtifactHandler" commandId="org.eclipse.papyrus.uml.service.types.DeployedArtifactCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DeploymentHandler" commandId="org.eclipse.papyrus.uml.service.types.DeploymentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DeploymentSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.DeploymentSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DeploymentTargetHandler" commandId="org.eclipse.papyrus.uml.service.types.DeploymentTargetCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DestroyLinkActionHandler" commandId="org.eclipse.papyrus.uml.service.types.DestroyLinkActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DestroyObjectActionHandler" commandId="org.eclipse.papyrus.uml.service.types.DestroyObjectActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DestructionOccurrenceSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.DestructionOccurrenceSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DeviceHandler" commandId="org.eclipse.papyrus.uml.service.types.DeviceCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DirectedRelationshipHandler" commandId="org.eclipse.papyrus.uml.service.types.DirectedRelationshipCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DurationConstraintHandler" commandId="org.eclipse.papyrus.uml.service.types.DurationConstraintCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DurationHandler" commandId="org.eclipse.papyrus.uml.service.types.DurationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DurationIntervalHandler" commandId="org.eclipse.papyrus.uml.service.types.DurationIntervalCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.DurationObservationHandler" commandId="org.eclipse.papyrus.uml.service.types.DurationObservationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ElementHandler" commandId="org.eclipse.papyrus.uml.service.types.ElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ElementImportHandler" commandId="org.eclipse.papyrus.uml.service.types.ElementImportCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.EncapsulatedClassifierHandler" commandId="org.eclipse.papyrus.uml.service.types.EncapsulatedClassifierCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.EnumerationHandler" commandId="org.eclipse.papyrus.uml.service.types.EnumerationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.EnumerationLiteralHandler" commandId="org.eclipse.papyrus.uml.service.types.EnumerationLiteralCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.EventHandler" commandId="org.eclipse.papyrus.uml.service.types.EventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExceptionHandlerHandler" commandId="org.eclipse.papyrus.uml.service.types.ExceptionHandlerCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExecutableNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ExecutableNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExecutionEnvironmentHandler" commandId="org.eclipse.papyrus.uml.service.types.ExecutionEnvironmentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExecutionOccurrenceSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.ExecutionOccurrenceSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExecutionSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.ExecutionSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExpansionNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ExpansionNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExpansionRegionHandler" commandId="org.eclipse.papyrus.uml.service.types.ExpansionRegionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExpressionHandler" commandId="org.eclipse.papyrus.uml.service.types.ExpressionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExtendHandler" commandId="org.eclipse.papyrus.uml.service.types.ExtendCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExtensionEndHandler" commandId="org.eclipse.papyrus.uml.service.types.ExtensionEndCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExtensionHandler" commandId="org.eclipse.papyrus.uml.service.types.ExtensionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ExtensionPointHandler" commandId="org.eclipse.papyrus.uml.service.types.ExtensionPointCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.FeatureHandler" commandId="org.eclipse.papyrus.uml.service.types.FeatureCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.FinalNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.FinalNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.FinalStateHandler" commandId="org.eclipse.papyrus.uml.service.types.FinalStateCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.FlowFinalNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.FlowFinalNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ForkNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ForkNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.FunctionBehaviorHandler" commandId="org.eclipse.papyrus.uml.service.types.FunctionBehaviorCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.GateHandler" commandId="org.eclipse.papyrus.uml.service.types.GateCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.GeneralizationHandler" commandId="org.eclipse.papyrus.uml.service.types.GeneralizationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.GeneralizationSetHandler" commandId="org.eclipse.papyrus.uml.service.types.GeneralizationSetCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.GeneralOrderingHandler" commandId="org.eclipse.papyrus.uml.service.types.GeneralOrderingCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ImageHandler" commandId="org.eclipse.papyrus.uml.service.types.ImageCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.IncludeHandler" commandId="org.eclipse.papyrus.uml.service.types.IncludeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InformationFlowHandler" commandId="org.eclipse.papyrus.uml.service.types.InformationFlowCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InformationItemHandler" commandId="org.eclipse.papyrus.uml.service.types.InformationItemCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InitialNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.InitialNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InputPinHandler" commandId="org.eclipse.papyrus.uml.service.types.InputPinCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InstanceSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.InstanceSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InstanceValueHandler" commandId="org.eclipse.papyrus.uml.service.types.InstanceValueCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InteractionConstraintHandler" commandId="org.eclipse.papyrus.uml.service.types.InteractionConstraintCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InteractionFragmentHandler" commandId="org.eclipse.papyrus.uml.service.types.InteractionFragmentCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InteractionHandler" commandId="org.eclipse.papyrus.uml.service.types.InteractionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InteractionOperandHandler" commandId="org.eclipse.papyrus.uml.service.types.InteractionOperandCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InteractionUseHandler" commandId="org.eclipse.papyrus.uml.service.types.InteractionUseCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InterfaceHandler" commandId="org.eclipse.papyrus.uml.service.types.InterfaceCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InterfaceRealizationHandler" commandId="org.eclipse.papyrus.uml.service.types.InterfaceRealizationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InterruptibleActivityRegionHandler" commandId="org.eclipse.papyrus.uml.service.types.InterruptibleActivityRegionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.IntervalConstraintHandler" commandId="org.eclipse.papyrus.uml.service.types.IntervalConstraintCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.IntervalHandler" commandId="org.eclipse.papyrus.uml.service.types.IntervalCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.InvocationActionHandler" commandId="org.eclipse.papyrus.uml.service.types.InvocationActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.JoinNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.JoinNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LifelineHandler" commandId="org.eclipse.papyrus.uml.service.types.LifelineCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LinkActionHandler" commandId="org.eclipse.papyrus.uml.service.types.LinkActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LinkEndCreationDataHandler" commandId="org.eclipse.papyrus.uml.service.types.LinkEndCreationDataCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LinkEndDataHandler" commandId="org.eclipse.papyrus.uml.service.types.LinkEndDataCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LinkEndDestructionDataHandler" commandId="org.eclipse.papyrus.uml.service.types.LinkEndDestructionDataCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralBooleanHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralBooleanCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralIntegerHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralIntegerCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralNullHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralNullCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralRealHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralRealCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralStringHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralStringCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LiteralUnlimitedNaturalHandler" commandId="org.eclipse.papyrus.uml.service.types.LiteralUnlimitedNaturalCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.LoopNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.LoopNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ManifestationHandler" commandId="org.eclipse.papyrus.uml.service.types.ManifestationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.MergeNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.MergeNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.MessageEndHandler" commandId="org.eclipse.papyrus.uml.service.types.MessageEndCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.MessageEventHandler" commandId="org.eclipse.papyrus.uml.service.types.MessageEventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.MessageHandler" commandId="org.eclipse.papyrus.uml.service.types.MessageCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.MessageOccurrenceSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.MessageOccurrenceSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ModelHandler" commandId="org.eclipse.papyrus.uml.service.types.ModelCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.MultiplicityElementHandler" commandId="org.eclipse.papyrus.uml.service.types.MultiplicityElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.NamedElementHandler" commandId="org.eclipse.papyrus.uml.service.types.NamedElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.NamespaceHandler" commandId="org.eclipse.papyrus.uml.service.types.NamespaceCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.NodeHandler" commandId="org.eclipse.papyrus.uml.service.types.NodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ObjectFlowHandler" commandId="org.eclipse.papyrus.uml.service.types.ObjectFlowCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ObjectNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.ObjectNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ObservationHandler" commandId="org.eclipse.papyrus.uml.service.types.ObservationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OccurrenceSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.OccurrenceSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OpaqueActionHandler" commandId="org.eclipse.papyrus.uml.service.types.OpaqueActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OpaqueBehaviorHandler" commandId="org.eclipse.papyrus.uml.service.types.OpaqueBehaviorCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OpaqueExpressionHandler" commandId="org.eclipse.papyrus.uml.service.types.OpaqueExpressionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OperationHandler" commandId="org.eclipse.papyrus.uml.service.types.OperationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OperationTemplateParameterHandler" commandId="org.eclipse.papyrus.uml.service.types.OperationTemplateParameterCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.OutputPinHandler" commandId="org.eclipse.papyrus.uml.service.types.OutputPinCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PackageableElementHandler" commandId="org.eclipse.papyrus.uml.service.types.PackageableElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PackageHandler" commandId="org.eclipse.papyrus.uml.service.types.PackageCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PackageImportHandler" commandId="org.eclipse.papyrus.uml.service.types.PackageImportCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PackageMergeHandler" commandId="org.eclipse.papyrus.uml.service.types.PackageMergeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ParameterableElementHandler" commandId="org.eclipse.papyrus.uml.service.types.ParameterableElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ParameterHandler" commandId="org.eclipse.papyrus.uml.service.types.ParameterCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ParameterSetHandler" commandId="org.eclipse.papyrus.uml.service.types.ParameterSetCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PartDecompositionHandler" commandId="org.eclipse.papyrus.uml.service.types.PartDecompositionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PinHandler" commandId="org.eclipse.papyrus.uml.service.types.PinCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PortHandler" commandId="org.eclipse.papyrus.uml.service.types.PortCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PrimitiveTypeHandler" commandId="org.eclipse.papyrus.uml.service.types.PrimitiveTypeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ProfileApplicationHandler" commandId="org.eclipse.papyrus.uml.service.types.ProfileApplicationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ProfileHandler" commandId="org.eclipse.papyrus.uml.service.types.ProfileCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PropertyHandler" commandId="org.eclipse.papyrus.uml.service.types.PropertyCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ProtocolConformanceHandler" commandId="org.eclipse.papyrus.uml.service.types.ProtocolConformanceCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ProtocolStateMachineHandler" commandId="org.eclipse.papyrus.uml.service.types.ProtocolStateMachineCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ProtocolTransitionHandler" commandId="org.eclipse.papyrus.uml.service.types.ProtocolTransitionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.PseudostateHandler" commandId="org.eclipse.papyrus.uml.service.types.PseudostateCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.QualifierValueHandler" commandId="org.eclipse.papyrus.uml.service.types.QualifierValueCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RaiseExceptionActionHandler" commandId="org.eclipse.papyrus.uml.service.types.RaiseExceptionActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadExtentActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadExtentActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadIsClassifiedObjectActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadIsClassifiedObjectActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadLinkActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadLinkActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadLinkObjectEndActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadLinkObjectEndActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadLinkObjectEndQualifierActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadLinkObjectEndQualifierActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadSelfActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadSelfActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadStructuralFeatureActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadStructuralFeatureActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReadVariableActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReadVariableActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RealizationHandler" commandId="org.eclipse.papyrus.uml.service.types.RealizationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReceptionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReceptionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReclassifyObjectActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReclassifyObjectActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RedefinableElementHandler" commandId="org.eclipse.papyrus.uml.service.types.RedefinableElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RedefinableTemplateSignatureHandler" commandId="org.eclipse.papyrus.uml.service.types.RedefinableTemplateSignatureCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReduceActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReduceActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RefineHandler" commandId="org.eclipse.papyrus.uml.service.types.RefineCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RegionHandler" commandId="org.eclipse.papyrus.uml.service.types.RegionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RelationshipHandler" commandId="org.eclipse.papyrus.uml.service.types.RelationshipCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RemoveStructuralFeatureValueActionHandler" commandId="org.eclipse.papyrus.uml.service.types.RemoveStructuralFeatureValueActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.RemoveVariableValueActionHandler" commandId="org.eclipse.papyrus.uml.service.types.RemoveVariableValueActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ReplyActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ReplyActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SendObjectActionHandler" commandId="org.eclipse.papyrus.uml.service.types.SendObjectActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SendSignalActionHandler" commandId="org.eclipse.papyrus.uml.service.types.SendSignalActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SequenceNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.SequenceNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SignalEventHandler" commandId="org.eclipse.papyrus.uml.service.types.SignalEventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SignalHandler" commandId="org.eclipse.papyrus.uml.service.types.SignalCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SlotHandler" commandId="org.eclipse.papyrus.uml.service.types.SlotCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StartClassifierBehaviorActionHandler" commandId="org.eclipse.papyrus.uml.service.types.StartClassifierBehaviorActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StartObjectBehaviorActionHandler" commandId="org.eclipse.papyrus.uml.service.types.StartObjectBehaviorActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StateHandler" commandId="org.eclipse.papyrus.uml.service.types.StateCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StateInvariantHandler" commandId="org.eclipse.papyrus.uml.service.types.StateInvariantCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StateMachineHandler" commandId="org.eclipse.papyrus.uml.service.types.StateMachineCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StereotypeHandler" commandId="org.eclipse.papyrus.uml.service.types.StereotypeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StringExpressionHandler" commandId="org.eclipse.papyrus.uml.service.types.StringExpressionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StructuralFeatureActionHandler" commandId="org.eclipse.papyrus.uml.service.types.StructuralFeatureActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StructuralFeatureHandler" commandId="org.eclipse.papyrus.uml.service.types.StructuralFeatureCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StructuredActivityNodeHandler" commandId="org.eclipse.papyrus.uml.service.types.StructuredActivityNodeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.StructuredClassifierHandler" commandId="org.eclipse.papyrus.uml.service.types.StructuredClassifierCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.SubstitutionHandler" commandId="org.eclipse.papyrus.uml.service.types.SubstitutionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TemplateableElementHandler" commandId="org.eclipse.papyrus.uml.service.types.TemplateableElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TemplateBindingHandler" commandId="org.eclipse.papyrus.uml.service.types.TemplateBindingCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TemplateParameterHandler" commandId="org.eclipse.papyrus.uml.service.types.TemplateParameterCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TemplateParameterSubstitutionHandler" commandId="org.eclipse.papyrus.uml.service.types.TemplateParameterSubstitutionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TemplateSignatureHandler" commandId="org.eclipse.papyrus.uml.service.types.TemplateSignatureCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TestIdentityActionHandler" commandId="org.eclipse.papyrus.uml.service.types.TestIdentityActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TimeConstraintHandler" commandId="org.eclipse.papyrus.uml.service.types.TimeConstraintCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TimeEventHandler" commandId="org.eclipse.papyrus.uml.service.types.TimeEventCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TimeExpressionHandler" commandId="org.eclipse.papyrus.uml.service.types.TimeExpressionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TimeIntervalHandler" commandId="org.eclipse.papyrus.uml.service.types.TimeIntervalCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TimeObservationHandler" commandId="org.eclipse.papyrus.uml.service.types.TimeObservationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TraceHandler" commandId="org.eclipse.papyrus.uml.service.types.TraceCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TransitionHandler" commandId="org.eclipse.papyrus.uml.service.types.TransitionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TriggerHandler" commandId="org.eclipse.papyrus.uml.service.types.TriggerCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TypedElementHandler" commandId="org.eclipse.papyrus.uml.service.types.TypedElementCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.TypeHandler" commandId="org.eclipse.papyrus.uml.service.types.TypeCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.UnmarshallActionHandler" commandId="org.eclipse.papyrus.uml.service.types.UnmarshallActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.UsageHandler" commandId="org.eclipse.papyrus.uml.service.types.UsageCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.UseCaseHandler" commandId="org.eclipse.papyrus.uml.service.types.UseCaseCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ValuePinHandler" commandId="org.eclipse.papyrus.uml.service.types.ValuePinCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ValueSpecificationActionHandler" commandId="org.eclipse.papyrus.uml.service.types.ValueSpecificationActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.ValueSpecificationHandler" commandId="org.eclipse.papyrus.uml.service.types.ValueSpecificationCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.VariableActionHandler" commandId="org.eclipse.papyrus.uml.service.types.VariableActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.VariableHandler" commandId="org.eclipse.papyrus.uml.service.types.VariableCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.VertexHandler" commandId="org.eclipse.papyrus.uml.service.types.VertexCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.WriteLinkActionHandler" commandId="org.eclipse.papyrus.uml.service.types.WriteLinkActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.WriteStructuralFeatureActionHandler" commandId="org.eclipse.papyrus.uml.service.types.WriteStructuralFeatureActionCreateCommand"></handler>
<handler class= "org.eclipse.papyrus.uml.nattable.menu.handlers.WriteVariableActionHandler" commandId="org.eclipse.papyrus.uml.service.types.WriteVariableActionCreateCommand"></handler>
</extension>

<extension
        point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="true"
         locationURI="popup:org.eclipse.ui.popup.any">
      <menu
            id="org.eclipse.papyrus.uml.nattable.create.uml.menu"
            label="Create UML Element">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.infra.nattable.tester.isNattableWidget"
                     value="true">
               </test>
            </with>
         </visibleWhen>
      </menu>
   </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.eclipse.papyrus.uml.nattable.menu.handlers.UmlNattableCreateMenu"
            locationURI="popup:org.eclipse.papyrus.uml.nattable.create.uml.menu">
      </menuContribution>
   </extension>
</plugin>
