<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2012 Mia-Software.
   
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
  	   Nicolas Bros (Mia-Software) - Bug 375388 - Cell editor for IImage
       Alban Ménager (Soft-Maint) - Bug 387470 - [EFacet][Custom] Editors
-->
<plugin>
   <extension point="org.eclipse.papyrus.emf.facet.widgets.celleditors.celleditors">
      <cellEditorsModel path="org.eclipse.emf.facet.custom.sdk.ui.modelcelleditors"/>
   </extension>
   <extension point="org.eclipse.papyrus.emf.facet.widgets.celleditors.compositeEditorFactories">
      <compositeEditorFactory class="org.eclipse.emf.facet.custom.sdk.ui.internal.widgets.celleditors.composite.ImageCompositeFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.emf.facet.common.ui.wizardsCategory"
            class="org.eclipse.emf.facet.custom.sdk.ui.internal.util.wizard.CreateCustimizationWizardImpl"
            icon="icons/full/obj16/CustomModelFile.gif"
            id="org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomModelWizardID"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.facet.custom.sdk.ui.internal.util.handler.CreateEClassCustomizationHandler"
            id="org.eclipse.emf.facet.custom.sdk.ui.CreateEClassCustomization"
            name="%command.custo.name">
      </command>
      <command
            defaultHandler="org.eclipse.emf.facet.custom.sdk.ui.internal.util.handler.CreateFacetCustomizationHandler"
            id="org.eclipse.emf.facet.custom.sdk.ui.CreateFacetCustomization"
            name="%command.custo.name.1">
      </command>
      <command
            defaultHandler="org.eclipse.emf.facet.custom.sdk.ui.internal.util.handler.AddCustomizationPropertyInEClassHandler"
            id="org.eclipse.emf.facet.custom.sdk.ui.AddCustomization"
            name="%command.custo.name.2">
      </command>
      <command
            defaultHandler="org.eclipse.emf.facet.custom.sdk.ui.internal.util.handler.AddCaseQueryHandler"
            id="org.eclipse.emf.facet.custom.sdk.ui.AddCaseQuery"
            name="%command.custo.name.3">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.emf.facet.custom.metamodel.v0_2_0.custom.presentation.CustomEditorID?before=edit">
         <menu
               label="%menu.custo.label">
            <command
                  commandId="org.eclipse.emf.facet.custom.sdk.ui.CreateEClassCustomization"
                  icon="icons/full/obj16/CustomModelFile.gif"
                  label="%command.custo.name"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.custom.sdk.ui.CreateFacetCustomization"
                  icon="icons/full/obj16/CustomModelFile.gif"
                  label="%command.custo.name.1"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.custom.sdk.ui.AddCustomization"
                  icon="icons/full/obj16/CustomModelFile.gif"
                  label="%command.custo.name.2"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.custom.sdk.ui.AddCaseQuery"
                  icon="icons/querySet.gif"
                  label="%command.custo.name.3"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="%menu.label">
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.createFacetSetInFacetSet"
                  icon="icons/FacetSet.gif"
                  label="%command.name"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.createFacetInFacetSet"
                  icon="icons/facet.gif"
                  label="%command.name.0"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.addAttributeInFacet"
                  icon="icons/FacetAttribute.gif"
                  label="%command.name.1"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.addOperationInFacet"
                  icon="icons/FacetOperation.gif"
                  label="%command.name.2"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.addReferenceInFacet"
                  icon="icons/FacetReference.gif"
                  label="%command.name.4"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.addParameterInOperation"
                  icon="icons/ParameterValue.gif"
                  label="%command.name.3"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.editFacetSet"
                  icon="icons/FacetSet.gif"
                  label="%command.name.5"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.editFacet"
                  icon="icons/facet.gif"
                  label="%command.name.6"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.editFacetAttribute"
                  icon="icons/FacetAttribute.gif"
                  label="%command.name.7"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.editFacetOperation"
                  icon="icons/FacetOperation.gif"
                  label="%command.name.8"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.editFacetOperationParameter"
                  icon="icons/ParameterValue.gif"
                  label="%command.name.9"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.facet.efacet.sdk.ui.editFacetReference"
                  icon="icons/FacetReference.gif"
                  label="%command.name.10"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.emf.facet.custom.sdk.ui.internal.Startup"></startup>
   </extension>
</plugin>
