<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.tester">
      <tester
            class="org.eclipse.papyrus.uml.nattable.ws.preferences.tester.PreferencesTableCreationTester"
            id="org.eclipse.papyrus.uml.nattable.ws.preferences.creationtester">
      </tester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrus.infra.nattable.propertyfile.property.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.ws.preferences.manager.axis.PropertyFilePropertyAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrus.infra.nattable.propertyfile.file.axis.manager"
            manager="org.eclipse.papyrus.uml.nattable.ws.preferences.manager.axis.PropertyFileAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="resources/nattablepreferences.nattableconfiguration">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrus.uml.nattable.ws.preferences.cellManager"
            manager="org.eclipse.papyrus.uml.nattable.ws.preferences.manager.cell.PreferencesCellManager"
            order="2">
      </cellManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.uml.nattable.ws.preferences.provider.FileLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.uml.nattable.ws.preferences.provider.PropertyLabelProvider">
         <labelProviderContext
               context="org.eclipse.papyrus.infra.nattable.header.labelprovider">
         </labelProviderContext>
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <configuration
            class="org.eclipse.papyrus.uml.nattable.ws.preferences.celleditor.config.FilePropertyCellEditorConfiguration"
            order="20">
      </configuration>
   </extension>

</plugin>
