<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.navigation.navigationRules">
      <navigationRule
            rule="org.eclipse.papyrus.uml.diagram.navigation.BehavioredClassifierRule"></navigationRule>
      <navigationRule
            rule="org.eclipse.papyrus.uml.diagram.navigation.CBARule">
      </navigationRule>
      <navigationRule
            rule="org.eclipse.papyrus.uml.diagram.navigation.OperationRule">
      </navigationRule>
      <navigationRule
            rule="org.eclipse.papyrus.uml.diagram.navigation.PackageRule">
      </navigationRule>
      <navigationRule
            rule="org.eclipse.papyrus.uml.diagram.navigation.StateRule">
      </navigationRule>
      <navigationRule
            rule="org.eclipse.papyrus.uml.diagram.navigation.TransitionRule"></navigationRule>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.navigation.navigationColorProviders">
      <navigationColorProvider
            provider="org.eclipse.papyrus.uml.diagram.navigation.UMLNavigationColorProvider">
      </navigationColorProvider>
   </extension>

</plugin>
