<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012 CEA LIST.
 
     
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 ttp://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Vincent Lorenzo (CEA LIST) Vincent.Lorenzo@cea.fr - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.infra.table.papyrustableconfiguration.metamodel.PapyrusTableConfiguration.presentation.PapyrusTableConfigurationModelWizardID"
            name="%_UI_PapyrusTableConfigurationModelWizard_label"
            class="org.eclipse.papyrus.infra.table.papyrustableconfiguration.metamodel.PapyrusTableConfiguration.presentation.PapyrusTableConfigurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PapyrusTableConfigurationModelFile.gif">
         <description>%_UI_PapyrusTableConfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.papyrus.infra.table.papyrustableconfiguration.metamodel.PapyrusTableConfiguration.presentation.PapyrusTableConfigurationEditorID"
            name="%_UI_PapyrusTableConfigurationEditor_label"
            icon="icons/full/obj16/PapyrusTableConfigurationModelFile.gif"
            extensions="papyrustableconfiguration"
            class="org.eclipse.papyrus.infra.table.papyrustableconfiguration.metamodel.PapyrusTableConfiguration.presentation.PapyrusTableConfigurationEditor"
            contributorClass="org.eclipse.papyrus.infra.table.papyrustableconfiguration.metamodel.PapyrusTableConfiguration.presentation.PapyrusTableConfigurationActionBarContributor">
      </editor>
   </extension>

</plugin>
