<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="theme" name="CSS Theme" schema="schema/theme.exsd"/>
   <extension-point id="markertopseudoselectormappingprovider" name="MarkerToPseudoSelectorMappingProvider" schema="schema/markertopseudoselectormappingprovider.exsd"/>
   <extension-point id="domElementAdapter" name="domElementAdapter" schema="schema/domElementAdapter.exsd"/>
	<extension point="org.eclipse.emf.ecore.factory_override">
		<factory
			class="org.eclipse.papyrus.infra.gmfdiag.css.factory.CSSNotationFactory"
			uri="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
		</factory>
	</extension>
 <extension
       point="org.eclipse.papyrus.infra.emf.appearance.styleProvider">
    <styleprovider
          priority="40"
          styleProvider="org.eclipse.papyrus.infra.gmfdiag.css.provider.CSSAppearanceProvider">
    </styleprovider>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
          class="org.eclipse.papyrus.infra.gmfdiag.css.preferences.ThemePreferencesPage"
          id="org.eclipse.papyrus.infra.gmfdiag.css.theme"
          name="CSS Theme">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.papyrus.infra.gmfdiag.css.preferences.ThemePreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.gmfdiag.common.initializeView">
    <initializeView
          initializeView="org.eclipse.papyrus.infra.gmfdiag.css.provider.CSSThemeInitializer">
    </initializeView>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.core.model">
    <model
          classname="org.eclipse.papyrus.infra.gmfdiag.css.resource.CSSNotationModel"
          description="A model for Notation resources with CSS support">
    </model>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.services.markerlistener.markereventlistener">
    <listener
          class="org.eclipse.papyrus.infra.gmfdiag.css.service.CssMarkerEventManagerService"></listener>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.core.service">
    <service
          classname="org.eclipse.papyrus.infra.gmfdiag.css.service.CssMarkerEventManagerService"
          priority="1"
          startKind="lazy">
    </service>
 </extension>
 <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="org.eclipse.papyrus.infra.gmfdiag.css.editpolicies.MarkerEventListenerEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.core.service">
    <service
          classname="org.eclipse.papyrus.infra.gmfdiag.css.service.MarkerToPseudoSelectorMappingService"
          priority="1"
          startKind="lazy">
    </service>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.gmfdiag.common.svgPostProcessors">
    <postProcessor
          implementation="org.eclipse.papyrus.infra.gmfdiag.css.CssSvgPostProcessor">
    </postProcessor>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <menu
             id="org.eclipse.papyrus.infra.gmfdiag.css.theme.menu"
             label="CSS Theme">
          <visibleWhen
                checkEnabled="true">
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.ui.navigator.ProjectExplorer">
                </equals>
             </with>
          </visibleWhen>
       </menu>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.papyrus.infra.gmfdiag.css.theme.menu">
       <command
             commandId="org.eclipse.papyrus.infra.gmfdiag.css.theme.define"
             style="push">
       </command>
       <command
             commandId="org.eclipse.papyrus.infra.gmfdiag.css.theme.edit"
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.papyrus.infra.gmfdiag.css.theme.category"
          id="org.eclipse.papyrus.infra.gmfdiag.css.theme.define"
          name="Define theme">
    </command>
    <command
          categoryId="org.eclipse.papyrus.infra.gmfdiag.css.theme.category"
          id="org.eclipse.papyrus.infra.gmfdiag.css.theme.edit"
          name="Edit theme">
    </command>
    <category
          id="org.eclipse.papyrus.infra.gmfdiag.css.theme.category"
          name="CSS Theme">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.eclipse.papyrus.infra.gmfdiag.css.handler.CSSFileHandler"
          commandId="org.eclipse.papyrus.infra.gmfdiag.css.theme.define">
       <enabledWhen>
          <with
                variable="selection">
             <iterate>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                   <test
                         property="org.eclipse.core.resources.extension"
                         value="css">
                   </test>
                </adapt>
             </iterate>
          </with></enabledWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.infra.gmfdiag.css.handler.CSSFileHandler"
          commandId="org.eclipse.papyrus.infra.gmfdiag.css.theme.edit">
       <enabledWhen>
          <with
                variable="selection">
             <iterate>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                   <test
                         property="org.eclipse.core.resources.extension"
                         value="css">
                   </test>
                </adapt>
             </iterate>
          </with>
       </enabledWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="org.eclipse.papyrus.infra.gmfdiag.preferences.properties.generalcategory"
          class="org.eclipse.papyrus.infra.gmfdiag.css.property.StyleSheetsPropertyPage"
          id="org.eclipse.papyrus.infra.gmfdiag.css.stylesheets"
          name="Style sheets">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
          </adapt></enabledWhen>
    </page>
 </extension>
</plugin>
