<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.views.properties.runtime.view.XMLPropertyViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="These are generic fragments for uml elements"
            id="propertyview.uml.fragments"
            icon="icons/tool.gif"
            name="UML Fragments"
            path="resources/uml_predefined_fragments.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyEditorControllerProvider">
   <propertyEditorControllerProvider
         class="org.eclipse.papyrus.views.properties.runtime.controller.predefined.PredefinedPropertyControllerProvider"
         description="this is the basic provider for UML features"
            id="org.eclipse.papyrus.uml.properties.view.structuralFeaturesEMFTPredefinedControllers">
      <Priority name="Lowest"/>
      <PredefinedControllers
            id="org.eclipse.papyrus.uml.properties.view.structuralFeaturesEMFTPredefinedControllers"
            name="UML Predefined Controllers for Structural Features"
            path="resources/uml_predefined_controllers.xml">
      </PredefinedControllers>
      
   </propertyEditorControllerProvider>
</extension>
<extension
      point="org.eclipse.papyrus.views.properties.runtime.propertyViewProvider">
   <propertyViewProvider
         class="org.eclipse.papyrus.views.properties.runtime.view.XMLPropertyViewProvider">
      <Priority
            name="Lowest">
      </Priority>
      <PropertyViewContribution
            description="Basic configuration for UML property dialogs"
            id="propertyview.uml.dialogs"
            icon="icons/UMLDialogs.gif"
            name="UML Dialogs"
            path="resources/uml_generic_dialogs.xml">
      </PropertyViewContribution>
   </propertyViewProvider>
</extension>
</plugin>
