<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.papyrus.infra.core.serviceregistry.service">
      <servicesSet
            id="simpleTest">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA"
               priority="1"
               startKind="startup">
         </service>
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceC"
               priority="1"
               startKind="lazy">
            <dependsOn
                  serviceId="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA">
            </dependsOn>
         </service>
         <extendedServiceSet
               serviceSetId="papyrusWizard">
         </extendedServiceSet>
      </servicesSet>
      <registry
            id="simpleTestRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="simpleTest">
         </serviceSets>
     </registry>
      <servicesSet
            id="papyrusWizard">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceB"
               priority="1"
               startKind="startup">
         </service>
      </servicesSet>
      <registry
            id="papyrusWizardRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="papyrusWizard">
         </serviceSets>
      </registry>
      <servicesSet
            id="setWithC">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceC"
               priority="1"
               startKind="startup">
         </service>
      </servicesSet>
      <servicesSet
            id="extendingSet">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA"
               priority="1"
               startKind="startup">
         </service>
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceB"
               priority="1"
               startKind="startup">
         </service>
         <extendedServiceSet
               serviceSetId="setWithC">
         </extendedServiceSet>
      </servicesSet>
      <registry
            id="extendingSetRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="extendingSet">
         </serviceSets>
      </registry>
      <servicesSet
            id="badSetExtendsIdMissing">
         <service
               classname="badService"
               priority="1"
               startKind="lazy">
         </service>
         <extendedServiceSet>
         </extendedServiceSet>
      </servicesSet>
      <registry
            id="badSetExtendsIdMissingRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="badSetExtendsIdMissing">
         </serviceSets>
      </registry>
      <servicesSet
            id="dependantServices">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA"
               priority="1"
               startKind="startup">
            <dependsOn
                  serviceId="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceB">
            </dependsOn>
         </service>
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceB"
               priority="1"
               startKind="lazy">
            <dependsOn
                  serviceId="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceC">
            </dependsOn>
         </service>
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceC"
               priority="1"
               startKind="startup">
         </service>
      </servicesSet>
      <registry
            id="dependantServicesRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="dependantServices">
         </serviceSets>
      </registry>
      <servicesSet
            id="setWithAlias">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA"
               priority="1"
               startKind="startup">
         </service>
         <alias
               aliasedServiceId="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA"
               id="AnAlias"
               priority="1">
         </alias>
      </servicesSet>
      <registry
            id="setWithAliasRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="setWithAlias">
         </serviceSets>
      </registry>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.serviceregistry.service">
      <servicesSet
            id="doubleName">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceA"
               priority="1"
               startKind="startup">
         </service>
      </servicesSet>
      <servicesSet
            id="doubleName">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.FakeServiceB"
               priority="1"
               startKind="startup">
         </service>
      </servicesSet>
      <registry
            id="doubleNameRegistry"
            isUnique="false">
         <serviceSets
               serviceSetId="doubleName">
         </serviceSets>
         <serviceSets
               serviceSetId="doubleName">
         </serviceSets>
      </registry>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.serviceregistry.service">
      <servicesSet
            id="servicesSetA">
      </servicesSet>
      <servicesSet
            id="servicesSetB">
      </servicesSet>
      <servicesSet
            id="servicesSetC">
      </servicesSet>
      <registry
            id="registryA"
            isUnique="false">
         <serviceSets
               serviceSetId="servicesSetA">
         </serviceSets>
         <extendedRegistry
               registryId="registryB">
         </extendedRegistry>
         <parentRegistry
               registryId="registryC">
         </parentRegistry>
      </registry>
      <registry
            id="registryB"
            isUnique="false">
      </registry>
      <registry
            id="registryC"
            isUnique="false">
      </registry>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.serviceregistry.service">
      <servicesSet
            id="fragmentA">
         <service
               classname="serviceA"
               id="serviceA1"
               priority="1"
               startKind="lazy">
         </service>
         <service
               id="serviceA2"
               priority="1"
               startKind="lazy">
         </service>
         <extendedServiceSet
               serviceSetId="fragmentB">
         </extendedServiceSet>
      </servicesSet>
      <servicesSet
            id="fragmentB">
      </servicesSet>
      <servicesSet
            id="fragmentC">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.tests.Service3"
               id="serviceC1"
               priority="1"
               startKind="lazy">
         </service>
      </servicesSet>
      <servicesSet
            id="multiFragmentA">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.tests.Service4"
               id="serviceM2"
               priority="1"
               startKind="lazy">
         </service>
      </servicesSet>
      <servicesSet
            id="multiFragmentA">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.tests.Service4"
               id="serviceM1"
               priority="1"
               startKind="lazy">
         </service>
      </servicesSet>
      <servicesSet
            id="multiFragmentA">
         <service
               classname="org.eclipse.papyrus.infra.core.serviceregistry.tests.Service4"
               id="serviceM3"
               priority="1"
               startKind="lazy">
         </service>
         <extendedServiceSet
               serviceSetId="fragmentB">
         </extendedServiceSet>
      </servicesSet>
   </extension>
</plugin>
