<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Diagram declaration -->
<extension point="org.eclipse.papyrus.core.papyrusDiagram"> 
	<creationCommand
		creationCommandClass="org.eclipse.papyrus.sysml.diagram.blockdefinition.BlockDefinitionDiagramCreateCommand"
		icon="icons/obj16/Diagram_BlockDefinition.gif" 
		id="org.eclipse.papyrus.sysml.diagram.blockdefinition.CreateCommand"
        language="sysml"
		label="SysML Block Definition Diagram" />
	<editorDiagram
		actionBarContributorId="org.eclipse.papyrus.diagram.common.part.UMLDiagramActionBarContributor"
		factoryClass="org.eclipse.papyrus.sysml.diagram.blockdefinition.BlockDefinitionDiagramEditorFactory"
		icon="icons/obj16/Diagram_BlockDefinition.gif" />
</extension>

<!-- Diagram creation command and handler -->
<extension point="org.eclipse.ui.commands">
	<command id="org.eclipse.papyrus.sysml.diagram.blockdefinition.CreateCommand" 
		name="Create a new Block Definition Diagram"
		description="Create a new Block Definition Diagram"
		categoryId="org.eclipse.papyrus.editor.category" />
</extension>

<extension point="org.eclipse.ui.handlers">
	<handler
		class="org.eclipse.papyrus.sysml.diagram.blockdefinition.BlockDefinitionDiagramCreateCommand"
		commandId="org.eclipse.papyrus.sysml.diagram.blockdefinition.CreateCommand">
		<activeWhen>
			<with variable="activeEditorId">
				<equals value="org.eclipse.papyrus.core.papyrusEditor" />
			</with>
		</activeWhen>
	</handler>
</extension>

<!-- Diagram creation command registration in menu and toolbar -->
<extension point="org.eclipse.ui.menus">
	
	<menuContribution locationURI="menu:org.eclipse.papyrus.ui.menu">
	<menu id="org.eclipse.papyrus.diagram.ui.menu.diagrams" label="Diagrams">
		<command commandId="org.eclipse.papyrus.sysml.diagram.blockdefinition.CreateCommand"
			icon="icons/obj16/Diagram_BlockDefinition.gif" label="Create a new Block Definition Diagram"
			style="push" tooltip="Create a new Block Definition Diagram">
			<visibleWhen>
				<with variable="activeEditorId">
					<equals value="org.eclipse.papyrus.core.papyrusEditor" />
				</with>
			</visibleWhen>
		</command>
	</menu>
	</menuContribution>
	
	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
	<toolbar id="org.eclipse.papyrus.diagram.ui.toolbar">
		<command commandId="org.eclipse.papyrus.sysml.diagram.blockdefinition.CreateCommand"
			icon="icons/obj16/Diagram_BlockDefinition.gif" label="Create a new Block Definition Diagram"
			style="push" tooltip="Create a new Block Definition Diagram">
				<visibleWhen>
					<with variable="activeEditorId">
						<equals value="org.eclipse.papyrus.core.papyrusEditor" />
					</with>
				</visibleWhen>
		</command>
	</toolbar>
	</menuContribution>
</extension>

<!-- Palette tool declaration (declares the real palette containment) -->
<extension point="org.eclipse.papyrus.diagram.common.paletteDefinition"
	name="SysML_BDD">
	
	<paletteDefinition ID="SysML_BDD"
		class="org.eclipse.papyrus.diagram.common.service.PluginPaletteProvider"
		name="BDD" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" 
		path="palettes/blockdefinition.palette.xml"
		provider="CEA LIST">
		<Priority name="Low"/>

		<!-- Specify diagram this palette tools relate to -->				
		<editor id="org.eclipse.papyrus.sysml.diagram.blockdefinition"/>
	</paletteDefinition>
</extension>

<!-- Palette tool definition (defines tools possibly used by the palette(s)) -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"
	name="SysML BDD Predefined Entries"
	id="org.eclipse.papyrus.sysml.diagram.blockdefinition.palettedefinition"> 
		
	<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
	<Priority name="Lowest"/> <!-- Lower priority than Palette tool declaration -->
	

	<!-- Block Definition Diagram specific tool definition -->
	<contribution
		factoryClass="org.eclipse.papyrus.sysml.diagram.blockdefinition.factory.BlockDefinitionDiagramPaletteFactory">
		
		<!-- blockdefinition.tool.block -->
		<entry
			defineOnly="true"
			description="Create a Block"
			id="blockdefinition.tool.block"
			kind="tool"
			label="Block"
			large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif"
			path=""
			small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif">
		</entry>
  <entry
        defineOnly="true"
        description="Create a FlowPort"
        id="blockdefinition.tool.flowport"
        kind="tool"
        label="FlowPort"
        large_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT_A.gif"
        small_icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT_A.gif">
  </entry>
  <entry
        defineOnly="true"
        description="Create a Port"
        id="blockdefinition.tool.port"
        kind="tool"
        label="Port"
        large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Port.gif"
        small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Port.gif">
  </entry>
  	<entry
       defineOnly="true"
       description="Create new Connector"
       id="blockdefinition.tool.connector"
       kind="tool"
       label="Connector"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Connector.gif"
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Connector.gif">
 	</entry>
  	<entry
       defineOnly="true"
       description="Create new Constraint"
       id="blockdefinition.tool.constraint"
       kind="tool"
       label="Constraint"
       large_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif"
       small_icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif">
 	</entry>
	</contribution>	
	
	</paletteProvider>	
</extension>

<!-- Diagram view providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">

	<!-- Block Diagram view provider -->
	<viewProvider class="org.eclipse.papyrus.sysml.diagram.blockdefinition.provider.BlockDefinitionDiagramViewProvider">
		<Priority name="Low"/>
	</viewProvider>

    <!-- inherited view provider, semanticHints copied from the clazz plugin.xml -->
    <viewProvider class="org.eclipse.papyrus.sysml.diagram.blockdefinition.provider.InheritedElementViewProvider">
        <Priority name="Lowest"/>
    </viewProvider>

</extension>

<!-- Diagram edit part providers declaration -->
<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">

	<!-- BDD edit part provider -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.blockdefinition.provider.BlockDefinitionDiagramEditPartProvider">
		<Priority name="Low"/>
	</editpartProvider>

	<!-- inherited edit part provider, IDs copied from the clazz plugin.xml -->
	<editpartProvider class="org.eclipse.papyrus.sysml.diagram.blockdefinition.provider.InheritedElementEditPartProvider">
		<Priority name="Lowest"/>	
	</editpartProvider>

</extension>

<!-- Diagram edit policy providers declaration -->
<extension
	point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
	<editpolicyProvider
		class="org.eclipse.papyrus.sysml.diagram.blockdefinition.provider.EditPolicyProvider">
		<Priority name="Low"/>
	</editpolicyProvider>
</extension>
 
<!-- Diagram element types declaration -->
<!-- The diagram itself should be declared as an element type -->
<!-- A kind type should be created for diagram elements       -->
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               eclass="Port"
               edithelper="org.eclipse.papyrus.diagram.clazz.edit.helpers.UMLBaseEditHelper"
               id="org.eclipse.papyrus.sysml.diagram.blockdefinition.Port"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="Port">
            <param
                  name="semanticHint"
                  value="Port">
            </param>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         <metamodelType
               id="org.eclipse.papyrus.sysml.diagram.blockdefinition.Connector"
               name="Connector"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Connector"
               edithelper="org.eclipse.papyrus.diagram.clazz.edit.helpers.UMLBaseEditHelper">
            <param name="semanticHint" value="Connector"/>
         </metamodelType>
      </metamodel>
           
      <specializationType
            id="org.eclipse.papyrus.sysml.diagram.blockdefinition.Block"
            name="Block"
            kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
            icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/blocks/Block.gif">
         <specializes id="org.eclipse.papyrus.diagram.clazz.Class_2008"/>
		 <param name="semanticHint" value="Block"/>
         <matcher class = "org.eclipse.papyrus.sysml.diagram.blockdefinition.matcher.BlockMatcher" />
      </specializationType>
      <specializationType
            icon="platform:/plugin/org.eclipse.papyrus.sysml/icons/portandflows/FlowPort_INOUT_A.gif"
            id="org.eclipse.papyrus.sysml.diagram.blockdefinition.FlowPort"
            kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
            name="FlowPort">
         <specializes
               id="org.eclipse.papyrus.sysml.diagram.blockdefinition.Port">
         </specializes>
         <param
               name="semanticHint"
               value="FlowPort">
         </param>
         <matcher
               class="org.eclipse.papyrus.sysml.diagram.blockdefinition.matcher.FlowPortMatcher">
         </matcher>
      </specializationType>
      <specializationType
            icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Constraint.gif"
            id="org.eclipse.papyrus.sysml.diagram.blockdefinition.Constraint"
            kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
            name="Constraint">
         <specializes
               id="org.eclipse.papyrus.diagram.clazz.Constraint_3029">
         </specializes>
         <param
               name="semanticHint"
               value="Constraint">
         </param>
      </specializationType>
   </extension>


<!-- Preference pages declaration -->
<extension point="org.eclipse.ui.preferencePages" id="prefpages">

	<!-- Diagram Preference pages declaration -->
	<page
		id="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preferences"
		name="Block Definition Diagram"
		category="org.eclipse.papyrus.preferences.diagrams"
		class="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.DiagramGeneralPreferencePage">
	</page>

	<page
		id="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preferences.DiagramPrintingPreferencePage"
		name="Printing"
		category="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preferences"
		class="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.DiagramPrintingPreferencePage">
	</page>

	<page
		id="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preference.DiagramRulersAndGridPreferencePage"
		name="Rulers and Grid"
		category="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preferences"
		class="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.DiagramRulersAndGridPreferencePage">
	</page>

	<!-- Element Preference pages declaration -->
	<page  	category="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preferences"
			class="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.BlockPreferencePage"
            id="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.BlockPreferencePage"
            name="Block">
	</page>
	
	<page  	category="org.eclipse.papyrus.sysml.diagrams.blockdefinition.preferences"
			class="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.PackagePreferencePage"
            id="org.eclipse.papyrus.sysml.diagram.blockdefinition.preferences.PackagePreferencePage"
            name="Package">
	</page>	
</extension>

</plugin>
